<div class="nav-container">
    <a id="top"></a>
    <nav class="absolute transparent">
        <div class="nav-bar">
            <div class="module left">
                <!-- Logo Light-->
                <%= image_tag("logo/ratafire_clean.png", class:"logo logo-light", alt:"Ratafire") %>
                <!-- Logo Dark-->
                <%= image_tag("logo/ratafire_clean.png", class:"logo logo-dark", alt:"Ratafire")%>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <!-- Module-group Left-->
            <div class="module-group left">
                <div class="module left">
                    <ul class="menu">
                        <!-- Example of Has Dropdown-->
                        <!--
                        <li class="has-dropdown">
                        </li>-->
                        <!-- Home-->
                        <li>
                            <%= link_to root_path do %>
                               <span class="ti-home menu-icon"></span>Home
                            <% end %>
                        </li>
                        <!-- Back Creators -->
                        <li>
                            <%= link_to root_path do %>
                               <span class="ti-heart menu-icon"></span>Back Creators
                            <% end %>
                        </li>   
                        <!-- Explore -->
                        <li>
                            <%= link_to root_path do %>
                               <span class="ti-target menu-icon"></span>Explore
                            <% end %>
                        </li>   
                        <!-- Blog -->
                        <li>
                            <%= link_to 'https://ratafire.com/blog/' do %>
                               <span class="ti-rss-alt menu-icon"></span>Blog
                            <% end %>
                        </li>     
                    </ul>
                </div>
            </div><!-- end .module-group left-->    
            <!-- Module-group Right-->
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <!-- Sign up button -->
                        <li>
                            <%= link_to '#homepage-sign-up' do %>
                            <span class="btn btn-sm btn-blue btn-rounded">Sign Up</span>
                            <% end %>
                        </li>    
                        <!-- Sign in button -->
                        <li>
                            <%= link_to root_path do %>
                                Log In
                            <% end %>
                        </li>
                    </ul>    
                </div><!-- end .module left-->    
                <!--end of menu module-->
                <div class="module widget-handle search-widget-handle left">
                    <div class="search">
                        <i class="ti-search"></i>
                        <span class="title">Search Site</span>
                    </div>
                    <div class="function">
                        <form class="search-form">
                            <input type="text" placeholder="Type Here" />
                        </form>
                    </div>
                </div><!-- end .module widget-handle search-widget-handle left-->
            </div><!--end .module-group right-->
        </div><!-- end .nav-bar-->
    </nav>			
</div>	