<div class="nav-container">
    <a id="top"></a>
    <nav class="absolute transparent">
        <div class="nav-bar">
            <div class="module left">
                <!-- Logo Light-->
                <img src="/assets/logo/ratafire_light_blue_<%= I18n.locale %>" class="logo logo-light" alt="Ratafire"></img>
                <!-- Logo Dark-->
                <img src="/assets/logo/ratafire_light_blue_<%= I18n.locale %>" class="logo logo-dark" alt="Ratafire"></img>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <!-- Module-group Left-->
            <div class="module-group left">
                <div class="module left">
                    <ul class="menu">
                        <!-- Example of Has Dropdown-->
                        <!--
                        <li class="has-dropdown">
                        </li>-->
                        <!-- Home-->
                        <li>
                            <%= link_to root_path do %>
                               <span class="ti-home menu-icon"></span><%= t 'views.utilities.menu.home' %>
                            <% end %>
                        </li>
                        <!-- Back Creators -->
                        <li>
                            <%= link_to root_path do %>
                               <span class="ti-heart menu-icon"></span><%= t 'views.utilities.menu.back_creators' %>
                            <% end %>
                        </li>   
                        <!-- Explore -->
                        <li>
                            <%= link_to root_path do %>
                               <span class="ti-target menu-icon"></span><%= t 'views.utilities.menu.explore' %>
                            <% end %>
                        </li>   
                        <!-- Blog -->
                        <li>
                            <%= link_to 'https://ratafire.com/blog/' do %>
                               <span class="ti-rss-alt menu-icon"></span><%= t 'views.utilities.menu.blog' %>
                            <% end %>
                        </li>     
                    </ul>
                </div>
            </div><!-- end .module-group left-->    
            <!-- Module-group Right-->
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <!-- Sign up button -->
                        <li>
                            <%= link_to '#homepage-sign-up' do %>
                            <span class="btn btn-sm btn-blue btn-rounded"><%= t 'views.utilities.btn.sign_up' %></span>
                            <% end %>
                        </li>    
                        <!-- Sign in button -->
                        <li>
                            <%= link_to root_path do %>
                                <%= t 'views.utilities.btn.log_in' %>
                            <% end %>
                        </li>
                    </ul>    
                </div><!-- end .module left-->    
                <!--end of menu module-->
            </div><!--end .module-group right-->
        </div><!-- end .nav-bar-->
    </nav>			
</div>	