<div class="nav-container">
    <a id="top"></a>
    <nav class="absolute transparent">
        <div class="nav-bar">
            <div class="module left">
                <%= link_to root_path do %>
                    <!-- Logo Light-->
                    <img src="/assets/logo/ratafire_header_logo" class="logo logo-light" alt="Ratafire"></img>
                    <!-- Logo Dark-->
                    <img src="/assets/logo/ratafire_header_logo" class="logo logo-dark" alt="Ratafire"></img>
                <% end %>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <!-- Module-group Left-->  
            <div class="text-grey-100 module-group left" style="width:200px;margin-left: -20px;">
                <%= t 'views.home.join' %><%= number_to_human(User.count, :format => '%n%u', :units => { :thousand => 'k' }) %> <%= t 'views.home.creators_and_fans' %>
            </div>
            <!-- Module-group Right-->
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <!-- Back Creators -->
                        <li>
                            <%= link_to root_path do %>
                               <span class="huaxia huaxia-2b"></span>
                            <% end %>
                        </li>   
                        <!-- Explore -->
                        <li>
                            <%= link_to root_path do %>
                               <span class="huaxia huaxia-apppai"></span>
                            <% end %>
                        </li>   
                    </ul>    
                </div><!-- end .module left-->    
                <!--end of menu module-->
            </div><!--end .module-group right-->
        </div><!-- end .nav-bar-->
    </nav>			
</div>	
<script>
    $('#login-trigger').click(function(){
        $('#homepage-login').trigger("click");
    });
    $('#signup-trigger').click(function(){
        $('#homepage-signup').trigger("click");
    });
</script>