<div class="navbar navbar-default navbar-fixed-top box-shadow">
	<!-- Navbar header -->
	<div class="navbar-header">
		<!-- Logo -->
		<%= link_to root_path do %>
			<div class="header-logo animated_hover" data-action="jello">
			</div>
		<% end %>		
		<!-- Sidebar Toggle -->
		<ul class="nav navbar-nav visible-xs-block">
			<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
		</ul>
	</div><!-- end .navbar-header-->
	<!-- Navbar collapse-->
	<div class="navbar-collapse collapse" id="navbar-mobile">
		<!-- Sidebar Toggle
		<ul class="nav navbar-nav">
			<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
		</ul>-->
		<!-- Search -->
		<p class="navbar-text no-padding col-sm-4 col-md-5 col-lg-6">
			<span class="input-group pt-7">
				<input type="text" class="form-control height-30 masthead-search-terms-border no-border-radius">
				<span class="input-group-btn height-30">
					<span class="btn btn-default pt-3 height-30" type="button" style="width:66px;">
						<i class="fa fa-search text-grey-300"></i>
					</span>
				</span>
			</span>
		</p>
		<!-- Navbar Right -->
		<div class="navbar-right">
			<ul class="nav navbar-nav">
				<!-- Become a creator -->
				<p class="navbar-text no-padding">
					<% if current_user.campaigns.count > 0 %>
						<% unless current_user.active_campaign %>
							<%= link_to apply_user_studio_campaigns_path(current_user.username, current_user.campaigns.first), :data => {turbolinks: "false"} do %>
								<span class="btn-group pt-7">
									<span class="btn btn-default btn-xs height-30 text-grey-300"><%= t 'views.utilities.menu.become_a_creator' %></span>
								</span>
							<% end %>
						<% end %>
					<% else %>
						<%= link_to new_user_studio_campaigns_path(current_user.username), :data => {turbolinks: "false"} do %>
							<span class="btn-group pt-7">
								<span class="btn btn-default btn-xs height-30 text-grey-300"><%= t 'views.utilities.menu.become_a_creator' %></span>
							</span>
						<% end %>
					<% end %>
				</p>
				
				<!-- Language 
				<li class="dropdown language-switch">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="/assets/flags/us.png" class="position-left" alt="">
						English
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li><a class="中文"><img src="/assets/flags/cn.png" alt=""> 中文</a></li>
					</ul>
				</li>-->
				<!-- Messages 
				<li class="dropdown">
					<%= link_to "", class:"dropdown-toggle", :data => {title: t('views.utilities.tooltip.coming_soon'), placement:"bottom",popup:"tooltip", toggle:"dropdown" } do %>
						<i class="fa fa-envelope-o"></i>
						<span class="visible-xs-inline-block position-right"><%= t 'views.utilities.menu.messages' %></span>
					<% end %>
				</li>-->		
				<!-- Notifications -->
				<%= render partial:'studio/notifications/components/header_notifications', locals: {user: current_user} %>
				<!-- Profile Function Dropdown -->	
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="<%= current_user.profilephoto.image.url(:thumbnail64)%>" alt="">
						<span><%= current_user.preferred_name %></span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li>
							<%= link_to profile_url_path(current_user.username) do %>
								<i class="huaxia huaxia-apppai"></i><%= t 'views.utilities.menu.my_ratafire' %>
							<% end %>
						</li>
						<li>
							<%= link_to campaigns_user_studio_creator_studio_path(current_user.username) do %>
								<i class="huaxia huaxia-faxianxuanzhong"></i> <span class="btn btn-blue btn-xs"><%= t 'views.utilities.menu.creator_studio' %></span>
							<% end %>
						</li>
						<li class="divider"></li>						
						<li>
							<%= link_to profile_settings_user_profile_settings_path(current_user.username) do %>
								<i class="fa fa-cog"></i><%= t 'views.utilities.menu.profile_settings' %>
							<% end %>
						</li>				
						<% if current_user.try(:admin) %>	
							<li class="divider"></li>						
							<li>
								<%= link_to dashboard_user_admin_dashboard_path(current_user.id) do %>
									<i class="huaxia huaxia-tilong"></i><%= t 'views.utilities.menu.war_room' %>
	                            	<% if Campaign.where(:status => "Pending").count > 0 %>
	                                	<span class="badge bg-warning"><%= Campaign.where(:status => "Pending").count %></span>
	                            	<% end %>
								<% end %>
							</li>
						<% end %>
						<li class="divider"></li>
						<li><%= link_to destroy_user_session_path, :method => :delete do %><i class="fa fa-power-off"></i><%= t 'views.utilities.menu.logout' %><% end %></li>
					</ul>
				</li>
			</ul>
		</div>	
	</div>
</div><!-- end .navbar navbar-default navbar-fixed-top header-highlight -->