<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Blog") %>	

	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=249146721904203";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Projects ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<% content_for(:below_header) do %>
    	<%= render 'blogposts/blog_header' %>
	<% end %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Right Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<% content_for(:side_bar_right) do %>
    	<%= render 'layouts/sidebar_blog'%>
	<% end %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- Main Content -->
<div class="main-content-project">

	
	<%= render partial: 'blogposts/blogposts', collection: @blogpost, :as => :blogpost %>
	
	<%= render 'layouts/footer' %>

	<!-- Pagination -->
	<div id="profile-paginate">
		<div class="textbox-mini">
			<span><%= will_paginate @blogpost, :param_name => 'page', class:"rata_pagination" %></span>	
		</div>
	</div>

</div><!-- end of main-content -->	