<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @blogpost.title) %>	

	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=249146721904203";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:type", content: "object" %>
		<%= tag :meta, property: "og:title", content: @blogpost.title %>
		<%= tag :meta, property: "og:url", content: request.scheme+"://"+request.host+blog_post_path(@blogpost.category,@blogpost.slug) %>
		<%= tag :meta, property: "og:description", content: truncate(@blogpost.excerpt, :length => 180) %>
	<% end %><!-- end.content_for :head do -->		


<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Projects ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<% content_for(:below_header) do %>
    	<%= render 'blogposts/blog_header' %>
	<% end %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Right Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<% content_for(:side_bar_right) do %>
    	<%= render 'layouts/sidebar_blog'%>
	<% end %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- Main Content -->
<div class="main-content-project">

	<div class="blog-content" style="margin-bottom:25px;">
		<div class="textbox2" style="padding-bottom:20px;">

			<!-- Post User Icon -->
			<span id="post-usericon">

				<%= link_to @blogpost.user, class:"no_ajaxify no_decoration" do %>
				<div class="user-icon-holder" style="background-image:url(<%= @blogpost.user.profilephoto.url(:small64) %>);"></div>
				<% end %>
				
			</span>

			<!-- Post Title -->
			<div id="post-title">
				<h2><%= link_to @blogpost.title, blog_post_path(@blogpost.category,@blogpost.slug),style:"color:#2297ce;" %></h2>
				<ul></ul>
				<ol>Posted by <%= link_to @blogpost.user.fullname , @blogpost.user, class:"no_ajaxify" %> <%= time_ago_in_words(@blogpost.created_at) %> ago in <%= link_to category(@blogpost.category), blog_category_selector_path(@blogpost.category)%>.</ol>
			</div>
			

			<!-- Post Content -->
			<div class="post-content-c">
				<!-- Cutter --><ol style="margin-top: 15px;"></ol>
				<%= sanitize @blogpost.content, tags: %w(p img a pre blockquote h1 h2 h3 h4 h5 ul li iframe) %>
				<div class="textbox-mini">

					<div class="toolbox">						
						<!-- Twitter -->
						<a href="https://twitter.com/intent/tweet?text=@ratafirer%20&related=ratafirer&url=https://www.ratafire.com/<%=blog_post_path(@blogpost.category,@blogpost.slug)%>" class="btn btn-twitter no_ajaxify" target="_blank"></a>
						<!-- Facebook -->
						<div class="btn btn-facebook">
							<div class="fb-share-button" data-href="#{request.scheme}://#{request.host}<%=blog_post_path(@blogpost.category,@blogpost.slug)%>" data-type="icon">
							</div>
						</div><!-- end.btn-facebook-->	</li>
					</div><!-- end.toolbox-->
				</div><!-- end.textbox-mini-->
			</div><!-- end.post-content-c-->

		</div><!-- end of textbox2 -->


	</div><!-- end.post-content-->	

	
	<%= render 'layouts/footer' %>

</div><!-- end of main-content -->	