<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Setup Subscription") %>

	<%= render 'shared/progress_bar_hover'%><!-- script -->

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Projects ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for(:second_header) do %>
    	<%= render 'subscription_applications/header' %>
	<% end %>	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'subscription_applications/sidebar_application_goals' %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-- Main Content -->
	<div class="main-content-project">		
		<!-- Post Content -->
		<div class="post-content">

			<!-- About Title -->
			<div class="post-about-bg">
				<div class="textbox-mini">
					<div class="post-about-title">
						<li style="font-size: 1.4em;">Set your Goals</li>
					</div>
				</div>
			</div>

			<div class="textbox-mini">
				<%= form_for(@subscription_application,:validate => true,:url => update_subscription_application_path(@user,@subscription_application),:html => {:class => "no_ajaxify", :id => "subscription_application_form"}) do |f| %>
					<%= f.hidden_field :step, :value => 2, id:"step_id" %>
						<div class="user-why-passage">
							<!-- Subscribers -->
							<div class="goals-placer">
								<ul id="blue"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.subscribers.count, @user.goals_subscribers)%>">Patrons</span>  </ul><span> </span>
									<ul id="blue"><%= render :text => @user.subscribers.count %> <span>/</span> </ul>
									<ul><%= f.text_field :goals_subscribers, class: "inputbox goals-input" %></ul> <span></span>
								<ol><%= progress_bar(goals_count(@user.subscribers.count,@user.goals_subscribers), :color => 'blue', :rounded => true) %></ol>
								<span>default: 256, minimum: 32</span>
							</div>

							<!-- Monthly Subscription Amount -->
							<div class="goals-placer">
								<ul id="green"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.subscription_amount.to_i, @user.goals_monthly)%>">Monthly Patronage Amount</span>  </ul><span> </span>
									<ul id="green"><%= render :text => @user.subscription_amount.to_s %> <span>/</span> </ul>
									<ul><%= f.text_field :goals_monthly, class: "inputbox goals-input" %></ul> <span></span>
								<ol><%= progress_bar(goals_count(@user.subscription_amount.to_i, @user.goals_monthly), :color => 'green', :rounded => true) %></ol>
								<span>default: 7730, minimum: 540</span>
							</div>

							<!-- Project Completion -->
							<div class="goals-placer">
								<ul id="purple"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.projects.where(:complete => true ).count, @user.goals_project)%>">Work Collection Completions</span>  </ul><span> </span>
									<ul id="purple"><%= @user.projects.where(:complete => true ).count %> <span>/</span> </ul>
									<ul><%= f.text_field :goals_project, class: "inputbox goals-input" %></ul> <span></span>
								<ol><%= progress_bar(goals_count(@user.projects.where(:complete => true ).count, @user.goals_project), :color => 'purple', :rounded => true) %></ol>
								<span>default: 5, minimum: 1</span>
							</div>

						</div>
					<!-- Back -->
					<div style="margin: 15px 18px 20px 0; text-align:right;">
						<!-- Next Step -->	
						<%= f.submit "Next Step", class: "btn-submit btn-submit-small btn btn-small btn-small-green no_ajaxify" %>
					</div>		
				<% end %>		
			</div><!-- end. textbox-mini-->
		</div><!-- end:.post-content2-->
		<%= render 'layouts/footer' %>
	</div><!-- end of main-content -->		