<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Setup Subscription") %>

	<%= render 'shared/progress_bar_hover'%><!-- script -->

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Projects ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for(:second_header) do %>
    	<%= render 'subscription_applications/header' %>
	<% end %>	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'subscription_applications/sidebar_application_payments' %>
	<% end %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-- Main Content -->
	<div class="main-content-project">		
		<!-- Post Content -->
		<div class="post-content">

			<!-- About Title -->
			<div class="post-about-bg">
				<div class="textbox-mini">
					<div class="post-about-title">
						<li style="font-size: 1.4em;">How You Get Paid</li>
					</div>
				</div>
			</div>

			<div class="textbox-mini">
				<% if @user.recipient == nil then %>
					<%= render 'subscription_applications/account_info'%>	
				<% else %>
					<ol style="margin-bottom: 10px;margin-top:20px;">This is your bank account to receive payments:</ol>
					<div class="user-why-passage" style="margin-right:25px;">
						<%= render 'subscriptions/how_I_get_paid_portable'%>
					</div>	
					<!-- Without Venmo -->
					<% if @user.accept_venmo == true then %>
						<ol style="margin-bottom: 10px;margin-top:10px;">This is your Venmo account:</ol>
						<div class="user-why-passage" style="margin-right:25px;">
							<%= render 'subscriptions/added_venmo_portable', user: @user %>
						</div>	
					<% else %>
						<ol style="margin-bottom: 10px;margin-top:10px;"><span style="color:#ccc;">(Optional)</span> You can also accept payments via Venmo:</ol>
						<div class="user-why-passage">
							<%= render 'subscription_applications/add_venmo', user: @user%>
						</div>	
					<% end %>
					<%= form_for(@subscription_application,:validate => true,:url => update_subscription_application_path(@user,@subscription_application),:html => {:class => "no_ajaxify", :id => "subscription_application_form"}) do |f| %>
						<%= f.hidden_field :step, :value => 7, id:"step_id" %>
						<!-- Back -->
						<div style="margin: 15px 24px 20px 0; text-align:right;">
							<div class="btn btn-small3 btn-small-white no_ajaxify" id="subscription_application_discussions_back">Back</div>
							<!-- Next Step -->	
								<%= f.submit "Apply", class: "btn-submit btn-submit-small btn btn-small btn-small-green no_ajaxify" %>
						</div>							
					<% end %>
				<% end %>
			</div><!-- end. textbox-mini-->
		</div><!-- end:.post-content2-->
		<%= render 'layouts/footer' %>
	</div><!-- end of main-content -->	