<!-- Initialize Slide -->
<script>
	$(document).ready(function(){
		var owl = $('.owl-carousel');
		owl.owlCarousel({
		    items:1,
		    loop:true,
		    margin:10,
		    autoplay:true,
		    lazyLoad: true,
		    autoplayTimeout:6000,
		    autoWidth:true,
		    autoHeight:true,
		    autoplayHoverPause:true
		});
	});
</script>
<!-- Set up your HTML -->
<div class="owl-carousel" style="width:641px;margin-left:340px;position:absolute;background-color:#cccccc;;">
  	<div style="width:641px;">
      <%= link_to "https://www.ratafire.com/blog/2015/07/28/how-common-is-it-for-artists-to-have-large-time-gaps-in-their-creative-output/", target:"_blank", class:"no_ajaxify" do %>
  		  <div class="slide-inner" style="background-image:url(/assets/slidebg/how-common-is-it-for-artists-to-have-large-time-gaps-in-their-creative-output.jpg);">
  		  </div>	
      <% end %>
  	</div>
  	<div style="width:641px;">
      <%= link_to "https://www.ratafire.com/blog/2015/07/21/the-end-of-the-starving-artist/", target:"_blank", class:"no_ajaxify" do %>
  		  <div class="slide-inner" style="background-image:url(/assets/slidebg/The-end-of-the-starving-artist.jpg);">
  		  </div>	
      <% end %>
  	</div>
  	<div style="width:641px;">
      <%= link_to "https://www.ratafire.com/blog/2015/07/29/are-there-any-artists-supported-by-patronage-in-the-21st-century/", target:"_blank", class:"no_ajaxify" do %>
  		  <div class="slide-inner" style="background-image:url(/assets/slidebg/Are-there-any-artists-supported-by-patronage-in-the-21st-century.jpg);">
  		  </div>	
      <% end %>  
  	</div>  	
    <div style="width:641px;">
      <%= link_to "https://www.ratafire.com/blog/2015/09/01/finding-your-style-as-a-concept-artist-an-interview-with-ryan-nieves-from-the-art-of-pyramiddhead/", target:"_blank", class:"no_ajaxify" do %>
        <div class="slide-inner" style="background-image:url(/assets/slidebg/Finding-your-style-as-a-concept-artist.jpg);">
        </div>  
      <% end %>  
    </div>         
    <div style="width:641px;">
      <%= link_to "https://www.ratafire.com/blog/2015/08/19/from-baroque-to-romantic-music-an-interview-with-concert-pianist-sandro-russo/", target:"_blank", class:"no_ajaxify" do %>
        <div class="slide-inner" style="background-image:url(/assets/slidebg/From-baroque-to-romantic-music.jpg);">
        </div>  
      <% end %>  
    </div>        
</div>