<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "FAQ") %>


<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:description", content: "Frequently asked questions." %>
		<%= tag :meta, property: "og:type", content: "website" %>
	<% end %><!-- end.content_for :head do -->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

<div  id="faq-131641" class="static-content">
	<h1>FAQ</h1>

<h2>What is Ratafire’s licensing policy and why this license?</h2>

	<p style="padding-left: 30px;">We believe that both creative or research works should be more open, and we think that the creators and researchers should be recognized and rewarded. Also, a more open environment can improve the quality of the work. We also believe that it is better for the public to see how the creators and researchers use the patronage payments they gain from Ratafire.</p>

	<p id="faq-7472456" style="padding-left: 30px;">This means others can view and adapt your content, with your name properly attributed, but cannot use your content for commercial reasons without your permission.</p>

<h2>Is Ratafire cloud patronage free to use?</h2>	

	<p style="padding-left: 30px;">Ratafire does not take transaction fees. Currently there are two payment methods on Ratafire, Stripe and PayPal. Stripe takes a 2.9%+$0.30 transaction fee and PayPal's fees varies because Ratafire is partnered with PayPal. Ratafire also groups the payments and transfers to minimize payment transaction fees. In the future, we seek to implement zero transaction fee payment methods such as Venmo to truly eliminate payment transaction fees.</p>

	<p style="padding-left: 30px;">Using Ratafire as your personal patronage system is easier and as "free" as to implement a PayPal donation button on your website.</p>

<h2>Can I still sell my works after I post them on Ratafire?</h2>

	<p id="faq-6469881" style="padding-left: 30px;">Yes. You have full commercial right to your content. You can further grant commercial licenses of your Content for a fee outside of Ratafire.</p>

<h2>Why have monthly patronage payments instead of one-time pledges?</h2>
	
	<p id="faq-3863418" style="padding-left: 30px;">We believe that creators or researchers should be able to work on work collections for the long term. Allowing ideas to mature over the long term can make a difference in the quality of the work.</p>

<h2>What features do patrons receive?</h2>

	<p style="padding-left: 30px;">If you are a patron of a user, you will show up in the user’s patrons list, with the patronage length and amount. This list is public so your patronage is not anonymous.</p>

	<p style="padding-left: 30px;">In your <% if user_signed_in? %><%= link_to "Home", interesting_homepage_path(current_user), class:"no_ajaxify"%><% else %>Home<% end %> tab, you will see the updates from users you are a patron of, including the notifications of their new drafts. In this way, you will witness the creative process.</p>

	<p style="padding-left: 30px;">By becoming a patron of other users, you can gain early access to major posts in work collections that have the early access feature turned on. The maximum early access is 6 days.</p>

	<p style="padding-left: 30px;">As a patron, you will be able to send private messages to whom you are a patron of, provided that they allow messaging.</p>

	<p id="faq-1287738" style="padding-left: 30px;">It is a benevolent act to support someone’s work on their creative or research work collection. We encourage you not only to subscribe, but also to subscribe to the best creators or researchers. By doing so, you also take part in selecting the work collections that get funded to completion.</p>

<h2>Why does Ratafire have price limits?</h2>

	<p style="padding-left: 30px;">We have seven prices for subscriptions. Read our <%= link_to "Pricing", pricing_path, class:"no_ajaxify"%> page for details. The rationale behind it is that the lowest price cannot be too low, because art or research takes a great deal of time and effort. </p>

	<p id="faq-2347915" style="padding-left: 30px;">Our second concern is the highest price should not be too high, as it may lead to one creator or researcher being dependent on one subscriber, which can give the subscriber too much potential power over the content of the work.</p>

<h2>Why can’t I limit previews of my content if someone is my patron?</h2>

	<p id="faq-7510653" style="padding-left: 30px;">First it violates our <%= link_to "Terms of Use", terms_path, class:"no_ajaxify"%>, but more importantly, since your subscribers subscribed to you with monthly subscription fees, you should maintain your update frequency for the purpose of transparency.</p>

<h2>Can non-patrons see all work collections?</h2>

	<p id="faq-3757353" style="padding-left: 30px;">Yes. Being a patron does not grant the patrons exclusive access to content, but patrons will see your updates on their main feed.</p>

<h2>Can people living outside of the US subscribe or receive subscriptions on Ratafire?</h2>

	<p id="faq-3757352" style="padding-left: 30px;">Yes.</p>	

<h2>How much does Stripe and PayPal charge for transaction fees?</h2>

	<p style="padding-left: 30px;">Stripe chages 2.9%+$0.30 per transaction. PayPal currently charges 2.9%+$0.30 per transaction. Patrons pay by Stripe or PayPal. On top of these, we use PayPal MassPay to pay artists or researchers. PayPal MassPay charges 2% capped at $1 per U.S. transfer, and 2% capped at $20 per international transfer. We also group transactions to minimize transaction fees.</p>

	<p id="faq-3242352" style="padding-left: 30px;">Ratafire does not take transaction fee.</p>	

<h2>I want to work at Ratafire! What should I do?</h2>

	<p style="padding-left: 30px;">Good question. If you are a developer, you know the usual stuff: give us your Github account or Stackoverflow account or show us the best thing you have built. If you are neither a developer nor a designer, read <%= link_to "The Mythical Man-Month", "https://archive.org/details/mythicalmanmonth00fred", class:"no_ajaxify", target:"_blank"%>; give us your comments on it and tell us what books you read last year.</p>

	<p style="padding-left: 30px;">But this is just the usual stuff. If you have something you want to build on Ratafire, tell us. If it is great, you will be able to work on your own ideas in Ratafire, as long as they fit Ratafire’s goal.</p>

	<p id="faq-1316805" style="padding-left: 30px;">Email: <a href="mailto:jobs@ratafire.com">jobs@ratafire.com</a></p>

<h2>I want to add more questions to this FAQ. What should I do?</h2>

	<ul style="padding-left: 30px;"><span style="line-height: 1.5;">For short questions, <a href="https://twitter.com/intent/tweet?screen_name=Ratafirer" class="twitter-mention-button" data-related="Ratafirer">Tweet to @Ratafirer</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>.</span></ul>
	<ul style="padding-left: 30px;">For private questions, email <a href="mailto:info@ratafire.com">info@ratafire.com</a>.</ul>
	<ul style="padding-left: 30px;">For philosophical questions, ask on our <%= link_to "Quora Topic", "http://www.quora.com/Ratafire", class:"no_ajaxify", target:"_blank"%>.</ul>	

<h2>I need to talk to a human or a squirrel.</h2>

	<p id="faq-1316805" style="padding-left: 30px;">Email <a href="mailto:jobs@ratafire.com">support@ratafire.com</a> for the assistant you needed when using Ratafire. Feel free to reach out.</p>

</div>	
<%= render 'layouts/footer' %>