<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Guidelines") %>


<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:description", content: "Welcome to Ratafire Beta! It is an honor to have you as one of our first users. We created Ratafire because we believe that creators or researchers should be able to work on what they love on a long term with less worries about expenses. We also believe that creative or research works should be more open and independent." %>
		<%= tag :meta, property: "og:type", content: "website" %>
	<% end %><!-- end.content_for :head do -->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="static-content">
	<h1>Guidelines</h1>
<p>
	Last modified: April 9, 2014
</p>

<p>
	Welcome to Ratafire Beta! It is an honor to have you as one of our first users. We created Ratafire because we believe that creators or researchers should be able to work on what they love over the long term. We also believe that creative arts and research should be more open and independent. 
</p>
<p>
	Read these guidelines before posting or subscribing. We have made them simple, but if you are interested in a longer read, see our <%= link_to "Terms of Use", terms_path, class:"no_ajaxify"%>. If you want to see answers to specific questions, read our <%= link_to "FAQ", faq_path, class:"no_ajaxify"%>. If you want to know about the ideas behind Ratafire, read <%= link_to "the Design of Ratafire", "https://www.ratafire.com/fariliang/the-design-of-ratafire", class:"no_ajaxify" %>.
</p>

<h2>What is Ratafire?</h2>

	<p style="padding-left: 30px;">Ratafire is a site for you to share, collaborate and fund open creative or research works. You can post and collaborate on your work collections under an open license. Help bring work collections you love to reality by becoming a patron to work collection creators with monthly subscription fees.</p>

		<ul style="padding-left: 60px;"><%= link_to "Which license and why this license?", "#{request.scheme}://#{request.host}/faq#faq-131641", class:"no_ajaxify", style:"color:#bbb;"%></ul>
		<ul style="padding-left: 60px;"><%= link_to "Why have monthly patronage payments instead of one-time pledges?", "#{request.scheme}://#{request.host}/faq#faq-5911545", class:"no_ajaxify", style:"color:#bbb;"%></ul>
		<ul style="padding-left: 60px;"><%= link_to "What features do patrons recieve?", "#{request.scheme}://#{request.host}/faq#faq-3863418", class:"no_ajaxify", style:"color:#bbb;"%></ul>

<h2>General</h2>

	<p style="padding-left: 30px;">You can only have one Ratafire account to represent yourself. Currently we do not accept organizations or companies. However, we encourage you to collaborate on work collections with other users.</p>

<h2>Projects</h2>

	<p style="padding-left: 30px;">When you use Ratafire to share your work collections, you are required to license the content you choose to post, except for its software components, if any, under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>

	<p style="padding-left: 30px;">You reserve full commercial right to the Content you post on Ratafire. Ratafire does not own your content; we are merely a host to your work collections. You can further grant commercial licenses of your Content outside of Ratafire.</p>

	<p style="padding-left: 30px;">The work collections you post on Ratafire must be in the following nine realms: <%= link_to "Art", art_path, class:"no_ajaxify"%>, <%= link_to "Music", music_path, class:"no_ajaxify"%>, <%= link_to "Games", games_path, class:"no_ajaxify"%>, <%= link_to "Writing", writing_path, class:"no_ajaxify"%>, <%= link_to "Films & Videos", videos_path, class:"no_ajaxify"%>, <%= link_to "Math", math_path, class:"no_ajaxify"%>, <%= link_to "Research: Science", science_path, class:"no_ajaxify"%>, <%= link_to "Research: Humanity", humanity_path, class:"no_ajaxify"%>, <%= link_to "Engineering", engineering_path, class:"no_ajaxify"%>.</p>

	<p style="padding-left: 30px;">You should make the full content of your work collection publically available if you are accepting subscribers.</p>

		<p style="padding-left: 60px;"><%= link_to "Why can’t I limit previews of my content if someone is my patron?", "#{request.scheme}://#{request.host}/faq#faq-5493741", class:"no_ajaxify", style:"color:#bbb;"%></p>

<h2>Patronage</h2>

	<p style="padding-left: 30px;">When you become a patron of a user, you subscribe for the purpose of supporting the user to complete his or her work collection.</p>

	<p style="padding-left: 30px;">Your patronage does not grant you the right to exclusive content. However, you will be among the first to receive the updates.</p>

	<p style="padding-left: 30px;">Patronage on Ratafire are not anonymous and are available to the public to provide recognition to the patrons and the creators or researchers, and for the purpose of maintaining transparency.</p>

		<ul style="padding-left: 60px;"><%= link_to "Is Ratafire cloud patronage free to use?", "#{request.scheme}://#{request.host}/faq-7472456", class:"no_ajaxify", style:"color:#bbb;"%></ul>
</div>
<%= render 'layouts/footer' %>	