<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Guidelines") %>


<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:description", content: "Welcome to Ratafire Beta! It is an honor to have you as one of our first users. We created Ratafire because we believe that creators or researchers should be able to work on what they love on a long term with less worries about expenses. We also believe that creative or research works should be more open and independent." %>
		<%= tag :meta, property: "og:type", content: "website" %>
	<% end %><!-- end.content_for :head do -->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="static-content">
	<h1>Guidelines</h1>
<p>
	Last modified: April 9, 2014
</p>

<p>
	Welcome to Ratafire Beta! It is an honor to have you as one of our first users. We created Ratafire because we believe that creators or researchers should be able to work on what they love for the long term. We also believe that creative or research works should be more open and independent.
</p>
<p>
	Read these guidelines before posting or subscribing. We have made them simple, but if you are interested in a longer read, you can read our <%= link_to "Terms of Use", terms_path, class:"no_ajaxify"%>. If you like to see answers to specific questions, read our <%= link_to "FAQ", faq_path, class:"no_ajaxify"%>. If you want to know about the ideas behind Ratafire, read <%= link_to "the Design of Ratafire", "https://www.ratafire.com/fariliang/the-design-of-ratafire", class:"no_ajaxify" %>.
</p>

<h2>What is Ratafire?</h2>

	<p style="padding-left: 30px;">Ratafire is a site for you to share, collaborate and fund open creative or research works. You can post and collaborate on your projects under an open license. Help bring projects you love to reality by subscribing to project creators with monthly subscription fees.</p>

		<ul style="padding-left: 60px;"><%= link_to "Which license and why this license?", "#{request.scheme}://#{request.host}/faq#faq-131641", class:"no_ajaxify", style:"color:#bbb;"%></ul>
		<ul style="padding-left: 60px;"><%= link_to "Why do we choose monthly subscription fees instead of one-time pledges?", "#{request.scheme}://#{request.host}/faq#faq-5911545", class:"no_ajaxify", style:"color:#bbb;"%></ul>
		<ul style="padding-left: 60px;"><%= link_to "What rewards do subscribers have?", "#{request.scheme}://#{request.host}/faq#faq-3863418", class:"no_ajaxify", style:"color:#bbb;"%></ul>

<h2>General</h2>

	<p style="padding-left: 30px;">You can only have one Ratafire account to represent yourself. Currently we do not accept organizations or companies. However, we encourage you to collaborate on projects with other users.</p>

		<p style="padding-left: 60px;"><%= link_to "Why do we insist on the independence of an individual creator or researcher?", "#{request.scheme}://#{request.host}/faq#faq-7350619", class:"no_ajaxify", style:"color:#bbb;"%></p>

<h2>Projects</h2>

	<p style="padding-left: 30px;">When you use Ratafire to share your projects, you are required to license the content you choose to post, except from its software components if any, under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>

	<p style="padding-left: 30px;">You reserve full commercial right to the Content you post on Ratafire. Ratafire does not own your content, and we are merely a host to your projects. You can further grant commercial licenses of your Content for a fee outside of Ratafire.</p>

	<p style="padding-left: 30px;">The projects you post on Ratafire must be in the following nine Realms: <%= link_to "Art", art_path, class:"no_ajaxify"%>, <%= link_to "Music", music_path, class:"no_ajaxify"%>, <%= link_to "Games", games_path, class:"no_ajaxify"%>, <%= link_to "Writing", writing_path, class:"no_ajaxify"%>, <%= link_to "Films & Videos", videos_path, class:"no_ajaxify"%>, <%= link_to "Math", math_path, class:"no_ajaxify"%>, <%= link_to "Research: Science", science_path, class:"no_ajaxify"%>, <%= link_to "Research: Humanity", humanity_path, class:"no_ajaxify"%>, <%= link_to "Engineering", engineering_path, class:"no_ajaxify"%>.</p>

	<p style="padding-left: 30px;">You should make the full content of your project publically available if you are accepting subscribers.</p>

		<p style="padding-left: 60px;"><%= link_to "Why can’t I only post some previews of my content if someone is subscribing to me?", "#{request.scheme}://#{request.host}/faq#faq-5493741", class:"no_ajaxify", style:"color:#bbb;"%></p>

<h2>Subscription</h2>

	<p style="padding-left: 30px;">When you subscribe to a user, you subscribe for the purpose of supporting the user to complete his or her project.</p>

	<p style="padding-left: 30px;">Your subscription does not grant you the right to exclusive content. However, you will be among the first to know the updates.</p>

	<p style="padding-left: 30px;">Subscriptions on Ratafire are not anonymous and are available to the public for the purpose of providing recognition to the subscribers and the creators or researchers, and for the purpose of maintaining transparency.</p>

	<p style="padding-left: 30px;">If you unsubscribe from a user, you may only subscribe to the same user again after 30 days.</p>

		<ul style="padding-left: 60px;"><%= link_to "Why do I have to wait for 30 days before subscribing to the same user again?", "#{request.scheme}://#{request.host}/faq#faq-7510653", class:"no_ajaxify", style:"color:#bbb;"%></ul>	
		<ul style="padding-left: 60px;"><%= link_to "Why can’t I subscribe to someone who has met his or her subscription goal?", "#{request.scheme}://#{request.host}/faq#faq-2310305", class:"no_ajaxify", style:"color:#bbb;"%></ul>
</div>
<%= render 'layouts/footer' %>	