<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-- Page Title -->
	<% provide(:title, "Ratafire") %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:title", content: "Ratafire" %>
		<%= tag :meta, property: "og:description", content: "We help artists and researchers afford the time for creative freedom. Ratafire the first free to use on-going fundraising site. We are making crowdfunding free and social." %>
		<%= tag :meta, property: "og:image", content: "http://www.ratafire.com/assets/logoicon_medium_flat.png" %>
		<a style="display:none;"href="https://plus.google.com/108376636120204861351" rel="publisher">Google+</a>

		<meta name="title" content="Ratafire" />
		<meta name="description" content="We help artists and researchers afford the time for creative freedom. Ratafire the first free to use on-going fundraising site. We are making crowdfunding free and social." />
		<link rel="image_src" href="http://www.ratafire.com/assets/logoicon_medium_flat.png" />
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Javascript ~~~~~~~~~~~~~~~~~~~~~~~~-->
<script type="text/javascript">
//Google Analytics Event Tracking
$(document).ready(function() {
	$('#signup-with-facebook-button-home').on('click', function() {
  		ga('send', 'event', 'button', 'click', 'Signup');
	});

	$(window).scroll(function() {
  		var oVal;
  		oVal = $(window).scrollTop() / 240;
  		return $(".home-overlay-blur").css("opacity", oVal);
	});

});	

</script>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->


	<% content_for :additional_background do %>

		<!-- Window 1 -->
	<section class="window" id="window1" >
	<div class="wrapper-main">		

		<!-- Home Page Beta Pic -->
		<div class="Home-page-bg">
		</div>

	<div class="home-overlay-blur"></div>
	<div class="home-overlay"></div>	


	<video autoplay id="bgvid" loop poster="/assets/park_pool.jpg">
 		 <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  
 		 <source src="/videos/park_pool.mp4" type="video/mp4">-->
 		<source src="//s3.amazonaws.com/Ratafire_production_videos/park_space.mp4" type="video/mp4">
		<source src="//s3.amazonaws.com/Ratafire_production_videos/park_space.webm" type="video/webm">
	
	</video>


			<div class="center" style="margin: 0 auto;width:1089px;position:absolute;">

					<!-- Video Holder -->
				<%= render 'static_pages/video'%>	

				<!-- Logo Image -->
				<div style="margin-top:-20px;"><%= image_tag("ratafire.png", alt: "Ratafire") %></div>

					<!-- Home Page Comment -->
					<div id="Home-page-comment">

						<h2 style="color:#fff;" >
							<p><span style="background-color:rgba(0,0,0,0.2);padding:2px 7px 2px 7px;border-radius:5px;">We help artists and researchers afford the time</span></p>
							<p><span style="background-color:rgba(0,0,0,0.2);padding:2px 7px 2px 7px;border-radius:5px;">for creative freedom</span></p>
						</h2>

					</div>
	

				<div id="watch-intro" style="cursor:pointer;">
					<div class="Home-page-ratatoskr">
						<%= image_tag("betabg_no_leaf.png", height:150) %>
					</div>	
					<div id="Home-page-video"></div>
						<div id="Home-page-video-title">
							<ul><span style="background-color:rgba(0,0,0,0.2);padding:0px 3px 0px 3px;border-radius:5px;">Watch our intro video</span></ul> 
							<ul><span style="background-color:rgba(0,0,0,0.2);padding:0px 3px 0px 3px;border-radius:5px;">on how it works</span></ul>
						</div>	
				</div>		

				<%= link_to new_user_registration_path, class:"no_ajaxify" do %><div class="btn-home-join" style="margin-top:80px;"></div><% end %>

				<div class="who-is-ratatoskr"><span style="background-color:rgba(0,0,0,0.2);padding:2px 7px 2px 7px;border-radius:5px;"><a class="darkgrey" style="color:#ddd;" href="http://en.wikipedia.org/wiki/Ratatoskr" target="_blank" >What is Ratatoskr...?</a></span></div>
			</div><!-- end.center-->

	</div><!-- end:.wrapper -->	
	</section><!-- end.first window -->

		<!-- Window 2 -->
		<section class="window" id="window2" >
			<% if browser.tablet? %>
				<div class="post-content-home-holder-tablet">
			<% else %>
				<div class="post-content-home-holder">
			<% end %>
				
				<div class="center" style="margin: 0 auto;width:1089px;">

					<!-- Homepage fundable -->
					<div class="homepage-fundable-holder">
						<%= render partial: 'updates/fundable_user', collection: @users, :as => :user %>
						<%= render partial: 'static_pages/homepage_slide'%>	
					</div>	

					<!-- Homepage fundable -->
					<div class="homepage-fundable-holder">
						<%= render partial: 'updates/fundable_user', collection: @users_2, :as => :user %>
						<%= render partial: 'static_pages/homepage_slide_small'%>	
					</div>	

					<!-- Homepage staffpicks-->
					<%= render 'layouts/sidebar_home_staffpicks'%>

		
					<div class="post-content-home">
					<!-- Activities -->
						<% if @activities.any? %>
							<%= render_activities(@activities) %>
						<% else %>
							<div class="blank-update-box" style="height:428px;">
								<h5>There are no Feature Projects.</h5>
							</div>						
						<% end %>
					</div><!-- end.post-content-->	
			
				</div><!-- end.center-->
						<!-- Footer -->
						<div style="padding: 0px 20px 18px 0;">
						<%= render 'layouts/footer' %>
						</div>


			</div><!-- end.holder-->


		</section><!-- end.second window-->	

<script>
//Google Analytics Event Tracking
$(document).ready(function() {
	$('#signup-with-facebook-button-home').on('click', function() {
  		ga('send', 'event', 'button', 'click', 'Signup');
	});
	$("#signupshow-signin").click(function() {
		$("#signupshow-signup-form").hide();
		$("#signupshow-signin-form").show();
	});

	$("#signupshow-signup").click(function() {
		$("#signupshow-signup-form").show();
		$("#signupshow-signin-form").hide();
	});	

});	

</script>

<% end %>		





