<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:title", content: "Ratafire" %>
		<%= tag :meta, property: "og:description", content: "Connect with knowledge and creativity." %>
		<a style="display:none;"href="https://plus.google.com/108376636120204861351" rel="publisher">Google+</a>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Javascript ~~~~~~~~~~~~~~~~~~~~~~~~-->
<script type="text/javascript">
//Google Analytics Event Tracking
$(document).ready(function() {
	$('#signup-with-facebook-button-home').on('click', function() {
  		ga('send', 'event', 'button', 'click', 'Signup');
	});



});	

$(window).scroll(function() {
    if ($(this).scrollTop() < 500) {
       $("#signupshow-holder").hide({queue: false, duration: 500});

    }

    if ($(this).scrollTop() > 500) {
       $("#signupshow-holder").show({bottom:'320px'}, {queue: false, duration: 500});
    }    
});
</script>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :additional_background do %>

		<!-- Window 1 -->
	<div class="wrapper-main">
		<section class="window" id="window1">

		<!-- Home Page Beta Pic -->
	
		<div class="Home-page-bg">
			<%= image_tag("betabg.jpg") %>
		</div>

			<div class="center" style="margin: 0 auto;width:1089px;position:absolute;">
				<!-- Logo Image -->
				<div style="margin-top:50px;"><%= image_tag("ratafire.png", alt: "Ratafire") %></div>
		
				<!-- Click to Play Video -->

					<!-- Home Page Comment -->
					<div id="Home-page-comment">

						<h2 style="color:#999;" >
							Connect with knowledge and creativity
						</h2>


					</div>



	
			<div class="center" style="margin: 0 auto;width:1089px;">
				<%= render 'layouts/sidebar_home_staffpicks'%>
						<!-- post-content-->
			<!-- Title -->
		<div class="post-content-home-holder">		
			<div class="post-content-home">
				<!-- Activities -->
					<% if @activities.any? %>
						<%= render_activities(@activities) %>
					<% else %>
						<div class="blank-update-box" style="height:428px;">
							<h5>There are no Feature Projects.</h5>
						</div>						
					<% end %>
				</div><!-- end.post-content-->	
			</div><!-- end.center-->

		</div>


					





	
			</div><!-- end.center-->

		</section><!-- end.first window -->
	</div><!-- end:.wrapper -->	

		<!-- Window 2 -->
		<section class="window" id="window2">

			<div class="center" style="margin: 0 auto;width:1089px;">

				<div class="Home-page-container2">
					<div id="watch-intro" style="cursor:pointer;">
						<div id="Home-page-video"></div>
							<div id="Home-page-video-title">
								<ul>Watch our intro video</ul> 
								<ul>on how it works</ul>
							</div>	
					</div>	

				</div>
				<!-- Video Holder -->
				<%= render 'static_pages/video'%>	

			</div><!-- end.center-->

						<!-- Footer -->
						<div style="padding: 0px 20px 18px 0;bottom:0;right:0;position:absolute;">
						<%= render 'layouts/footer' %>
						</div>

	<%= render 'layouts/signupshow'%>


		</section><!-- end.second window-->	

<% end %>		
