<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:title", content: "Ratafire" %>
		<%= tag :meta, property: "og:description", content: "Be a part of the future of research and art." %>
		<a style="display:none;"href="https://plus.google.com/108376636120204861351" rel="publisher">Google+</a>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Javascript ~~~~~~~~~~~~~~~~~~~~~~~~-->
<script type="text/javascript">
//Google Analytics Event Tracking
$(document).ready(function() {
	$('#signup-with-facebook-button-home').on('click', function() {
  		ga('send', 'event', 'button', 'click', 'Signup');
	});

});	

</script>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->


	<% content_for :additional_background do %>

		<!-- Window 1 -->

		<section class="window" id="window1">



	<div class="wrapper-main">		

		<!-- Home Page Beta Pic -->
		<div class="Home-page-bg">
			<%= image_tag("betabg.png") %>
		</div>

	<div class="home-overlay"></div>	
	<video autoplay id="bgvid" loop>
 		 <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
	<source src="//s3.amazonaws.com/Ratafire_production_videos/Sara_and_john_mute.mp4" type="video/mp4">
	<source src="//s3.amazonaws.com/Ratafire_production_videos/Sara_and_john_mute.webm" type="video/webm">
	</video>


			<div class="center" style="margin: 0 auto;width:1089px;position:absolute;">

					<!-- Video Holder -->
				<%= render 'static_pages/video'%>	

				<!-- Logo Image -->
				<div style="margin-top:40px;"><%= image_tag("ratafire.png", alt: "Ratafire") %></div>

					<!-- Home Page Comment -->
					<div id="Home-page-comment">

						<h2 style="color:#999;" >
							Be a part of the future of research and art
						</h2>

					</div>
	

				<div id="watch-intro" style="cursor:pointer;">
					<div id="Home-page-video"></div>
						<div id="Home-page-video-title">
							<ul>Watch our intro video</ul> 
							<ul>on how it works</ul>
						</div>	
				</div>		
				<!-- featured user -->
				<% if @featured_user != nil then %>
					<div class="who-is-ratatoskr"><span><a class="darkgrey" href="http://en.wikipedia.org/wiki/Ratatoskr" target="_blank" >Who is Ratatoskr?</a></span></div>	
					<div class="who-is-using-ratafire"><span class="darkgrey">Who are using Ratafire?</span>					
					</div>	
					<%= link_to @featured_user, class:"no_ajaxify" do %><div class="majorpost-usericon who-is-using-ratafire2" style="background-image:url(<%= @featured_user.profilephoto.url(:small64) %>);"></div><% end %>
					<div class="Colin-ratafire"><%= link_to "Colin Huggins",@featured_user,class:"no_ajaxify"%>, the Crazy Piano guy seen in Washington Square Park, now creating <%= link_to "Colin Huggins Art Collective", "https://www.ratafire.com/colinchromatic/6644863/230426", class:"no_ajaxify" %> is using Ratafire.</div>
				<% end %>	
			</div><!-- end.center-->

		
	</div><!-- end:.wrapper -->	
	</section><!-- end.first window -->

		<!-- Window 2 -->
		<section class="window" id="window2" style="">
			<div class="post-content-home-holder">
				<div class="home-overlay2"></div>
				<div class="center" style="margin: 0 auto;width:1089px;">
					<%= render 'layouts/sidebar_home_staffpicks'%>

		
					<div class="post-content-home">
					<!-- Activities -->
						<% if @activities.any? %>
							<%= render_activities(@activities) %>
						<% else %>
							<div class="blank-update-box" style="height:428px;">
								<h5>There are no Feature Projects.</h5>
							</div>						
						<% end %>
					</div><!-- end.post-content-->	
			
				</div><!-- end.center-->


			</div><!-- end.holder-->

		</section><!-- end.second window-->	

		<!-- Window 3 -->
		<section class="window" id="window3">
			<div class="home-overlay-grey"></div>
               <div class="container grey-bg" >
                    <div class="row grey-bg os-animation text-center" data-os-animation="fadeInUp" >
                        <div class="grey-bg col-md-6 col-sm-6 title-text ">
                            <h2 class="title">About</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 simple-text grey-bg">
                            <p class="description text-left" style="color:#999999;"><span style="color:#2297ce;">In the future, value resides in interactions, not in unaccessable content. Start building this value today. </span>
                            You can collaborate on projects and join discussions on Ratafire. To turn on subscription to receive monthly funding from your subscribers, follow the 4 steps below.</p>
                        </div>
                    </div>
                    <div class="row border-bottom os-animation" data-os-animation="fadeInUp">
                        <div class="col-md-3 col-sm-3 service-box border-right border-top border-bottom text-center">
                            <div class="service-icon"> <i class="fa fa-pencil-square-o"></i> </div>
                            <h6>1. Create a Project</h6>
                            <p class="home-content">You have to create at least one on-going project and make the project digitally available. You can collaborate with others!</p>
                        </div>
                        <div class="col-md-3 col-sm-3 service-box border-right border-top border-bottom text-center">
                            <div class="service-icon"> <i class="fa fa-comment-o"></i> </div>
                            <h6>2. Start a Discussion</h6>
                            <p class="home-content">You then have to start at least one discussion thread. After creating a project and a discussion, you can now apply to turn on subscription.</p>
                        </div>
                        <div class="col-md-3 col-sm-3 service-box border-right border-top border-bottom text-center">
                            <div class="service-icon"> <i class="fa fa-user"></i> </div>
                            <h6>3. Find 10 Supporters</h6>
                            <p class="home-content">After your application is approved, you have 30 days to find at least 10 supporters or subscribers. Invite your friends to support you!</p>
                        </div>
                        <div class="col-md-3 col-sm-3 service-box border-top border-bottom text-center">
                            <div class="service-icon"> <i class="fa fa-money"></i> </div>
                            <h6>4. All or Nothing</h6>
                            <p class="home-content">You can't receive monthly subscription fees from your subscribers unless you successfully complete step 3. <%= link_to "Start using Ratafire now",new_user_registration_path, class:"no_ajaxify" %>. </p>
                        </div>
                    </div>              
                </div>
		</section>	

		<!-- Window 4 -->
		<section class="window" id="window4" >
				<div class="home-overlay2"></div>
			<div class="center" style="margin: 0 auto;width:1089px;">
				<div class="Home-page-container2">
					<div class="home-page-signup-title">Be a part of the future of research and art
					</div>					
					<h2>Post and collaborate on projects</h2>
					<h2>Discover the best in new ideas, art and research</h2>
					<h2>Support creatives and researchers with monthly subscriptions</h2>
				</div>

	<!-- Signup Form -->
		<div class="signupshow-signup-form-home" id="signupshow-signup-form">	
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => { :class => 'no_ajaxify'}) do |f| %>
				<ol>
					<%= f.text_field :fullname, class: "inputbox signupbox2", placeholder: "First and Last Name", :live => true %>
				</ol>
				<ol>
					<%= f.text_field :email, class: "inputbox signupbox2", placeholder: "Email Address" %>
				</ol>
				<ol>
					<%= f.password_field :password, class: "inputbox signupbox2", placeholder: "Password" %>
				</ol>
				<ol>
					<%= f.text_field :username, class: "inputbox signupbox2",  placeholder: "Pick a username"%>
				</ol>	
				<div class="signupshow-signin" id="signupshow-signin" style="margin-top: 20px; margin-left: 310px;">
					Sign In
				</div>	
	
				<ol style="margin-top: 15px; padding-left: 418px;">
					<%= f.submit "JOIN", class: "btn-submit btn-submit-small btn btn-small2 btn-small-green", id:"email-signup" %>
				</ol>
				
				<div style="margin-top: -32px; margin-left: 280px;" id="signup-with-facebook-button">
					<%= link_to image_tag("/assets/facebook.png"), user_omniauth_authorize_path(:facebook), class:"no_ajaxify" %>
				</div>
			<% end %>
		</div><!-- end .signupshow-signup-form-->




		<div class="signupshow-signin-form-home" id="signupshow-signin-form">
					<!-- Signin Form -->
					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'no_ajaxify'}) do |f| %>

      					<ol>
      						<%= f.text_field :email, class: "inputbox signupbox2", placeholder: "Email" %>
      					</ol>
      					<ol>
      						<%= f.password_field :password, class: "inputbox signupbox2", placeholder: "Password" %>
      					</ol>
      					<ol style="margin-top:15px;color:#999;margin-left:120px;">
      						<% if devise_mapping.rememberable? -%>
    						<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  							<% end %>
      					</ol>
      					<ol>
      					<%= link_to "Forgot your password?", new_password_path(resource_name), class:"no_ajaxify", style:"margin-left:150px;" %>
 						</ol>
						<ol style="margin-top: -35px; padding-left: 418px;">
							<div id="submit">
								<%= f.submit "SIGN IN", class: "btn-submit btn-submit-small btn btn-small2 btn-small-blue" %>
							</div>
						</ol>
					<div class="signupshow-signup" style="margin-top: -32px; margin-left: 180px;" id="signupshow-signup">
						Sign Up
					</div>							
					<% end %>

		</div><!-- end .signupshow-signin-form-->


			</div><!-- end.center-->

						<!-- Footer -->
						<div style="padding: 0px 20px 18px 0;">
						<%= render 'layouts/footer' %>
						</div>

		</section><!-- end.second window-->	

<script>
//Google Analytics Event Tracking
$(document).ready(function() {
	$('#signup-with-facebook-button-home').on('click', function() {
  		ga('send', 'event', 'button', 'click', 'Signup');
	});
	$("#signupshow-signin").click(function() {
		$("#signupshow-signup-form").hide();
		$("#signupshow-signin-form").show();
	});

	$("#signupshow-signup").click(function() {
		$("#signupshow-signup-form").show();
		$("#signupshow-signin-form").hide();
	});	

});	

</script>

<% end %>		





