<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:title", content: "Ratafire" %>
		<%= tag :meta, property: "og:description", content: "Be a part of the future of research and art." %>
		<a style="display:none;"href="https://plus.google.com/108376636120204861351" rel="publisher">Google+</a>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Javascript ~~~~~~~~~~~~~~~~~~~~~~~~-->
<script type="text/javascript">
//Google Analytics Event Tracking
$(document).ready(function() {
	$('#signup-with-facebook-button-home').on('click', function() {
  		ga('send', 'event', 'button', 'click', 'Signup');
	});

});	

</script>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->


	<% content_for :additional_background do %>

		<!-- Window 1 -->

		<section class="window" id="window1">



	<div class="wrapper-main">		

		<!-- Home Page Beta Pic -->
		<div class="Home-page-bg">
			<%= image_tag("betabg_no_leaf.png") %>
		</div>

	<div class="home-overlay"></div>	
	<video autoplay id="bgvid" loop>
 		 <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
	<source src="//s3.amazonaws.com/Ratafire_production_videos/Sara_and_john_mute.mp4" type="video/mp4">
	<source src="//s3.amazonaws.com/Ratafire_production_videos/Sara_and_john_mute.webm" type="video/webm">
	</video>


			<div class="center" style="margin: 0 auto;width:1089px;position:absolute;">

					<!-- Video Holder -->
				<%= render 'static_pages/video'%>	

				<!-- Logo Image -->
				<div style="margin-top:40px;"><%= image_tag("ratafire.png", alt: "Ratafire") %></div>

					<!-- Home Page Comment -->
					<div id="Home-page-comment">

						<h2 style="color:#999;" >
							Cloud Patronage
						</h2>

					</div>
	

				<div id="watch-intro" style="cursor:pointer;">
					<div id="Home-page-video"></div>
						<div id="Home-page-video-title">
							<ul>Watch our intro video</ul> 
							<ul>on how it works</ul>
						</div>	
				</div>		

				<%= link_to new_user_registration_path, class:"no_ajaxify" do %><div class="btn-home-join" style="margin-top:80px;"></div><% end %>

				<div class="who-is-ratatoskr"><span><a class="darkgrey" href="http://en.wikipedia.org/wiki/Ratatoskr" target="_blank" >What is Ratatoskr...?</a></span>
			</div><!-- end.center-->
		
	</div><!-- end:.wrapper -->	
	</section><!-- end.first window -->

		<!-- Window 2 -->
		<section class="window" id="window2" style="">
			<div class="post-content-home-holder">
				<div class="home-overlay2"></div>
				<div class="center" style="margin: 0 auto;width:1089px;">
					<%= render 'layouts/sidebar_home_staffpicks'%>

		
					<div class="post-content-home">
					<!-- Activities -->
						<% if @activities.any? %>
							<%= render_activities(@activities) %>
						<% else %>
							<div class="blank-update-box" style="height:428px;">
								<h5>There are no Feature Projects.</h5>
							</div>						
						<% end %>
					</div><!-- end.post-content-->	
			
				</div><!-- end.center-->
						<!-- Footer -->
						<div style="padding: 0px 20px 18px 0;">
						<%= render 'layouts/footer' %>
						</div>


			</div><!-- end.holder-->


		</section><!-- end.second window-->	

<script>
//Google Analytics Event Tracking
$(document).ready(function() {
	$('#signup-with-facebook-button-home').on('click', function() {
  		ga('send', 'event', 'button', 'click', 'Signup');
	});
	$("#signupshow-signin").click(function() {
		$("#signupshow-signup-form").hide();
		$("#signupshow-signin-form").show();
	});

	$("#signupshow-signup").click(function() {
		$("#signupshow-signup-form").show();
		$("#signupshow-signin-form").hide();
	});	

});	

</script>

<% end %>		





