<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Pricing") %>


<!--~~~~~~~~~~~~~~~~~~~~~~~~ Table Style ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:description", content: "Ratafire’s prices are designed to ensure the creators or researchers receive the base amount of the subscription. On the first day of every month, subscription fees will be collected from subscribers. We will charge the subscriber the Total amount." %>
		<%= tag :meta, property: "og:type", content: "website" %>
	<% end %><!-- end.content_for :head do -->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="static-content">
	<h1>Pricing</h1>
<p>
	Ratafire’s prices are designed to ensure the creators or researchers receive the base amount of the subscription. 
</p>

<p>
	Once you subscribe to another user, you will be charged the first month's subscription fee. We will charge the subscriber the Total amount. Creators or researchers will receive the amount stated in the Creator Receives row.
</p>

<p>
  Except for  the first tier of Supporter, all other prices are for Subscribers. These two categories of users will receive different benefits.  
</p> 
<ul style="padding-left: 60px;margin-bottom:20px;"><%= link_to "What are the differences between subscribers and supporters?", "#{request.scheme}://#{request.host}/faq#faq-2347915", class:"no_ajaxify", target:"_blank", style:"color:#999;"%></ul>
<div>
<table class="tg general-content">
  <tr style="border-radius: 5px 5px 0px 0px;">
    <th class="tg-tdpq">Name</th>
    <th class="tg-tdpq2" width="90">Supporter</th>
    <th class="tg-tdpq" width="90">A Lava Cake</th>
    <th class="tg-tdpq" width="90">A Meal With Fish</th>
    <th class="tg-tdpq" width="90">A Book</th>
    <th class="tg-tdpq" width="90">A Surprise</th>
    <th class="tg-tdpq" width="90">1024 Pine Nuts</th>
  </tr>
  <tr>
    <td class="tg-akd2">The Amount Subscribers are Charged</td>
    <td class="tg-sqpd">$5.00</td>
    <td class="tg-sqpd">$10.00</td>
    <td class="tg-sqpd">$15.00</td>
    <td class="tg-sqpd">$25.00</td>
    <td class="tg-sqpd">$50.00</td>
    <td class="tg-sqpd">$100.00</td>
  </tr>
</table>
<div style="margin:20px 0 20px 0;">
  <div style="margin:0 0 20px 5px;color:#ccc;">
  Features of Different Levels of Subscription
  </div>
<table class="tg general-content" >
   <tr style="border-radius: 5px 5px 0px 0px;">
    <td class="tg-akd2" width="180">Collectible</td>
    <td class="tg-sqpd" width="90">No</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
  </tr>    
   <tr style="border-radius: 5px 5px 0px 0px;">
    <td class="tg-akd2" width="180">Update Feed</td>
    <td class="tg-sqpd" width="90">No</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
  </tr>  
   <tr style="border-radius: 5px 5px 0px 0px;">
    <td class="tg-akd2" width="180">Listed as Subscribers</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
  </tr>         
   <tr style="border-radius: 5px 5px 0px 0px;">
    <td class="tg-akd2" width="180">*Early Access</td>
    <td class="tg-sqpd" width="90">No</td>
    <td class="tg-sqpd" width="90">2 Days</td>
    <td class="tg-sqpd" width="90">3 Days</td>
    <td class="tg-sqpd" width="90">4 Days</td>
    <td class="tg-sqpd" width="90">5 Days</td>
    <td class="tg-sqpd" width="90">6 Days</td>
  </tr>    
   <tr style="border-radius: 5px 5px 0px 0px;">
    <td class="tg-akd2" width="180">Private Messages</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
    <td class="tg-sqpd" width="90">Yes</td>
  </tr>      
</table>  
</div> 
</div>
<p>The Early Access feature is only available in projects that have this function turned on.</p>
<p>Currently, anyone can subscribe to users on Ratafire, but only users living in the United States can receive monthly subscription amounts.</p>
	<ul style="padding-left: 60px;"><%= link_to "Why does Ratafire have price limits?", "#{request.scheme}://#{request.host}/faq#faq-1287738", class:"no_ajaxify", style:"color:#bbb;"%></ul>
</div>	

<%= render 'layouts/footer' %>