<div class="panel">
	<div class="panel-heading bg-blue-light border-blue-light">
		<div class="panel-title text-uppercase text-semibold">About</div>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        	</ul>
    	</div>
	</div>
	<!-- User thumbnail -->
	<div class="thumb  thumb-slide" id="about-profilephoto-holder">
		<img src="<%= user.profilephoto.image.url(:thumbnail512)%>" class="about-profilephoto-holder" alt="">
		<!-- Upload Panel -->
		<% if current_user == @user || current_user.try(:admin) %>
			<%= render partial:'profile/components/upload_user_photo', locals: { profilephoto: @user.profilephoto, user: @user}%>
		<% end %>
	</div>	
	<div class="panel-body text-center">
		<!-- Username -->
    	<div class="caption text-center">
    		<h6 class="text-semibold no-margin"><%= user.preferred_name %><small class="display-block"><%= user.tagline %></small></h6>
    	</div>
		<!-- About -->
		<p class="mt-10">
			<%= user.bio %>
		</p>
		<!-- Website -->
		<p class="text-blue" >
			<i class="fa fa-globe" style="margin-right:8px;"></i><%= link_to truncate(user.website, :length => 25), user.website,class:"no_ajaxify", target: "_blank" %>
		</p>
		<!-- Social Media Icons -->
		<p>
			<ul class="soc">
				<!-- Facebook -->
				<% if user.facebook != nil then %>
					<li data-popup="tooltip" title="Facebook" data-placement="bottom"><%= link_to "", user.facebook.link, class:"socicon-facebook", target:"_blank"%></li>
				<% end %>
				<!-- Twitter -->
				<% if user.twitter != nil then %>
			    	<li data-popup="tooltip" title="Twitter" data-placement="bottom"><%= link_to "", user.twitter.link, class:"socicon-twitter", target:"_blank"%></a></li>
			    <% end %>
			    <!-- Tumblr -->
			    <% if user.tumblr != nil then %>
			    	<li data-popup="tooltip" title="Tumblr" data-placement="bottom" ><%= link_to "", user.tumblr.link, class:"socicon-tumblr", target:"_blank"%></a></li>
			    <% end %>	
			    <!-- Deviantart -->
			    <% if user.deviantart != nil then %>
			    	<li data-popup="tooltip" title="Deviantart" data-placement="bottom"><%= link_to "", user.deviantart.link, class:"socicon-deviantart", target:"_blank"%></a></li>
			    <% end %>
			    <!-- YouTube -->	
			    <% if user.youtube != nil then %>
			    	<li data-popup="tooltip" title="YouTube" data-placement="bottom"><%= link_to "", user.youtube.link, class:"socicon-youtube", target:"_blank"%></li>
			    <% end %>	
			    <!-- Github -->
			    <% if user.github != nil then %>
			    	<li data-popup="tooltip" title="GitHub" data-placement="bottom"><%= link_to "", user.github.link, class:"socicon-github", target:"_blank"%></li>
			    <% end %>	
			    <!-- Twitch -->
			    <% if user.twitch != nil then %>
			    	<li data-popup="tooltip" title="Twitch" data-placement="bottom"><%= link_to "", user.twitch.link, class:"socicon-twitch", target:"_blank"%></li>
			    <% end %>
			    <!-- Pinterest -->
			    <% if user.pinterest %>
			    	<li data-popup="tooltip" title="Pinterest" data-placement="bottom"><%= link_to "", user.pinterest.link, class:"socicon-pinterest", target:"_blank"%></li>
			    <% end %>	
			</ul>
		</p>	
	</div><!-- end .panel-body -->
</div>