<div class="panel">
	<!-- User thumbnail -->
	<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px 3px 0 0;">
		<img src="<%= user.profilephoto.image.url(:thumbnail512)%>" class="about-profilephoto-holder" alt="">
		<!-- Upload Panel -->
		<% if current_user == @user || current_user.try(:admin) %>
			<%= render partial:'profile/components/upload_user_photo', locals: { profilephoto: @user.profilephoto, user: @user}%>
		<% end %>
	</div>	
	<div class="panel-body text-center">
		<!-- Username -->
    	<div class="caption text-center">
    		<h6 class="text-semibold no-margin"><%= user.preferred_name %><small class="display-block"><%= user.tagline %></small></h6>
    	</div>
		<!-- About -->
		<p class="mt-10">
			<%= user.bio %>
		</p>
		<!-- Website -->
        <%= link_to user.website, target: "_blank" do %>
                <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                    <i class="huaxia huaxia-link text-green-400"></i>
                </div> 
        <% end %>  
	</div><!-- end .panel-body -->
</div>