<div class="panel">
	<!-- User thumbnail -->
	<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px 3px 0 0;">
		<img src="<%= user.profilephoto.image.url(:thumbnail512)%>" class="about-profilephoto-holder" alt="">
		<!-- Upload Panel -->
		<% if current_user == @user || current_user.try(:admin) %>
			<%= render partial:'profile/components/upload_user_photo', locals: { profilephoto: @user.profilephoto, user: @user}%>
		<% end %>
	</div>	
	<div class="panel-body text-center">
		<!-- Username -->
    	<div class="caption text-center">
    		<h6 class="text-semibold no-margin"><%= user.preferred_name %><small class="display-block"><%= user.tagline %></small></h6>
    	</div>
        <!-- Become a creator -->
        <% if current_user == @user %>
			<% if current_user.campaigns.count > 0 %>
				<% unless current_user.active_campaign %>
					<%= link_to apply_user_studio_campaigns_path(current_user.username, current_user.campaigns.first), :data => {turbolinks: "false"} do %>
						<span class="btn-group pt-7">
							<span class="btn btn-default text-grey-300 mt-20"><%= t 'views.utilities.menu.become_a_creator' %></span>
						</span>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to new_user_studio_campaigns_path(current_user.username), :data => {turbolinks: "false"} do %>
					<span class="btn-group pt-7">
						<span class="btn btn-default text-grey-300 mt-20"><%= t 'views.utilities.menu.become_a_creator' %></span>
					</span>
				<% end %>
			<% end %>
        <% end %>    	
		<!-- About -->
		<p class="mt-10">
			<%= user.bio %>
		</p>
		<!-- Website -->
		<% if user.website && 1 == 0 %>
	        <%= link_to user.website, target: "_blank" do %>
	                <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
	                    <i class="huaxia huaxia-link text-green-400"></i>
	                </div> 
	        <% end %> 
	    <% end %> 	    
	    <!-- Like User -->
	    <div id='<%= user.uid %>-user-like-holder-about'>
			<% if user_signed_in? %>
				<% if current_user == user %>
				    <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
				        <i class="huaxia huaxia-guanzhu1 text-danger inline-block animated rubberBand"></i>
				    </div>
				<% else %>
					<% if is_liker?(current_user.id, 'User', user.id) %>
						<!-- current_user likes user -->
						<!-- if friend -->
						<% if current_user.is_friend?(user.id) %>
							<%= render partial:'content/likes/unfriend_user_about', locals: {user: user} %>
						<% else %>
							<%= render partial:'content/likes/unlike_user_about', locals: {user: user} %>
						<% end %>
					<% else %>
						<%= render partial:'content/likes/like_user_about', locals: {user: user} %>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to new_user_registration_path do %>
				    <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
				        <i class="huaxia huaxia-guanzhu text-danger inline-block animated rubberBand"></i>
				    </div>
				<% end %>
			<% end %>
		</div>
	</div><!-- end .panel-body -->
</div>