<!-- Backers -->
<h1 class="number text-grey-700"><%= number_to_human(6243, :format => '%n%u', :units => { :thousand => 'k' }) %></h1>
<div class="label label-blue"><%= t 'views.utilities.menu.backers' %></div>
<h1 class="number text-grey-700">80%</h1>
<div class="label label-blue"><%= t 'views.utilities.menu.currently_funded' %></div>
<h1 class="number text-grey-700"><%= days_to_current_goal(user.active_reward.due) %></h1>
<div class="label label-blue"><%= t 'views.utilities.menu.days_to_current_goal' %></div>
<div class="mt-20 mb-20">
	<%= render partial:'profile/components/donation_button', locals: {user: user}%>
</div>