<%= link_to back_creators_path("Art","default") do %>
	<span id="categories-art-btn" class="btn bg-rainbow-700 btn-default btn-xs mt-5"><%= t 'views.utilities.menu.art' %></span>
<% end %>
<%= link_to back_creators_path("Music","default") do %>
	<span id="categories-art-btn" class="btn bg-rainbow-700 btn-default btn-xs mt-5"><%= t 'views.utilities.menu.music' %></span>
<% end %>
<%= link_to back_creators_path("Games","default") do %>
	<span id="categories-art-btn" class="btn bg-rainbow-700 btn-default btn-xs mt-5"><%= t 'views.utilities.menu.games' %></span>
<% end %>
<%= link_to back_creators_path("Writing","default") do %>
	<span id="categories-art-btn" class="btn bg-rainbow-700 btn-default btn-xs mt-5"><%= t 'views.utilities.menu.writing' %></span>
<% end %>
<%= link_to back_creators_path("Videos","default") do %>
	<span id="categories-art-btn" class="btn bg-rainbow-700 btn-default btn-xs mt-5"><%= t 'views.utilities.menu.videos' %></span>
<% end %>
<a class="disabled">
	<span id="categories-art-btn" class="btn bg-rainbow-700 btn-default btn-xs mt-5"><%= t 'views.utilities.menu.math' %></span>
</a>