<div class="row" id="sidebar-category">
	<!-- Col 1 -->
	<div class="col-lg-4 col-md-4 col-sm-4">
		<!-- Concept art -->
		<%= link_to back_creators_path("Art","default") do %>
			<div class="panel">
				<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px;">
					<img src="/assets/default/categories/art_preview256.jpg" class="about-profilephoto-holder" alt="">
					<div class="panel-image-text text-size-mini position-absolute mt-20-">
						<%= t 'views.utilities.menu.art' %>
					</div>
				</div>
			</div>
		<% end %>
		<!-- Writing -->
		<%= link_to back_creators_path("Writing","default") do %>
			<div class="panel">
				<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px;">
					<img src="/assets/default/categories/writing_preview256.jpg" class="about-profilephoto-holder" alt="">
					<div class="panel-image-text text-size-mini position-absolute mt-20-">
						<%= t 'views.utilities.menu.writing' %>
					</div>
				</div>
			</div>
		<% end %>
		<!-- Science -->
		<div class="panel disabled">
			<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px;">
				<img src="/assets/default/categories/science_preview256.jpg" class="about-profilephoto-holder" alt="">
				<div class="panel-image-text text-size-mini position-absolute mt-20-">
					<%= t 'views.utilities.menu.science' %>
				</div>
			</div>
		</div>
	</div>
	<!-- Col 2 -->
	<div class="col-lg-4 col-md-4 col-sm-4">
		<!-- Music -->
		<%= link_to back_creators_path("Music","default") do %>
			<div class="panel">
				<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px;">
					<img src="/assets/default/categories/music_preview256.jpg" class="about-profilephoto-holder" alt="">
					<div class="panel-image-text text-size-mini position-absolute mt-20-">
						<%= t 'views.utilities.menu.music' %>
					</div>
				</div>
			</div>
		<% end %>
		<!-- Videos -->
		<%= link_to back_creators_path("Videos","default") do %>
			<div class="panel">
				<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px;">
					<img src="/assets/default/categories/videos_preview256.jpg" class="about-profilephoto-holder" alt="">
					<div class="panel-image-text text-size-mini position-absolute mt-20-">
						<%= t 'views.utilities.menu.videos' %>
					</div>
				</div>
			</div>
		<% end %>
		<!-- Humanity -->
		<div class="panel disabled">
			<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px;">
				<img src="/assets/default/categories/humanity_preview256.jpg" class="about-profilephoto-holder" alt="">
				<div class="panel-image-text text-size-mini position-absolute mt-20-">
					<%= t 'views.utilities.menu.humanity' %>
				</div>
			</div>
		</div>
	</div>
	<!-- Col 3 -->
	<div class="col-lg-4 col-md-4 col-sm-4">
		<!-- Games -->
		<%= link_to back_creators_path("Games","default") do %>
			<div class="panel">
				<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px;">
					<img src="/assets/default/categories/games_preview256.jpg" class="about-profilephoto-holder" alt="">
					<div class="panel-image-text text-size-mini position-absolute mt-20-">
						<%= t 'views.utilities.menu.games' %>
					</div>
				</div>
			</div>
		<% end %>
		<!-- Math -->
		<div class="panel disabled">
			<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px;">
				<img src="/assets/default/categories/math_preview256.jpg" class="about-profilephoto-holder" alt="">
				<div class="panel-image-text text-size-mini position-absolute mt-20-">
					<%= t 'views.utilities.menu.math' %>
				</div>
			</div>
		</div>
		<!-- Engineering -->
		<div class="panel disabled">
			<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px;">
				<img src="/assets/default/categories/engineering_preview256.jpg" class="about-profilephoto-holder" alt="">
				<div class="panel-image-text text-size-mini position-absolute mt-20-">
					<%= t 'views.utilities.menu.engineering' %>
				</div>
			</div>
		</div>
	</div>
</div>