<script type="text/javascript">
  //majorpost user cover
    $('#s3_uploader_profilecover').S3Uploader(
      { 
        remove_completed_progress_bar: false,
        dropZone: $('#profilecover-dropzone'),
        progress_bar_target: $('#profilecover-progress-case'),
        additional_data: { "profilecover[user_uid]": $('#s3_uploader_profilecover').data('user-uid')},
    },"artwork"); //ratafire_file_type,content_temp_value,content_temp_video_value,tags_temp_video_value
    $('#s3_uploader_profilecover').bind('s3_upload_failed', function(e, content) {
        return alert(content.filename + ' failed to upload');
    });   
    $('#s3_uploader_profilecover').bind('s3_uploads_start', function(e, content) {
        $('#fpc_content').block({
            message: '<i class="icon-spinner2 spinner text-blue"></i>',
            overlayCSS: {
                backgroundColor: '#fff',
                opacity: 0.4,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: 0,
                backgroundColor: 'transparent'
            }
        });  
    });  
    //Upload user photo
    $('#s3_uploader_profilephoto').S3Uploader(
      { 
        remove_completed_progress_bar: false,
        dropZone: $('#profilephoto-dropzone'),
        progress_bar_target: $('#profilephoto-progress-case'),
        additional_data: { "profilephoto[user_uid]": $('#s3_uploader_profilephoto').data('user-uid')},
    },"artwork"); //ratafire_file_type,content_temp_value,content_temp_video_value,tags_temp_video_value
    $('#s3_uploader_profilephoto').bind('s3_upload_failed', function(e, content) {
        return alert(content.filename + ' failed to upload');
    });   
    $('#s3_uploader_profilephoto').bind('s3_uploads_start', function(e, content) {
    	$('.caption').hide();
        $('#cover-profilephoto-holder,#about-profilephoto-holder').block({
            message: '<i class="icon-spinner2 spinner text-blue"></i>',
            overlayCSS: {
            	backgroundColor: '#fff',
                opacity: 0.4,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: 0,
                backgroundColor: 'transparent'
            }
        });  
    });  	    
</script>
<!-- Cover area -->
<div class="profile-cover">
	<!-- Profile Cover Overlay -->
	<div class="profile-cover-overlay"></div>
	<div id="fpc_effect-back">
		<div id="fpc_box">
			<div id="fpc_content">
				<%= render :partial => 'userinfo/profilecovers/profilecovers_preview', locals: {profilecover: @user.profilecover}%>
			</div>
			<!-- Upload Cover Panel -->
			<% if current_user == @user || current_user.try(:admin) %>
				<%= render partial:'profile/components/upload_user_cover', locals: {profilecover: @user.profilecover,user: @user}%>
			<% end %>
		</div>
	</div>
	<div class="media">
		<div class="media-left">
			<!-- Profile Image -->
			<%= link_to profile_url_path(user.username),class:"profile-thumb" do %>
				<div class="thumb  thumb-slide thumb-shadow-radius" id="cover-profilephoto-holder">
					<img src="<%= user.profilephoto.image.url(:thumbnail128)%>" class="profile-thumb-holder cover-profilephoto-holder" alt="<%= user.preferred_name %>">
					<!-- Upload Panel -->
					<% if current_user == @user || current_user.try(:admin) %>
						<%= render partial:'profile/components/upload_user_photo', locals: {profilephoto: @user.profilephoto,user: @user}%>
					<% end %>
				</div>
			<% end %>
		</div><!-- end .media-left-->
		<div class="media-body">
			<%= link_to profile_url_path(user.username) do %>
				<!-- Username -->
    			<h1 style="margin-top:2px;" class="text-white"><%= truncate(user.preferred_name,length: 50)%><small class="display-block" style="margin-left:1px;"><%= user.tagline %></small></h1>
                <div class="label bg-rainbow-800"><span class="text-lowercase">lvl </span><span id="<%= user.id %>-level-cover"><%= user.level %></span></div>
    		<% end %>
		</div><!-- end .media-body-->
	</div>
</div>
<!-- /cover area -->