<!-- Cover area -->
<div class="profile-cover">
	<!-- Profile Cover Overlay -->
	<div class="profile-cover-overlay"></div>
	<div id="fpc_effect-back">
		<div id="fpc_box">
			<div id="fpc_content">
			<div class="profile-cover-img" style="background-image: url('/assets/default/profilecover/cover4.jpg')"></div>
			</div>
			<div id="fpc_corner-box">
			    <a id="fpc_page-tip" href="#">
			    <div id="fpc_corner-contents"><div id="fpc_corner-button"><div class="text-right" style="font-size:20px;"><i class="ti-camera"></i></div><div class="text-right">Change Cover</div></div></div></a>
			</div>
		</div>
	</div>
	<div class="media">
		<div class="media-left">
			<!-- Profile Image -->
			<%= link_to profile_url_path(user),class:"profile-thumb" do %>
				<div class="thumb  thumb-slide thumb-shadow-radius" id="cover-profilephoto-holder">
					<img src="/assets/default/profilephoto/triceratops.png" class="profile-thumb-holder cover-profilephoto-holder" alt="<%= user.preferred_name %>">
					<!--<img src="<%= user.profilephoto.image.url(:thumbnail128)%>" class="profile-thumb-holder cover-profilephoto-holder" alt="<%= user.preferred_name %>">-->
					<!-- Upload Panel -->
					<% if current_user == @user || current_user.try(:admin) %>
						<%= render partial:'profile/components/upload_user_photo', locals: {profilephoto: @user.profilephoto,user: @user}%>
					<% end %>
				</div>
			<% end %>
		</div><!-- end .media-left-->
		<div class="media-body">
			<%= link_to profile_url_path(user) do %>
				<!-- Username -->
    			<h1 style="margin-top:2px;" class="text-white"><%= truncate(user.preferred_name,length: 50)%><small class="display-block" style="margin-left:1px;"><%= user.tagline %></small></h1>
    		<% end %>
		</div><!-- end .media-body-->
	</div>
</div>
<!-- /cover area -->