<!-- Video -->
<% if user.active_campaign.video %>
	<video oncontextmenu="return false;" id="application-video-preview" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered video-js-activity mb-20 video-encoding" controls
			preload="none" width="auto" height="auto" poster="<%= user.active_campaign.image.url(:preview800) %>"
			data-setup='{}'>
			<source src="<%= user.active_campaign.video.output_url_mp4 %>" type='video/mp4'>
			<source src="<%= user.active_campaign.video.output_url %>" type='video/webm'>
			<p class="vjs-no-js">
				<%= t 'views.utilities.editor.view_video'%>
			</p>
	</video>
<% else %>
	<img class="mb-20" src="<%= user.active_campaign.image.url(:thumbnail800) %>" style="width:100%;">
<% end %>
<!-- About the Project -->
<div class="mb-40 text-size-large mb-40 text-light">
	<div class="">
		<%= render partial: "profile/components/category", locals: {category: user.active_campaign.category} %>
		<%= render partial: "profile/components/sub_category", locals: {category: user.active_campaign.category, sub_category: user.active_campaign.sub_category} %>
		<%= user.active_campaign.description %>
		<%= link_to display_read_all_user_studio_campaigns_path(user.id, user.active_campaign), remote: true do %>
			<div class="mr-10 btn btn-xs label bg-grey-100"><%= t 'views.utilities.menu.read_all' %><i class="ti-angle-down ml-5"></i></div>
		<% end %>
	</div>
</div>	
