<div id="text-editor-holder" class="hidden">
	
	<%= form_for [:content, @majorpost], :html =>{:id => 'text-editor-form'},name:"text-editor-form",:remote => true do |f| %>
		<div class="panel-body">
			<!-- Title -->
			<%= f.text_field :title, class:"mb-10 form-control input-title form-transparent", placeholder:"Title" %>
			<!-- Content -->
			<div>
				<%= f.text_area :content, type:"hidden",class:"medium-editor medium-editor-textarea form-transparent", data:{placeholder: "Write something..."} %>
			</div>				
		</div>
		<div class="pl-20 pr-20 pb-10">
			<!-- Tags -->
			<%= f.text_field :tag_list, type:"hidden", placeholder:"#tags",class:"editor-tags text-grey-200 text-thin select-xs" %>

		</div>	
		<div class="panel-footer pt-10 pb-10">
			<div class="pull-left">
				<div class="btn bg-slate-300 btn-xs">
					Cancel
				</div>	
			</div>	
			<div class="pull-right">
				<div class="dropup">
					<div class="btn-group">
						<%= f.submit "Post Now", class: "btn btn-blue btn-xs" %>
					</div>	
				</div>
			</div>
		</div>	
	<% end %><!-- end #text-editor-form-->
</div>