<div class="row" id="pledge-area">
	<!-- Title -->
	<h1 class="animated bounceIn mb-20 text-center text-300 text-grey-700" style="font-size:2.3em;"><%= @user.preferred_name %><%= t is_creating('Art') %><span class="text-500"><%= @user.active_campaign.title %></span></h1>		
	<!-- Video Area -->
	<div class="col-md-8 pl-40">
		<!-- Current Project -->
		<%= render partial:'profile/components/current_project', locals: {user: @user}%>
	</div>
	<!-- Side Area -->
	<div class="animated bounceInRight col-md-4 pl-40 pr-40">
		<!-- Back the Creator -->
		<%= render partial:'profile/components/back_the_creator', locals: {user: @user}%>
		<!-- Project Meta -->		
		<%= render partial:'profile/components/project_meta', locals: {user: @user}%>
	</div>	
</div><!-- end #updates_area-->	