<div class='col-xs-12 col-md-12 pl-30' id="project-read-all-holder">
	<div class="panel">
		<div class="panel-body">
			<h2 class="text-thin mt-10"><%= campaign.title %></h2>
			<div><%= raw campaign.content %></div>
			<% if campaign.tags.any? %><div class="mt-10 text-thin text-grey-200"><%= raw campaign.tag_list.map { |t| link_to '#'+t, tag_path(t), class:"text-grey-200" }.join('  ') %></div><% end %>
		</div>
		<!-- Tools -->
		<div class="panel-footer panel-footer-transparent" style="padding:0 20px 15px 0;">
			<div class="pull-left" id="hide-project-read-all">
				<div class="ml-20 btn btn-xs bg-grey-100 btn-rounded"><%= t 'views.utilities.menu.hide' %></div>
			</div>
			<!-- Share -->
			<div class="pull-right">
				<span class="dropup">
					<a href="#" class="dropdown-toggle text-grey-300" data-toggle="dropdown">
						<i class="huaxia huaxia-share mr-10 text-medium">
						</i>
					</a>
					<ul id="majorpost-share-toolbar" class="dropdown-menu dropdown-menu-right bg-rainbow-600" style="z-index:1000;">
						<% if I18n.locale == :zh %>
							<li><div class="p-20"><%= raw RQRCode::QRCode.new( 'https://ratafire.com'+@user.username, :size => 6, :level => :h ).as_html %></div></li>
						<% else %>		
							<li>
								<a href="" class="ssk ssk-facebook" data-url="https://ratafire.com/<%= @user.username %>">
									<i class="fa fa-facebook-square"></i><%= t 'views.settings.social_media_settings.facebook' %>
								</a>
							</li>
							<li>
								<a href="" class="ssk ssk-twitter" data-url="https://ratafire.com/<%= @user.username %>" data-text="<%= @user.active_campaign.title %> @ratafirer" >
									<i class="fa fa-twitter-square"></i><%= t 'views.settings.social_media_settings.twitter' %>
								</a>
							</li>
							<li>
								<a href="" class="ssk ssk-tumblr" data-url="https://ratafire.com/<%= @user.username %>">
									<i class="fa fa-tumblr-square"></i><%= t 'views.settings.social_media_settings.tumblr' %>
								</a>
							</li>
						<% end %>
						<li>
							<a data-clipboard-text="https://ratafire.com/<%= @user.username %>" >
								<i class="huaxia huaxia-link"></i><%= t 'views.utilities.menu.copy_link' %>
							</a>
						</li>
					</ul>
				</span>				
				<!-- Repost 
				<i class="ti-loop mr-10" data-popup="tooltip" title="Repost" data-placement="bottom"></i>-->
				<!-- Like -->
				<% if @user.active_campaign && @user.active_reward %>
					<%= link_to new_user_payment_backs_path(@user.uid) do %>
						<span>
							<i class="text-grey-300 huaxia huaxia-shui1 text-medium inline-block"></i>
						</span>
					<% end %>
				<% end %>
			</div>	
		</div>			
	</div>
</div>
<script type="text/javascript">
	$('#hide-project-read-all').click(function(){
		$('#project-read-all-holder').velocity("transition.slideLeftBigOut");
	});
</script>