<div class='col-xs-12 col-md-12 pl-30' id="project-read-all-holder">
	<div class="panel">
		<div class="panel-body">
			<h2 class="text-thin mt-10"><%= campaign.title %></h2>
			<div><%= raw campaign.content %></div>
			<% if campaign.tags.any? %><div class="mt-10 text-thin text-grey-200"><%= raw campaign.tag_list.map { |t| link_to '#'+t, tag_path(t), class:"text-grey-200" }.join('  ') %></div><% end %>
		</div>
		<!-- Tools -->
		<div class="panel-footer panel-footer-transparent" style="padding:0 20px 15px 0;">
			<div class="pull-left" id="hide-project-read-all">
				<div class="ml-20 btn btn-xs bg-grey-100 btn-rounded"><%= t 'views.utilities.menu.hide' %></div>
			</div>
			<!-- Share -->
			<div class="pull-right">
				<span class="dropup">
					<a href="#" class="dropdown-toggle text-grey-300" data-toggle="dropdown">
						<i class="huaxia huaxia-share mr-10 text-medium">
						</i>
					</a>
					<ul id="majorpost-share-toolbar" class="dropdown-menu dropdown-menu-right bg-rainbow-600" style="z-index:1000;">
						<li><div class="p-20"><%= raw RQRCode::QRCode.new( 'https://github.com/whomwah/rqrcode', :size => 4, :level => :h ).as_html %></div></li>		
						<li><a href="#"><i class="huaxia huaxia-link"></i> Link</a></li>
					</ul>
				</span>				
				<!-- Repost 
				<i class="ti-loop mr-10" data-popup="tooltip" title="Repost" data-placement="bottom"></i>-->
				<!-- Like -->
				<i class="huaxia huaxia-guanzhu text-medium"></i>
			</div>	
		</div>			
	</div>
</div>
<script type="text/javascript">
	$('#hide-project-read-all').click(function(){
		$('#project-read-all-holder').velocity("transition.slideLeftBigOut");
	});
</script>