<!-- Live Button -->
<div class="mb-40 text-grey-300 text-semibold">
	<span class="dropup">
		<a href="#" class="dropdown-toggle text-grey-300" data-toggle="dropdown">
			<i class="huaxia huaxia-share mr-10 text-medium">
			</i>
		</a>
		<ul id="majorpost-share-toolbar" class="dropdown-menu dropdown-menu-right bg-rainbow-600" style="z-index:1000;">
			<% if I18n.locale == :zh %>
				<li><div class="p-20"><%= raw RQRCode::QRCode.new( request.url , :size => 6, :level => :h ).as_html %></div></li>
			<% else %>		
				<li>
					<a href="" class="ssk ssk-facebook" data-url="<%= request.url %>">
						<i class="fa fa-facebook-square"></i><%= t 'views.settings.social_media_settings.facebook' %>
					</a>
				</li>
				<li>
					<a href="" class="ssk ssk-twitter" data-url="<%= request.url %>" data-text="Support <%= user.active_campaign.title %> @ratafirer" >
						<i class="fa fa-twitter-square"></i><%= t 'views.settings.social_media_settings.twitter' %>
					</a>
				</li>
				<li>
					<a href="" class="ssk ssk-tumblr" data-url="<%= request.url %>">
						<i class="fa fa-tumblr-square"></i><%= t 'views.settings.social_media_settings.tumblr' %>
					</a>
				</li>
			<% end %>
			<li>
				<a data-clipboard-text="<%= request.url %>" >
					<i class="huaxia huaxia-link"></i><%= t 'views.utilities.menu.copy_link' %>
				</a>
			</li>
		</ul>
	</span>				
	<!-- Repost 
	<i class="ti-loop mr-10" data-popup="tooltip" title="Repost" data-placement="bottom"></i>-->
	<!-- Like -->
	<% if user_signed_in? %>
		<span id="<%= user.active_campaign.uuid %>-campaign-like-holder">
			<% if is_liker?(current_user.id, 'Campaign', user.active_campaign.id) %>
				<%= render partial:'content/likes/unlike_campaign', locals: {campaign: user.active_campaign} %>
			<% else %>
				<%= render partial:'content/likes/like_campaign', locals: {campaign: user.active_campaign} %>
			<% end %>
		</span>
	<% else %>
		<span id="<%= user.active_campaign.uuid %>-campaign-like-holder">
			<%= link_to new_user_registration_path do %>
				<i class="text-grey-300 huaxia huaxia-guanzhu text-medium inline-block animated rubberBand"></i>
			<% end %>
		</span>
	<% end %>
</div>	
