<div class="panel-reward panel">
	<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px 3px 0 0;">
		<img src="<%= user.profilecover.image.url(:preview600)%>" class="about-profilephoto-holder" alt="">
	</div>
	<div class="panel-body">
		<h5 class="no-margin-top bg-rainbow-600 text-rainbow"><i class="huaxia huaxia-libao mr-5"></i> The very long name of the long day of the day</h5>
		<h5 class="no-margin-top bg-rainbow-600 text-rainbow"><%= t 'views.utilities.menu.support' %> $5</h5>
		<p class="text-grey-200"><i class="ti-user"></i> <span >0/10 <%= t 'views.utilities.menu.backers' %></span></p>
		<div class="text-grey mb-20">This new adventure will allow us to refocus on the community that is the heart of our success and address many of the wishes expressed in the forums.</div>
		<div class="row">
			<div class="col-md-6">
				<div class="text-grey-200"><%= t 'views.utilities.menu.estimated_delivery' %>:</div>
				<div>Nov 2016</div>
			</div>
			<div class="col-md-6">
				<div class="text-grey-200"><%= t 'views.utilities.menu.ships_to' %>:</div>
				<div>Anywhere in the world</div>
			</div>
		</div>
	</div>	
</div>