<div class="sidebar-detached" >
	<div class="sidebar sidebar-default no-padding-right" style="width:100%;display:block; border:none;box-shadow:none;">
		<div class="sidebar-content" style="border-color:transparent;box-shadow:none;">
			<div class="sidebar-category">
				<div class="category-content no-padding">
					<ul class="navigation navigation-alt navigation-accordion">
						<li class="divider" style="height: 1px;display: block;background-color: #e5e5e5;margin-top: 5px;margin-bottom: 5px;"></li>
						<!-- Achievements -->
						<li id="tabs-achievements-sidebar-achievement-active">
							<%= link_to achievements_user_profile_tabs_path(user.username), id:"tabs-achievements-link" do %>
								<i class="ti-cup"></i><%= t 'views.utilities.menu.achievements' %>
							<% end %>
						</li>
						<!-- General -->
						<% if user.achievements.where(level: 1, category: 'general').any? %>
							<li id="tabs-achievement_general-sidebar-achievement-active">
								<%= link_to achievement_general_user_profile_tabs_path(user.username), id:"tabs-achievement_general-link" do %>
									<i class="ti-medall"></i><%= t 'views.admin.achievements.general' %>
								<% end %>
							</li>
						<% end %>
						<!-- Exploration -->
						<% if user.achievements.where(level: 1, category: 'exploration').any? %>
							<li id="tabs-achievement_exploration-sidebar-achievement-active">
								<%= link_to achievement_exploration_user_profile_tabs_path(user.username), id:"tabs-achievement_exploration-link" do %>
									<i class="ti-flag-alt-2"></i><%= t 'views.admin.achievements.exploration' %>
								<% end %>
							</li>
						<% end %>
						<!-- Content -->
						<% if user.achievements.where(level: 1, category: 'content').any? %>
							<li id="tabs-achievement_social-sidebar-achievement-active">
								<%= link_to achievement_content_user_profile_tabs_path(user.username), id:"tabs-achievement_content-link" do %>
									<i class="ti-user"></i><%= t 'views.admin.achievements.content' %>
								<% end %>
								<ul>
									<li id="tabs-achievement_content-sidebar-achievement-subactive">
										<%= link_to achievement_content_user_profile_tabs_path(user.username),class:"achievements-content-link", id:"achievements-content_engineering-link" do %>
											<%= t 'views.admin.achievements.all' %>
										<% end %>
									</li>
									<li id="tabs-achievement_content_engineering-sidebar-achievement-subactive">
										<%= link_to achievement_content_engineering_user_profile_tabs_path(user.username),class:"achievements-content_engineering-link", id:"achievements-content_engineering-link" do %>
											<%= t 'views.admin.achievements.engineering' %>
										<% end %>
									</li>
								</ul>
							</li>			
						<% end %>
						<!-- Social -->
						<% if user.achievements.where(level: 1, category: 'social').any? %>
							<li id="tabs-achievement_social-sidebar-achievement-active">
								<%= link_to achievement_social_user_profile_tabs_path(user.username), id:"tabs-achievement_social-link" do %>
									<i class="ti-user"></i><%= t 'views.admin.achievements.social' %>
								<% end %>
							</li>
						<% end %>
						<!-- Social -->
						<% if user.achievements.where(level: 1, category: 'funding').any? %>
							<li id="tabs-achievement_funding-sidebar-achievement-active">
								<%= link_to achievement_funding_user_profile_tabs_path(user.username), id:"tabs-achievement_funding-link" do %>
									<i class="ti-user"></i><%= t 'views.admin.achievements.funding' %>
								<% end %>
							</li>
						<% end %>
						<!-- Achievement List -->
						<% if user_signed_in? %>
							<li class="divider" style="height: 1px;display: block;background-color: #e5e5e5;margin-top: 5px;margin-bottom: 5px;"></li>
							<% if current_user == user %>
								<li id="tabs-achievement_social-sidebar-achievement-active">
									<%= link_to user_studio_achievements_path(user.username),id:"tabs-achievement_social-link" do %>
										<i class="ti-bookmark-alt"></i><%= t 'views.admin.achievements.achievement_list' %>
									<% end %>
								</li>
							<% end %>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//Add active to specific tabs
	$('#<%= controller_name %>-<%= action_name %>-sidebar-achievement-active').addClass('active bg-rainbow-600');
	$('#<%= controller_name %>-<%= action_name %>-sidebar-achievement-subactive').addClass('active bg-rainbow-600');
</script>