<li class="navigation-header"><span><%= t 'views.utilities.menu.recommended_tags' %></span> <i class="icon-menu" title="Suggested tags"></i></li>
<li class="media" id="sidebar-suggested-tags-holder">
	<% if I18n.locale == :zh %>
		<!-- 概念艺术 -->
		<%= link_to tag_path(Tag.find_by_name("概念艺术")), class:"sidebar-recommended-tags" do %>
			<div class="media-left pr-15 pl-8">
				<img src="<%= Tag.find_by_name("概念艺术").tag_image.image.url(:thumbnail40) %>" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
			</div>
			<div class="media-body">
				<div class="media-heading text-semibold">
					<%= Tag.find_by_name("概念艺术").name.titleize %>
				</div>
			</div>
		<% end %>
		<!-- 游戏 -->
		<%= link_to tag_path(Tag.find_by_name("游戏")), class:"sidebar-recommended-tags" do %>
			<div class="media-left pr-15 pl-8">
				<img src="<%= Tag.find_by_name("游戏").tag_image.image.url(:thumbnail40) %>" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
			</div>
			<div class="media-body">
				<div class="media-heading text-semibold">
					<%= Tag.find_by_name("游戏").name.titleize %>
				</div>
			</div>
		<% end %>
		<!-- 翻录 -->
		<%= link_to tag_path(Tag.find_by_name("翻录")), class:"sidebar-recommended-tags" do %>
			<div class="media-left pr-15 pl-8">
				<img src="<%= Tag.find_by_name("翻录").tag_image.image.url(:thumbnail40) %>" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
			</div>
			<div class="media-body">
				<div class="media-heading text-semibold">
					<%= Tag.find_by_name("翻录").name.titleize %>
				</div>
			</div>
		<% end %>
	<% else %>
		<!-- Concept Art -->
		<%= link_to tag_path(Tag.find_by_name("concept art")), class:"sidebar-recommended-tags" do %>
			<div class="media-left pr-15 pl-8">
				<img src="<%= Tag.find_by_name("concept art").tag_image.image.url(:thumbnail40) %>" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
			</div>
			<div class="media-body">
				<div class="media-heading text-semibold">
					<%= Tag.find_by_name("concept art").name.titleize %>
				</div>
			</div>
		<% end %>
		<!-- Gaming -->
		<%= link_to tag_path(Tag.find_by_name("gaming")), class:"sidebar-recommended-tags" do %>
			<div class="media-left pr-15 pl-8">
				<img src="<%= Tag.find_by_name("gaming").tag_image.image.url(:thumbnail40) %>" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
			</div>
			<div class="media-body">
				<div class="media-heading text-semibold">
					<%= Tag.find_by_name("gaming").name.titleize %>
				</div>
			</div>
		<% end %>
		<!-- Cover -->
		<%= link_to tag_path(Tag.find_by_name("cover")), class:"sidebar-recommended-tags" do %>
			<div class="media-left pr-15 pl-8">
				<img src="<%= Tag.find_by_name("cover").tag_image.image.url(:thumbnail40) %>" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
			</div>
			<div class="media-body">
				<div class="media-heading text-semibold">
					<%= Tag.find_by_name("cover").name.titleize %>
				</div>
			</div>
		<% end %>
	<% end %>
</li>