<div id="<%= artwork.uuid %>_insert_image" class="pb-20">
	<div class="thumb thumb-slide" style="border-radius: 3px;">
		<img src="<%= artwork.image.url(:preview512)%>" style="width:100%;" alt="">
		<div class="caption-overflow">			
			<span>
				<% if Majorpost.find_by_uuid(artwork.majorpost_uuid) %>
					<div class="pb-20 pl-20 pr-20">
						<%= truncate(Majorpost.find_by_uuid(artwork.majorpost_uuid).title, length: 50) %>
					</div>
				<% else %>
					<% if artwork.try(:campaign) %>
						<% if artwork.campaign.deleted_at == nil %>
							<div class="pb-20 pl-20 pr-20">
								<%= truncate(artwork.campaign.title, length: 50) %>
							</div>
						<% end %>
					<% end %>
				<% end %>
				<!-- Link to Majorpost -->
				<% if Majorpost.find_by_uuid(artwork.majorpost_uuid) %>
					<%= link_to content_majorpost_path(artwork.majorpost_uuid), class:"btn border-white text-white btn-flat btn-icon btn-rounded ml-5" do %>
						<i class="icon-link2"></i>
					<% end %>
				<% end %>
			</span>
		</div>
	</div>
</div>