<!-- Toolbar -->
<div class="navbar navbar-default navbar-ratafire navbar-xs" style="z-index: 1000;">
	<ul class="nav navbar-nav visible-xs-block ml-20">
		<li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
	</ul>

	<div class="navbar-collapse collapse" id="navbar-filter">
		<!-- Toolbar left -->
		<ul class="nav navbar-nav element-active-slate-400">
			<!-- Updates -->
			<li id="user-profile-tabactive" class="tab-updates"><%= link_to profile_url_path(user.username),id:"tab-updates" do %><i class="ti-rss-alt"></i><% end %></li>
			<!-- Friends -->
			<% if @contacts %>
				<li id="tabs-friends-tabactive" class="tab-backeds"><%= link_to friends_user_profile_tabs_path(user.id), id:"tab-contacts" do %><i class="huaxia huaxia-haoyouqingqiu"></i><% end %></li>	
			<% end %>	
			<% if @liked %>
				<li id="likes-show-tabactive"><%= link_to user_content_likes_path(user.id), id:"tab-likes" do %><i class="huaxia huaxia-guanzhu"></i><% end %></li>
			<% end %>
			<% if user.artwork.any? %>
				<li id="tabs-gallery-tabactive"><%= link_to gallery_user_profile_tabs_path(user.id), id:"tab-gallery" do %><i class="huaxia huaxia-multipleimage"></i><% end %></li>
			<% end %>
		</ul>
	</div>
</div>
<!-- /toolbar -->
<script type="text/javascript">
	//Add active to specific tabs
	$('#<%= controller_name %>-<%= action_name %>-tabactive').addClass('active');
</script>