<div class="row pl-40 text-center text-grey-200">
	<div>
		<%= t 'story.welcome.welcome_story_1' %>
		<%= link_to t('story.welcome.worlds'), explore_categories_path, class:"text-grey-200", style:"text-decoration: underline;" %>
		<%= t 'story.welcome.welcome_story_2' %>
		<%= link_to t('story.welcome.hazeleaf_garden'), back_creators_path, class:"text-grey-200", style:"text-decoration: underline;" %>
	</div>
	<div class="mt-5">
		<%= t 'story.welcome.welcome_story_3' %>
		<%= t 'story.welcome.squirrel' %>
		<%= t 'story.welcome.welcome_story_4' %>
		<%= t 'story.welcome.hazelnuts' %>
	</div>
</div>