<div class="row pl-40">
	<div class="col-md-4 col-lg-4 text-center">
		<div><%= image_tag('/assets/default/welcome/arrow_left.png', class:"animated_hover",data:{action: 'slideOutLeft'}) %></div>
		<div><%= image_tag('/assets/default/welcome/welcome1.png', class:"animated_hover",data:{action: 'rotateIn'}) %></div>
		<h3 class="text-thin animated_hover" data-action="jello"><%= t 'views.utilities.menu.go_explore' %></h3>
	</div>
	<div class="col-md-4 col-lg-4 text-center ">
		<%= link_to new_user_editor_editor_text_path(user.id), method: :get, remote: :true, class:"text-black" do %>
			<div><%= image_tag('/assets/default/welcome/arrow_top.png', class:"animated_hover",data:{action: 'slideOutUp'}, style:"position:relative;z-index:1000;") %></div>
			<div><%= image_tag('/assets/default/welcome/welcome4.png', class:"animated_hover",data:{action: 'rotateIn'}) %></div>
			<h3 class="text-thin animated_hover" data-action="jello"><%= t 'views.utilities.menu.start_posting' %></h3>
		<% end %>
	</div>
	<div class="col-md-4 col-lg-4 text-center ">
		<% if current_user.campaigns.count > 0 %>
			<% unless current_user.active_campaign %>
				<%= link_to apply_user_studio_campaigns_path(current_user.username, current_user.campaigns.first), :data => {turbolinks: "false"},class:"text-black" do %>
					<div><%= image_tag('/assets/default/welcome/arrow_right.png', class:"animated_hover",data:{action: 'slideOutRight'}) %></div>
					<div><%= image_tag('/assets/default/welcome/welcome3.png', class:"animated_hover",data:{action: 'rotateIn'}) %></div>
					<h3 class="text-thin animated_hover" data-action="jello"><%= t 'views.utilities.menu.become_a_creator' %></h3>
				<% end %>
			<% end %>
		<% else %>
			<%= link_to new_user_studio_campaigns_path(current_user.username), :data => {turbolinks: "false"},class:"text-black" do %>
				<div><%= image_tag('/assets/default/welcome/arrow_right.png', class:"animated_hover",data:{action: 'slideOutRight'}) %></div>
				<div><%= image_tag('/assets/default/welcome/welcome3.png', class:"animated_hover",data:{action: 'rotateIn'}) %></div>
				<h3 class="text-thin animated_hover" data-action="jello"><%= t 'views.utilities.menu.become_a_creator' %></h3>
			<% end %>
		<% end %>
	</div>	
</div>
<div class="row pl-40 pt-20">
	<div class="text-center text-large animated_hover" data-action="rubberBand"><%= t 'mailer.studio.campaigns.review.welcome' %><%= user.preferred_name %>!</div>
</div>