<footer class="site-footer bg-rainbow-300 text-grey-100 text-thin">

        <div class="row m-40 align-center">
        	<div class="col-md-1 col-sm-6">
        	</div>
            <div class="col-md-3 col-sm-6">
                <div><img alt=t('views.utilities.menu.ratafire') class="logo" src="/assets/logo/ratafire_light_blue_<%= I18n.locale %>.png" style="max-height:30px;" /></div>
                <div class="mt-5"><%= t 'views.utilities.menu.back_the_next_top' %><% unless I18n.locale == :zh %>&nbsp<% end %>
                    <div class="slidingVertical">
                        <span class="text-grey-100"><%= t 'views.utilities.menu.artist' %></span>
                        <span class="text-grey-100"><%= t 'views.utilities.menu.musician' %></span>
                        <span class="text-grey-100"><%= t 'views.utilities.menu.game_designer' %></span>
                        <span class="text-grey-100"><%= t 'views.utilities.menu.writer' %></span>
                        <span class="text-grey-100"><%= t 'views.utilities.menu.film_maker' %></span>
                        <span class="text-grey-100"><%= t 'views.utilities.menu.mathematician' %></span>
                        <span class="text-grey-100"><%= t 'views.utilities.menu.scientist' %></span>
                        <span class="text-grey-100"><%= t 'views.utilities.menu.scholar' %></span>
                        <span class="text-grey-100"><%= t 'views.utilities.menu.engineer' %></span>
                    </div>  
                </div>
                <%= render partial:'utilities/language/language_switcher', locals: {switcher_type: 'down'}%> 
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="text-bold"><%= t 'views.utilities.menu.about' %></div>
                <div><%= t 'views.utilities.menu.blog' %></div>
                <div><%= t 'views.utilities.menu.terms' %></div>
                <div><%= t 'views.utilities.menu.privacy' %></div>
                <div><%= t 'views.utilities.menu.pricing' %></div>
                <div><%= t 'views.utilities.menu.press' %></div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="text-bold"><%= t 'views.utilities.menu.help' %></div>
                <div><%= t 'views.utilities.menu.guidelines' %></div>
                <div><%= t 'views.utilities.menu.creators_guide' %></div>
                <div><%= t 'views.utilities.menu.faq' %></div>
                <div><%= t 'views.utilities.menu.customer_support' %></div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="text-bold"><%= t 'views.utilities.menu.explore' %></div>
                <div><%= t 'views.utilities.menu.art' %></div>
                <div><%= t 'views.utilities.menu.music' %></div>    
                <div><%= t 'views.utilities.menu.games' %></div> 
                <div><%= t 'views.utilities.menu.writing' %></div>   
                <div><%= t 'views.utilities.menu.videos' %></div>        
            </div>
            <div class="col-md-2 col-sm-6">
                <div>&nbsp</div>
                <div><%= t 'views.utilities.menu.math' %></div>
                <div><%= t 'views.utilities.menu.science' %></div>    
                <div><%= t 'views.utilities.menu.humanity' %></div> 
                <div><%= t 'views.utilities.menu.engineering' %></div>       
            </div>
        	<div class="col-md-1 col-sm-6">
        	</div>
        </div>
        <!--end of row-->
        <div class="row m-40">
        	<div class="col-md-1 col-sm-6">
        	</div>
            <div class="col-md-5 col-sm-6">
                <span class="sub">&copy; <%= t 'views.utilities.menu.copyright' %> <%= Time.now.year %> - <%= t 'views.utilities.menu.ratafire' %></span>
            </div>
            <div class="col-md-5 col-sm-6 text-right">
                <ul class="list-inline social-list">
                    <% if I18n.locale == :zh %>
                        <li>
                            <a href="http://weibo.com/ratafire" data-popup="tooltip" title="<%= t 'views.profile.settings.social_media_settings.weibo' %>" data-placement="top" target="_blank">
                                <i class="fa fa-weibo"></i>
                            </a>
                        </li>
                    <% else %>
                        <li>
                            <a href="https://www.facebook.com/ratafire" data-popup="tooltip" title="<%= t 'views.profile.settings.social_media_settings.facebook' %>" data-placement="top" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ratafirer" data-popup="tooltip" title="<%= t 'views.profile.settings.social_media_settings.twitter' %>" data-placement="top" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://youtube.com/ratafire" data-popup="tooltip" title="<%= t 'views.profile.settings.social_media_settings.youtube' %>" data-placement="top" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ratafire/" data-popup="tooltip" title="<%= t 'views.profile.settings.social_media_settings.instagram' %>" data-placement="top" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com/ratafire/" data-popup="tooltip" title="<%= t 'views.profile.settings.social_media_settings.pinterest' %>" data-placement="top" target="_blank">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-md-1 col-sm-6">
        	</div>
        </div>
</footer>