<!-- Footer -->
<div class="footer text-size-mini text-grey">
	<span class="mr-10"><%= t 'views.utilities.menu.about' %></span> 
	<span class="mr-10"><%= t 'views.utilities.menu.blog' %></span> 
	<span class="mr-10"><%= t 'views.utilities.menu.terms' %></span> 
	<span class="mr-10"><%= t 'views.utilities.menu.privacy' %></span>
	<span class="mr-10"><%= t 'views.utilities.menu.pricing' %></span>
	<span class="mr-10"><%= t 'views.utilities.menu.faq' %></span>
	<span class="mr-10"><%= t 'views.utilities.menu.press' %></span>
	<%= render partial:'utilities/language/language_switcher', locals: {switcher_type: 'up'}%>
</div>	
