<!-- Footer -->
<div class="footer text-size-mini text-grey">
	<span class="mr-10"><%= link_to "/site/terms", class:"text-grey" do %><%= t 'views.utilities.menu.terms' %><% end %></span> 
	<span class="mr-10"><%= link_to "/site/privacy", class:"text-grey" do %><%= t 'views.utilities.menu.privacy' %><% end %></span>
	<span class="mr-10"><%= link_to "/site/faq", class:"text-grey" do %><%= t 'views.utilities.menu.faq' %><% end %></span>
	<%= render partial:'utilities/language/language_switcher', locals: {switcher_type: 'up'}%>
</div>	