<%= stylesheet_link_tag  "tabcontent/tabcontent" %>
<%= javascript_include_tag "tabcontent/tabcontent.js" %>
	<div style="width: 100%;">
		<ul class="tabs">
			<li><a href="#view1">Select a Field</a></li>
			<li id="selection-li2"><a href="#view2" id="selection2">A New Field</a></li>
			<li id="selection-li3"><a href="#view3" id="selection3">Animation</a></li>
			<li id="selection-li4"><a href="#view4" id="selection4">Gaming</a></li>
			<li id="selection-li5"><a href="#view5" id="selection5">Theater</a></li>
			<li id="selection-li6"><a href="#view6" id="selection6">Movies</a></li>
			<li id="selection-li7"><a href="#view7" id="selection7">Comedy</a></li>
			<li id="selection-li8"><a href="#view8" id="selection8">Documentary</a></li>
			<li id="selection-li9"><a href="#view9" id="selection9">Instructional</a></li>
			<li id="selection-li10"><a href="#view10" id="selection10">Talks</a></li>
			<li id="selection-li11"><a href="#view11" id="selection11">Other</a></li>
		</ul>
		<div class="tabcontents">
			<div id="view1">
				<b>Select a Field</b>
				<p>Please select a field for your discussion...</p>
			</div>
			<div id="view2">
				<b>A New Field</b>
				<p>The future is here...</P>            
			</div>
			<div id="view3">
				<b>Animation</b>
				<p><%= wikipedia("Animation")%></p>
			</div>
			<div id="view4">
				<b>Gaming</b>
				<p><%= wikipedia("Video game")%></p>
			</div>			
			<div id="view5">
				<b>Theater</b>
				<p><%= wikipedia("Theatre")%></p>				
			</div>	
			<div id="view6">
				<b>Movies</b>
				<p><%= wikipedia("Film")%></p>				
			</div>		
			<div id="view7">
				<b>Comedy</b>
				<p><%= wikipedia("Comedy")%></p>				
			</div>		
			<div id="view8">
				<b>Documentary</b>
				<p><%= wikipedia("Documentary film")%></p>				
			</div>			
			<div id="view9">
				<b>Instructional</b>
				<p>Videos that serve an educational purpose.</p>				
			</div>		
			<div id="view10">
				<b>Talks</b>
				<p><%= wikipedia("Speech")%></p>				
			</div>	
			<div id="view11">
				<b>Other</b>
				<p>Other fields...</p>						
			</div>																				
		</div>
	</div>


	<!-- The tab that is selected -->
	<% case @discussion.sub_realm %>
	<% when "A New Field"%>
		<script>
			$(document).ready(function(){
				$("#selection-li2").addClass("selected");
			});
		</script>	
	<% when "Animation"%>
		<script>
			$(document).ready(function(){
				$("#selection-li3").addClass("selected");
			});
		</script>		
	<% when "Gaming"%>
		<script>
			$(document).ready(function(){
				$("#selection-li4").addClass("selected");
			});
		</script>		
	<% when "Theater"%>
		<script>
			$(document).ready(function(){
				$("#selection-li5").addClass("selected");
			});
		</script>		
	<% when "Movies"%>
		<script>
			$(document).ready(function(){
				$("#selection-li6").addClass("selected");
			});
		</script>		
	<% when "Comedy"%>
		<script>
			$(document).ready(function(){
				$("#selection-li7").addClass("selected");
			});
		</script>		
	<% when "Documentary"%>
		<script>
			$(document).ready(function(){
				$("#selection-li8").addClass("selected");
			});
		</script>		
	<% when "Instructional" %>
		<script>
			$(document).ready(function(){
				$("#selection-li9").addClass("selected");
			});
		</script>		
	<% when "Talks"%>
		<script>
			$(document).ready(function(){
				$("#selection-li10").addClass("selected");
			});
		</script>		
	<% when "Other"%>
		<script>
			$(document).ready(function(){
				$("#selection-li11").addClass("selected");
			});
		</script>		
	<% end %>

	<script>
	//Controls the feeding of the tabs
		$("#selection2").click(function(){
			$("#discussion-subrealm").val("A New Field");
		});
		$("#selection3").click(function(){
			$("#discussion-subrealm").val("Animation");
		});
		$("#selection4").click(function(){
			$("#discussion-subrealm").val("Gaming");
		});
		$("#selection5").click(function(){
			$("#discussion-subrealm").val("Theater");
		});
		$("#selection6").click(function(){
			$("#discussion-subrealm").val("Movies");
		});
		$("#selection7").click(function(){
			$("#discussion-subrealm").val("Comedy");
		});
		$("#selection8").click(function(){
			$("#discussion-subrealm").val("Documentary");
		});
		$("#selection9").click(function(){
			$("#discussion-subrealm").val("Instructional");
		});
		$("#selection10").click(function(){
			$("#discussion-subrealm").val("Talks");
		});
		$("#selection11").click(function(){
			$("#discussion-subrealm").val("Other");
		});																									
	</script>