<%= stylesheet_link_tag  "tabcontent/tabcontent" %>
<%= javascript_include_tag "tabcontent/tabcontent.js" %>
	<div style="width: 100%;">
		<ul class="tabs">
			<li><a href="#view1">Select a Field</a></li>
			<li id="selection-li2"><a href="#view2" id="selection2">A New Field</a></li>
			<li id="selection-li3"><a href="#view3" id="selection3">Applied Physics</a></li>
			<li id="selection-li4"><a href="#view4" id="selection4">Biomolecular</a></li>
			<li id="selection-li5"><a href="#view5" id="selection5">Chemical</a></li>
			<li id="selection-li6"><a href="#view6" id="selection6">Civil</a></li>
			<li id="selection-li7"><a href="#view7" id="selection7">Computer</a></li>
			<li id="selection-li8"><a href="#view8" id="selection8">Construction</a></li>
			<li id="selection-li9"><a href="#view9" id="selection9">Electrical</a></li>
			<li id="selection-li10"><a href="#view10" id="selection10">Mechanical</a></li>
			<li id="selection-li11"><a href="#view11" id="selection11">Sustainable</a></li>
			<li id="selection-li12"><a href="#view12" id="selection12">Other</a></li>
		</ul>
		<div class="tabcontents">
			<div id="view1">
				<b>Select a Field</b>
				<p>Please select a field for your discussion...</p>
			</div>
			<div id="view2">
				<b>A New Field</b>
				<p>The future is here...</P>            
			</div>
			<div id="view3">
				<b>Applied Physics</b>
				<p><%= wikipedia("Applied Physics")%></p>
			</div>
			<div id="view4">
				<b>Biomolecular</b>
				<p><%= wikipedia("Biomolecular engineering")%></p>
			</div>			
			<div id="view5">
				<b>Chemical</b>
				<p><%= wikipedia("Chemical engineering")%></p>				
			</div>	
			<div id="view6">
				<b>Civil</b>
				<p><%= wikipedia("Civil engineering")%></p>				
			</div>		
			<div id="view7">
				<b>Computer</b>
				<p><%= wikipedia("Computer engineering")%></p>				
			</div>		
			<div id="view8">
				<b>Construction</b>
				<p><%= wikipedia("Construction")%></p>				
			</div>			
			<div id="view9">
				<b>Electrical</b>
				<p><%= wikipedia("Electrical engineering")%></p>				
			</div>		
			<div id="view10">
				<b>Mechanical</b>
				<p><%= wikipedia("Mechanical engineering")%></p>				
			</div>	
			<div id="view11">
				<b>Sustainable</b>
				<p><%= wikipedia("Sustainable engineering")%></p>				
			</div>	
			<div id="view12">
				<b>Other</b>
				<p>Other fields...</p>					
			</div>																				
		</div>
	</div>


	<!-- The tab that is selected -->
	<% case @discussion.sub_realm %>
	<% when "A New Field"%>
		<script>
			$(document).ready(function(){
				$("#selection-li2").addClass("selected");
			});
		</script>	
	<% when "Applied Physics"%>
		<script>
			$(document).ready(function(){
				$("#selection-li3").addClass("selected");
			});
		</script>		
	<% when "Biomolecular"%>
		<script>
			$(document).ready(function(){
				$("#selection-li4").addClass("selected");
			});
		</script>		
	<% when "Chemical"%>
		<script>
			$(document).ready(function(){
				$("#selection-li5").addClass("selected");
			});
		</script>		
	<% when "Civil"%>
		<script>
			$(document).ready(function(){
				$("#selection-li6").addClass("selected");
			});
		</script>		
	<% when "Computer"%>
		<script>
			$(document).ready(function(){
				$("#selection-li7").addClass("selected");
			});
		</script>		
	<% when "Construction"%>
		<script>
			$(document).ready(function(){
				$("#selection-li8").addClass("selected");
			});
		</script>		
	<% when "Electrical" %>
		<script>
			$(document).ready(function(){
				$("#selection-li9").addClass("selected");
			});
		</script>		
	<% when "Mechanical"%>
		<script>
			$(document).ready(function(){
				$("#selection-li10").addClass("selected");
			});
		</script>		
	<% when "Sustainable"%>
		<script>
			$(document).ready(function(){
				$("#selection-li11").addClass("selected");
			});
		</script>		
	<% when "Other"%>
		<script>
			$(document).ready(function(){
				$("#selection-li12").addClass("selected");
			});
		</script>	
	<% end %>

	<script>
	//Controls the feeding of the tabs
		$("#selection2").click(function(){
			$("#discussion-subrealm").val("A New Field");
		});
		$("#selection3").click(function(){
			$("#discussion-subrealm").val("Applied Physics");
		});
		$("#selection4").click(function(){
			$("#discussion-subrealm").val("Biomolecular");
		});
		$("#selection5").click(function(){
			$("#discussion-subrealm").val("Chemical");
		});
		$("#selection6").click(function(){
			$("#discussion-subrealm").val("Civil");
		});
		$("#selection7").click(function(){
			$("#discussion-subrealm").val("Computer");
		});
		$("#selection8").click(function(){
			$("#discussion-subrealm").val("Construction");
		});
		$("#selection9").click(function(){
			$("#discussion-subrealm").val("Electrical");
		});
		$("#selection10").click(function(){
			$("#discussion-subrealm").val("Mechanical");
		});
		$("#selection11").click(function(){
			$("#discussion-subrealm").val("Sustainable");
		});		
		$("#selection12").click(function(){
			$("#discussion-subrealm").val("Other");
		});																								
	</script>