<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide("Create a discussion") %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Additional Style ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<% content_for(:additional_background) do %>
<div class="discussion-background-image"></div>
<% end %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
      
	<!-- Main Content -->
	<div class="center" style="width: 790px;margin-top:60px;">
		<!-- Post Content -->
		


			<!-- Select a Field -->
			<div class="field-selection-holder">

				<h1>Customize the Discussion</h1>

				<% if @discussion.realm == "art" %>
					<%= render "discussions/subrealm_art" %>
				<% else %>
					<% if @discussion.realm == "music" %>
						<%= render "discussions/subrealm_music" %>
					<% else %>
						<% if @discussion.realm == "games" %>
							<%= render "discussions/subrealm_games" %>
						<% else %>
							<% if @discussion.realm == "writing" %>
								<%= render "discussions/subrealm_writing" %>
							<% else %>
								<% if @discussion.realm == "videos" %>
									<%= render "discussions/subrealm_videos" %>
								<% else %>
									<% if @discussion.realm == "math" %>
										<%= render "discussions/subrealm_math" %>
									<% else %>
										<% if @discussion.realm == "science"%>
											<%= render "discussions/subrealm_science"%>
										<% else %>
											<% if @discussion.realm == "humanity"%>
												<%= render "discussions/subrealm_humanity"%>
											<% else %>
												<% if @discussion.realm == "engineering"%>
													<%= render "discussions/subrealm_engineering"%>
												<% end %>
											<% end %>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						<% end %>				
					<% end %>
				<% end %>    

   				<div style="margin: 15px 15px 0 0; text-align:right;">
					<div class="btn-light btn-medium2 btn-medium-snow no_ajaxify enter" id="field-customization-submit">Next</div>
				</div>
			</div>	

		
	</div><!-- end .center-->	

<script>
    $(document).ready(function() {

	//Enter
	$("#field-customization-submit").click(function(){
		$("#discussion-form").submit();
	});			

});
</script>
	