<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, t('views.utilities.menu.explore')) %>
<!-- Sidebar -->
<% content_for :sidebar do %>
	<% if user_signed_in? %>
		<!-- Signed-in Users-->
		<%= render 'utilities/sidebar/sidebar_profile_signed_in_users'%>
	<% else %>
		<!-- Not signed-in Users-->	
    	<%= render 'utilities/sidebar/sidebar_profile_not_signed_in_users'%>
    <% end %>
<% end %>
<script type="text/javascript">
	$('#sidebar-followed-tags-holder, #sidebar-category-header').remove();
	$('.navigation').prepend("<%= j render(:partial => 'utilities/sidebar/categories') %>");
	//Starfield
	$( document ).ready(function() {
		$('#art-thumbnail').mouseenter(function() {
			$('#art-thumb').append(
				"<div id=\"art-starfield\"><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div></div>"	
			);
		});
		$('#art-thumbnail').mouseleave(function() {
			$('#art-starfield').remove();
		});
		$('#music-thumbnail').mouseenter(function() {
			$('#music-thumb').append(
				"<div id=\"music-starfield\"><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div></div>"	
			);
		});
		$('#music-thumbnail').mouseleave(function() {
			$('#music-starfield').remove();
		});
		$('#games-thumbnail').mouseenter(function() {
			$('#games-thumb').append(
				"<div id=\"games-starfield\"><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div></div>"	
			);
		});
		$('#games-thumbnail').mouseleave(function() {
			$('#games-starfield').remove();
		});	
		$('#writing-thumbnail').mouseenter(function() {
			$('#writing-thumb').append(
				"<div id=\"writing-starfield\"><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div></div>"	
			);
		});
		$('#writing-thumbnail').mouseleave(function() {
			$('#writing-starfield').remove();
		});	
		$('#videos-thumbnail').mouseenter(function() {
			$('#videos-thumb').append(
				"<div id=\"videos-starfield\"><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div></div>"	
			);
		});
		$('#videos-thumbnail').mouseleave(function() {
			$('#videos-starfield').remove();
		});									
	});
</script>
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<!-- Content Area -->
	<!-- Page header 
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title text-grey">
				<h2 class="text-thin" id="tag-follow-holder">
					<%= t 'views.utilities.menu.world_map' %>
				</h2>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group text-thin">
					<%= render 'explore/categories/header_buttons_right'%>
				</div>
			</div>
		</div>


	</div>-->
	<!-- /page header -->


	<!-- Content area -->
	<div class="content">

		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">		  			  			  
				<%= link_to art_category_path do %>
					<div class="thumbnail" id="art-thumbnail">
						<div class="thumb" id="art-thumb">
							<img src="/assets/default/categories/art_preview600.jpg" alt="">
						</div>

						<div class="caption">
							<h6 class="no-margin"><%= t 'views.utilities.menu.art' %></h6>
						</div>
					</div>
				<% end %>			
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<%= link_to music_category_path do %>
					<div class="thumbnail" id="music-thumbnail">
						<div class="thumb" id="music-thumb">
							<img src="/assets/default/categories/music_preview600.jpg" alt="">
						</div>

						<div class="caption">
							<h6 class="no-margin"><%= t 'views.utilities.menu.music' %></h6>
						</div>
					</div>
				<% end %>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<%= link_to games_category_path do %>
					<div class="thumbnail" id="games-thumbnail">
						<div class="thumb" id="games-thumb" >
							<img src="/assets/default/categories/games_preview600.jpg" alt="">
						</div>

						<div class="caption">
							<h6 class="no-margin"><%= t 'views.utilities.menu.games' %></h6>
						</div>
					</div>
				<% end %>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<%= link_to writing_category_path do %>			
					<div class="thumbnail" id="writing-thumbnail">
						<div class="thumb" id="writing-thumb">
							<img src="/assets/default/categories/writing_preview600.jpg" alt="">
						</div>

						<div class="caption">
							<h6 class="no-margin"><%= t 'views.utilities.menu.writing' %></h6>
						</div>
					</div>
				<% end %>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<%= link_to videos_category_path do %>					
					<div class="thumbnail" id="videos-thumbnail">
						<div class="thumb" id="videos-thumb">
							<img src="/assets/default/categories/videos_preview600.jpg" alt="">
						</div>

						<div class="caption">
							<h6 class="no-margin"><%= t 'views.utilities.menu.videos' %></h6>
						</div>
					</div>
				<% end %>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="thumbnail developing_categories">
					<div class="thumb">
						<img src="/assets/default/categories/math_preview600.jpg" alt="">
					</div>

					<div class="caption">
						<h6 class="no-margin"><%= t 'views.utilities.menu.math' %></h6>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="thumbnail developing_categories">
					<div class="thumb">
						<img src="/assets/default/categories/science_preview600.jpg" alt="">
					</div>

					<div class="caption">
						<h6 class="no-margin"><%= t 'views.utilities.menu.science' %></h6>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="thumbnail developing_categories">
					<div class="thumb">
						<img src="/assets/default/categories/humanity_preview600.jpg" alt="">
					</div>

					<div class="caption">
						<h6 class="no-margin"><%= t 'views.utilities.menu.humanity' %></h6>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="thumbnail developing_categories">
					<div class="thumb">
						<img src="/assets/default/categories/engineering_preview600.jpg" alt="">
					</div>

					<div class="caption">
						<h6 class="no-margin"><%= t 'views.utilities.menu.engineering' %></h6>
					</div>
				</div>
			</div>

		</div>

		<!-- /image grid -->
	</div>
	<!-- /content area -->

<script type="text/javascript">
    $('.developing_categories').block({message: null,overlayCSS: {
    	backgroundColor: '#fff',
    	opacity: 0.4,
    	cursor: 'not-allowed'
    },});	
</script>
	