<span class="dropdown pull-right mt-3">
	<a href="#" class="dropdown-toggle text-grey-200" data-toggle="dropdown">
		<i class="ti-angle-down" style="font-size:11px;"></i>
	</a>
	<ul class="dropdown-menu dropdown-menu-right bg-rainbow-600" style="z-index:1000;">
		<li>
			<%= link_to edit_user_studio_campaigns_path(campaign.user.id, campaign.id) do %>
				<i class="ti-pencil"></i><%= t 'views.utilities.editor.edit' %>
			<% end %>
		</li>
		<li>
			<%= link_to mark_as_completed_user_studio_campaigns_path(campaign.user.id, campaign.id), :data => { :confirm => t('views.campaign.are_you_sure_to_complete_project_1')+campaign.title+ t('views.campaign.are_you_sure_to_complete_project_2')}, method: :post do %>
				<i class="ti-check-box"></i><%= t 'views.utilities.editor.mark_as_completed' %>
			<% end %>
		</li>
		<li>
			<%= link_to abandon_user_studio_campaigns_path(campaign.user.id, campaign.id), :data => { :confirm => t('views.campaign.are_you_sure_to_complete_project_1')+campaign.title+ t('views.campaign.are_you_sure_to_abandon_project_2')}, method: :post do %>
				<i class="ti-trash"></i><%= t 'views.utilities.editor.abandon' %>
			<% end %>
		</li>
	</ul>
</span>