<div class="col-lg-3 col-sm-6">
	<div class="panel-reward panel">
		<% if reward.image.present? %>
			<div class="thumb  thumb-slide" id="about-profilephoto-holder" style="border-radius: 3px 3px 0 0;">
				<img src="<%= reward.image.url(:thumbnail480p)%>" class="about-profilephoto-holder" alt="">
			</div>
		<% else %>
			<!-- Show project image -->
			<div class="thumb  thumb-slide" id="reward-image-holder" style="border-radius: 3px 3px 0 0;">
				<img src="<%= reward.campaign.image.url(:thumbnail480p)%>" class="about-profilephoto-holder" alt="">
			</div>
		<% end %>
		<div class="panel-body">
			<%= link_to show_user_studio_rewards_path(reward.user.username,reward.id) do %>
				<h5 class="no-margin-top bg-rainbow-600 text-rainbow"><i class="huaxia huaxia-libao mr-5"></i> <%= reward.title %></h5>
			<% end %>
			<!-- Amount -->
			<h5 class="no-margin-top bg-rainbow-600 text-rainbow"><%= t 'views.utilities.menu.support' %> <%= currency_signs(reward.campaign.currency) %><%= reward.amount.to_i %></h5>
			<!-- Backers -->
			<% if reward.backers > 0 %>
				<!-- Show limited backers -->
				<p class="text-grey-200"><i class="ti-user"></i> <span ><%= reward.reward_receivers.count %>/<%= reward.backers %> <%= t 'views.utilities.menu.backers' %></span></p>
			<% else %>
				<!-- Show backer when there is more than 0 backer -->
				<% if reward.reward_receivers.count > 0 %>
					<p class="text-grey-200"><i class="ti-user"></i> <span ><%= reward.reward_receivers.count %>
				<% end %>
			<% end %>
			<div class="text-grey mb-20"><%= reward.description %></div>
			<div class="row">
				<div class="col-md-6">
					<div class="text-grey-200"><%= t 'views.utilities.menu.estimated_delivery' %>:</div>
					<div><%= reward.estimated_delivery.strftime('%Y/%m/%d') %></div>
				</div>
				<div class="col-md-6">
					<div class="text-grey-200"><%= t 'views.utilities.menu.ships_to' %>:</div>
					<div><%= t shipping(reward.shipping) %></div>
				</div>
			</div>
		</div>	
	</div>
</div>