<!-- Update Holder-->
<div id="<%= activity.trackable.id %>_update_holder">
	<!-- Post Holder -->
	<div class="col-xs-12 col-md-12 col-offset-64">
	<!-- User Image -->
	<div class="col-fixed-64">
		<%= link_to profile_url_path(activity.trackable.user) do %>
			<img src="<%= activity.trackable.user.profilephoto.url(:small64) %>" class="profile-thumb-panel usercard <%= @popoverclass %>" data-content='<i class="icon-spinner2 spinner text-grey"></i>' data-id="<%= activity.trackable.user.uid %>" data-placement="right">
		<% end %>
	</div>			
		<!-- Post Panel -->
		<div class="panel panel-speech">
			<!-- Post User -->
			<div class="panel-user text-bold text-size-small"><%= link_to activity.trackable.user.firstname, profile_url_path(activity.trackable.user),class:"text-grey-800" %>
				<!-- More -->
				<% if current_user == @user || current_user.try(:admin) %>
					<span class="dropdown pull-right mr-20">
						<a href="#" class="dropdown-toggle text-grey-200" data-toggle="dropdown">
							<i class="fa fa-chevron-down" style="font-size:11px;">
							</i>
						</a>
						<ul class="dropdown-menu dropdown-menu-right bg-blue" style="z-index:1000;">
							<!-- Edit -->
							<li><a href="#"><i class="ti-pencil"></i> Edit</a></li>
							<!-- Admin -->
							<% if current_user.try(:admin) %>
								<li class="dropdown-submenu" >
									<a href="#"><i class="ti-crown"></i> Admin</a>
									<ul class="dropdown-menu bg-blue">
										<li><a href="#">Third level link</a></li>
										<li><a href="#">Third level link</a></li>
										<li><a href="#">Third level link</a></li>
									</ul>
								</li>
							<% end %><!-- end if current_user.admin?-->
							<!-- Delete -->
							<li><%= link_to content_majorpost_path(activity.trackable), method: :delete,:remote => true do %><i class="ti-trash"></i> Delete<% end %></li>
						</ul>
					</span>	
				<% end %><!-- end if current_user == @user || current_user.admin? -->			
			</div>		
			<!-- Video Post -->
			<% if activity.trackable.post_type == 'video' then %>
				<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>
					<!-- External Video-->
					<% if activity.trackable.video.youtube_vimeo == true %>
						<!-- Youtube Video -->
						<iframe src="https://www.youtube.com/embed/<%= activity.trackable.video.external %>" frameborder="0" allowfullscreen width="100%" height='auto'></iframe>
					<% else %>
						<!-- Vimeo Video -->
						<iframe src="//player.vimeo.com/video/<%= activity.trackable.video.external %>" frameborder="0" allowfullscreen width="100%" height='auto'></iframe>
					<% end %>
				<% else %>
					<!-- Internal Video -->
					<video id="<%= activity.trackable.id %>_internal_video" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered video-js-activity <%= @popoverclass %>_video_class" controls
				 		preload="auto" width="auto" height="auto" poster="<%= activity.trackable.video.thumbnail(:preview800) %>"
				 		data-setup='{}'>
				  		<source src="<%= activity.trackable.video.output_url_mp4 %>" type='video/mp4'>
				  		<source src="<%= activity.trackable.video.output_url %>" type='video/webm'>
				  		<p class="vjs-no-js">
				    		To view this video please enable JavaScript, and consider upgrading to a web browser
				    		that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
				  		</p>
					</video>	
					<!-- Reload the video upon ajax load -->
				<% end %>
			<% end %><!-- end video post -->
			<!-- Image Post -->
			<% if activity.trackable.post_type == 'image' then %>
				<div class="imagePost">
					<div class="photoset-grid-lightbox" data-layout="123" style="visibility: hidden;">
					  	<% activity.trackable.artwork.each do |artwork| %>
					  		<img src="<%= artwork.image.url(:preview800) %>" data-highres="<%= artwork.image.url(:original) %>">
					  	<% end %>
					</div>				
				</div>			
			<% end %><!-- end image post -->
			<!-- Link Post -->
			<% if activity.trackable.post_type == 'link' then %>
				<div class="linkPost">
					<%= link_to activity.trackable.link, target:"_blank" do %>
						<div class="photoset-grid-lightbox" data-layout="123" style="visibility: hidden;">
							<!-- Link Image -->
							<img src="<%= activity.trackable.artwork.image.url(:preview800) %>" data-highres="<%= activity.trackable.artwork.image.url(:original) %>">
							<!-- Link Title -->
							<div class="bg-grey-800" style="margin-top:-20px;">
								<div class="panel-body">
									<h2 class="text-light"><%= activity.trackable.title %></h2>
									<div class="text-light" style="margin-top:-10px;color:#cccccc;"><%= activity.trackable.link_description %></div>
								</div>	
							</div>	
						</div>
					<% end %><!-- end link to external link -->
				</div>	
			<% end %><!-- end link post -->
			<!-- Content -->
			<div class="panel-body">
				<!-- Title for Text Post Only  -->
				<% if activity.trackable.post_type == 'text' then %>
					<div class="panel-title text-light" style="font-size:25px;margin:-20px 0 10px 0;"><%= activity.trackable.title %></div>
				<% end %>
				<!-- Content -->	
				<div class="panel-content text-light">
					<%= sanitize activity.trackable.content, tags: %w(strong em a p h2), attributes: %w(href) %>
				</div><!-- end .panel-content-->	
				<!-- Tags -->
				<% if activity.trackable.tags.any? %>
					<div class="mt-10 text-thin"><%= raw activity.trackable.tag_list.map { |t| link_to '#'+t, tag_path(t), class:"text-grey-200" }.join('  ') %></div>	
				<% end %>			
			</div><!-- end .panel-body -->
			<!-- Tools -->
			<div class="panel-footer panel-footer-transparent" style="padding:0 20px 15px 0;font-size:20px;">
				<!-- Share -->
				<div class="pull-right">
					<span class="dropup">
						<a href="#" class="dropdown-toggle text-grey-300" data-toggle="dropdown">
							<i class="ti-share mr-10" data-popup="tooltip" title="Share" data-placement="bottom" style="font-size:20px;">
							</i>
						</a>
						<ul class="dropdown-menu dropdown-menu-right bg-blue" style="z-index:1000;">
							<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
							<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
							<li class="dropdown-submenu" >
								<a href="#"><i class="ti-more"></i> More</a>
								<ul class="dropdown-menu bg-blue">
									<li><a href="#"><i class="fa fa-tumblr"></i> Tumblr</a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
									<li><a href="#"> <i class="fa fa-google-plus"></i> Goolge+</a></li>
									<li><a href="#"> <i class="fa fa-reddit"></i> Reddit</a></li>
								</ul>
							</li>						
							<li><a href="#"><i class="ti-link"></i> Link</a></li>
						</ul>
					</span>				
					<!-- Repost -->
					<i class="ti-loop mr-10" data-popup="tooltip" title="Repost" data-placement="bottom"></i>
					<!-- Like -->
					<i class="ti-heart" style="font-size:20px;" data-popup="tooltip" title="Like" data-placement="bottom"></i>
				</div>	
			</div>			
		</div><!-- end .panel -->	
	</div><!-- end .col-xs-10 col-md-7-->	
</div><!-- end #update_holder-->	