<!-- Script to show Edit button 
<script>
	$(document).ready(function() {
	$('#<%= activity.id %>activity').hover(function() {
  		$("#<%= activity.id %>").toggle();
	});
	});
</script>-->
<!-- Check if Early Access is on -->

<script>
	$(document).ready(function() {
		height = $('#<%= activity.id %>activity').height();
		if (height < 256) {
			height = height*0.8;
		} else {
			height = 256;
		}
		
		$('#<%= activity.id %>background').height(height);
		$('#<%= activity.id %>background').width(height);
		$('#<%= activity.id %>background-wrapper').css( { "margin-right" : height+10, "margin-top" : -height} );
	});
</script>

<% if activity.trackable.early_access == false %>
	<div class="lightbox" id="<%= activity.id %>activity">
<% else %>
	<div class="lightbox-early-access" id="<%= activity.id %>activity">
<% end %>	

<div class="create-content-wrapper">	
		<!-- Delete
		<div class="toolbox4">
		</div>-->
	<div class="textbox3">
		<!-- user icon holder-->
		<%= link_to activity.trackable.user, class:"no_ajaxify" do %>
			<div class="majorpost-usericon" style="background-image:url(<%= activity.trackable.user.profilephoto.url(:small64) %>);"></div>
		<% end %>
		<% if activity.trackable %>
<!-- Majorpost Title for Majorpost User -->
<% if activity.trackable.user == current_user %>
	<!-- published -->
	<% if activity.trackable.published == true %>
		<div class="majorpost-title">
		<li><%= link_to activity.trackable.title, user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable), class:"no_ajaxify" %></li> at project 
			<%= link_to activity.trackable.project.title, user_project_path(activity.trackable.project.creator, activity.trackable.project), class:"no_ajaxify" %>
		</div>
	<% else %>
	<!-- not published -->
		<div class="majorpost-title">
		<li><%= link_to activity.trackable.title, edit_user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable), class:"no_ajaxify" %></li> <span>(Draft)</span> at project 
			<%= link_to activity.trackable.project.title, user_project_path(activity.trackable.project.creator, activity.trackable.project), class:"no_ajaxify" %>
		</div>		
	<% end %>
<% else %>				
<!-- Majorpost Title for Normal People -->
	<!-- published -->		
	<% if activity.trackable.published == true %>
		<% if activity.trackable.early_access == false %>
			<!-- When Early Access is Off -->
			<div class="majorpost-title">
				<li><%= link_to activity.trackable.title, user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable), class:"no_ajaxify" %></li> at project 
				<%= link_to activity.trackable.project.title, user_project_path(activity.trackable.project.creator, activity.trackable.project), class:"no_ajaxify" %>
			</div>
		<% else %>
			<!-- When Early Access is On -->
			<% if early_access?(activity.trackable.id)%>
				<!-- For People Who Have Early Access -->
				<div class="majorpost-title">
					<li><%= link_to activity.trackable.title, user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable), class:"no_ajaxify" %></li> at project 
					<%= link_to activity.trackable.project.title, user_project_path(activity.trackable.project.creator, activity.trackable.project), class:"no_ajaxify" %>
				</div>				
			<% else %>	
				<div class="majorpost-title">
					<li style="color:#2297ce;"><%= activity.trackable.title %></li> at project 
						<%= link_to activity.trackable.project.title, user_project_path(activity.trackable.project.creator, activity.trackable.project), class:"no_ajaxify" %>
				</div>	
			<% end %>
		<% end %><!-- end if activity.trackable.early_access == false -->
	<% else %>
	<!-- not published -->
		<div class="majorpost-title">
		<li><%= activity.trackable.title %></li> <span>(Draft)</span> at project 
			<%= link_to activity.trackable.project.title, user_project_path(activity.trackable.project.creator, activity.trackable.project), class:"no_ajaxify" %>
		</div>	
	<% end %>
<% end %>
<!-- end of majorpost title -->
		<div id="majorpost-comments" class="tipsy-tipsy" title="Comments">
			<%= activity.trackable.comments.count %>
		</div>
	
		<!-- Date -->
		<% if activity.trackable.early_access == false %>
			<!-- When Early Access is Off -->
			<div id="majorpost-time">
				Posted by <%= link_to activity.trackable.user.fullname,user_path(activity.trackable.user),class:"no_ajaxify" %>, <%= time_ago_in_words(activity.trackable.created_at) %> ago. <% if activity.trackable.comments.count >0 then%>Commented by <%= link_to activity.trackable.comments.last.user.fullname,user_path(activity.trackable.comments.last.user),class:"no_ajaxify" %>, <%= time_ago_in_words(activity.trackable.commented_at)%> ago.<% end %>
			</div>
		<% else %>
			<!-- When Early Access is On -->
			<div id="majorpost-time-early-access">
				Posted by <%= link_to activity.trackable.user.fullname,user_path(activity.trackable.user),class:"no_ajaxify" %>. Releases in <%= distance_of_time_in_words(Time.now,activity.trackable.published_at+6.days,include_seconds: false) %>. <% if subscription_status_universial(activity.trackable.user) == true then %><%= early_access(activity.trackable.id) %><% end %>
			</div>			
		<% end %><!-- end if activity.trackable.earlly_access == false-->	

		<!-- When It is not a draft -->
		<% if activity.trackable.published == true %>
		<div id="majorpost-excerpt">
			<!-- When there are artwork and video -->
			<% if activity.trackable.video != nil || activity.trackable.artwork != nil || activity.trackable.audio != nil || activity.trackable.pdf != nil %>
				<!-- With Video but without artwork, without audio -->
				<% if activity.trackable.video != nil && activity.trackable.artwork == nil && activity.trackable.audio == nil %>
					<!-- video holder-->
					<div class="majorpost-video-one">
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
							<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>
								<% if activity.trackable.video.youtube_vimeo == true %>
									<!-- Youtube Thumbnail -->
									<div class="majorpost-video-small-holder" style="background-image:url(http://img.youtube.com/vi/<%= activity.trackable.video.external %>/mqdefault.jpg);">
								<% else %>
									<!-- Vimeo Thumbnail -->
									<div class="majorpost-video-small-holder" style="background-image:url(<%= vimeo_thumbnail(activity.trackable.video.external)%>)" id="<%= activity.trackable.video.external %>" >
								<% end %>
							<% else %>
								<!-- Internal Thumbnail-->
								<% if activity.trackable.video.encoded_state == "finished" %>
									<div class="majorpost-video-small-holder" style="background-image:url(<%= activity.trackable.video.thumbnail.url(:thumb)%>);">
								<% else %>
									<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">		
								<% end %>	
							<% end %>
								<div class="majorpost-video-small">
								</div>
							</div>	
						<% end %>
					</div><!-- end.majorpost-video-one -->	
					<!-- excerpt holder-->
					<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
						<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
					</div>
					<!-- Tags -->
					<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
						<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>	
				<% end %><!-- end of with video but without artwork, without audio -->
				<!-- With Artwork without Video -->
				<% if activity.trackable.video == nil && activity.trackable.artwork != nil && activity.trackable.audio == nil %>
					<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
						<div class="majorpost-postimages-one">
							<img src="<%= activity.trackable.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
						</div>
						<div class="majorpost-thumbnail-bar">Artwork</div>
					<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
						</div>
					<!-- Tags-->
					<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
						<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>
				<% end %>	
				<!-- With Artwork and with Video, without audio -->
				<% if activity.trackable.video != nil && activity.trackable.artwork != nil && activity.trackable.audio == nil %>				
					<div class="majorpost-video-one">
							<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
								<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>	
									<% if activity.trackable.video.youtube_vimeo == true %>
										<!-- Youtube Thumbnail-->
										<div class="majorpost-video-small-holder" style="background-image:url(http://img.youtube.com/vi/<%= activity.trackable.video.external %>/mqdefault.jpg);">
									<% else %>
										<!-- Vimeo Thumbnail-->
										<div class="majorpost-video-small-holder vimeo" style="background-image:url(<%= vimeo_thumbnail(activity.trackable.video.external)%>)" id="<%= activity.trackable.video.external %>" >
									<% end %>
								<% else %>
									<!-- Internal Thumbnail-->
									<% if activity.trackable.video.encoded_state == "finished" %>
										<div class="majorpost-video-small-holder" style="background-image:url(<%= activity.trackable.video.thumbnail.url(:thumb)%>);">
									<% else %>
										<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
									<% end %>
								<% end %>
										<div class="majorpost-video-small">
										</div>
									</div>
							<% end %>
					</div>
					<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
						<div class="majorpost-postimages-one" style="background-image:url(<%= activity.trackable.artwork.image.url(:thumbnail)%>);">
						</div>
						<div class="majorpost-thumbnail-bar2">Artwork</div>
					<% end %>
					<div class="majorpost-excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 180) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>						
				<% end %>
				<!-- without video, without artwork, with audio -->
				<% if activity.trackable.video == nil && activity.trackable.artwork == nil && activity.trackable.audio != nil %>
					<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
						<!-- External Audio -->
						<% if activity.trackable.audio.soundcloud != nil then %>
							<!-- Internal Thumbnail-->
							<div class="majorpost-postimages-one" style="background-image:url(<%= activity.trackable.audio.soundcloud_image %>);background-size:100%;">
								<div class="majorpost-video-small">
								</div>
							</div>	
							<div class="majorpost-thumbnail-bar-audio">Audio Track</div>						
						<% else %>
						<!-- Internal Audio-->
							<!-- Internal Thumbnail-->
							<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= activity.trackable.audio.default_image%>.jpg);">
								<div class="majorpost-video-small">
								</div>
							</div>	
							<div class="majorpost-thumbnail-bar-audio">Audio Track</div>						
						<% end %>
					<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
						</div>
					<!-- Tags-->
					<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
						<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>
				<% end %>
				<!-- with video, without artwork, with audio -->
				<% if activity.trackable.video != nil && activity.trackable.artwork == nil && activity.trackable.audio != nil %>				
					<div class="majorpost-video-one">
							<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
								<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>	
									<% if activity.trackable.video.youtube_vimeo == true %>
										<!-- Youtube Thumbnail-->
										<div class="majorpost-video-small-holder" style="background-image:url(http://img.youtube.com/vi/<%= activity.trackable.video.external %>/mqdefault.jpg);">
									<% else %>
										<!-- Vimeo Thumbnail-->
										<div class="majorpost-video-small-holder vimeo" style="background-image:url(<%= vimeo_thumbnail(activity.trackable.video.external)%>)" id="<%= activity.trackable.video.external %>" >
									<% end %>
								<% else %>
									<!-- Internal Thumbnail-->
									<% if activity.trackable.video.encoded_state == "finished" %>
										<div class="majorpost-video-small-holder" style="background-image:url(<%= activity.trackable.video.thumbnail.url(:thumb)%>);">
									<% else %>
										<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
									<% end %>
								<% end %>
										<div class="majorpost-video-small">
										</div>
									</div>
							<% end %>
					</div>
					<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
						<!-- External Audio -->
						<% if activity.trackable.audio.soundcloud != nil then %>
							<!-- Internal Thumbnail-->
							<div class="majorpost-postimages-one" style="background-image:url(<%= activity.trackable.audio.soundcloud_image %>);background-size:100%;">
								<div class="majorpost-video-small">
								</div>
							</div>	
							<div class="majorpost-thumbnail-bar-audio2">Audio Track</div>						
						<% else %>
						<!-- Internal Audio-->
							<!-- Internal Thumbnail-->
							<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= activity.trackable.audio.default_image%>.jpg);">
								<div class="majorpost-video-small">
								</div>
							</div>	
							<div class="majorpost-thumbnail-bar-audio2">Audio Track</div>						
						<% end %>
					<% end %>
					<div class="majorpost-excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 180) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>						
				<% end %>
				<!-- without video, with artwork, with audio -->															
				<% if activity.trackable.video == nil && activity.trackable.artwork != nil && activity.trackable.audio != nil %>				
					<div class="majorpost-video-one">
							<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
								<div class="majorpost-postimages-one">
									<img src="<%= activity.trackable.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
								</div>
								<div class="majorpost-thumbnail-bar">Artwork</div>
							<% end %>
					</div>
					<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
						<!-- External Audio -->
						<% if activity.trackable.audio.soundcloud != nil then %>
							<!-- Internal Thumbnail-->
							<div class="majorpost-postimages-one" style="background-image:url(<%= activity.trackable.audio.soundcloud_image %>);background-size:100%;">
								<div class="majorpost-video-small">
								</div>
							</div>	
							<div class="majorpost-thumbnail-bar-audio2">Audio Track</div>						
						<% else %>
						<!-- Internal Audio-->
							<!-- Internal Thumbnail-->
							<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= activity.trackable.audio.default_image%>.jpg);">
								<div class="majorpost-video-small">
								</div>
							</div>	
							<div class="majorpost-thumbnail-bar-audio2">Audio Track</div>						
						<% end %>
					<% end %>
					<div class="majorpost-excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 180) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>						
				<% end %>		
				<!-- with video, with artwork, with audio -->	
				<% if activity.trackable.video != nil && activity.trackable.artwork != nil && activity.trackable.audio != nil %>				
					<div class="majorpost-video-one">
							<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
								<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>	
									<% if activity.trackable.video.youtube_vimeo == true %>
										<!-- Youtube Thumbnail-->
										<div class="majorpost-video-small-holder" style="background-image:url(http://img.youtube.com/vi/<%= activity.trackable.video.external %>/mqdefault.jpg);">
									<% else %>
										<!-- Vimeo Thumbnail-->
										<div class="majorpost-video-small-holder vimeo" style="background-image:url(<%= vimeo_thumbnail(activity.trackable.video.external)%>)" id="<%= activity.trackable.video.external %>" >
									<% end %>
								<% else %>
									<!-- Internal Thumbnail-->
									<% if activity.trackable.video.encoded_state == "finished" %>
										<div class="majorpost-video-small-holder" style="background-image:url(<%= activity.trackable.video.thumbnail.url(:thumb)%>);">
									<% else %>
										<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
									<% end %>
								<% end %>
										<div class="majorpost-video-small">
										</div>
									</div>
							<% end %>
					</div>
					<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
						<div class="majorpost-postimages-one" style="background-image:url(<%= activity.trackable.artwork.image.url(:thumbnail)%>);">
						</div>
						<div class="majorpost-thumbnail-bar2">Artwork</div>
					<% end %>
					<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
						<!-- External Audio -->
						<% if activity.trackable.audio.soundcloud != nil then %>
							<!-- Internal Thumbnail-->
							<div class="majorpost-postimages-one" style="background-image:url(<%= activity.trackable.audio.soundcloud_image %>);background-size:100%;">
								<div class="majorpost-video-small">
								</div>
							</div>	
							<div class="majorpost-thumbnail-bar-audio3">Audio Track</div>						
						<% else %>
						<!-- Internal Audio-->
							<!-- Internal Thumbnail-->
							<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= activity.trackable.audio.default_image%>.jpg);">
								<div class="majorpost-video-small">
								</div>
							</div>	
							<div class="majorpost-thumbnail-bar-audio3">Audio Track</div>						
						<% end %>
					<% end %>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>						
				<% end %>
				<!-- With PDF -->
				<% if activity.trackable.video == nil && activity.trackable.artwork == nil && activity.trackable.audio == nil && activity.trackable.pdf != nil %>
					<div class="majorpost-video-one">
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
								<!-- Internal Thumbnail-->
								<div class="majorpost-postimages-one" style="background-image:url(<%= activity.trackable.pdf.pdf.url(:thumb)%>);background-size: 100%;">
			

								</div>	
								<div class="majorpost-thumbnail-bar-audio">PDF file</div>
						<% end %>
					</div><!-- end.majorpost-video-one -->	
					<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
						<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
					</div>
					<!-- Tags -->
					<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
						<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>							
				<% end %>										
			<% else %>
				<!-- If there are images-->
				<% if activity.trackable.postimages.count > 0 %>
					<!-- one postimage -->
					<% if activity.trackable.postimages.count == 1 %>
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.postimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>
					<% end %>
					<!-- three projectimages -->
					<% if activity.trackable.postimages.count == 3 || activity.trackable.postimages.count == 4 || activity.trackable.postimages.count == 5 %>
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.postimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.postimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.postimages[2].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>						
					<% end %>					
					<!-- six postimages -->
					<% if activity.trackable.postimages.count >= 6 %>
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.postimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.postimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.postimages[2].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.postimages[4].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project, activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.postimages[5].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>												
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>												
					<% end %>
				<% else %>
					<!-- Normal Post-->
					<div>
						<%= sanitize truncate(activity.trackable.excerpt, :length => 200) %>
					</div>
					<!-- Tags-->
					<div id="majorpost-tags">
					<% if activity.trackable.tags.any? %>
						<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>	
				<% end %>
			<% end %><!-- end of when there are artwork and video -->
		</div><!-- end:#majorpost-excerpt -->
		<% end %><!-- end when it is not a draft-->
		<% else %>
		 The post was removed.
		<% end %>
	</div>
</div><!-- create-content-wrapper-->
	<!-- Background Water -->
	<div style="float:right;" id="<%= activity.id %>background-wrapper">
		<div class="create-background-water" id="<%= activity.id %>background" style="background-image:url(<%= project_realm_bg(activity.trackable.project.realm)%>);">
		</div>
	</div>		

</div>