<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, sanitize(@user.preferred_name)) %>
<!-- Page Specific JS -->
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="panel panel-blue bg-white-transparent">
			<div class="panel-body" id="transactions-panel-body">
				<!-- Reward -->
				<div class="row p-20">
					<div class="col-md-4">
						<div id="active-campaign-reward">
							<% if @reward.image.present? %>
								<div class="thumb thumb-slide" id="about-profilephoto-holder">
									<%= link_to upload_image_edit_user_studio_rewards_path(@user.id), remote: true do %>
										<div class="medium-editor-toolbar-remove mr-5 mt-5">
											<span class="ti-pencil-alt"></span>
										</div>
									<% end %>
									<img src="<%= @reward.image.url(:thumbnail480p)%>" class="about-profilephoto-holder" alt="">
								</div>
							<% else %>
								<!-- Show project image -->
								<div class="mt-20- ml-20-">
									<%= render partial:'profile/components/add_reward_image', locals: {user: @user, reward: @reward}%>
								</div>
							<% end %>
						</div>
					</div>
					<div class='col-md-8'>
						<!-- Edit btn -->
						<%= render partial: "studio/creator_studios/reward_edit", locals: {user: @user, reward: @reward} %>
						<!-- Title -->
						<h2 class="no-margin-top text-thin"><i class="huaxia huaxia-libao mr-5"></i> <%= @reward.title %></h2>
						<h5 class="no-margin-top text-thin text-grey-100"><%= @reward.amount.to_i %><span class="ml-5 mr-5 text-grey-100">x</span><img class="mr-5" src="/assets/icon/fruity/hazel_nut_thumbnail24.png" style="height:24px;"></h5>
						<div class='row'>
							<div class="col-md-8">
								<div class="text-thin pb-10"><%= @reward.description %></div>
							</div>
							<div class="col-md-4">
								<!-- Backers -->
								<div class="text-grey-200"><%= t 'views.utilities.menu.backers' %></div>
								<% if @reward.backers > 0 %>
									<div><i class="ti-user"></i> <span ><%= @reward.reward_receivers.count %>/<%= @reward.backers %></span></div>
								<% else %>
									<div><i class="ti-user"></i> <span ><%= @reward.reward_receivers.count %></span></div>
								<% end %>
								<!-- Estimated delivery -->
								<div class="text-grey-200"><%= t 'views.utilities.menu.estimated_delivery' %></div>
								<div><%= @reward.estimated_delivery.strftime('%Y/%m/%d') %></div>
							</div>
						</div>
					</div>
				</div>
				<!-- Make Active -->
				<% unless @user.active_reward %>
					<% if @reward.active == nil %>
						<%= render partial: "studio/rewards/make_active_hint", locals: {user: @user, reward: @reward} %>
					<% end %>
				<% end %>
				<!-- Please upload reward -->
				<% if @reward.shipping == 'no' %>
					<% if @reward.uploaded %>
						<%= render partial: "studio/rewards/download_hint", locals: {user: @user, reward: @reward} %>
					<% else %>
						<%= render partial: "studio/rewards/upload_hint", locals: {user: @user, reward: @reward} %>
					<% end %>
				<% end %>
				<!-- Paid Receiver -->
				<div class="row p-20" id="reward-receivers-holder">
					<%= render partial: "studio/wallets/receiver", locals: {user: @user, reward: @reward} %>
				</div>
			</div>
		</div>
	</div>
</div>