<% if I18n.locale == :zh %>
    <%= form_for [:admin, achievement], url: admin_achievements_path(achievement) do |f| %>
        <!-- Name -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.name' %></label>
            <%= f.text_field :name_zh, class:"no-resize input-sm form-control"%>
        </div>
        <!-- Description -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.description' %></label>
            <%= f.text_area :description_zh, class:"input-sm form-control"%>
        </div>
        <!-- Image -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.image' %></label>
            <%= f.text_field :image, class:"input-sm form-control"%>
        </div>
        <!-- Category -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.category' %></label>
            <%= f.text_field :category, class:"input-sm form-control"%>
        </div>   
        <!-- Sub Category -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.sub_category' %></label>
            <%= f.text_field :sub_category, class:"input-sm form-control"%>
        </div>          
        <!-- Achievement Point -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.achievement_points' %></label>
            <%= f.text_field :achievement_points, class:"input-sm form-control"%>
        </div>               
        <!-- Level -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.level' %></label>
            <%= f.text_field :level, class:"input-sm form-control"%>
        </div>
        <!-- Goal Amount -->
        <div class="form-group">
            <label><%= t 'views.creator_studio.campaigns.goal_amount' %></label>
            <%= f.text_field :count_goal, class:"input-sm form-control"%>
        </div>        
        <!-- Hidden -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.hidden' %></label>
            <%= f.text_field :hidden, class:"input-sm form-control"%>
        </div>        
        <!-- Upper achievement -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.belongs_to_achievement' %></label>
            <%= f.text_field :achievement_id, class:"input-sm form-control"%>
        </div>        
        <!-- Cancel -->
        <%= link_to admin_achievements_path do %>
            <div class="btn btn-sm bg-green"><%= t 'views.utilities.editor.cancel' %></div>
        <% end %>    
        <!-- Submit -->
        <%= f.submit t('views.utilities.editor.submit_btn'), class: "btn btn-sm bg-blue", id:"editor-submition" %>
    <% end %>
<% else %>
    <%= form_for [:admin, achievement], url: admin_achievements_path(achievement) do |f| %>
        <!-- Name -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.name' %></label>
            <%= f.text_field :name, class:"no-resize input-sm form-control"%>
        </div>
        <!-- Description -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.description' %></label>
            <%= f.text_area :description, class:"input-sm form-control"%>
        </div>
        <!-- Image -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.image' %></label>
            <%= f.text_field :image, class:"input-sm form-control"%>
        </div>
        <!-- Category -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.category' %></label>
            <%= f.text_field :category, class:"input-sm form-control"%>
        </div>   
        <!-- Sub Category -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.sub_category' %></label>
            <%= f.text_field :sub_category, class:"input-sm form-control"%>
        </div>          
        <!-- Achievement Point -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.achievement_points' %></label>
            <%= f.text_field :achievement_points, class:"input-sm form-control"%>
        </div>               
        <!-- Level -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.level' %></label>
            <%= f.text_field :level, class:"input-sm form-control"%>
        </div>
        <!-- Goal Amount -->
        <div class="form-group">
            <label><%= t 'views.creator_studio.campaigns.goal_amount' %></label>
            <%= f.text_field :count_goal, class:"input-sm form-control"%>
        </div>          
        <!-- Hidden -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.hidden' %></label>
            <%= f.text_field :hidden, class:"input-sm form-control"%>
        </div>        
        <!-- Upper achievement -->
        <div class="form-group">
            <label><%= t 'views.admin.achievements.belongs_to_achievement' %></label>
            <%= f.text_field :achievement_id, class:"input-sm form-control"%>
        </div>        
        <!-- Cancel -->
        <%= link_to admin_achievements_path do %>
            <div class="btn btn-sm bg-green"><%= t 'views.utilities.editor.cancel' %></div>
        <% end %>    
        <!-- Submit -->
        <%= f.submit t('views.utilities.editor.submit_btn'), class: "btn btn-sm bg-blue", id:"editor-submition" %>
    <% end %>
<% end %>