<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

<!-- Page Title -->
<% provide(:title, "Admin") %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<% content_for(:side_bar) do %>
<%= render 'layouts/sidebar_admin' %>
<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

<!-- Main Content -->
<div class="main-content">
	<div class="standard-content" >
		<div class="textbox">

			<h1>Content</h1>
			<h5>I know one thing, and that is that I know nothing.</h5>
			<!-- Cutter --><ol style="margin-top: -20px;"></ol>

		</div><!-- end of textbox-->						

		<!-- Feature Things -->
		<div class="lightbox2-bordered">
			<div class="textbox-mini">

				<h2>Add Featured Projects</h2>

				<%= form_tag 'post_staff_pick', class:"no_ajaxify" do %>
				<div><%= text_field_tag 'url', nil,type:"user-inspirer",placeholder:'Enter the url of a project or a majorpost'%></div>
				<%= submit_tag '', class: "btn-submit admin-submit no_ajaxify", style:"background-image:url(/assets/warcraft_staff_picks_add.jpg);" %>
				<% end %>

				<!-- Staffpicked Projects -->
				<%= render 'admin/staffpicks'%>

				<!-- Staffpicked Majorposts -->
				<%= render 'admin/staffpicks_majorposts'%>

			</div><!-- end.textbox-mini-->
		</div><!-- end.lightbox2-bordered-->		

		<!-- Delete Things -->
		<div class="lightbox2-bordered">
			<div class="textbox-mini">

				<h2>Delete Content</h2>

				<%= form_tag 'delete_content', class:"no_ajaxify" do %>
				<div><%= text_field_tag 'url', nil,type:"user-inspirer",placeholder:'Enter the url of a project, a majorpost, or a comment'%></div>
				<%= submit_tag '', class: "btn-submit admin-submit no_ajaxify", style:"background-image:url(/assets/warcraft_delete.jpg);" %>
				<% end %>

				<!-- Deleted Projects -->
				<%= render 'admin/deleted_projects'%>

				<!-- Deleted Majorposts -->
				<%= render 'admin/deleted_majorposts'%>			

				<!-- Deleted Comments -->
				<%= render 'admin/deleted_comment'%>

				<!-- Deleted Majorposts -->
				<%= render 'admin/deleted_project_comment'%>	

			</div><!-- end.textbox-mini-->
		</div><!-- end.lightbox2-bordered-->													


	</div><!-- Footer -->
	<%= render 'layouts/footer' %>

</div><!-- end of main-content-->