<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

<!-- Page Title -->
<% provide(:title, "Admin") %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<% content_for(:side_bar) do %>
<%= render 'layouts/sidebar_admin' %>
<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

<!-- Main Content -->
<div class="main-content">
	<div class="standard-content" >
		<div class="textbox">

			<h1>Tests</h1>
			<h5>This is your canvas.</h5>
			<!-- Cutter --><ol style="margin-top: -20px;"></ol>

			<!-- end of textbox-->
		</div>						

		<!-- Test Resque Jobs -->
		<div class="lightbox2-bordered">
			<div class="textbox-mini">

				<h2>Test Resque Jobs</h2>

				<div><%= link_to "Use this link to make all facebook connected users have facebook information", test_resque_path, class:"no_ajaxify"%></div>

			</div><!-- end.textbox-mini-->
		</div><!-- end.lightbox2-bordered-->			

		<!-- Add Tests -->
		<div class="lightbox2-bordered">
			<div class="textbox-mini">

				<h2>Add Test Projects or Majorposts</h2>

				<%= form_tag 'add_tests', class:"no_ajaxify" do %>
				<div><%= text_field_tag 'url', nil,type:"user-inspirer",placeholder:'Enter the url of a project or a majorpost'%></div>
				<%= submit_tag '', class: "btn-submit admin-submit no_ajaxify", style:"background-image:url(/assets/warcraft_add_tests.jpg);" %>
				<% end %>

				<!-- Test Projects -->
				<%= render 'admin/test_projects'%>		

				<!-- Test Majorposts -->
				<%= render 'admin/test_majorposts'%>																

			</div><!-- end.textbox-mini-->
		</div><!-- end.lightbox2-bordered-->												


	</div><!-- Footer -->
	<%= render 'layouts/footer' %>

</div><!-- end of main-content-->