<!-- Script to show Edit button 
<script>
	$(document).ready(function() {
	$('#<%= activity.id %>activity').hover(function() {
  		$("#<%= activity.id %>").toggle();
	});
	});
</script>-->

<script>
	$(document).ready(function() {
		height = $('#<%= activity.id %>activity').height();
		if (height < 256) {
			height = height*0.8;
		} else {
			height = 256;
		}
		
		$('#<%= activity.id %>background').height(height);
		$('#<%= activity.id %>background').width(height);
		$('#<%= activity.id %>background-wrapper').css( { "margin-right" : height+10, "margin-top" : -height} );
		
	});
</script>

<!-- If it is vimeo -->
<% if activity.trackable.video != nil then %>
	<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>
		<% if activity.trackable.video.youtube_vimeo == true %>
			<!-- Youtube Video -->
			<script>
				$(document).ready(function() {
					//Uploaded video click to play
					$("#<%= activity.id%>video-small").click(
						function () {
							$("#<%= activity.id%>holder").hide();
							$("#<%= activity.id%>video-expanded").show();
							callPlayer("<%= activity.id%>video","playVideo");
					});	
				});	
			</script>
		<% else %>
			<!-- Vimeo Video -->
			<script>
				$(document).ready(function() {
		 			var iframe = $('#<%= activity.id%>video')[0];
	    			var player = $f(iframe);

					//Uploaded video click to play
					$("#<%= activity.id%>video-small").click(
					function () {
						$("#<%= activity.id%>holder").hide();
						$("#<%= activity.id%>video-expanded").show();
						player.api("play");
					});				
				});	
			</script>
		<% end %>
	<% else %>
		<!-- Internal Video -->
			<script>
				$(document).ready(function() {
					//Uploaded video click to play
					$("#<%= activity.id%>video-small").click(
						function () {
							$("#<%= activity.id%>holder").hide();
							$("#<%= activity.id%>video-expanded").show();
							var myPlayer = videojs("#<%= activity.id%>video");
							myPlayer.play();
					});	
				});	
			</script>
	<% end %>	
<% end %>

<script>
	$(document).ready(function() {
	$('#<%= activity.id %>activity').hover(function() {
  		$("#<%= activity.id %>admin").toggle();
	});
	});
</script>

<div class="lightbox" id="<%= activity.id %>activity">

<div class="create-content-wrapper">	
		<!-- Delete
		<div class="toolbox4">
		</div>-->
	<div class="textbox3">

			<!-- Admin Actions -->
			<% if current_user != nil then %>
				<% if current_user.admin == true %>
					<div style="float:right;display:none;font-size:1.2em;color:#cccccc;" id="<%= activity.id %>admin">
						<% if activity.trackable.test == true then  %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname => "untest"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"List" do %><i class="fa fa-eye"></i><% end %>
						<% end %>
						<% if activity.trackable.test == false then %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname => "test"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Unlist" do %><i class="fa fa-eye-slash"></i><% end %>
						<% end %>
						<% if activity.featured == false then %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname => "featured"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Feature" do %><i class="fa fa-heart-o"></i><% end %>
						<% end %>
						<% if activity.featured_home == false then %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname =>"featuredhome"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Homepage" do %><i class="fa fa-heart"></i><% end %>
						<% end %>
						<% if activity.featured == true then %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id, :actionname =>"unfeature"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Unfeature" do %><i class="fa fa-ban"></i><% end %>
						<% end %>
						<% if activity.featured_home == true then %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id, :actionname =>"unfeaturehome"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Unfeature Home" do %><i class="fa fa-thumbs-o-down"></i><% end %>
						<% end %>							
						<% if activity.trackable.realm == nil then %>
							<div style="position:absolute;margin-top:30px;">
								<%= link_to "1", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "1"), class:"no_ajaxify tipsy-tipsy", title:"Art", style:"color:#ccc;"%>
								<%= link_to "2", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "2"), class:"no_ajaxify tipsy-tipsy", title:"Music", style:"color:#ccc;"%>
								<%= link_to "3", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "3"), class:"no_ajaxify tipsy-tipsy", title:"Games", style:"color:#ccc;"%>
								<%= link_to "4", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "4"), class:"no_ajaxify tipsy-tipsy", title:"Writing", style:"color:#ccc;"%>
								<%= link_to "5", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "5"), class:"no_ajaxify tipsy-tipsy", title:"Videos", style:"color:#ccc;"%>
								<%= link_to "6", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "6"), class:"no_ajaxify tipsy-tipsy", title:"Math", style:"color:#ccc;"%>
								<%= link_to "7", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "7"), class:"no_ajaxify tipsy-tipsy", title:"Science", style:"color:#ccc;"%>
								<%= link_to "8", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "8"), class:"no_ajaxify tipsy-tipsy", title:"Humanity", style:"color:#ccc;"%>
								<%= link_to "9", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "9"), class:"no_ajaxify tipsy-tipsy", title:"Engineering", style:"color:#ccc;"%>
							</div>
						<% end %>	
					</div>
				<% end %>
			<% end %>			

			<div id="majorpost-comments" class="tipsy-tipsy" title="Comments">
				<%= activity.trackable.project_comments.count %>
			</div>
			<div class="create-social-comments tipsy-tipsy" title="Comments"></div>	
			<div id="majorpost-comments" class="tipsy-tipsy" title="Recommenders">
				<%= activity.trackable.likers.count %>
			</div>				
			<%= link_to project_recommanders_path(activity.trackable.creator, activity.trackable), class:"no_ajaxify" do %>
				<div class="create-social-rec tipsy-tipsy" title="Recommenders"></div>
			<% end %>		
			<div id="majorpost-comments" class="tipsy-tipsy" title="Watchers">
				<%= activity.trackable.watchers.count %>
			</div>							
			<%= link_to project_watchers_path(activity.trackable.creator, activity.trackable), class:"no_ajaxify" do %>
				<div class="create-social-watch tipsy-tipsy" title="Watchers"></div>
			<% end %>	
		
		<!-- user icon holder-->
		<%= link_to activity.trackable.creator, class:"no_ajaxify" do %>
			<div class="majorpost-usericon" style="background-image:url(<%= activity.trackable.creator.profilephoto.url(:small64) %>);"></div>
		<% end %>		

		<!-- user give button -->
		<% if user_subscription_check(activity.trackable.creator) %>
			<% if user_signed_in? %>
				<% unless activity.trackable.creator == current_user %>
					<% unless activity.trackable.creator.subscribed_by?(current_user) %>
						<% unless current_user.subscribed_by?(activity.trackable.creator) %>
							<div class="give-button-holder">
								<%= render "shared/mini_sub", :subscribed_id => activity.trackable.creator.id, :activity_id => activity.id %>
							</div>
						<% end %>
					<% end %>
				<% end %>
			<% else %>
				<div class="give-button-holder">
					<%= render "shared/mini_sub", :subscribed_id => activity.trackable.creator.id, :activity_id => activity.id %>
				</div>				
			<% end %>
		<% end %>
		<% if activity.trackable %>

		<!-- Title -->
<!-- Project Title for Project User -->
<% if activity.trackable.creator == current_user %>
	<!-- published -->
	<% if activity.trackable.published == true %>
		<div class="majorpost-title">
		<li><%= link_to activity.trackable.title, user_project_path(activity.trackable.creator,activity.trackable), class:"no_ajaxify" %></li> posted <% if activity.trackable.realm != nil then %> in <%= link_to realm_selector_path(activity.trackable.realm),class:"no_ajaxify" do %><span class="realm-color"><%= project_realm(activity.trackable.realm)%></span><% end %><% end %>
		</div>
	<% else %>
	<!-- not published -->
		<div class="majorpost-title">
		<li><%= link_to activity.trackable.title, edit_user_project_path(activity.trackable.creator,activity.trackable), class:"no_ajaxify" %></li> <span>(Draft)</span> posted <% if activity.trackable.realm != nil then %> in <span class="realm-color"><%= project_realm(activity.trackable.realm)%></span><% else %>.<% end %>
		</div>	
	<% end %>	
<% else %>
<!-- Project title for normal people -->
	<!-- published -->
	<% if activity.trackable.published == true %>
		<div class="majorpost-title">
		<li><%= link_to activity.trackable.title, user_project_path(activity.trackable.creator,activity.trackable), class:"no_ajaxify" %></li> posted <% if activity.trackable.realm != nil then %> in <%= link_to realm_selector_path(activity.trackable.realm),class:"no_ajaxify" do %><span class="realm-color"><%= project_realm(activity.trackable.realm)%></span><% end %> <% else %>.<% end %>
		</div>	
	<% else %>
		<div class="majorpost-title">
		<li><%= activity.trackable.title %></li> <span>(Draft)</span> posted .
		</div>		
	<% end %>
<% end %>		
<!-- end of project title -->





		<div id="majorpost-comments">
		</div>
		<div id="majorpost-time">
			<%= rating_for activity.trackable, "content",:star => 5, :readonly => true %> (<%= activity.trackable.content_rates.count %>) Created by <%= link_to activity.trackable.creator.first_name,user_path(activity.trackable.creator),class:"no_ajaxify" %>, <%= time_ago_in_words(activity.trackable.created_at) %> ago. <% if activity.trackable.project_comments.count >0 then%>Reviewed by <%= link_to activity.trackable.project_comments.order('created_at DESC').first.user.first_name,user_path(activity.trackable.project_comments.order('created_at DESC').first.user),class:"no_ajaxify" %>, <%= time_ago_in_words(activity.trackable.commented_at)%> ago.<% end %>
		</div>
		<!-- When it is not a draft-->
		<% if activity.trackable.published == true %>
		<div id="majorpost-excerpt">
			<!-- When there are artwork and video -->
			<% if video_true_or_artwork_true(activity.trackable.id) %>
				<!-- With Video but without artwork, without audio -->
				<% if video_true_and_artwork_false(activity.trackable.id) %>
					<!-- Expanded Video -->
					<div id="<%= activity.id%>video-expanded" class="video-display-portable" style="display:none;">
						<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>
							<% if activity.trackable.video.youtube_vimeo == true %>
								<!-- Youtube Video -->
								<div id="<%= activity.id%>video">
									<iframe width="628" height="353" src="https://www.youtube.com/embed/<%= activity.trackable.video.external %>?enablejsapi=1" frameborder="0"></iframe>
								</div>
							<% else %>
								<!-- Vimeo Video -->
								<iframe width="628" height="353" src="//player.vimeo.com/video/<%= activity.trackable.video.external %>?api=1&player_id=<%= activity.id%>video" id="<%= activity.id%>video" frameborder="0"></iframe>
							<% end %>
						<% else %>
							<!-- Internal Video -->
							<%= videojs_rails sources: { webm: activity.trackable.video.output_url, mp4: activity.trackable.video.output_url_mp4 }, height:"353", width:"628", poster:activity.trackable.video.thumbnail(:original),id:"#{activity.id}video" %>
						<% end %>	
					</div>	
					<div id="<%= activity.id%>holder">				
						<!-- video holder-->
						<div class="majorpost-video-one" id="<%= activity.id%>majorpost-video-one">
							
								<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>
									<% if activity.trackable.video.youtube_vimeo == true %>
										<!-- Youtube Thumbnail -->
										<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(http://img.youtube.com/vi/<%= activity.trackable.video.external %>/mqdefault.jpg);">
									<% else %>
										<!-- Vimeo Thumbnail -->
										<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(<%= vimeo_thumbnail(activity.trackable.video.external)%>)" id="<%= activity.trackable.video.external %>" >
									<% end %>
								<% else %>
									<!-- Internal Thumbnail-->
									<% if activity.trackable.video.encoded_state == "finished" %>
										<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(<%= activity.trackable.video.thumbnail.url(:thumb)%>);">
									<% else %>
										<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">		
									<% end %>	
								<% end %>
									<div class="majorpost-video-small">
									</div>
								</div>	
							
						</div><!-- end.majorpost-video-one -->	
						<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
						</div>
					</div><!-- end#activity-holder-->	
					<!-- Tags -->
					<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
						<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>	
				<% end %><!-- end of with video but without artwork, without audio-->
				<!-- With Artwork without Video, without audio -->
				<% if video_false_and_artwork_true(activity.trackable.id) %>
					<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
						<div class="majorpost-postimages-one">
							<img src="<%= activity.trackable.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
						</div>
						<div class="majorpost-thumbnail-bar">Artwork</div>
					<% end %>	
						<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
						</div>
					<!-- Tags-->
					<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
						<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>
				<% end %>	
				<!-- With Artwork and with Video, without audio -->
				<% if video_true_and_artwork_true(activity.trackable.id) %>	
					<!-- Expanded Video -->
					<div id="<%= activity.id%>video-expanded" class="video-display-portable" style="display:none;">
						<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>
							<% if activity.trackable.video.youtube_vimeo == true %>
								<!-- Youtube Video -->
								<div id="<%= activity.id%>video">
									<iframe width="628" height="353" src="https://www.youtube.com/embed/<%= activity.trackable.video.external %>?enablejsapi=1" frameborder="0"></iframe>
								</div>
							<% else %>
								<!-- Vimeo Video -->
								<iframe width="628" height="353" src="//player.vimeo.com/video/<%= activity.trackable.video.external %>?api=1&player_id=<%= activity.id%>video" id="<%= activity.id%>video" frameborder="0"></iframe>
							<% end %>
						<% else %>
							<!-- Internal Video -->
							<%= videojs_rails sources: { webm: activity.trackable.video.output_url, mp4: activity.trackable.video.output_url_mp4 }, height:"353", width:"628", poster:activity.trackable.video.thumbnail(:original),id:"#{activity.id}video" %>
						<% end %>	
					</div>	
					<div id="<%= activity.id%>holder">								
						<div class="majorpost-video-one" id="<%= activity.id%>majorpost-video-one">
								
									<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>	
										<% if activity.trackable.video.youtube_vimeo == true %>
											<!-- Youtube Thumbnail-->
											<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(http://img.youtube.com/vi/<%= activity.trackable.video.external %>/mqdefault.jpg);">
										<% else %>
											<!-- Vimeo Thumbnail-->
											<div class="majorpost-video-small-holder vimeo" style="background-image:url(<%= vimeo_thumbnail(activity.trackable.video.external)%>)" id="<%= activity.trackable.video.external %>" >
										<% end %>
									<% else %>
										<!-- Internal Thumbnail-->
										<% if activity.trackable.video.encoded_state == "finished" %>
											<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(<%= activity.trackable.video.thumbnail.url(:thumb)%>);">
										<% else %>
											<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
										<% end %>
									<% end %>
											<div class="majorpost-video-small">
											</div>
										</div>
								
						</div>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
							</div>
							<div class="majorpost-thumbnail-bar2">Artwork</div>
						<% end %>
						<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
								<%= sanitize truncate(activity.trackable.excerpt, :length => 180) %>
						</div>
					</div><!-- end. activity holder-->	
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>						
				<% end %>	
				<!-- With Audio, wihtout video, without artwork -->	
				<% if video_false_and_artwork_false_and_audio_true(activity.trackable.id) %>	
					<div class="majorpost-video-one" id="<%= activity.id%>majorpost-video-one">
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
								<!-- Internal Thumbnail-->
								<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= activity.trackable.audio.default_image%>.jpg);">
									<div class="majorpost-video-small">
									</div>

								</div>	
								<div class="majorpost-thumbnail-bar-audio">Audio Track</div>
						<% end %>
					</div><!-- end.majorpost-video-one -->	
					<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
						<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
					</div>
					<!-- Tags -->
					<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
						<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>					
				<% end %>	
				<!-- With video, without artwork, with audio -->
				<% if video_true_and_artwork_false_and_audio_true(activity.trackable.id) %>		
					<!-- Expanded Video -->
					<div id="<%= activity.id%>video-expanded" class="video-display-portable" style="display:none;">
						<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>
							<% if activity.trackable.video.youtube_vimeo == true %>
								<!-- Youtube Video -->
								<div id="<%= activity.id%>video">
									<iframe width="628" height="353" src="https://www.youtube.com/embed/<%= activity.trackable.video.external %>?enablejsapi=1" frameborder="0"></iframe>
								</div>
							<% else %>
								<!-- Vimeo Video -->
								<iframe width="628" height="353" src="//player.vimeo.com/video/<%= activity.trackable.video.external %>?api=1&player_id=<%= activity.id%>video" id="<%= activity.id%>video" frameborder="0"></iframe>
							<% end %>
						<% else %>
							<!-- Internal Video -->
							<%= videojs_rails sources: { webm: activity.trackable.video.output_url, mp4: activity.trackable.video.output_url_mp4 }, height:"353", width:"628", poster:activity.trackable.video.thumbnail(:original),id:"#{activity.id}video" %>
						<% end %>	
					</div>	
					<div id="<%= activity.id%>holder">									
						<div class="majorpost-video-one" id="<%= activity.id%>majorpost-video-one">
								
									<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>	
										<% if activity.trackable.video.youtube_vimeo == true %>
											<!-- Youtube Thumbnail-->
											<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(http://img.youtube.com/vi/<%= activity.trackable.video.external %>/mqdefault.jpg);">
										<% else %>
											<!-- Vimeo Thumbnail-->
											<div class="majorpost-video-small-holder vimeo" style="background-image:url(<%= vimeo_thumbnail(activity.trackable.video.external)%>)" id="<%= activity.trackable.video.external %>" >
										<% end %>
									<% else %>
										<!-- Internal Thumbnail-->
										<% if activity.trackable.video.encoded_state == "finished" %>
											<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(<%= activity.trackable.video.thumbnail.url(:thumb)%>);">
										<% else %>
											<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
										<% end %>
									<% end %>
											<div class="majorpost-video-small">
											</div>
										</div>
								
						</div>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
									<!-- Internal Thumbnail-->
									<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= activity.trackable.audio.default_image%>.jpg);">
										<div class="majorpost-video-small">
										</div>
									</div>	
									<div class="majorpost-thumbnail-bar-audio2">Audio Track</div>
						<% end %>
						<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
								<%= sanitize truncate(activity.trackable.excerpt, :length => 180) %>
							</div>
					</div><!-- end #activity-holder-->		
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>						
				<% end %>					
				<!-- Without video, with artwork, with audio -->	
				<% if video_false_and_artwork_true_and_audio_true(activity.trackable.id) %>				
					<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
						<div class="majorpost-postimages-one">
							<img src="<%= activity.trackable.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
						</div>
						<div class="majorpost-thumbnail-bar">Artwork</div>
					<% end %>	
					<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
								<!-- Internal Thumbnail-->
								<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= activity.trackable.audio.default_image%>.jpg);">
									<div class="majorpost-video-small">
									</div>
								</div>	
								<div class="majorpost-thumbnail-bar-audio2">Audio Track</div>
					<% end %>
					<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 180) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>					
				<% end %>	
				<!-- With video, with artwork, with audio -->
				<% if video_true_and_artwork_true_and_audio_true(activity.trackable.id) %>		
					<!-- Expanded Video -->
					<div id="<%= activity.id%>video-expanded" class="video-display-portable" style="display:none;">
						<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>
							<% if activity.trackable.video.youtube_vimeo == true %>
								<!-- Youtube Video -->
								<div id="<%= activity.id%>video">
									<iframe width="628" height="353" src="https://www.youtube.com/embed/<%= activity.trackable.video.external %>?enablejsapi=1" frameborder="0"></iframe>
								</div>
							<% else %>
								<!-- Vimeo Video -->
								<iframe width="628" height="353" src="//player.vimeo.com/video/<%= activity.trackable.video.external %>?api=1&player_id=<%= activity.id%>video" id="<%= activity.id%>video" frameborder="0"></iframe>
							<% end %>
						<% else %>
							<!-- Internal Video -->
							<%= videojs_rails sources: { webm: activity.trackable.video.output_url, mp4: activity.trackable.video.output_url_mp4 }, height:"353", width:"628", poster:activity.trackable.video.thumbnail(:original),id:"#{activity.id}video" %>
						<% end %>	
					</div>	
					<div id="<%= activity.id%>holder">									
						<div class="majorpost-video-one" id="<%= activity.id%>majorpost-video-one">
								
									<% if activity.trackable.video.external != "" && activity.trackable.video.external != nil %>	
										<% if activity.trackable.video.youtube_vimeo == true %>
											<!-- Youtube Thumbnail-->
											<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(http://img.youtube.com/vi/<%= activity.trackable.video.external %>/mqdefault.jpg);">
										<% else %>
											<!-- Vimeo Thumbnail-->
											<div class="majorpost-video-small-holder vimeo" style="background-image:url(<%= vimeo_thumbnail(activity.trackable.video.external)%>)" id="<%= activity.trackable.video.external %>" >
										<% end %>
									<% else %>
										<!-- Internal Thumbnail-->
										<% if activity.trackable.video.encoded_state == "finished" %>
											<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(<%= activity.trackable.video.thumbnail.url(:thumb)%>);">
										<% else %>
											<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
										<% end %>
									<% end %>
											<div class="majorpost-video-small">
											</div>
										</div>
							
						</div>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
							</div>
							<div class="majorpost-thumbnail-bar2">Artwork</div>
						<% end %>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
									<!-- Internal Thumbnail-->
									<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= activity.trackable.audio.default_image%>.jpg);">
										<div class="majorpost-video-small">
										</div>
									</div>	
									<div class="majorpost-thumbnail-bar-audio3">Audio Track</div>
						<% end %>
					</div><!-- end#activity-holder-->	
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>					
				<% end %>
				<!-- With PDF -->
				<% if pdf_true(activity.trackable.id) %>
					<div class="majorpost-video-one" id="<%= activity.id%>majorpost-video-one">
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
								<!-- Internal Thumbnail-->
								<div class="majorpost-postimages-one" style="background-image:url(<%= activity.trackable.pdf.pdf.url(:thumb)%>);background-size: 100%;">
			

								</div>	
								<div class="majorpost-thumbnail-bar-audio">PDF file</div>
						<% end %>
					</div><!-- end.majorpost-video-one -->	
					<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
						<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
					</div>
					<!-- Tags -->
					<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
						<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>							
				<% end %>																
			<% else %>
				<!-- If there are images-->
				<% if activity.trackable.projectimages.count > 0 %>
					<!-- one projectimage -->
					<% if activity.trackable.projectimages.count == 1 %>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>
					<% end %>
					<!-- two projectimages three projectimages -->
					<% if activity.trackable.projectimages.count == 2 %>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 180) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>						
					<% end %>
					<!-- three projectimages -->
					<% if activity.trackable.projectimages.count == 3 || activity.trackable.projectimages.count == 4 || activity.trackable.projectimages.count == 5 %>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages[2].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>						
					<% end %>					
					<!-- six projectimages -->
					<% if activity.trackable.projectimages.count >= 6 %>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages[2].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages[3].thumbnail%>" style="border-radius:5px;">
							</div>	
						<% end %>	
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages[4].thumbnail%>" style="border-radius:5px;">
							</div>	
						<% end %>		
						<%= link_to user_project_path(activity.trackable.creator,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.projectimages[5].thumbnail%>" style="border-radius:5px;">
							</div>	
						<% end %>																		
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if activity.trackable.tags.any? %>
							<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>												
					<% end %>
				<% else %>
					<!-- Normal Post-->
					<div>
						<%= sanitize truncate(activity.trackable.excerpt, :length => 200) %>
					</div>
					<!-- Tags-->
					<div id="majorpost-tags">
					<% if activity.trackable.tags.any? %>
						<%= raw activity.trackable.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>	
				<% end %>
			<% end %><!-- end of when there are artwork and video -->
		</div><!-- end:#majorpost-excerpt -->
		<% end %><!-- end: when it is not a draft -->
		<% else %>
		Project removed.

		<% end %>
	</div>
</div><!-- create-content-wrapper-->	
	

	<!-- Background Water 
	<div style="float:right;" id="<%= activity.id %>background-wrapper">
		<div class="create-background-water" id="<%= activity.id %>background" style="background-image:url(<%= project_realm_bg(activity.trackable.realm)%>);">
		</div>
	</div>		
-->

</div>