<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, sanitize(@user.preferred_name)) %>
<!-- Sidebar -->
<% content_for :sidebar do %>
	<% if user_signed_in? %>
		<!-- Signed-in Users-->
		<%= render 'utilities/sidebar/sidebar_profile_signed_in_users'%>
	<% else %>
		<!-- Not signed-in Users-->	
    	<%= render 'utilities/sidebar/sidebar_profile_not_signed_in_users'%>
    <% end %>
<% end %>
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<!-- Cover area -->
<%= render partial:'profile/components/cover', locals: {user: @user} %>
<!-- Toolbar -->
<%= render partial:'profile/components/toolbar', locals: {user: @user}%>
	<!-- Content Area -->
	<div class="content" >
		<!-- Activities -->
		<div class="row pl-10 pr-10">
			<div id="video-pagination">
			</div>
			<%= render :partial => 'profile/components/tab_videos', collection: @videos, :as => :video %>
			<div class="video-pagination">
				<div id="video-pagination-old">
					<%= will_paginate(@videos) %>
				</div>
			</div>
		</div>
	</div>