<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.preferred_name) %>
<!-- Sidebar -->
<% content_for :sidebar do %>
    <%= render 'utilities/sidebar/sidebar_admin'%>
<% end %>
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<div class="content">
    <div class="row">
        <!-- .col -->
        <div class="col-md-4 pr-20 pl-20" id="aside">
            <div class="wrapper bg b-b">
              <h3 class="m-n font-thin"><%= t 'views.admin.culture.historical_quotes.historical_quote' %></h3>
            </div>
            <div class="wrapper" id="historical-quote-holder-outter">
                <div id="historical-quote-holder-inner">
                    <%= render partial:'admin/historical_quotes/form_historical_quotes', locals: {user: @user, historical_quote: @historical_quote}%>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <!-- .col -->
        <div class="col col-md-8">
            <div class="wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= t 'views.admin.culture.historical_quotes.historical_quotes' %>
                    </div>
                    <table id="historical_quotes" class="table datatable-basic responsive no-wrap" data-source="<%= index_admin_historical_quotes_path(format: "json") %>">
                        <thead>
                          <tr>
                            <th  style="width:10%"><%= t 'views.admin.culture.historical_quotes.id' %></th>
                            <th  style="width:35%"><%= t 'views.admin.culture.historical_quotes.quote' %></th>
                            <th  style="width:15%"><%= t 'views.admin.culture.historical_quotes.author' %></th>
                            <th  style="width:15%"><%= t 'views.admin.culture.historical_quotes.source' %></th>
                            <th  style="width:15%"><%= t 'views.admin.culture.historical_quotes.chapter' %></th>
                            <th  style="width:10%"><%= t 'views.utilities.editor.edit' %></th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div><!-- end.wrapper-->
        <!-- /.col -->            
        </div>
    </div>
</div>    
<script type="text/javascript">

    // Setting datatable defaults
    $.extend( $.fn.dataTable.defaults, {
        autoWidth: false,
        columnDefs: [{ 
            orderable: false,
            width: '100px',
            targets: [ 5 ]
        }],
        dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
        },
        drawCallback: function () {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
        },
        preDrawCallback: function() {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
        }
    });
    $('#historical_quotes').DataTable({
        responsive: true,
        sPaginationType: "full_numbers",
        "language": {
            "url": "/translation/dataTable/<%= I18n.locale %>.json"
        },
        bProcessing: true,
        bServerSide: true,
        sAjaxSource: $('#historical_quotes').data('source')
    });
    $(window).on('load page:load', function() { 
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: Infinity,
            width: 'auto'
        });    
    });
</script>