<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.fullname) %>
<!-- Include Videojs -->
<%= javascript_include_tag 'profile_user', 'data-turbolinks-track' => true  %>
<%= javascript_include_tag 'video.min', 'data-turbolinks-track' => true  %>
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
	<!-- Cover area -->
	<%= render partial:'profile/components/cover', locals: {user: @user} %>
	<!-- Toolbar -->
	<%= render partial:'profile/components/toolbar', locals: {user: @user}%>
	<!-- Content Area -->
	<div class="content">
		<!-- Pledge Area -->
		<div class="row" id="pledge-area">
			<!-- Title -->
			<h1 class="animated bounceIn mb-20 text-center text-300" style="font-size:2.3em;">Jane Smith is creating <span class="text-500">Concept Art for a Video Game</span></h1>		
			<!-- Video Area -->
			<div class="animated bounceInLeft col-xs-12 col-sm-6 col-md-8 pl-40">
				<!-- Current Project -->
				<%= render partial:'profile/components/current_project', locals: {user: @user}%>
			</div>
			<!-- Side Area -->
			<div class="animated bounceInRight col-xs-6 col-md-3 pl-40">
				<!-- Back the Creator -->
				<%= render partial:'profile/components/back_the_creator', locals: {user: @user}%>
				<!-- Project Meta -->		
				<%= render partial:'profile/components/project_meta', locals: {user: @user}%>
			</div>	
		</div><!-- end #updates_area-->	
		<!-- Updates -->
		<div class="row" id="updates-area">
			<!-- Feed Area -->
			<!-- Updates -->
			<div class="col-xs-12 col-md-8">
				<div class="tabbable">
					<div class="tab-content">
						<div id="post-pagination">
							<!-- Updates -->
							<div class="tab-pane fade in active" id="updates">
								<!-- editor -->
								<% if current_user == @user || current_user.try(:admin) %>
									<%= render partial:'profile/components/editor', locals: {user: @user}%>
								<% end %>	
								<!-- Posts -->
								<div class="post-pagination">
									<%= render_activities(@activities) %>
								</div>
								<!-- Paginate -->
								<%= will_paginate @activities %>
							</div>	
							<!-- Friends -->
							<div class="tab-pane fade" id="friends">
							</div>	
						</div><!-- end #post-pagination-->	
					</div><!-- end .tab-content-->	
				</div><!-- end .tabbable-->				
			</div>
			<!-- Side Area -->
			<div class="col-xs-6 col-md-4 pr-40">
				<!-- Backers -->
				<% if @user.record_subscribers.count > 0 then %>
					<%= render partial:'profile/components/backers', locals: {user: @user}%>
				<% end %>
				<!-- Backed -->
				<% if @user.record_subscribed.count > 0 then %>
					<%= render partial:'profile/components/backed', locals: {user: @user}%>
				<% end %>
				<!-- Friends -->
				<%= render partial:'profile/components/friends', locals: {user: @user}%>	
				<!-- About -->
				<%= render partial:'profile/components/about', locals: {user: @user}%>
				<!-- Donation Button -->
				<%= render partial:'profile/components/donation_button', locals: {user: @user}%>
				<!-- Rewards -->
				<%= render partial:'profile/components/rewards', locals: {user: @user}%>
				<div id="sticker" class="mt-40">
					<!-- Current Goal -->
					<%= render partial:'profile/components/current_goal', locals: {user: @user}%>			
					<!-- Donation Button -->
					<%= render partial:'profile/components/donation_button', locals: {user: @user}%>
				</div><!-- end #sticker -->	
			</div>	
		</div><!-- end #updates_area-->	
	</div><!-- end .content-->

<script type="text/javascript" data-turbolinks-eval=always>
    $(document).on('ready page:change', function(event) {
        // Initiate refreshable plugins
        initiate_plugins();      
        profile_user_plugins();     
    });
    $(document).on('ready', function(){
    	document_ready_plugins();
    });
</script>

