<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<% provide(:title) %>
<!-- Sidebar -->
<% content_for :sidebar do %>
	<% if user_signed_in? %>
		<!-- Signed-in Users-->
		<%= render 'utilities/sidebar/sidebar_profile_signed_in_users'%>
	<% else %>
		<!-- Not signed-in Users-->	
    	<%= render 'utilities/sidebar/sidebar_profile_not_signed_in_users'%>
    <% end %>
<% end %>
<script type="text/javascript">
	$('.pagination').show();
</script>

<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->

<div class="content">
	<div class="row">
		<!-- Search result -->
		<div class="col-xs-12 col-md-8">
			<% if @search %>
				<%= render partial: "search/search_result", collection: @search, :as => :item %>
			<% end %>
			<%= will_paginate @search, class:"digg_pagination" %>
		</div>
		<!-- Side Area -->
		<div class="col-xs-6 col-md-4 pr-20" id="side-area">
			<div class="sidebar-fixed sidebar-detached-home">
				<div class="sidebar-detached-content">
					<div class="panel">
						<div class="panel-body">
							<div class="text-grey">
								<%= @search.count %><%= t 'views.utilities.menu.search_results' %>
							</div>
							<h1>
								<%= truncate(params[:q], length: 50) %>
							</h1>
						</div>
					</div>
					<% if @site_activity.any? %>
						<%= render_activities(@site_activity, layout: :activity_site_updates) %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>