<div class="lightbox2 post-content-c" style="margin-top:0px;">

		<div class="project-to-subscribers-holder" style="padding-top:20px;">
			<table class="display">
				<thead>
					<tr>
						<th width="100"><div class="user-icon-small-holder" style="background-image:url(<%= page.facebookprofile.url(:tiny) %>);margin-bottom:-15px;margin-top:-3px;"></div></th>
						<th width="300"><%= page.name %></th>
						<th width="137"><%= page.category %></th>
						<!-- synced -->
						<% if page.sync == true then %>
							<!-- unsynced -->
							<th><%= link_to facebookpage_unsync_path(@user.id, page.page_id), class:"no_ajaxify" do %><div class="btn btn-small btn-small-white">Disconnect</div><% end %></th>							
						<% else %>
							<!-- unsynced -->
							<th><%= link_to facebookpage_sync_path(@user.id, page.page_id), class:"no_ajaxify" do %><div class="btn btn-small btn-small-green">Sync</div><% end %></th>
						<% end %>	
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
</div>	