<% if activities != false then %>
	<div class="friends_holder" style="border-bottom: 1px solid #eee;">
<% else %>
	<div class="friends_holder">
<% end %>
	<% if check_mutual_friends(@mutualfriends, user) %>
			<!-- Mutual Friends -->
			<ol><span style="font-size: 1.4em;">Mutual Friends </span><span class="counter">[<%= @mutualfriends.count %>]</span></ol>
			<%= render partial: "supports/project_current_subscribers", collection: @mutualfriends.first(11), :as => :user %>
			<div class="supporter-image" style="background-image:url(/assets/more_subscribers.png);"></div>
			<div class="friends_view_all"><span class="tipsy-tipsy" title="Coming soon!">View All</span></div>			
	<% else %>
		<!-- Friends -->
		<ol><span style="font-size: 1.4em;">Friends </span><span class="counter">[<%= user.friends.count %>]</span></ol>
		<%= render partial: "supports/project_current_subscribers", collection: user.friends.where("profilephoto_file_name IS NOT NULL").first(11), :as => :user %>
		<div class="supporter-image" style="background-image:url(/assets/more_subscribers.png);"></div>
		<% if user == current_user then %>
			<div class="friends_view_all"><span class="tipsy-tipsy" title="Facebook"><%= link_to "Find Friends", user_omniauth_authorize_path(:facebook, :find_friends => "true", :after_signup => "true"),class:"no_ajaxify" %></span></div>
		<% else %>
			<div class="friends_view_all"><span class="tipsy-tipsy" title="Coming soon!">View All</span></div>
		<% end %>		
	<% end %>
</div>

<% if activities == false then %>
	<ol style="text-align: center;border:0;margin-bottom:-155px;"></ol>
<% end %>
