
						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'no_ajaxify' }, :validate => true) do |f| %>	


      					<div class="lightbox2">
							

							<!-- Account Info-->
							<div class="textbox-mini">
							<h2>Email</h2>
							</div>

							<!-- Email -->
							<div class="lightbox3">

								<div class="inputlabel">
									<li>Email</li>
								</div>

								<div class="input-placer">
      								<%= f.text_field :email, class: "inputbox settingsinput" %>
      								  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    									<ul>Currently waiting confirmation for: <%= resource.unconfirmed_email %></ul>
    									<% else %>
    									<ul>New email address.</ul>
  										<% end %>
      								

      							</div>

      						</div>

      						<!-- Current Password -->
      						<div class="lightbox3">
      						
								<div class="inputlabel">
									<li>Current Password</li>
								</div>

      							<div class="input-placer">
      								<%= f.password_field :current_password, class: "inputbox settingsinput"%>
      								<ul>We need your current password to confirm your changes</ul>
      							</div>

      						</div>      
      					
      					<!-- end of lightbox2 -->
						</div>
      															
							
							<ol style="margin-top: 15px; padding-left: 168px;">
							
								<div class="btn btn-medium btn-medium-blue">
									<%= f.submit "Send Confirmation", class: "btn-submit" %>
								</div>
							</ol>

						<% end %>
				<!-- Cutter --><ol style="margin-top: 70px;"></ol>