<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @user.fullname) %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_settings' %>
	<% end %>
		
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

			<!-- Main Content -->
			<div class="main-content">
				<div class="standard-content" >

						<div class="textbox">
						
							<h1>Profile</h1>
							<h5>Edit your profile information.</h5>
							<!-- Cutter --><ol style="margin-top: -20px;"></ol>

						</div><!-- end of textbox-->

						<!-- Profile Photo -->
						<%= render 'users/edit_profile_photo'%>

						<!-- Facebook Sync -->
						<%= render 'users/facebook_sync'%>
							
						<!-- Edit Basic Info -->
						<%= render 'users/edit_basic_info'%>

						<!-- Edit Social Media -->				
						<%= render 'users/edit_social_media'%>	

				</div><!-- end.standard-content -->
				<%= render 'layouts/footer' %>
			</div><!-- end of main-content-->
