<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @user.fullname) %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_settings' %>
	<% end %>
		
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
			<!-- Main Content -->
			<div class="main-content">
				<div class="standard-content" >
						<div class="textbox">
						
							<h1><%= current_user.first_name%>'s Goals</h1>
							<% if @user.goals_updated_at == nil || @allow_edit_goals %><h5>Edit your goals.</h5><% else %><h5>You have edited your goals <%= time_ago_in_words(@user.goals_updated_at)%> ago, you can edit them again in <%= @edit_again%> days.</h5><% end %>
							<!-- Cutter --><ol style="margin-top: -20px;"></ol>

						<!-- end of textbox-->
						</div>

						<!-- If Allow Edit Goals -->
						<% if @user.goals_updated_at == nil || @allow_edit_goals %>
						<%= form_for(@user,:validate => true,:html => {:class => "no_ajaxify"}) do |f| %>	
							<%= f.hidden_field :goals_updated_at, :value => Time.now %>

      											<div class="lightbox2-bordered">
							

							<!-- Account Info-->
							<div class="textbox-mini">
							

							<!-- username -->
							<div class="goals">

							</div>

							<div class="lightbox2">

								<!-- Subscribers -->
								<div class="goals-placer">
								<ul id="blue"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.subscribers.count, @user.goals_subscribers)%>">Subscribers</span>  </ul><span> </span>
									<ul id="blue"><%= render :text => @user.subscribers.count %> <span>/</span> </ul>
									<ul><%= f.text_field :goals_subscribers, class: "inputbox goals-input" %></ul> <span></span>
								<ol><%= progress_bar(goals_count(@user.subscribers.count,@user.goals_subscribers), :color => 'blue', :rounded => true) %></ol>
								<span>default: 256, minimum: 32</span>
								</div>

								<!-- Monthly Subscription Amount -->
								<div class="goals-placer">
								<ul id="green"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.subscription_amount.to_i, @user.goals_monthly)%>">Monthly Subscription</span>  </ul><span> </span>
									<ul id="green"><%= render :text => @user.subscription_amount.to_s %> <span>/</span> </ul>
									<ul><%= f.text_field :goals_monthly, class: "inputbox goals-input" %></ul> <span></span>
								<ol><%= progress_bar(goals_count(@user.subscription_amount.to_i, @user.goals_monthly), :color => 'green', :rounded => true) %></ol>
								<span>default: 7730, minimum: 540</span>
								</div>

								<!-- Project Completion -->
								<div class="goals-placer">
								<ul id="purple"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.projects.where(:complete => true ).count, @user.goals_project)%>">Work Collection Completions</span>  </ul><span> </span>
									<ul id="purple"><%= @user.projects.where(:complete => true ).count %> <span>/</span> </ul>
									<ul><%= f.text_field :goals_project, class: "inputbox goals-input" %></ul> <span></span>
								<ol><%= progress_bar(goals_count(@user.projects.where(:complete => true ).count, @user.goals_project), :color => 'purple', :rounded => true) %></ol>
								<span>default: 5, minimum: 1</span>
								</div>

								<!-- Work Collections Watching -->
								<div class="goals-placer">
								<ul id="silver"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.projects.where(:complete => true ).count, @user.goals_project)%>">Work Collections Watching</span></ul><span></span>
									<ul id="silver"><%= @user.watcheds.count %> <span>/</span> </ul>
									<ul><%= f.text_field :goals_watching, class: "inputbox goals-input" %></ul> <span></span>
								<ol><%= progress_bar(goals_count(@user.watcheds.count, @user.goals_watching), :color => 'silver', :rounded => true) %></ol>
								<span>default: 10, minimum: 5</span>
								</div>								

								<!-- Reviews Written -->
								<div class="goals-placer">
								<ul id="silver"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.projects.where(:complete => true ).count, @user.goals_project)%>">Reviews Written</span></ul><span></span>
									<ul id="silver"><%= @user.project_comments.count %> <span>/</span> </ul>
									<ul><%= f.text_field :goals_reviews, class: "inputbox goals-input" %></ul> <span></span>
								<ol><%= progress_bar(goals_count(@user.project_comments.count, @user.goals_reviews), :color => 'silver', :rounded => true) %></ol>
								<span>default: 10, minimum: 5</span>
								</div>		

      						</div><!-- end of lightbox2 -->

							<ol style="margin-top: 15px;float:right; margin-right: 20px;">
							
								<div>
									<%= f.submit "Save Changes", class: "btn-submit btn-submit-medium btn btn-medium btn-medium-blue",:confirm => "Are you sure to edit your goals? You may only edit your goals every 30 days." %>
								</div>
							</ol>
      					</div><!-- end of textbox-mini -->

      					
						</div><!-- end.lightbox2-bordered-->
      															
							


						<% end %><!-- end. form-->

						<% else %>
						

						<!-- If Not Allow Edit Goals -->		
						<div class="lightbox2-bordered">			
							<div class="textbox-mini">
								<div class="lightbox2">

								<!-- Subscribers -->
								<div class="goals-placer">
								<ul id="blue"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.subscribers.count, @user.goals_subscribers)%>">Subscribers</span>  </ul>
									<ul id="blue"><%= render :text => @user.subscribers.count %> <span>/</span> </ul>
									<ul id="blue"><%= render :text => @user.goals_subscribers%></ul> 
								<ol><%= progress_bar(goals_count(@user.subscribers.count,@user.goals_subscribers), :color => 'blue', :rounded => true) %></ol>
								<span>default: 600, minimum: 42</span>
								</div>

								<!-- Monthly Subscription Amount -->
								<div class="goals-placer">
								<ul id="green"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.subscription_amount.to_i, @user.goals_monthly)%>">Monthly Subscription Amount</span>  </ul>
									<ul id="green"><%= render :text => @user.subscription_amount.to_s %> <span>/</span> </ul>
									<ul id="green"><%= render :text => @user.goals_monthly%></ul> 
								<ol><%= progress_bar(goals_count(@user.subscription_amount.to_i, @user.goals_monthly), :color => 'green', :rounded => true) %></ol>
								<span>default: 7730, minimum: 540</span>
								</div>

								<!-- Project Completion -->
								<div class="goals-placer">
								<ul id="purple"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.projects.where(:complete => true ).count, @user.goals_project)%>">Project Completion</span>  </ul>
									<ul id="purple"><%= @user.projects.where(:complete => true ).count %> <span>/</span> </ul>
									<ul id="purple"><%= render :text => @user.goals_project%></ul> 
								<ol><%= progress_bar(goals_count(@user.projects.where(:complete => true ).count, @user.goals_project), :color => 'purple', :rounded => true) %></ol>
								<span>default: 5, minimum: 1</span>
								</div>

								<!-- Work Collections Watching -->
								<div class="goals-placer">
								<ul id="silver"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.projects.where(:complete => true ).count, @user.goals_project)%>">Work Collections Watching</span>  </ul>
									<ul id="silver"><%= @user.watcheds.count %> <span>/</span> </ul>
									<ul id="silver"><%= render :text => @user.goals_watching%></ul> 
								<ol><%= progress_bar(goals_count(@user.watcheds.count, @user.goals_watching), :color => 'silver', :rounded => true) %></ol>
								<span>default: 5, minimum: 1</span>
								</div>

								<!-- Project Completion -->
								<div class="goals-placer">
								<ul id="silver"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.projects.where(:complete => true ).count, @user.goals_project)%>">Reviews Written</span>  </ul>
									<ul id="silver"><%= @user.project_comments.count %> <span>/</span> </ul>
									<ul id="silver"><%= render :text => @user.goals_project%></ul> 
								<ol><%= progress_bar(goals_count(@user.project_comments.count, @user.goals_reviews), :color => 'silver', :rounded => true) %></ol>
								<span>default: 5, minimum: 1</span>
								</div>								

								</div><!-- end.lightbox2 -->
							</div><!-- end.textbox-mini -->	
						</div><!-- end.lightbox2-bordered -->
						<% end %><!-- end if allow edit goals-->
						<!-- Cutter --><ol style="margin-top: 70px;"></ol>
						</div><!-- Footer -->
				<%= render 'layouts/footer' %>

			</div><!-- end of main-content-->