<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @user.fullname) %>

	<!-- Best in Place -->
	<%= render 'shared/best_in_place'%>	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>	
		<%= tag :meta, property: "og:url", content: request.scheme+"://"+request.host+"/"+@user.username %>
		<%= tag :meta, property: "og:title", content: "Ratafire - "+@user.fullname %>
		<%= tag :meta, property: "og:image", content: @user.profilephoto.url(:small) %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:description", content: @user.bio %>
	<% end %>


<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_profile' %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
	
	<!-- Main Content -->
	<div class="main-content">
		<%= render 'users/social_media'%>
				<div>

					<!-- Full Name -->
					<%= render 'shared/fullname'%>

					<!-- Cutter --><ol style="margin-top: -5px;"></ol>

					<!-- Tabs Nav -->
					
					<!-- Tabs Nav -->
					<% if user_subscription_check(@user) then %>
						<%= render 'shared/tabs_contributions_three'%>
					<% else %>
						<%= render 'shared/tabs_contributions'%>
					<% end %>	

					<!-- Content of Projects -->
					<div class="profile-content" style="min-height:320px;">
							
							<!-- Now/Past -->
							<div class="now-past-holder">
								<%= link_to projects_past_path(@user) do %><span class="btn-delete-light-solid" style="position:relative;z-index:1;padding-right:10px;">
									Past
								</span><% end %>	
								<span class="btn-delete-solid" style="position:relative;z-index:2;">
									Now
								</span>
							</div>	

							<!-- Cutter --><ol style="margin-top: 38px;"></ol>
							
								<!-- Current Work Collections -->
								<% if @currentprojects.count != 0 then %>
									<%= render 'users/contributions_current_work_collections'%>
								<% end %>	

								<!-- Facebook Pages -->
								<% if @syncedfacebookpages.count != 0 then %>
									<%= render 'users/contirbutions_facebookpages'%>
								<% end %>

								<!-- Discussions -->
								<% if @currentdiscussions != 0 then %>
									<%= render 'users/contributions_discussions'%>
								<% end %>	

								<!-- Completed Porjects -->
								<% if @completedprojects != 0 then %>
									<%= render 'users/contributions_completed_projects'%>
								<% end %>
								
					<!-- end of profile-content-->
					</div>

				<!-- end of div -->
				</div>
							<!-- Footer -->
				<%= render 'layouts/footer' %>


	<!-- end of main-content-->
	</div>


