<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title)%>

<!-- Page Background -->
<!DOCTYPE html>
<html style="background: url(/assets/backgrounds/starmap.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;"><!-- Signup Page Background -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- Sign In -->
<div class="user-links">
	Have an account? <%= link_to 'Sign in', new_user_session_path %>
</div>

<div class="center" style="width: 310px;">
	<!-- Cutter --><ol style="margin-top: 80px;"></ol>

	<span id="Join-Ratafire">Forgot Password</span>

	<!-- Cutter --><ol style="margin-top: 18px;"></ol>

	<div id="Signin-box">

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),:validate => true, :html => { :method => :post, :class => "no_ajaxify"}) do |f| %>
			<%= devise_error_messages! %>

			<ol>
				<%= f.text_field :email, class: "inputbox signupbox", placeholder: "Email" %>
			</ol>
			<ul>
				<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name),class:"no_ajaxify" %>
			</ul>	

			<ol style="margin-top: 40px; padding-left: 124px;">
				<%= f.submit "Send Instructions", class: "btn-submit btn-submit-medium btn btn-medium2 btn-medium-blue" %>
			</ol>
		<% end %>
	</div><!-- end#Signin-box-->
		
</div><!-- end.center-->

<!-- Footer -->
<div style="padding: 0px 20px 18px 0; margin-top: 287px;">
	<%= render 'layouts/footer' %>
</div>

<script type="text/javascript">
/*--- Tipsy ---*/
$(document).ready(function() {
	$('.message').tipsy({fade:true,gravity:'ne'});
});
</script>
</html>            	

				

