<div class="row">
	<div class="col-md-4">
		<!-- Campaign -->
		<div id="campaign-image">
			<div class="thumb thumb-slide" id="about-profilephoto-holder">
				<%= link_to upload_image_edit_user_studio_campaigns_path(user.id, campaign.id), remote: true do %>
					<div class="medium-editor-toolbar-remove mr-5 mt-5">
						<span class="ti-pencil-alt"></span>
					</div>	
				<% end %>		
				<img src="<%= @campaign.image.url(:thumbnail480p)%>" class="about-profilephoto-holder" alt="">
			</div>
		</div>
	</div>
	<div class='col-md-8'>
		<!-- Title -->
		<h2 class="no-margin-top text-thin"><%= campaign.title %></h2>
		<!-- Category -->
		<div class='pb-10'>
			<span class="label <%= category_color(campaign.category)%> mr-5"><%= t is_category(campaign.category) %></span>
			<span class="label bg-grey-100"><%= t is_sub_category(campaign.sub_category) %></span>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="text-thin pb-10"><%= campaign.description %></div>
				<div class="text-thin pb-10"><%= raw campaign.tag_list.map { |t| link_to '#'+t, tag_path(t), class:"text-grey-200" }.join('  ') %></div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-6">
						<div class="text-grey-200"><%= t 'views.utilities.menu.backers' %></div>
						<div><span ><%= campaign.subscriptions.count %></span></div>
					</div>
					<div class="col-md-6">
						<div class="text-grey-200"><%= t 'views.utilities.menu.likers' %></div>
						<div><span ><%= campaign.likers.count %></span></div>
					</div>
				</div>
				<div class="text-grey-200"><%= t 'views.utilities.menu.total_support' %></div>
				<div><span ><%= currency_signs(campaign.currency)%><%= campaign.accumulated_total %></span></div>
			</div>
		</div>
	</div>
</div>