<!-- Start -->
<fieldset title="1" class="pt-0">
	<legend class="text-semibold"><%= t 'views.campaign.start' %></legend>
	<!-- Topic -->
	<div class="row text-center p-40">
		<div class="text-giant text-thin"><%= t 'views.campaign.what_are_you_creationg' %></div>
		<h3 class="text-thin text-grey-200"><%= render 'studio/campaigns/historical_quotes_start', locals: { campaign: @campaign } %></h3>
	</div>
	<!-- Title -->
	<div class="row">
		<div class="col-md-3">
			<div><%= t 'views.campaign.title' %>: <span class="text-danger">*</span></div>
		</div>

		<div class="col-md-9">
			<div class="form-group">
				<div class="pull-right mr-5 mb-30- text-grey-100"><span id="e" class="display-none"></span></div>
				<% if I18n.locale == :zh %>
					<%= f.text_field :title, class:"form-control required", placeholder:t('views.campaign.title_placeholder'), maxlength:"38",id:"title", onKeyUp:"title_text_count()"%>
				<% else %>
					<%= f.text_field :title, class:"form-control required", placeholder:t('views.campaign.title_placeholder'), maxlength:"50",id:"title", onKeyUp:"title_text_count()"%>
				<% end %>
				<span class="help-block">
					<%= render 'studio/campaigns/help_block/title' %>
				</span>
			</div>
		</div>
	</div>

	<!-- Description -->
	<div class="row">
		<div class="col-md-3">
			<div><%= t 'views.campaign.short_description' %>: <span class="text-danger">*</span></div>
		</div>

		<div class="col-md-9">
			<div class="form-group user-textarea">
				<div class="pull-right mr-5 mb-30- text-grey-100"><span id="h" class="display-none"></span></div>
				<% if I18n.locale == :zh %>
					<%= f.text_area :description, class:"form-control required", placeholder:t('views.campaign.short_description_placeholder'), id:"description_text",onKeyUp:"description_textarea_count()",maxlength:"88", style:"resize: none;"%>
				<% else %>
					<%= f.text_area :description, class:"form-control required", placeholder:t('views.campaign.short_description_placeholder'), id:"description_text",onKeyUp:"description_textarea_count()",maxlength:"140", style:"resize: none;"%>
				<% end %>
				<span class="help-block">
					<%= render 'studio/campaigns/help_block/short_description' %>
				</span>
			</div>
		</div>
	</div>

	<!-- Sub Category -->
	<div class="row">
		<div class="col-md-3">
			<div><%= t 'views.campaign.sub_category' %>: <span class="text-danger">*</span></div>
		</div>

		<div class="col-md-9">
			<div class="form-group">
				<!-- Art -->
				<% if @campaign.category == "Art" %>
					<%= f.select(:sub_category, [[t('views.utilities.category.a_new_field'),'A New Field'], [t('views.utilities.category.art.concept_art'),'Concept Art'],[t('views.utilities.category.art.3D_model'),'3D Models'],[t('views.utilities.category.art.drawing'),'Drawing'],[t('views.utilities.category.art.fashion'),'Fashion'],[t('views.utilities.category.art.beauty'),'Beauty'],[t('views.utilities.category.art.painting'),'Painting'],[t('views.utilities.category.art.architecture'),'Architecture'],[t('views.utilities.category.art.interior_design'),'Interior Design'],[t('views.utilities.category.art.photography'),'Photography'],[t('views.utilities.category.art.graphic_design'),'Graphic Design'],[t('views.utilities.category.art.sculpting'),'Sculpting'],[t('views.utilities.category.other'),'Other']], {prompt: t('views.campaign.select_a_sub_category')}, { :class => 'simple-select required', :id => 'category-selection' }) %>
				<% end %>
				<!-- Music -->
				<% if @campaign.category == "Music" %>
					<%= f.select(:sub_category, [[t('views.utilities.category.a_new_field'),'A New Field'], [t('views.utilities.category.music.composition'),'Composition'],[t('views.utilities.category.music.soundtrack'),'Soundtrack'],[t('views.utilities.category.music.rock'),'Rock'],[t('views.utilities.category.music.pop'),'Pop'],[t('views.utilities.category.music.cover'),'Cover'],[t('views.utilities.category.music.classical'),'Classical'],[t('views.utilities.category.other'),'Other']], {prompt: t('views.campaign.select_a_sub_category')}, { :class => 'simple-select required', :id => 'category-selection' }) %>
				<% end %>
				<!-- Games -->
				<% if @campaign.category == "Games" %>
					<%= f.select(:sub_category, [[t('views.utilities.category.a_new_field'),'A New Field'], [t('views.utilities.category.games.rpg'),'RPG'],[t('views.utilities.category.games.strategy'),'Strategy'],[t('views.utilities.category.games.simulation'),'Simulation'],[t('views.utilities.category.games.mmo'),'MMO'],[t('views.utilities.category.games.action'),'Action'],[t('views.utilities.category.games.sport'),'Sport'],[t('views.utilities.category.games.adventure'),'Adventure'],[t('views.utilities.category.other'),'Other']], {prompt: t('views.campaign.select_a_sub_category')}, { :class => 'simple-select required', :id => 'category-selection' }) %>
				<% end %>
				<!-- Writing -->
				<% if @campaign.category == "Writing" %>
					<%= f.select(:sub_category, [[t('views.utilities.category.a_new_field'),'A New Field'], [t('views.utilities.category.writing.review'),'Review'],[t('views.utilities.category.writing.poetry'),'Poetry'],[t('views.utilities.category.writing.fantasy'),'Fantasy'],[t('views.utilities.category.writing.science_fiction'),'Science Fiction'],[t('views.utilities.category.writing.non_fiction'),'Non-fiction'],[t('views.utilities.category.writing.sport'),'Sport'],[t('views.utilities.category.games.adventure'),'Adventure'],[t('views.utilities.category.other'),'Other']], {prompt: t('views.campaign.select_a_sub_category')}, { :class => 'simple-select required', :id => 'category-selection' }) %>
				<% end %>
				<!-- Videos -->
				<% if @campaign.category == "Videos" %>
					<%= f.select(:sub_category, [[t('views.utilities.category.a_new_field'),'A New Field'], [t('views.utilities.category.videos.gaming'),'Gaming'],[t('views.utilities.category.videos.animation'),'Animation'],[t('views.utilities.category.videos.cg'),'CG'],[t('views.utilities.category.videos.fashion'),'Fashion'],[t('views.utilities.category.videos.beauty'),'Beauty'],[t('views.utilities.category.videos.movies'),'Movies'],[t('views.utilities.category.videos.documentary'),'Documentary'],[t('views.utilities.category.videos.tutorial'),'Tutorial'],[t('views.utilities.category.other'),'Other']], {prompt: t('views.campaign.select_a_sub_category')}, { :class => 'simple-select required', :id => 'category-selection' }) %>
				<% end %>
				<span class="help-block">
					<%= render 'studio/campaigns/help_block/sub_category' %>
				</span>
			</div>
		</div>
	</div>

	<!-- Tags -->
	<div class="row">
		<div class="col-md-3">
			<div><%= t 'views.campaign.tags' %>: <span class="text-danger">*</span></div>
		</div>

		<div class="col-md-9">
			<div class="form-group">
				<%= f.text_field :tag_list, type:"hidden", placeholder:"#"+t('views.campaign.tags'),class:"editor-tags text-grey-200 text-thin select-xs select required", value: f.object.tag_list.to_s %>
				<span class="help-block">
				</span>
			</div>
		</div>
	</div>

	<!-- Country -->
	<div class="row">
		<div class="col-md-3">
			<div><%= t 'views.campaign.based_country' %>: <span class="text-danger">*</span></div>
		</div>

		<div class="col-md-9">
			<div class="form-group">
				<%= f.country_select(:country, { include_blank: t('views.campaign.based_country_placeholder'),selected: @campaign.country, only: ["AU", "CA","DK", "FI", "IE", "NO", "SE", "GB", "US", "AT", "BE", "DE", "IT", "JP", "LU", "NL", "SG", "ES", "FR","HK","LU","NZ"] }, { class: 'simple-select-search required' }) %>
			</div>
		</div>
	</div>
	<!-- Duration -->
	<div class="row">
		<div class="col-md-3">
			<div><%= t 'views.campaign.duration' %>: <span class="text-danger">*</span></div>
		</div>

		<div class="col-md-9">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<%= t 'views.campaign.number_of_years' %>
					</span>
					<%= f.number_field :duration, class:"touchspin-vertical form-control required", min:"1", max:"6"%>
				</div>
				<span class="help-block">
					<%= render 'studio/campaigns/help_block/duration' %>
				</span>
			</div>
		</div>
	</div>
	<!-- Funding type -->
	<div class="row">
		<div class="col-md-3">
			<div><%= t 'views.campaign.funding_type' %>: <span class="text-danger">*</span></div>
		</div>

		<div class="col-md-9">
			<div class="form-group">
				<%= f.select(:funding_type, [[t('views.campaign.per_creation'),'creation'], [t('views.campaign.per_month'),'month']], {include_blank: t('views.campaign.select_a_funding_type')}, { :class => 'simple-select required', :id => 'funding-type-selection',selected: @campaign.funding_type }) %>
				<span class="help-block">
					<%= t 'views.campaign.funding_type_help' %>
				</span>
			</div>
		</div>
	</div>
</fieldset>
<script type="text/javascript">
	//Description textarea count
	function description_textarea_count()
	{	<% if I18n.locale == :zh %>
			var max =88;
		<% else %>
			var max =140;
		<% end %>
		var text =document.getElementById("description_text").value.length;
		$('#h').show();
		h.innerHTML=max-text;
		if(text > 0)
		{
			btn=document.getElementById("btn");
			btn.style.cursor="pointer";
			btn.style.opacity=1;
			btn.disabled=false;
		}
	}
	//Description textarea count
	function title_text_count()
	{	<% if I18n.locale == :zh %>
			var max =38;
		<% else %>
			var max =50;
		<% end %>
		var text =document.getElementById("text").value.length;
		$('#e').show();
		e.innerHTML=max-text;
		if(text > 0)
		{
			btn=document.getElementById("btn");
			btn.style.cursor="pointer";
			btn.style.opacity=1;
			btn.disabled=false;
		}
	}	
</script>