<% if @user.paypal_account %>
	<div class="col-md-6 no-padding pr-20" id="connect-with-paypal">
		<div class="panel text-thin border-xlg border-blue" id="paypal-panel-connected">
			<%= link_to user_disconnect_path(@user,:paypal), remote: true do %>
				<div class="medium-editor-toolbar-remove mr-5 mt-5">
					<span class="ti-close"></span>
				</div>
			<% end %>
			<div class="text-center">
				<%= image_tag('/assets/icon/payment/paypal-round.png', class:"p-20 mt-20")%>
				<div class="text-large mb-20 text-blue" id="paypal-title-connected"><%= t 'views.campaign.paypal' %></div>
				<div class="tabel-responsive">
					<table class="table">
						<tbody>
							<tr class="active" >
								<td style="border-bottom:1px solid #ddd;">
									<span><% if I18n.locale == :zh %><%= @paypal_user_zh %><%= t 'views.campaign.payment_user_count' %><% else %><%= @paypal_user_en %><%= t 'views.campaign.payment_user_count' %><% end %></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-body">
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<div class="btn btn-blue" id="paypal-btn-connected">
							<i class="huaxia huaxia-fukuanxuanzhong"></i> <%= t 'views.campaign.get_paid_via_paypal' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= link_to user_omniauth_authorize_path(:paypal, campaign_id: @campaign.id) do %>
			<div id="paypal-connection-holder"></div>
		<% end %>	
	</div>
<% else %>
	<!-- Connect with PayPal -->
	<%= link_to user_omniauth_authorize_path(:paypal, campaign_id: @campaign.id) do %>
		<div class="col-md-6 no-padding pr-20" id="connect-with-paypal">
			<div class="panel text-thin" id="paypal-panel">
				<div class="text-center">
					<%= image_tag('/assets/icon/payment/paypal-round.png', class:"p-20 mt-20")%>
					<div class="text-large mb-20" id="paypal-title"><%= t 'views.campaign.paypal' %></div>
					<div class="tabel-responsive">
						<table class="table">
							<tbody>
								<tr class="active" >
									<td style="border-bottom:1px solid #ddd;">
										<span><% if I18n.locale == :zh %><%= @paypal_user_zh %><%= t 'views.campaign.payment_user_count' %><% else %><%= @paypal_user_en %><%= t 'views.campaign.payment_user_count' %><% end %></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-body">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<div class="btn btn-default" id="paypal-btn">
								<%= t 'views.campaign.connect_with' %><%= t 'views.campaign.paypal' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
