<div id="add-video-image">
	<%= s3_uploader_form callback_url: campaign_video_image_user_studio_campaigns_path(user.id, campaign.id),
		callback_method: 'POST',
		id: "s3_uploader_video_image",
		callback_param: "video_image[direct_upload_url]",
		expiration: 24.hours.from_now.utc.iso8601,
		max_file_size: 20.megabytes,:remote => true,
		data: {campaign_id: campaign.id} do %>
		<div class="valign-middle dropzone-bg video-image-dropzone" id="#video-image-dropzone">
			<div id="video-image-progress-case">
			</div>
			<%= file_field_tag :file, multiple: false, class:"artwork-choose btn-upload" %>
			<div class="cursor-pointer center-block text-center">
				<div id="big-image-upload">
					<div class="huaxia huaxia-multipleimage text-grey-100" style="font-size:40px;"></div>
					<div class="text-size-large text-grey-300 mt-5"><%= t 'views.campaign.upload_project_image' %><span class="text-danger">*</span></div>
					<div class="text-grey-200"><%= t 'views.campaign.upload_project_image_help' %></div>
				</div>
				<div id="small-image-upload" style="display:none;">
					<div class="text-grey-100"><%= t 'views.campaign.change_project_cover_image' %></div>
				</div>
			</div>
		</div>	
	<% end %>	
	<!-- Progress bar -->
	<%= render partial:'utilities/editor/editor_progress_bar', locals:{name:'artwork'} %>		
</div>
<% if campaign.image.present? %>
	<script>
		$('#big-image-upload').hide();
		$('#small-image-upload').show();
		$('.video-image-dropzone').addClass("dropzone-bg-small mb-20");
	</script>
<% end %>
