<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.preferred_name) %>
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<!-- Content Area -->
<div class="content">
    <!-- Starfield Animation -->
    <canvas id="canvas" width="100%" height="100%" style="position:fixed;top:0;left:0;" ></canvas>
	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content text-center">
			<div class="page-title text-grey">
				<%= image_tag(@user.profilephoto.image.url(:thumbnail128),class:"img-circle mb-20")%>
				<h2 class="text-thin text-white"><%= t 'views.campaign.become_an' %><%= t 'views.campaign.art_creator' %></h2>
			</div>
		</div><!-- end .page-header-content-->
	</div><!-- end .page-header-->
	
		<div class="row">
			<div class="col-lg-2">
			</div>
			<div class="col-lg-8">
				<!-- Clickable title -->
	            <div class="panel panel-white p-20" id="apply-panel">
					<!-- Project Video -->
					<% if @campaign.video %>
						<!-- Video uploader -->
						<%= render partial: 'studio/campaigns/wizard_video_preview',:locals => {:video => @campaign.video} %>
						<!-- Video image uploader -->
						<%= render partial: 'studio/campaigns/wizard_upload_video_image',:locals => {:video => @campaign.video, :user => @user, :campaign => @campaign } %>
					<% else %>
						<%= render partial: 'studio/campaigns/wizard_upload_video',:locals => {:user => @user, :campaign => @campaign} %>
					<% end %>
					<%= form_for([@campaign], :url=>update_user_studio_campaigns_path(@user.id, @campaign.id), remote: true, html: {class: "stepy-validation", id:"campaign-wizard", action:"#"}) do |f|%>
	            		<%= f.hidden_field :ratafirer, id:"field-ratafirer" %>
	            		<!-- Start -->
						<%= render partial: "studio/campaigns/form_start", locals: { f: f } %>
						
						<!-- Rewards -->
						<%= render partial: "studio/campaigns/form_rewards", locals: { f: f } %>

						<!-- Rewards -->
						<fieldset title="3">
							<legend class="text-semibold"><%= t 'views.campaign.your_creation' %></legend>
						</fieldset>

						<!-- About You -->
						<fieldset title="4">
							<legend class="text-semibold"><%= t 'views.campaign.artist_info' %></legend>
						</fieldset>

						<button type="submit" class="btn btn-blue stepy-finish"><%= t 'views.utilities.editor.submit_btn' %></button>
					
					<% end %>
	            </div>
			</div>
			<div class="col-lg-2">
			</div>
		</div><!-- end row -->
	
</div><!-- end .content-->
<!--~~~~~~~~~~~~~~~~~ Page Specific Javascript ~~~~~~~~~~~~~~~~~-->
<%= render 'studio/campaigns/wizard_stepy_js'%>
<script>
//Profile editor
initiate_profile_editor();
//Video js
initiate_videojs();     

$(document).on('load page:load', function(){
	//Price tag
	var ratafirer = $('#field-ratafirer').val();
	if (ratafirer == true){
		$('#ratafirer-price-panel').click();
	} else {
		$('#free-price-panel').click();
	}

	//Block Alipay
	$('#alipay-panel').block({message: null,overlayCSS: {
        backgroundColor: '#fff',
        opacity: 0.4,
        cursor: 'not-allowed'
	},});
	//Upload video
    $('#s3_uploader_video').S3Uploader(
      { 
        remove_completed_progress_bar: false,
        dropZone: $('#video-dropzone'),
        progress_bar_target: $('#video-progress-case'),
        additional_data: { "video[campaign_id]":$('#s3_uploader_video').data('campaign-id')},
    },"video"); //ratafire_file_type,content_temp_value,content_temp_video_value,tags_temp_video_value
    $('#s3_uploader_video').bind('s3_upload_failed', function(e, content) {
        return alert(content.filename + ' failed to upload');
    });   
    $('#s3_uploader_video').bind('s3_uploads_start', function(e, content) {
        $('#audio-embed-block').hide();
        $('#s3_direct_uploader_video').removeClass('mb-20');
        turn_lights_on('#above-blockui');
    });  
    $('#s3_uploader_video').bind('s3_upload_complete', function(e, content) {
        $('#progress-words').html("<i class=\"icon-spinner2 spinner text-white\"></i> Processing...meow");
    });    
	//Upload video image
	$('#s3_uploader_video_image').S3Uploader(
	  { 
	    remove_completed_progress_bar: false,
	    dropZone: $('#video-image-dropzone'),
	    progress_bar_target: $('#video-image-progress-case'),
	    additional_data: { "video_image[video_uuid]":$('#s3_uploader_video_image').data('video-uuid')},
	},"artwork"); //ratafire_file_type,content_temp_value,content_temp_video_value,tags_temp_video_value
	$('#s3_uploader_video_image').bind('s3_upload_failed', function(e, content) {
	  return alert(content.filename + ' failed to upload');
	});   
	$('#s3_uploader_video_image').bind('s3_upload_complete', function(e, content) {
	  $('#progress-words').html("<i class=\"icon-spinner2 spinner text-white\"></i> Processing...meow");
	});    
});
//Price tag
$('#free-price-panel').click(function(){
	$(this).addClass('border-xlg border-blue');	
	$('#free-price-btn').removeClass('btn-default');
	$('#free-price-btn').addClass('btn-blue');
	$('#free-price-btn').html('<i class="fa fa-check"></i> Free');
	$('#free-price-title').addClass('text-blue');
	//Remove
	$('#ratafirer-price-btn').removeClass('btn-blue');
	$('#ratafirer-price-btn').addClass('btn-default');
	$('#ratafirer-price-panel').removeClass('border-xlg border-blue');
	$('#ratafirer-price-btn').html('$8 per month');
	$('#ratafirer-price-title').removeClass('text-blue');
	$('#field-ratafirer').val(false);
});
$('#ratafirer-price-panel').click(function(){
	$(this).addClass('border-xlg border-blue');	
	$('#ratafirer-price-btn').removeClass('btn-default');
	$('#ratafirer-price-btn').addClass('btn-blue');
	$('#ratafirer-price-btn').html('<i class="fa fa-check"></i> $8 per month');
	$('#ratafirer-price-title').addClass('text-blue');
	//Remove
	$('#free-price-btn').removeClass('btn-blue');
	$('#free-price-btn').addClass('btn-default');
	$('#free-price-panel').removeClass('border-xlg border-blue');
	$('#free-price-btn').html('Free');
	$('#free-price-title').removeClass('text-blue');
	$('#field-ratafirer').val(true);
});
//Canvas Background
var canvas,
	ctx,
	width,
	height,
	xGravity,
	yGravity,
	friction,
	dots,
	palettes,
	paletteCount,
	paletteCurrent,
	colorCount,
	tick,
	mx,
	my,
	PI,
	TWOPI;

function rand( min, max ) {
	return Math.random() * ( max - min ) + min;
}

function randInt( min, max ) {
	return Math.floor( min + Math.random() * ( max - min + 1 ) );
};

function Dot() {
	this.x = width / 2;
	this.y = height / 2;
	this.vx = rand( -2, 2 );
	this.vy = rand( -2, 2 );
	this.radius = rand( 5, 15 );
	this.color = randInt( 1, colorCount - 1 );
}

Dot.prototype.step = function( i ) {
	// apply forces	
	this.x += this.vx;
	this.y += this.vy;
		
	// handle bounce	
	if( this.vx > 0 && this.x + this.radius >= width ) {
		this.vx *= -0.6;
	}
	
	if( this.vx < 0 && this.x - this.radius <= 0 ) {
		this.vx *= -0.6;
	}
	
	if( this.vy > 0 && this.y + this.radius >= height ) {
		this.vy *= -0.6;
	}
	
	if( this.vy < 0 && this.y - this.radius <= 0 ) {
		this.vy *= -0.6;
	}
	
	// handle bounds and friction	
	if( this.x + this.radius > width ) {
		this.x = width - this.radius;
		this.vy *= friction;
	}
	
	if( this.x - this.radius < 0 ) {
		this.x = this.radius;
		this.vy *= friction;
	}
	
	if( this.y + this.radius > height ) {
		this.y = height - this.radius;
		this.vx *= friction;
	}
	
	if( this.y - this.radius < 0 ) {
		this.y = this.radius;
		this.vx *= friction;
	}
	
	// handle gravity	
	this.vx += xGravity;
	this.vy += yGravity;
};

Dot.prototype.collide = function( otherDot ) {
	// still working on understanding this
	// lots of help from http://lamberta.github.io/html5-animation/
	var dx = otherDot.x - this.x,
		dy = otherDot.y - this.y,
		dist = Math.sqrt( dx * dx + dy * dy ),
		minDist = this.radius + otherDot.radius;
	if( dist < minDist ) {
		var tx = this.x + dx / dist * minDist,
			ty = this.y + dy / dist * minDist,
			ax = ( tx - otherDot.x ) * 0.6,
			ay = ( ty - otherDot.y ) * 0.6;
		this.vx -= ax;
		this.vy -= ay;      
		otherDot.vx += ax;
		otherDot.vy += ay;
		this.vx *= friction * 0.9;
		this.vy *= friction * 0.9;
		otherDot.vx *= friction * 0.9;
		otherDot.vy *= friction * 0.9;
	}
};

Dot.prototype.draw = function() {
	ctx.beginPath();
	ctx.arc( this.x, this.y, this.radius, 0, TWOPI );
	ctx.fillStyle = palettes[ paletteCurrent ][ this.color ];
	ctx.fill();
};

function init() {
	canvas = document.getElementById( 'canvas' );
	ctx = canvas.getContext( '2d' );
	xGravity = 0;
	yGravity = 1;
	friction = 0.99;
	dots = [];
	// palette credits:
	// https://color.adobe.com/Friends-and-foes-color-theme-1175537/
	// https://color.adobe.com/Ocean-Sunset-color-theme-46355/
	// https://color.adobe.com/Gettysburg-color-theme-209416/
	// https://color.adobe.com/vintage-card-color-theme-3165833/
	palettes = [
		[
			'#2e2932',
			'#01a2a6',
			'#37d8c2',
			'#bdf271',
			'#ffffa6'
		],
		[
			'#405952',
			'#9c9b7a',
			'#ffd393',
			'#ff974f',
			'#f35033'
		],
		[
			'#962d3e',
			'#343641',
			'#979c9c',
			'#f2ebc9',
			'#388898'
		],
		[
			'#f2ebbf',
			'#5c4b51',
			'#8dbeb2',
			'#f2b468',
			'#ee6163'
		]
	];
	paletteCount = palettes.length;
	paletteCurrent = 3;	
	colorCount = palettes[ 0 ].length;
	PI = Math.PI;
	TWOPI = PI * 2;
	
	reset();
	loop();
}

function reset() {
	width = window.innerWidth;
	height = window.innerHeight;
	dots.length = 0;
	tick = 0;
	mx = width / 2;
	my = height / 2;
	
	canvas.width = width;
	canvas.height = height;
}

function create() {
	if( tick && dots.length < 500 ) {
		dots.push( new Dot() );	
	}
}

function step() {
	var i = dots.length;
	while( i-- ) {
		dots[ i ].step( i );	
	}
	
	i = dots.length;
	while( i-- ) {
		dot = dots[ i ];
		var j = i;
		if( j > 0 ) {
			while( j-- ) {
				dot.collide( dots[ j ] );
			}
		}
	}
}

function draw() {
	ctx.fillStyle = palettes[ paletteCurrent ][ 0 ];
	ctx.fillRect( 0, 0, width, height );
	
	var i = dots.length;
	while( i-- ) {
		dots[ i ].draw();	
	}
}

function loop() {
	requestAnimationFrame( loop );
	create();
	step();
	draw();
	tick++;
}

function onmousemove( e ) {
	mx = e.pageX;
	my = e.pageY;
	
	xGravity = ( mx - width / 2 ) / ( width / 2 );
	yGravity = ( my - height / 2 ) / ( height / 2 );
}

function onmousedown() {
	var i = dots.length;
	while( i-- ) {
		dots[ i ].vx += rand( -10, 10 );
		dots[ i ].vy += rand( -10, 10 );
	}

	if( paletteCurrent < paletteCount - 1 ) {
		paletteCurrent++;	
	} else {
		paletteCurrent = 0;	
	}
}

window.addEventListener( 'resize', reset );
window.addEventListener( 'mousemove', onmousemove );
window.addEventListener( 'mousedown', onmousedown );

init();

</script>