<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.preferred_name) %>

<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<!-- Content Area -->

<div class="content" >
    <!-- Starfield Animation -->
   
    <svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1200 840" enable-background="new 0 0 1200 840" xml:space="preserve" class="dotmap" style="position:fixed;top:0;left:0;">
      <circle fill="#B2D17C" cx="972" cy="573.7" r="11.9" style="transform: translate(720px, 300px); -webkit-transform: translate(720px, 300px); -ms-transform: translate(720px, 300px); "></circle>
      <circle fill="#00B7FF" cx="1025.6" cy="654.8" r="11.9" style="transform: translate(824px, 498px); -webkit-transform: translate(824px, 498px); -ms-transform: translate(824px, 498px); "></circle>
      <circle fill="#00CBFF" cx="998.8" cy="654.8" r="11.9" style="transform: translate(792px, 472px); -webkit-transform: translate(792px, 472px); -ms-transform: translate(792px, 472px); "></circle>
      <circle fill="#2FCDFF" cx="972" cy="654.8" r="11.9" style="transform: translate(733px, 502px); -webkit-transform: translate(733px, 502px); -ms-transform: translate(733px, 502px); "></circle>
      <circle fill="#16CFFF" cx="945.2" cy="654.8" r="11.9" style="transform: translate(647px, 499px); -webkit-transform: translate(647px, 499px); -ms-transform: translate(647px, 499px); "></circle>
      <circle fill="#8CCB87" cx="918.4" cy="654.8" r="11.9" style="transform: translate(656px, 448px); -webkit-transform: translate(656px, 448px); -ms-transform: translate(656px, 448px); "></circle>
      <circle fill="#8CCB87" cx="945.2" cy="546.6" r="11.9" style="transform: translate(646px, 301px); -webkit-transform: translate(646px, 301px); -ms-transform: translate(646px, 301px); "></circle>
      <circle fill="#66B4FF" cx="650.5" cy="546.6" r="11.9" style="transform: translate(145px, 251px); -webkit-transform: translate(145px, 251px); -ms-transform: translate(145px, 251px); "></circle>
      <circle fill="#00BD8E" cx="623.7" cy="654.8" r="11.9" style="transform: translate(110px, 450px); -webkit-transform: translate(110px, 450px); -ms-transform: translate(110px, 450px); "></circle>
      <circle fill="#A6CEFF" cx="596.9" cy="573.7" r="11.9" style="transform: translate(30px, 304px); -webkit-transform: translate(30px, 304px); -ms-transform: translate(30px, 304px); "></circle>
      <circle fill="#00D7FF" cx="677.3" cy="573.7" r="11.9" style="transform: translate(146px, 294px); -webkit-transform: translate(146px, 294px); -ms-transform: translate(146px, 294px); "></circle>
      <circle fill="#5DD4FF" cx="650.5" cy="573.7" r="11.9" style="transform: translate(97px, 340px); -webkit-transform: translate(97px, 340px); -ms-transform: translate(97px, 340px); "></circle>
      <circle fill="#00BCFF" cx="623.7" cy="573.7" r="11.9" style="transform: translate(77px, 338px); -webkit-transform: translate(77px, 338px); -ms-transform: translate(77px, 338px); "></circle>
      <circle fill="#32CBFF" cx="596.9" cy="573.7" r="11.9" style="transform: translate(54px, 294px); -webkit-transform: translate(54px, 294px); -ms-transform: translate(54px, 294px); "></circle>
      <circle fill="#00BCC0" cx="436.2" cy="573.7" r="11.9" style="transform: translate(-232px, 342px); -webkit-transform: translate(-232px, 342px); -ms-transform: translate(-232px, 342px); "></circle>
      <circle fill="#00B5A7" cx="409.4" cy="573.7" r="11.9" style="transform: translate(-327px, 309px); -webkit-transform: translate(-327px, 309px); -ms-transform: translate(-327px, 309px); "></circle>
      <circle fill="#007FDD" cx="382.6" cy="573.7" r="11.9" style="transform: translate(-303px, 317px); -webkit-transform: translate(-303px, 317px); -ms-transform: translate(-303px, 317px); "></circle>
      <circle fill="#00AAFF" cx="355.8" cy="573.7" r="11.9" style="transform: translate(-404px, 282px); -webkit-transform: translate(-404px, 282px); -ms-transform: translate(-404px, 282px); "></circle>
      <circle fill="#0095FF" cx="329" cy="573.7" r="11.9" style="transform: translate(-420px, 332px); -webkit-transform: translate(-420px, 332px); -ms-transform: translate(-420px, 332px); "></circle>
      <circle fill="#0085FF" cx="998.8" cy="546.6" r="11.9" style="transform: translate(779px, 295px); -webkit-transform: translate(779px, 295px); -ms-transform: translate(779px, 295px); "></circle>
      <circle fill="#32CBFF" cx="677.3" cy="546.6" r="11.9" style="transform: translate(179px, 288px); -webkit-transform: translate(179px, 288px); -ms-transform: translate(179px, 288px); "></circle>
      <circle fill="#4FD5FF" cx="623.7" cy="546.6" r="11.9" style="transform: translate(103px, 240px); -webkit-transform: translate(103px, 240px); -ms-transform: translate(103px, 240px); "></circle>
      <circle fill="#95C6FF" cx="596.9" cy="546.6" r="11.9" style="transform: translate(14px, 239px); -webkit-transform: translate(14px, 239px); -ms-transform: translate(14px, 239px); "></circle>
      <circle fill="#0084F2" cx="436.2" cy="546.6" r="11.9" style="transform: translate(-241px, 288px); -webkit-transform: translate(-241px, 288px); -ms-transform: translate(-241px, 288px); "></circle>
      <circle fill="#00C3FF" cx="409.4" cy="546.6" r="11.9" style="transform: translate(-266px, 250px); -webkit-transform: translate(-266px, 250px); -ms-transform: translate(-266px, 250px); "></circle>
      <circle fill="#00C2FF" cx="382.6" cy="546.6" r="11.9" style="transform: translate(-335px, 279px); -webkit-transform: translate(-335px, 279px); -ms-transform: translate(-335px, 279px); "></circle>
      <circle fill="#00BEFF" cx="355.8" cy="546.6" r="11.9" style="transform: translate(-397px, 235px); -webkit-transform: translate(-397px, 235px); -ms-transform: translate(-397px, 235px); "></circle>
      <circle fill="#00BCFF" cx="329" cy="546.6" r="11.9" style="transform: translate(-420px, 310px); -webkit-transform: translate(-420px, 310px); -ms-transform: translate(-420px, 310px); "></circle>
      <circle fill="#00BAFF" cx="918.4" cy="519.6" r="11.9" style="transform: translate(625px, 187px); -webkit-transform: translate(625px, 187px); -ms-transform: translate(625px, 187px); "></circle>
      <circle fill="#61B5FF" cx="891.6" cy="519.6" r="11.9" style="transform: translate(599px, 261px); -webkit-transform: translate(599px, 261px); -ms-transform: translate(599px, 261px); "></circle>
      <circle fill="#00AAFF" cx="677.3" cy="519.6" r="11.9" style="transform: translate(186px, 216px); -webkit-transform: translate(186px, 216px); -ms-transform: translate(186px, 216px); "></circle>
      <circle fill="#28D1FF" cx="650.5" cy="519.6" r="11.9" style="transform: translate(178px, 193px); -webkit-transform: translate(178px, 193px); -ms-transform: translate(178px, 193px); "></circle>
      <circle fill="#18CDFF" cx="623.7" cy="519.6" r="11.9" style="transform: translate(99px, 229px); -webkit-transform: translate(99px, 229px); -ms-transform: translate(99px, 229px); "></circle>
      <circle fill="#95D2FF" cx="596.9" cy="519.6" r="11.9" style="transform: translate(78px, 236px); -webkit-transform: translate(78px, 236px); -ms-transform: translate(78px, 236px); "></circle>
      <circle fill="#23CAFF" cx="382.6" cy="519.6" r="11.9" style="transform: translate(-313px, 213px); -webkit-transform: translate(-313px, 213px); -ms-transform: translate(-313px, 213px); "></circle>
      <circle fill="#00C5FF" cx="355.8" cy="519.6" r="11.9" style="transform: translate(-418px, 263px); -webkit-transform: translate(-418px, 263px); -ms-transform: translate(-418px, 263px); "></circle>
      <circle fill="#0092E4" cx="329" cy="519.6" r="11.9" style="transform: translate(-439px, 182px); -webkit-transform: translate(-439px, 182px); -ms-transform: translate(-439px, 182px); "></circle>
      <circle fill="#9AD1FF" cx="891.6" cy="465.5" r="11.9" style="transform: translate(569px, 103px); -webkit-transform: translate(569px, 103px); -ms-transform: translate(569px, 103px); "></circle>
      <circle fill="#0077C1" cx="864.8" cy="465.5" r="11.9" style="transform: translate(558px, 160px); -webkit-transform: translate(558px, 160px); -ms-transform: translate(558px, 160px); "></circle>
      <circle fill="#46CCFF" cx="811.2" cy="465.5" r="11.9" style="transform: translate(428px, 168px); -webkit-transform: translate(428px, 168px); -ms-transform: translate(428px, 168px); "></circle>
      <circle fill="#5CC4FF" cx="704.1" cy="465.5" r="11.9" style="transform: translate(208px, 171px); -webkit-transform: translate(208px, 171px); -ms-transform: translate(208px, 171px); "></circle>
      <circle fill="#90CFFF" cx="677.3" cy="465.5" r="11.9" style="transform: translate(165px, 166px); -webkit-transform: translate(165px, 166px); -ms-transform: translate(165px, 166px); "></circle>
      <circle fill="#0099FF" cx="650.5" cy="465.5" r="11.9" style="transform: translate(94px, 103px); -webkit-transform: translate(94px, 103px); -ms-transform: translate(94px, 103px); "></circle>
      <circle fill="#0ABFFF" cx="623.7" cy="465.5" r="11.9" style="transform: translate(66px, 136px); -webkit-transform: translate(66px, 136px); -ms-transform: translate(66px, 136px); "></circle>
      <circle fill="#0038FF" cx="596.9" cy="465.5" r="11.9" style="transform: translate(40px, 92px); -webkit-transform: translate(40px, 92px); -ms-transform: translate(40px, 92px); "></circle>
      <circle fill="#66B4FF" cx="570.1" cy="465.5" r="11.9" style="transform: translate(5px, 86px); -webkit-transform: translate(5px, 86px); -ms-transform: translate(5px, 86px); "></circle>
      <circle fill="#86BAFF" cx="543.3" cy="465.5" r="11.9" style="transform: translate(-72px, 110px); -webkit-transform: translate(-72px, 110px); -ms-transform: translate(-72px, 110px); "></circle>
      <circle fill="#0F66FF" cx="516.5" cy="465.5" r="11.9" style="transform: translate(-129px, 157px); -webkit-transform: translate(-129px, 157px); -ms-transform: translate(-129px, 157px); "></circle>
      <circle fill="#00BEFF" cx="275.4" cy="465.5" r="11.9" style="transform: translate(-577px, 101px); -webkit-transform: translate(-577px, 101px); -ms-transform: translate(-577px, 101px); "></circle>
      <circle fill="#7DC1FF" cx="248.6" cy="465.5" r="11.9" style="transform: translate(-553px, 82px); -webkit-transform: translate(-553px, 82px); -ms-transform: translate(-553px, 82px); "></circle>
      <circle fill="#20C0F9" cx="918.4" cy="438.4" r="11.9" style="transform: translate(613px, 91px); -webkit-transform: translate(613px, 91px); -ms-transform: translate(613px, 91px); "></circle>
      <circle fill="#00AD8B" cx="891.6" cy="438.4" r="11.9" style="transform: translate(569px, 105px); -webkit-transform: translate(569px, 105px); -ms-transform: translate(569px, 105px); "></circle>
      <circle fill="#25A3CD" cx="864.8" cy="438.4" r="11.9" style="transform: translate(498px, 61px); -webkit-transform: translate(498px, 61px); -ms-transform: translate(498px, 61px); "></circle>
      <circle fill="#008C85" cx="838" cy="438.4" r="11.9" style="transform: translate(476px, 79px); -webkit-transform: translate(476px, 79px); -ms-transform: translate(476px, 79px); "></circle>
      <circle fill="#00A0FF" cx="811.2" cy="438.4" r="11.9" style="transform: translate(464px, 92px); -webkit-transform: translate(464px, 92px); -ms-transform: translate(464px, 92px); "></circle>
      <circle fill="#00A1FF" cx="784.4" cy="438.4" r="11.9" style="transform: translate(378px, 35px); -webkit-transform: translate(378px, 35px); -ms-transform: translate(378px, 35px); "></circle>
      <circle fill="#71CCFF" cx="730.9" cy="438.4" r="11.9" style="transform: translate(312px, 58px); -webkit-transform: translate(312px, 58px); -ms-transform: translate(312px, 58px); "></circle>
      <circle fill="#00AAFF" cx="704.1" cy="438.4" r="11.9" style="transform: translate(250px, 55px); -webkit-transform: translate(250px, 55px); -ms-transform: translate(250px, 55px); "></circle>
      <circle fill="#95D2FF" cx="677.3" cy="438.4" r="11.9" style="transform: translate(219px, 56px); -webkit-transform: translate(219px, 56px); -ms-transform: translate(219px, 56px); "></circle>
      <circle fill="#0049FF" cx="650.5" cy="438.4" r="11.9" style="transform: translate(105px, 84px); -webkit-transform: translate(105px, 84px); -ms-transform: translate(105px, 84px); "></circle>
      <circle fill="#005AFF" cx="623.7" cy="438.4" r="11.9" style="transform: translate(120px, 119px); -webkit-transform: translate(120px, 119px); -ms-transform: translate(120px, 119px); "></circle>
      <circle fill="#2661FF" cx="596.9" cy="438.4" r="11.9" style="transform: translate(31px, 70px); -webkit-transform: translate(31px, 70px); -ms-transform: translate(31px, 70px); "></circle>
      <circle fill="#1DA8FF" cx="570.1" cy="438.4" r="11.9" style="transform: translate(-5px, 113px); -webkit-transform: translate(-5px, 113px); -ms-transform: translate(-5px, 113px); "></circle>
      <circle fill="#7FB1FF" cx="543.3" cy="438.4" r="11.9" style="transform: translate(-65px, 80px); -webkit-transform: translate(-65px, 80px); -ms-transform: translate(-65px, 80px); "></circle>
      <circle fill="#88BDFF" cx="516.5" cy="438.4" r="11.9" style="transform: translate(-139px, 90px); -webkit-transform: translate(-139px, 90px); -ms-transform: translate(-139px, 90px); "></circle>
      <circle fill="#005D98" cx="248.6" cy="438.4" r="11.9" style="transform: translate(-568px, 91px); -webkit-transform: translate(-568px, 91px); -ms-transform: translate(-568px, 91px); "></circle>
      <circle fill="#B2D17C" cx="221.8" cy="438.4" r="11.9" style="transform: translate(-623px, 40px); -webkit-transform: translate(-623px, 40px); -ms-transform: translate(-623px, 40px); "></circle>
      <circle fill="#008C85" cx="918.4" cy="411.4" r="11.9" style="transform: translate(587px, 33px); -webkit-transform: translate(587px, 33px); -ms-transform: translate(587px, 33px); "></circle>
      <circle fill="#0035FF" cx="891.6" cy="411.4" r="11.9" style="transform: translate(556px, 5px); -webkit-transform: translate(556px, 5px); -ms-transform: translate(556px, 5px); "></circle>
      <circle fill="#0074FF" cx="864.8" cy="411.4" r="11.9" style="transform: translate(480px, 44px); -webkit-transform: translate(480px, 44px); -ms-transform: translate(480px, 44px); "></circle>
      <circle fill="#0085FF" cx="838" cy="411.4" r="11.9" style="transform: translate(434px, 19px); -webkit-transform: translate(434px, 19px); -ms-transform: translate(434px, 19px); "></circle>
      <circle fill="#0071FF" cx="811.2" cy="411.4" r="11.9" style="transform: translate(415px, 67px); -webkit-transform: translate(415px, 67px); -ms-transform: translate(415px, 67px); "></circle>
      <circle fill="#148DFF" cx="784.4" cy="411.4" r="11.9" style="transform: translate(388px, 56px); -webkit-transform: translate(388px, 56px); -ms-transform: translate(388px, 56px); "></circle>
      <circle fill="#70C9FF" cx="757.6" cy="411.4" r="11.9" style="transform: translate(293px, -6px); -webkit-transform: translate(293px, -6px); -ms-transform: translate(293px, -6px); "></circle>
      <circle fill="#44B2FF" cx="730.9" cy="411.4" r="11.9" style="transform: translate(267px, 19px); -webkit-transform: translate(267px, 19px); -ms-transform: translate(267px, 19px); "></circle>
      <circle fill="#17A4FF" cx="704.1" cy="411.4" r="11.9" style="transform: translate(199px, 31px); -webkit-transform: translate(199px, 31px); -ms-transform: translate(199px, 31px); "></circle>
      <circle fill="#005EFF" cx="677.3" cy="411.4" r="11.9" style="transform: translate(189px, 74px); -webkit-transform: translate(189px, 74px); -ms-transform: translate(189px, 74px); "></circle>
      <circle fill="#00A0FF" cx="650.5" cy="411.4" r="11.9" style="transform: translate(91px, 11px); -webkit-transform: translate(91px, 11px); -ms-transform: translate(91px, 11px); "></circle>
      <circle fill="#0081FF" cx="623.7" cy="411.4" r="11.9" style="transform: translate(71px, 60px); -webkit-transform: translate(71px, 60px); -ms-transform: translate(71px, 60px); "></circle>
      <circle fill="#03B1FF" cx="596.9" cy="411.4" r="11.9" style="transform: translate(7px, 31px); -webkit-transform: translate(7px, 31px); -ms-transform: translate(7px, 31px); "></circle>
      <circle fill="#5AC1FF" cx="570.1" cy="411.4" r="11.9" style="transform: translate(-49px, -9px); -webkit-transform: translate(-49px, -9px); -ms-transform: translate(-49px, -9px); "></circle>
      <circle fill="#98CBFF" cx="543.3" cy="411.4" r="11.9" style="transform: translate(-76px, -4px); -webkit-transform: translate(-76px, -4px); -ms-transform: translate(-76px, -4px); "></circle>
      <circle fill="#007AC0" cx="302.2" cy="411.4" r="11.9" style="transform: translate(-452px, 35px); -webkit-transform: translate(-452px, 35px); -ms-transform: translate(-452px, 35px); "></circle>
      <circle fill="#0A8CBA" cx="275.4" cy="411.4" r="11.9" style="transform: translate(-518px, 58px); -webkit-transform: translate(-518px, 58px); -ms-transform: translate(-518px, 58px); "></circle>
      <circle fill="#00697F" cx="248.6" cy="411.4" r="11.9" style="transform: translate(-560px, 72px); -webkit-transform: translate(-560px, 72px); -ms-transform: translate(-560px, 72px); "></circle>
      <circle fill="#00CB95" cx="221.8" cy="411.4" r="11.9" style="transform: translate(-667px, 4px); -webkit-transform: translate(-667px, 4px); -ms-transform: translate(-667px, 4px); "></circle>
      <circle fill="#00BE9D" cx="918.4" cy="384.3" r="11.9" style="transform: translate(638px, -46px); -webkit-transform: translate(638px, -46px); -ms-transform: translate(638px, -46px); "></circle>
      <circle fill="#00A88B" cx="891.6" cy="384.3" r="11.9" style="transform: translate(532px, -15px); -webkit-transform: translate(532px, -15px); -ms-transform: translate(532px, -15px); "></circle>
      <circle fill="#61B5FF" cx="864.8" cy="384.3" r="11.9" style="transform: translate(489px, -30px); -webkit-transform: translate(489px, -30px); -ms-transform: translate(489px, -30px); "></circle>
      <circle fill="#0093FF" cx="838" cy="384.3" r="11.9" style="transform: translate(473px, 20px); -webkit-transform: translate(473px, 20px); -ms-transform: translate(473px, 20px); "></circle>
      <circle fill="#002CFF" cx="811.2" cy="384.3" r="11.9" style="transform: translate(466px, -48px); -webkit-transform: translate(466px, -48px); -ms-transform: translate(466px, -48px); "></circle>
      <circle fill="#5084FF" cx="784.4" cy="384.3" r="11.9" style="transform: translate(383px, 4px); -webkit-transform: translate(383px, 4px); -ms-transform: translate(383px, 4px); "></circle>
      <circle fill="#0C67FF" cx="757.6" cy="384.3" r="11.9" style="transform: translate(306px, -40px); -webkit-transform: translate(306px, -40px); -ms-transform: translate(306px, -40px); "></circle>
      <circle fill="#12B9FF" cx="730.9" cy="384.3" r="11.9" style="transform: translate(303px, 4px); -webkit-transform: translate(303px, 4px); -ms-transform: translate(303px, 4px); "></circle>
      <circle fill="#4CCAFF" cx="704.1" cy="384.3" r="11.9" style="transform: translate(248px, 17px); -webkit-transform: translate(248px, 17px); -ms-transform: translate(248px, 17px); "></circle>
      <circle fill="#0D73FF" cx="677.3" cy="384.3" r="11.9" style="transform: translate(206px, -37px); -webkit-transform: translate(206px, -37px); -ms-transform: translate(206px, -37px); "></circle>
      <circle fill="#78B4FF" cx="650.5" cy="384.3" r="11.9" style="transform: translate(103px, -32px); -webkit-transform: translate(103px, -32px); -ms-transform: translate(103px, -32px); "></circle>
      <circle fill="#AACEFF" cx="543.3" cy="384.3" r="11.9" style="transform: translate(-27px, 17px); -webkit-transform: translate(-27px, 17px); -ms-transform: translate(-27px, 17px); "></circle>
      <circle fill="#008DA2" cx="302.2" cy="384.3" r="11.9" style="transform: translate(-520px, -48px); -webkit-transform: translate(-520px, -48px); -ms-transform: translate(-520px, -48px); "></circle>
      <circle fill="#005179" cx="275.4" cy="384.3" r="11.9" style="transform: translate(-575px, -11px); -webkit-transform: translate(-575px, -11px); -ms-transform: translate(-575px, -11px); "></circle>
      <circle fill="#00947F" cx="248.6" cy="384.3" r="11.9" style="transform: translate(-589px, -62px); -webkit-transform: translate(-589px, -62px); -ms-transform: translate(-589px, -62px); "></circle>
      <circle fill="#009179" cx="221.8" cy="384.3" r="11.9" style="transform: translate(-615px, -9px); -webkit-transform: translate(-615px, -9px); -ms-transform: translate(-615px, -9px); "></circle>
      <circle fill="#008E79" cx="195" cy="384.3" r="11.9" style="transform: translate(-695px, 5px); -webkit-transform: translate(-695px, 5px); -ms-transform: translate(-695px, 5px); "></circle>
      <circle fill="#5B8AFF" cx="998.8" cy="357.3" r="11.9" style="transform: translate(758px, -97px); -webkit-transform: translate(758px, -97px); -ms-transform: translate(758px, -97px); "></circle>
      <circle fill="#11D3FF" cx="972" cy="357.3" r="11.9" style="transform: translate(691px, -23px); -webkit-transform: translate(691px, -23px); -ms-transform: translate(691px, -23px); "></circle>
      <circle fill="#00C3FF" cx="945.2" cy="357.3" r="11.9" style="transform: translate(623px, -46px); -webkit-transform: translate(623px, -46px); -ms-transform: translate(623px, -46px); "></circle>
      <circle fill="#00C2FF" cx="918.4" cy="357.3" r="11.9" style="transform: translate(658px, -109px); -webkit-transform: translate(658px, -109px); -ms-transform: translate(658px, -109px); "></circle>
      <circle fill="#0099A9" cx="891.6" cy="357.3" r="11.9" style="transform: translate(605px, -66px); -webkit-transform: translate(605px, -66px); -ms-transform: translate(605px, -66px); "></circle>
      <circle fill="#008EC9" cx="864.8" cy="357.3" r="11.9" style="transform: translate(548px, -112px); -webkit-transform: translate(548px, -112px); -ms-transform: translate(548px, -112px); "></circle>
      <circle fill="#0049AC" cx="838" cy="357.3" r="11.9" style="transform: translate(437px, -90px); -webkit-transform: translate(437px, -90px); -ms-transform: translate(437px, -90px); "></circle>
      <circle fill="#0093FF" cx="811.2" cy="357.3" r="11.9" style="transform: translate(468px, -56px); -webkit-transform: translate(468px, -56px); -ms-transform: translate(468px, -56px); "></circle>
      <circle fill="#0056FF" cx="784.4" cy="357.3" r="11.9" style="transform: translate(338px, -85px); -webkit-transform: translate(338px, -85px); -ms-transform: translate(338px, -85px); "></circle>
      <circle fill="#0059FF" cx="757.6" cy="357.3" r="11.9" style="transform: translate(296px, -26px); -webkit-transform: translate(296px, -26px); -ms-transform: translate(296px, -26px); "></circle>
      <circle fill="#0074FF" cx="730.9" cy="357.3" r="11.9" style="transform: translate(296px, -62px); -webkit-transform: translate(296px, -62px); -ms-transform: translate(296px, -62px); "></circle>
      <circle fill="#52B0FF" cx="704.1" cy="357.3" r="11.9" style="transform: translate(265px, -110px); -webkit-transform: translate(265px, -110px); -ms-transform: translate(265px, -110px); "></circle>
      <circle fill="#0080FF" cx="623.7" cy="357.3" r="11.9" style="transform: translate(106px, -69px); -webkit-transform: translate(106px, -69px); -ms-transform: translate(106px, -69px); "></circle>
      <circle fill="#00C9FF" cx="596.9" cy="357.3" r="11.9" style="transform: translate(2px, -36px); -webkit-transform: translate(2px, -36px); -ms-transform: translate(2px, -36px); "></circle>
      <circle fill="#BBD5FF" cx="570.1" cy="357.3" r="11.9" style="transform: translate(-26px, -72px); -webkit-transform: translate(-26px, -72px); -ms-transform: translate(-26px, -72px); "></circle>
      <circle fill="#6DBBFF" cx="543.3" cy="357.3" r="11.9" style="transform: translate(-78px, -72px); -webkit-transform: translate(-78px, -72px); -ms-transform: translate(-78px, -72px); "></circle>
      <circle fill="#00BEFF" cx="329" cy="357.3" r="11.9" style="transform: translate(-461px, -84px); -webkit-transform: translate(-461px, -84px); -ms-transform: translate(-461px, -84px); "></circle>
      <circle fill="#2165C4" cx="302.2" cy="357.3" r="11.9" style="transform: translate(-454px, -66px); -webkit-transform: translate(-454px, -66px); -ms-transform: translate(-454px, -66px); "></circle>
      <circle fill="#1DA8FF" cx="275.4" cy="357.3" r="11.9" style="transform: translate(-562px, -39px); -webkit-transform: translate(-562px, -39px); -ms-transform: translate(-562px, -39px); "></circle>
      <circle fill="#00707A" cx="248.6" cy="357.3" r="11.9" style="transform: translate(-587px, -90px); -webkit-transform: translate(-587px, -90px); -ms-transform: translate(-587px, -90px); "></circle>
      <circle fill="#007B79" cx="221.8" cy="357.3" r="11.9" style="transform: translate(-668px, -51px); -webkit-transform: translate(-668px, -51px); -ms-transform: translate(-668px, -51px); "></circle>
      <circle fill="#00997A" cx="195" cy="357.3" r="11.9" style="transform: translate(-657px, -43px); -webkit-transform: translate(-657px, -43px); -ms-transform: translate(-657px, -43px); "></circle>
      <circle fill="#00CDFF" cx="972" cy="330.2" r="11.9" style="transform: translate(673px, -82px); -webkit-transform: translate(673px, -82px); -ms-transform: translate(673px, -82px); "></circle>
      <circle fill="#00CDFF" cx="945.2" cy="330.2" r="11.9" style="transform: translate(629px, -126px); -webkit-transform: translate(629px, -126px); -ms-transform: translate(629px, -126px); "></circle>
      <circle fill="#41CAFF" cx="918.4" cy="330.2" r="11.9" style="transform: translate(600px, -160px); -webkit-transform: translate(600px, -160px); -ms-transform: translate(600px, -160px); "></circle>
      <circle fill="#0092F4" cx="891.6" cy="330.2" r="11.9" style="transform: translate(586px, -158px); -webkit-transform: translate(586px, -158px); -ms-transform: translate(586px, -158px); "></circle>
      <circle fill="#00C6FF" cx="864.8" cy="330.2" r="11.9" style="transform: translate(533px, -107px); -webkit-transform: translate(533px, -107px); -ms-transform: translate(533px, -107px); "></circle>
      <circle fill="#0093FF" cx="838" cy="330.2" r="11.9" style="transform: translate(448px, -125px); -webkit-transform: translate(448px, -125px); -ms-transform: translate(448px, -125px); "></circle>
      <circle fill="#0074FF" cx="811.2" cy="330.2" r="11.9" style="transform: translate(448px, -146px); -webkit-transform: translate(448px, -146px); -ms-transform: translate(448px, -146px); "></circle>
      <circle fill="#0041FF" cx="784.4" cy="330.2" r="11.9" style="transform: translate(377px, -136px); -webkit-transform: translate(377px, -136px); -ms-transform: translate(377px, -136px); "></circle>
      <circle fill="#0092F4" cx="757.6" cy="330.2" r="11.9" style="transform: translate(330px, -77px); -webkit-transform: translate(330px, -77px); -ms-transform: translate(330px, -77px); "></circle>
      <circle fill="#0062FF" cx="730.9" cy="330.2" r="11.9" style="transform: translate(287px, -149px); -webkit-transform: translate(287px, -149px); -ms-transform: translate(287px, -149px); "></circle>
      <circle fill="#00CDFF" cx="704.1" cy="330.2" r="11.9" style="transform: translate(274px, -118px); -webkit-transform: translate(274px, -118px); -ms-transform: translate(274px, -118px); "></circle>
      <circle fill="#008AFF" cx="677.3" cy="330.2" r="11.9" style="transform: translate(192px, -75px); -webkit-transform: translate(192px, -75px); -ms-transform: translate(192px, -75px); "></circle>
      <circle fill="#00A0FF" cx="650.5" cy="330.2" r="11.9" style="transform: translate(149px, -81px); -webkit-transform: translate(149px, -81px); -ms-transform: translate(149px, -81px); "></circle>
      <circle fill="#009DFF" cx="623.7" cy="330.2" r="11.9" style="transform: translate(81px, -133px); -webkit-transform: translate(81px, -133px); -ms-transform: translate(81px, -133px); "></circle>
      <circle fill="#03C6FF" cx="596.9" cy="330.2" r="11.9" style="transform: translate(21px, -143px); -webkit-transform: translate(21px, -143px); -ms-transform: translate(21px, -143px); "></circle>
      <circle fill="#0099F1" cx="570.1" cy="330.2" r="11.9" style="transform: translate(-41px, -120px); -webkit-transform: translate(-41px, -120px); -ms-transform: translate(-41px, -120px); "></circle>
      <circle fill="#0099F1" cx="516.5" cy="300.5" r="11.9" style="transform: translate(-132px, -198px); -webkit-transform: translate(-132px, -198px); -ms-transform: translate(-132px, -198px); "></circle>
      <circle fill="#2C98FC" cx="382.6" cy="330.2" r="11.9" style="transform: translate(-369px, -76px); -webkit-transform: translate(-369px, -76px); -ms-transform: translate(-369px, -76px); "></circle>
      <circle fill="#2E88E7" cx="355.8" cy="330.2" r="11.9" style="transform: translate(-414px, -91px); -webkit-transform: translate(-414px, -91px); -ms-transform: translate(-414px, -91px); "></circle>
      <circle fill="#005784" cx="329" cy="330.2" r="11.9" style="transform: translate(-476px, -100px); -webkit-transform: translate(-476px, -100px); -ms-transform: translate(-476px, -100px); "></circle>
      <circle fill="#009291" cx="302.2" cy="330.2" r="11.9" style="transform: translate(-446px, -102px); -webkit-transform: translate(-446px, -102px); -ms-transform: translate(-446px, -102px); "></circle>
      <circle fill="#316DC8" cx="275.4" cy="330.2" r="11.9" style="transform: translate(-563px, -102px); -webkit-transform: translate(-563px, -102px); -ms-transform: translate(-563px, -102px); "></circle>
      <circle fill="#004784" cx="248.6" cy="330.2" r="11.9" style="transform: translate(-574px, -123px); -webkit-transform: translate(-574px, -123px); -ms-transform: translate(-574px, -123px); "></circle>
      <circle fill="#009491" cx="221.8" cy="330.2" r="11.9" style="transform: translate(-620px, -88px); -webkit-transform: translate(-620px, -88px); -ms-transform: translate(-620px, -88px); "></circle>
      <circle fill="#00BEFF" cx="195" cy="330.2" r="11.9" style="transform: translate(-643px, -161px); -webkit-transform: translate(-643px, -161px); -ms-transform: translate(-643px, -161px); "></circle>
      <circle fill="#00BAFF" cx="1052.3" cy="303.2" r="11.9" style="transform: translate(882px, -135px); -webkit-transform: translate(882px, -135px); -ms-transform: translate(882px, -135px); "></circle>
      <circle fill="#00CAFF" cx="972" cy="303.2" r="11.9" style="transform: translate(670px, -206px); -webkit-transform: translate(670px, -206px); -ms-transform: translate(670px, -206px); "></circle>
      <circle fill="#00B0FF" cx="945.2" cy="303.2" r="11.9" style="transform: translate(632px, -164px); -webkit-transform: translate(632px, -164px); -ms-transform: translate(632px, -164px); "></circle>
      <circle fill="#01CBFF" cx="918.4" cy="303.2" r="11.9" style="transform: translate(616px, -141px); -webkit-transform: translate(616px, -141px); -ms-transform: translate(616px, -141px); "></circle>
      <circle fill="#04AFFF" cx="891.6" cy="303.2" r="11.9" style="transform: translate(603px, -190px); -webkit-transform: translate(603px, -190px); -ms-transform: translate(603px, -190px); "></circle>
      <circle fill="#00B5FF" cx="864.8" cy="303.2" r="11.9" style="transform: translate(486px, -122px); -webkit-transform: translate(486px, -122px); -ms-transform: translate(486px, -122px); "></circle>
      <circle fill="#00C1FF" cx="838" cy="303.2" r="11.9" style="transform: translate(444px, -158px); -webkit-transform: translate(444px, -158px); -ms-transform: translate(444px, -158px); "></circle>
      <circle fill="#00AAFF" cx="811.2" cy="303.2" r="11.9" style="transform: translate(465px, -157px); -webkit-transform: translate(465px, -157px); -ms-transform: translate(465px, -157px); "></circle>
      <circle fill="#00AFFF" cx="784.4" cy="303.2" r="11.9" style="transform: translate(407px, -157px); -webkit-transform: translate(407px, -157px); -ms-transform: translate(407px, -157px); "></circle>
      <circle fill="#00A0FF" cx="757.6" cy="303.2" r="11.9" style="transform: translate(368px, -198px); -webkit-transform: translate(368px, -198px); -ms-transform: translate(368px, -198px); "></circle>
      <circle fill="#00C4FF" cx="730.9" cy="303.2" r="11.9" style="transform: translate(290px, -180px); -webkit-transform: translate(290px, -180px); -ms-transform: translate(290px, -180px); "></circle>
      <circle fill="#00CBFF" cx="704.1" cy="303.2" r="11.9" style="transform: translate(228px, -141px); -webkit-transform: translate(228px, -141px); -ms-transform: translate(228px, -141px); "></circle>
      <circle fill="#00C9FF" cx="677.3" cy="303.2" r="11.9" style="transform: translate(177px, -120px); -webkit-transform: translate(177px, -120px); -ms-transform: translate(177px, -120px); "></circle>
      <circle fill="#00C1FF" cx="650.5" cy="303.2" r="11.9" style="transform: translate(173px, -164px); -webkit-transform: translate(173px, -164px); -ms-transform: translate(173px, -164px); "></circle>
      <circle fill="#37B6FF" cx="623.7" cy="303.2" r="11.9" style="transform: translate(85px, -194px); -webkit-transform: translate(85px, -194px); -ms-transform: translate(85px, -194px); "></circle>
      <circle fill="#8CCB87" cx="596.9" cy="303.2" r="11.9" style="transform: translate(-1px, -166px); -webkit-transform: translate(-1px, -166px); -ms-transform: translate(-1px, -166px); "></circle>
      <circle fill="#8CCB87" cx="543.3" cy="273.5" r="11.9" style="transform: translate(-86px, -233px); -webkit-transform: translate(-86px, -233px); -ms-transform: translate(-86px, -233px); "></circle>
      <circle fill="#BAD4FF" cx="382.6" cy="303.2" r="11.9" style="transform: translate(-355px, -187px); -webkit-transform: translate(-355px, -187px); -ms-transform: translate(-355px, -187px); "></circle>
      <circle fill="#00CAFF" cx="355.8" cy="303.2" r="11.9" style="transform: translate(-369px, -171px); -webkit-transform: translate(-369px, -171px); -ms-transform: translate(-369px, -171px); "></circle>
      <circle fill="#00AF8F" cx="329" cy="303.2" r="11.9" style="transform: translate(-417px, -147px); -webkit-transform: translate(-417px, -147px); -ms-transform: translate(-417px, -147px); "></circle>
      <circle fill="#1D8EC1" cx="302.2" cy="303.2" r="11.9" style="transform: translate(-508px, -125px); -webkit-transform: translate(-508px, -125px); -ms-transform: translate(-508px, -125px); "></circle>
      <circle fill="#008A81" cx="275.4" cy="303.2" r="11.9" style="transform: translate(-562px, -154px); -webkit-transform: translate(-562px, -154px); -ms-transform: translate(-562px, -154px); "></circle>
      <circle fill="#00CCFF" cx="248.6" cy="303.2" r="11.9" style="transform: translate(-620px, -144px); -webkit-transform: translate(-620px, -144px); -ms-transform: translate(-620px, -144px); "></circle>
      <circle fill="#00C0FF" cx="221.8" cy="303.2" r="11.9" style="transform: translate(-608px, -141px); -webkit-transform: translate(-608px, -141px); -ms-transform: translate(-608px, -141px); "></circle>
      <circle fill="#00ACFF" cx="195" cy="303.2" r="11.9" style="transform: translate(-690px, -206px); -webkit-transform: translate(-690px, -206px); -ms-transform: translate(-690px, -206px); "></circle>
      <circle fill="#03B1FF" cx="168.2" cy="303.2" r="11.9" style="transform: translate(-750px, -201px); -webkit-transform: translate(-750px, -201px); -ms-transform: translate(-750px, -201px); "></circle>
      <circle fill="#65C6FF" cx="1079.1" cy="276.1" r="11.9" style="transform: translate(941px, -233px); -webkit-transform: translate(941px, -233px); -ms-transform: translate(941px, -233px); "></circle>
      <circle fill="#00ACFF" cx="1025.6" cy="276.1" r="11.9" style="transform: translate(816px, -195px); -webkit-transform: translate(816px, -195px); -ms-transform: translate(816px, -195px); "></circle>
      <circle fill="#00A0FF" cx="998.8" cy="276.1" r="11.9" style="transform: translate(777px, -220px); -webkit-transform: translate(777px, -220px); -ms-transform: translate(777px, -220px); "></circle>
      <circle fill="#00B4FF" cx="972" cy="276.1" r="11.9" style="transform: translate(684px, -242px); -webkit-transform: translate(684px, -242px); -ms-transform: translate(684px, -242px); "></circle>
      <circle fill="#00CAFF" cx="945.2" cy="276.1" r="11.9" style="transform: translate(651px, -182px); -webkit-transform: translate(651px, -182px); -ms-transform: translate(651px, -182px); "></circle>
      <circle fill="#00C6FF" cx="918.4" cy="276.1" r="11.9" style="transform: translate(607px, -183px); -webkit-transform: translate(607px, -183px); -ms-transform: translate(607px, -183px); "></circle>
      <circle fill="#00B3FF" cx="891.6" cy="276.1" r="11.9" style="transform: translate(598px, -247px); -webkit-transform: translate(598px, -247px); -ms-transform: translate(598px, -247px); "></circle>
      <circle fill="#00B1FF" cx="864.8" cy="276.1" r="11.9" style="transform: translate(548px, -257px); -webkit-transform: translate(548px, -257px); -ms-transform: translate(548px, -257px); "></circle>
      <circle fill="#00AAFF" cx="838" cy="276.1" r="11.9" style="transform: translate(492px, -191px); -webkit-transform: translate(492px, -191px); -ms-transform: translate(492px, -191px); "></circle>
      <circle fill="#00A8FF" cx="811.2" cy="276.1" r="11.9" style="transform: translate(448px, -191px); -webkit-transform: translate(448px, -191px); -ms-transform: translate(448px, -191px); "></circle>
      <circle fill="#00C4FF" cx="784.4" cy="276.1" r="11.9" style="transform: translate(341px, -169px); -webkit-transform: translate(341px, -169px); -ms-transform: translate(341px, -169px); "></circle>
      <circle fill="#00CEFF" cx="757.6" cy="276.1" r="11.9" style="transform: translate(346px, -237px); -webkit-transform: translate(346px, -237px); -ms-transform: translate(346px, -237px); "></circle>
      <circle fill="#00D0FF" cx="730.9" cy="276.1" r="11.9" style="transform: translate(313px, -172px); -webkit-transform: translate(313px, -172px); -ms-transform: translate(313px, -172px); "></circle>
      <circle fill="#00CDFF" cx="704.1" cy="276.1" r="11.9" style="transform: translate(256px, -248px); -webkit-transform: translate(256px, -248px); -ms-transform: translate(256px, -248px); "></circle>
      <circle fill="#03CEFF" cx="677.3" cy="276.1" r="11.9" style="transform: translate(192px, -204px); -webkit-transform: translate(192px, -204px); -ms-transform: translate(192px, -204px); "></circle>
      <circle fill="#A2D3FF" cx="650.5" cy="276.1" r="11.9" style="transform: translate(129px, -219px); -webkit-transform: translate(129px, -219px); -ms-transform: translate(129px, -219px); "></circle>
      <circle fill="#37C6FF" cx="596.9" cy="276.1" r="11.9" style="transform: translate(36px, -233px); -webkit-transform: translate(36px, -233px); -ms-transform: translate(36px, -233px); "></circle>
      <circle fill="#006E79" cx="329" cy="276.1" r="11.9" style="transform: translate(-464px, -206px); -webkit-transform: translate(-464px, -206px); -ms-transform: translate(-464px, -206px); "></circle>
      <circle fill="#00C4E5" cx="248.6" cy="276.1" r="11.9" style="transform: translate(-594px, -246px); -webkit-transform: translate(-594px, -246px); -ms-transform: translate(-594px, -246px); "></circle>
      <circle fill="#00BCFF" cx="221.8" cy="276.1" r="11.9" style="transform: translate(-599px, -190px); -webkit-transform: translate(-599px, -190px); -ms-transform: translate(-599px, -190px); "></circle>
      <circle fill="#009FFF" cx="195" cy="276.1" r="11.9" style="transform: translate(-656px, -243px); -webkit-transform: translate(-656px, -243px); -ms-transform: translate(-656px, -243px); "></circle>
      <circle fill="#0075FF" cx="168.2" cy="276.1" r="11.9" style="transform: translate(-716px, -197px); -webkit-transform: translate(-716px, -197px); -ms-transform: translate(-716px, -197px); "></circle>
      <circle fill="#0B4DFF" cx="141.5" cy="276.1" r="11.9" style="transform: translate(-808px, -208px); -webkit-transform: translate(-808px, -208px); -ms-transform: translate(-808px, -208px); "></circle>
      <circle fill="#00B0FF" cx="114.7" cy="276.1" r="11.9" style="transform: translate(-795px, -227px); -webkit-transform: translate(-795px, -227px); -ms-transform: translate(-795px, -227px); "></circle>
      <circle fill="#46CCFF" cx="61.1" cy="276.1" r="11.9" style="transform: translate(-913px, -207px); -webkit-transform: translate(-913px, -207px); -ms-transform: translate(-913px, -207px); "></circle>
      <circle fill="#03C293" cx="1105.9" cy="249.1" r="11.9" style="transform: translate(958px, -247px); -webkit-transform: translate(958px, -247px); -ms-transform: translate(958px, -247px); "></circle>
      <circle fill="#01C1FF" cx="1079.1" cy="249.1" r="11.9" style="transform: translate(891px, -226px); -webkit-transform: translate(891px, -226px); -ms-transform: translate(891px, -226px); "></circle>
      <circle fill="#00C6FF" cx="1052.3" cy="249.1" r="11.9" style="transform: translate(838px, -258px); -webkit-transform: translate(838px, -258px); -ms-transform: translate(838px, -258px); "></circle>
      <circle fill="#00BEFF" cx="1025.6" cy="249.1" r="11.9" style="transform: translate(851px, -222px); -webkit-transform: translate(851px, -222px); -ms-transform: translate(851px, -222px); "></circle>
      <circle fill="#0093FF" cx="998.8" cy="249.1" r="11.9" style="transform: translate(770px, -286px); -webkit-transform: translate(770px, -286px); -ms-transform: translate(770px, -286px); "></circle>
      <circle fill="#00A4FF" cx="972" cy="249.1" r="11.9" style="transform: translate(730px, -270px); -webkit-transform: translate(730px, -270px); -ms-transform: translate(730px, -270px); "></circle>
      <circle fill="#00B7FF" cx="945.2" cy="249.1" r="11.9" style="transform: translate(657px, -294px); -webkit-transform: translate(657px, -294px); -ms-transform: translate(657px, -294px); "></circle>
      <circle fill="#00C2FF" cx="918.4" cy="249.1" r="11.9" style="transform: translate(599px, -284px); -webkit-transform: translate(599px, -284px); -ms-transform: translate(599px, -284px); "></circle>
      <circle fill="#009EFF" cx="891.6" cy="249.1" r="11.9" style="transform: translate(554px, -307px); -webkit-transform: translate(554px, -307px); -ms-transform: translate(554px, -307px); "></circle>
      <circle fill="#00BBFF" cx="864.8" cy="249.1" r="11.9" style="transform: translate(492px, -258px); -webkit-transform: translate(492px, -258px); -ms-transform: translate(492px, -258px); "></circle>
      <circle fill="#00B6FF" cx="838" cy="249.1" r="11.9" style="transform: translate(460px, -265px); -webkit-transform: translate(460px, -265px); -ms-transform: translate(460px, -265px); "></circle>
      <circle fill="#00BCFF" cx="811.2" cy="249.1" r="11.9" style="transform: translate(469px, -253px); -webkit-transform: translate(469px, -253px); -ms-transform: translate(469px, -253px); "></circle>
      <circle fill="#00B2FF" cx="784.4" cy="249.1" r="11.9" style="transform: translate(416px, -232px); -webkit-transform: translate(416px, -232px); -ms-transform: translate(416px, -232px); "></circle>
      <circle fill="#00CBFF" cx="757.6" cy="249.1" r="11.9" style="transform: translate(351px, -231px); -webkit-transform: translate(351px, -231px); -ms-transform: translate(351px, -231px); "></circle>
      <circle fill="#00D0FF" cx="730.9" cy="249.1" r="11.9" style="transform: translate(308px, -290px); -webkit-transform: translate(308px, -290px); -ms-transform: translate(308px, -290px); "></circle>
      <circle fill="#1DD2FF" cx="704.1" cy="249.1" r="11.9" style="transform: translate(201px, -237px); -webkit-transform: translate(201px, -237px); -ms-transform: translate(201px, -237px); "></circle>
      <circle fill="#7FCAD8" cx="677.3" cy="249.1" r="11.9" style="transform: translate(164px, -256px); -webkit-transform: translate(164px, -256px); -ms-transform: translate(164px, -256px); "></circle>
      <circle fill="#00AFBA" cx="650.5" cy="249.1" r="11.9" style="transform: translate(115px, -279px); -webkit-transform: translate(115px, -279px); -ms-transform: translate(115px, -279px); "></circle>
      <circle fill="#54C6FF" cx="623.7" cy="249.1" r="11.9" style="transform: translate(120px, -272px); -webkit-transform: translate(120px, -272px); -ms-transform: translate(120px, -272px); "></circle>
      <circle fill="#A2D3FF" cx="516.5" cy="249.1" r="11.9" style="transform: translate(-69px, -264px); -webkit-transform: translate(-69px, -264px); -ms-transform: translate(-69px, -264px); "></circle>
      <circle fill="#85BBFF" cx="436.2" cy="249.1" r="11.9" style="transform: translate(-239px, -245px); -webkit-transform: translate(-239px, -245px); -ms-transform: translate(-239px, -245px); "></circle>
      <circle fill="#008CE9" cx="409.4" cy="249.1" r="11.9" style="transform: translate(-307px, -266px); -webkit-transform: translate(-307px, -266px); -ms-transform: translate(-307px, -266px); "></circle>
      <circle fill="#009C7A" cx="275.4" cy="249.1" r="11.9" style="transform: translate(-522px, -218px); -webkit-transform: translate(-522px, -218px); -ms-transform: translate(-522px, -218px); "></circle>
      <circle fill="#00B592" cx="248.6" cy="249.1" r="11.9" style="transform: translate(-579px, -305px); -webkit-transform: translate(-579px, -305px); -ms-transform: translate(-579px, -305px); "></circle>
      <circle fill="#00BDFF" cx="221.8" cy="249.1" r="11.9" style="transform: translate(-624px, -283px); -webkit-transform: translate(-624px, -283px); -ms-transform: translate(-624px, -283px); "></circle>
      <circle fill="#3FBCFF" cx="195" cy="249.1" r="11.9" style="transform: translate(-708px, -260px); -webkit-transform: translate(-708px, -260px); -ms-transform: translate(-708px, -260px); "></circle>
      <circle fill="#0087FF" cx="168.2" cy="249.1" r="11.9" style="transform: translate(-768px, -225px); -webkit-transform: translate(-768px, -225px); -ms-transform: translate(-768px, -225px); "></circle>
      <circle fill="#001BFF" cx="141.5" cy="249.1" r="11.9" style="transform: translate(-782px, -218px); -webkit-transform: translate(-782px, -218px); -ms-transform: translate(-782px, -218px); "></circle>
      <circle fill="#003BFF" cx="114.7" cy="249.1" r="11.9" style="transform: translate(-799px, -272px); -webkit-transform: translate(-799px, -272px); -ms-transform: translate(-799px, -272px); "></circle>
      <circle fill="#0071FF" cx="87.9" cy="249.1" r="11.9" style="transform: translate(-857px, -247px); -webkit-transform: translate(-857px, -247px); -ms-transform: translate(-857px, -247px); "></circle>
      <circle fill="#00A0FF" cx="61.1" cy="249.1" r="11.9" style="transform: translate(-883px, -222px); -webkit-transform: translate(-883px, -222px); -ms-transform: translate(-883px, -222px); "></circle>
      <circle fill="#65C6FF" cx="1052.3" cy="222" r="11.9" style="transform: translate(818px, -311px); -webkit-transform: translate(818px, -311px); -ms-transform: translate(818px, -311px); "></circle>
      <circle fill="#45B9FF" cx="1025.6" cy="222" r="11.9" style="transform: translate(776px, -300px); -webkit-transform: translate(776px, -300px); -ms-transform: translate(776px, -300px); "></circle>
      <circle fill="#00BDFF" cx="998.8" cy="222" r="11.9" style="transform: translate(738px, -280px); -webkit-transform: translate(738px, -280px); -ms-transform: translate(738px, -280px); "></circle>
      <circle fill="#00C1FF" cx="972" cy="222" r="11.9" style="transform: translate(730px, -353px); -webkit-transform: translate(730px, -353px); -ms-transform: translate(730px, -353px); "></circle>
      <circle fill="#00A3FF" cx="945.2" cy="222" r="11.9" style="transform: translate(654px, -278px); -webkit-transform: translate(654px, -278px); -ms-transform: translate(654px, -278px); "></circle>
      <circle fill="#A6D3FF" cx="918.4" cy="222" r="11.9" style="transform: translate(583px, -287px); -webkit-transform: translate(583px, -287px); -ms-transform: translate(583px, -287px); "></circle>
      <circle fill="#0074FF" cx="891.6" cy="222" r="11.9" style="transform: translate(524px, -312px); -webkit-transform: translate(524px, -312px); -ms-transform: translate(524px, -312px); "></circle>
      <circle fill="#003BFF" cx="864.8" cy="222" r="11.9" style="transform: translate(559px, -316px); -webkit-transform: translate(559px, -316px); -ms-transform: translate(559px, -316px); "></circle>
      <circle fill="#0067FF" cx="838" cy="222" r="11.9" style="transform: translate(516px, -302px); -webkit-transform: translate(516px, -302px); -ms-transform: translate(516px, -302px); "></circle>
      <circle fill="#00C4FF" cx="811.2" cy="222" r="11.9" style="transform: translate(427px, -307px); -webkit-transform: translate(427px, -307px); -ms-transform: translate(427px, -307px); "></circle>
      <circle fill="#2DBBFF" cx="650.5" cy="222" r="11.9" style="transform: translate(152px, -335px); -webkit-transform: translate(152px, -335px); -ms-transform: translate(152px, -335px); "></circle>
      <circle fill="#008AFF" cx="489.7" cy="222" r="11.9" style="transform: translate(-117px, -342px); -webkit-transform: translate(-117px, -342px); -ms-transform: translate(-117px, -342px); "></circle>
      <circle fill="#00ABFF" cx="462.9" cy="222" r="11.9" style="transform: translate(-187px, -347px); -webkit-transform: translate(-187px, -347px); -ms-transform: translate(-187px, -347px); "></circle>
      <circle fill="#00BCFF" cx="436.2" cy="222" r="11.9" style="transform: translate(-211px, -353px); -webkit-transform: translate(-211px, -353px); -ms-transform: translate(-211px, -353px); "></circle>
      <circle fill="#00B3FF" cx="409.4" cy="222" r="11.9" style="transform: translate(-276px, -298px); -webkit-transform: translate(-276px, -298px); -ms-transform: translate(-276px, -298px); "></circle>
      <circle fill="#05BEB1" cx="329" cy="222" r="11.9" style="transform: translate(-430px, -355px); -webkit-transform: translate(-430px, -355px); -ms-transform: translate(-430px, -355px); "></circle>
      <circle fill="#BAD2FF" cx="302.2" cy="222" r="11.9" style="transform: translate(-488px, -341px); -webkit-transform: translate(-488px, -341px); -ms-transform: translate(-488px, -341px); "></circle>
      <circle fill="#43CCCF" cx="275.4" cy="222" r="11.9" style="transform: translate(-560px, -270px); -webkit-transform: translate(-560px, -270px); -ms-transform: translate(-560px, -270px); "></circle>
      <circle fill="#0ABACE" cx="221.8" cy="222" r="11.9" style="transform: translate(-679px, -292px); -webkit-transform: translate(-679px, -292px); -ms-transform: translate(-679px, -292px); "></circle>
      <circle fill="#61B5FF" cx="168.2" cy="222" r="11.9" style="transform: translate(-762px, -318px); -webkit-transform: translate(-762px, -318px); -ms-transform: translate(-762px, -318px); "></circle>
      <circle fill="#98CBFF" cx="114.7" cy="222" r="11.9" style="transform: translate(-810px, -347px); -webkit-transform: translate(-810px, -347px); -ms-transform: translate(-810px, -347px); "></circle>
      <circle fill="#17A4FF" cx="87.9" cy="222" r="11.9" style="transform: translate(-884px, -325px); -webkit-transform: translate(-884px, -325px); -ms-transform: translate(-884px, -325px); "></circle>
      <circle fill="#5AC1FF" cx="61.1" cy="222" r="11.9" style="transform: translate(-902px, -269px); -webkit-transform: translate(-902px, -269px); -ms-transform: translate(-902px, -269px); "></circle>
      <circle fill="#0035FF" cx="891.6" cy="195" r="11.9" style="transform: translate(542px, -344px); -webkit-transform: translate(542px, -344px); -ms-transform: translate(542px, -344px); "></circle>
      <circle fill="#0074FF" cx="864.8" cy="195" r="11.9" style="transform: translate(497px, -359px); -webkit-transform: translate(497px, -359px); -ms-transform: translate(497px, -359px); "></circle>
      <circle fill="#0085FF" cx="838" cy="195" r="11.9" style="transform: translate(493px, -332px); -webkit-transform: translate(493px, -332px); -ms-transform: translate(493px, -332px); "></circle>
      <circle fill="#00C2FF" cx="730.9" cy="195" r="11.9" style="transform: translate(247px, -323px); -webkit-transform: translate(247px, -323px); -ms-transform: translate(247px, -323px); "></circle>
      <circle fill="#00B5FF" cx="489.7" cy="195" r="11.9" style="transform: translate(-130px, -377px); -webkit-transform: translate(-130px, -377px); -ms-transform: translate(-130px, -377px); "></circle>
      <circle fill="#00BEFF" cx="462.9" cy="195" r="11.9" style="transform: translate(-240px, -389px); -webkit-transform: translate(-240px, -389px); -ms-transform: translate(-240px, -389px); "></circle>
      <circle fill="#00C2FF" cx="436.2" cy="195" r="11.9" style="transform: translate(-212px, -333px); -webkit-transform: translate(-212px, -333px); -ms-transform: translate(-212px, -333px); "></circle>
      <circle fill="#00BFFF" cx="409.4" cy="195" r="11.9" style="transform: translate(-275px, -395px); -webkit-transform: translate(-275px, -395px); -ms-transform: translate(-275px, -395px); "></circle>
      <circle fill="#98CBFF" cx="275.4" cy="195" r="11.9" style="transform: translate(-537px, -345px); -webkit-transform: translate(-537px, -345px); -ms-transform: translate(-537px, -345px); "></circle>
      <circle fill="#65C6FF" cx="864.8" cy="167.9" r="11.9" style="transform: translate(483px, -380px); -webkit-transform: translate(483px, -380px); -ms-transform: translate(483px, -380px); "></circle>
      <circle fill="#00C7FF" cx="489.7" cy="167.9" r="11.9" style="transform: translate(-190px, -425px); -webkit-transform: translate(-190px, -425px); -ms-transform: translate(-190px, -425px); "></circle>
      <circle fill="#00BEFF" cx="462.9" cy="167.9" r="11.9" style="transform: translate(-198px, -413px); -webkit-transform: translate(-198px, -413px); -ms-transform: translate(-198px, -413px); "></circle>
      <circle fill="#00BDFF" cx="436.2" cy="167.9" r="11.9" style="transform: translate(-212px, -431px); -webkit-transform: translate(-212px, -431px); -ms-transform: translate(-212px, -431px); "></circle>
      <circle fill="#00BEFF" cx="409.4" cy="167.9" r="11.9" style="transform: translate(-256px, -449px); -webkit-transform: translate(-256px, -449px); -ms-transform: translate(-256px, -449px); "></circle>
      <circle fill="#00B9FF" cx="382.6" cy="167.9" r="11.9" style="transform: translate(-388px, -408px); -webkit-transform: translate(-388px, -408px); -ms-transform: translate(-388px, -408px); "></circle>
      <circle fill="#98CBFF" cx="355.8" cy="167.9" r="11.9" style="transform: translate(-392px, -393px); -webkit-transform: translate(-392px, -393px); -ms-transform: translate(-392px, -393px); "></circle>
      <circle fill="#7FB1FF" cx="329" cy="167.9" r="11.9" style="transform: translate(-474px, -430px); -webkit-transform: translate(-474px, -430px); -ms-transform: translate(-474px, -430px); "></circle>
      <circle fill="#B5C6F0" cx="302.2" cy="167.9" r="11.9" style="transform: translate(-521px, -406px); -webkit-transform: translate(-521px, -406px); -ms-transform: translate(-521px, -406px); "></circle>
      <circle fill="#22B8FF" cx="489.7" cy="140.9" r="11.9" style="transform: translate(-143px, -421px); -webkit-transform: translate(-143px, -421px); -ms-transform: translate(-143px, -421px); "></circle>
      <circle fill="#00C2FF" cx="462.9" cy="140.9" r="11.9" style="transform: translate(-207px, -414px); -webkit-transform: translate(-207px, -414px); -ms-transform: translate(-207px, -414px); "></circle>
      <circle fill="#0CB8FF" cx="436.2" cy="140.9" r="11.9" style="transform: translate(-291px, -426px); -webkit-transform: translate(-291px, -426px); -ms-transform: translate(-291px, -426px); "></circle>
      <circle fill="#75CFFF" cx="355.8" cy="140.9" r="11.9" style="transform: translate(-350px, -450px); -webkit-transform: translate(-350px, -450px); -ms-transform: translate(-350px, -450px); "></circle>
      <circle fill="#A2C9FF" cx="329" cy="140.9" r="11.9" style="transform: translate(-455px, -479px); -webkit-transform: translate(-455px, -479px); -ms-transform: translate(-455px, -479px); "></circle>
      <circle fill="#8DBAFF" cx="355.8" cy="492.5" r="11.9" style="transform: translate(-385px, 215px); -webkit-transform: translate(-385px, 215px); -ms-transform: translate(-385px, 215px); "></circle>
      <circle fill="#2D87FF" cx="329" cy="492.5" r="11.9" style="transform: translate(-476px, 199px); -webkit-transform: translate(-476px, 199px); -ms-transform: translate(-476px, 199px); "></circle>
      <circle fill="#00C3FF" cx="302.2" cy="492.5" r="11.9" style="transform: translate(-484px, 157px); -webkit-transform: translate(-484px, 157px); -ms-transform: translate(-484px, 157px); "></circle>
      <circle fill="#98CBFF" cx="382.6" cy="492.5" r="11.9" style="transform: translate(-310px, 202px); -webkit-transform: translate(-310px, 202px); -ms-transform: translate(-310px, 202px); "></circle>
      <circle fill="#4EB1FF" cx="516.5" cy="492.5" r="11.9" style="transform: translate(-121px, 174px); -webkit-transform: translate(-121px, 174px); -ms-transform: translate(-121px, 174px); "></circle>
      <circle fill="#0040FF" cx="543.3" cy="492.5" r="11.9" style="transform: translate(-95px, 145px); -webkit-transform: translate(-95px, 145px); -ms-transform: translate(-95px, 145px); "></circle>
      <circle fill="#1AA5FF" cx="570.1" cy="492.5" r="11.9" style="transform: translate(-53px, 144px); -webkit-transform: translate(-53px, 144px); -ms-transform: translate(-53px, 144px); "></circle>
      <circle fill="#20B3FF" cx="596.9" cy="492.5" r="11.9" style="transform: translate(46px, 144px); -webkit-transform: translate(46px, 144px); -ms-transform: translate(46px, 144px); "></circle>
      <circle fill="#22C1FF" cx="623.7" cy="492.5" r="11.9" style="transform: translate(121px, 166px); -webkit-transform: translate(121px, 166px); -ms-transform: translate(121px, 166px); "></circle>
      <circle fill="#00B4FF" cx="650.5" cy="492.5" r="11.9" style="transform: translate(147px, 215px); -webkit-transform: translate(147px, 215px); -ms-transform: translate(147px, 215px); "></circle>
      <circle fill="#AFD5FF" cx="677.3" cy="492.5" r="11.9" style="transform: translate(157px, 143px); -webkit-transform: translate(157px, 143px); -ms-transform: translate(157px, 143px); "></circle>
      <circle fill="#1AD2FF" cx="704.1" cy="492.5" r="11.9" style="transform: translate(226px, 198px); -webkit-transform: translate(226px, 198px); -ms-transform: translate(226px, 198px); "></circle>
      <circle fill="#7FCAD8" cx="864.8" cy="492.5" r="11.9" style="transform: translate(513px, 173px); -webkit-transform: translate(513px, 173px); -ms-transform: translate(513px, 173px); "></circle>
      <circle fill="#26CDED" cx="623.7" cy="600.7" r="11.9" style="transform: translate(85px, 339px); -webkit-transform: translate(85px, 339px); -ms-transform: translate(85px, 339px); "></circle>
      <circle fill="#A6CEFF" cx="596.4" cy="600.7" r="11.9" style="transform: translate(34px, 391px); -webkit-transform: translate(34px, 391px); -ms-transform: translate(34px, 391px); "></circle>
      <circle fill="#00B17B" cx="650.5" cy="600.7" r="11.9" style="transform: translate(149px, 366px); -webkit-transform: translate(149px, 366px); -ms-transform: translate(149px, 366px); "></circle>
      <circle fill="#00B29A" cx="623.7" cy="627.8" r="11.9" style="transform: translate(109px, 423px); -webkit-transform: translate(109px, 423px); -ms-transform: translate(109px, 423px); "></circle>
      <circle fill="#B2D17C" cx="596.9" cy="627.8" r="11.9" style="transform: translate(4px, 459px); -webkit-transform: translate(4px, 459px); -ms-transform: translate(4px, 459px); "></circle>
      <circle fill="#00C289" cx="650.5" cy="627.8" r="11.9" style="transform: translate(135px, 392px); -webkit-transform: translate(135px, 392px); -ms-transform: translate(135px, 392px); "></circle>
      <circle fill="#00C3FF" cx="972" cy="600.7" r="11.9" style="transform: translate(694px, 329px); -webkit-transform: translate(694px, 329px); -ms-transform: translate(694px, 329px); "></circle>
      <circle fill="#00D1FF" cx="945.2" cy="600.7" r="11.9" style="transform: translate(644px, 369px); -webkit-transform: translate(644px, 369px); -ms-transform: translate(644px, 369px); "></circle>
      <circle fill="#00C9FF" cx="998.8" cy="600.7" r="11.9" style="transform: translate(727px, 410px); -webkit-transform: translate(727px, 410px); -ms-transform: translate(727px, 410px); "></circle>
      <circle fill="#16D2FF" cx="972" cy="627.8" r="11.9" style="transform: translate(717px, 411px); -webkit-transform: translate(717px, 411px); -ms-transform: translate(717px, 411px); "></circle>
      <circle fill="#00C1FF" cx="945.2" cy="627.8" r="11.9" style="transform: translate(628px, 419px); -webkit-transform: translate(628px, 419px); -ms-transform: translate(628px, 419px); "></circle>
      <circle fill="#00D3FF" cx="918.4" cy="627.8" r="11.9" style="transform: translate(653px, 392px); -webkit-transform: translate(653px, 392px); -ms-transform: translate(653px, 392px); "></circle>
      <circle fill="#49CEFF" cx="999.5" cy="681.9" r="11.9" style="transform: translate(745px, 543px); -webkit-transform: translate(745px, 543px); -ms-transform: translate(745px, 543px); "></circle>
      <circle fill="#B2D17C" cx="999.5" cy="627.8" r="11.9" style="transform: translate(808px, 387px); -webkit-transform: translate(808px, 387px); -ms-transform: translate(808px, 387px); "></circle>
      <circle fill="#8CCB87" cx="1105.9" cy="681.9" r="11.9" style="transform: translate(995px, 543px); -webkit-transform: translate(995px, 543px); -ms-transform: translate(995px, 543px); "></circle>
      <circle fill="#10CE98" cx="1132.7" cy="249.6" r="11.9" style="transform: translate(963px, -291px); -webkit-transform: translate(963px, -291px); -ms-transform: translate(963px, -291px); "></circle>
      <circle fill="#00A682" cx="1079.1" cy="708.9" r="11.9" style="transform: translate(884px, 608px); -webkit-transform: translate(884px, 608px); -ms-transform: translate(884px, 608px); "></circle>
      <circle fill="#D7D7FF" cx="677.3" cy="600.7" r="11.9" style="transform: translate(184px, 413px); -webkit-transform: translate(184px, 413px); -ms-transform: translate(184px, 413px); "></circle>
      <circle fill="#00AB7A" cx="704.1" cy="600.7" r="11.9" style="transform: translate(268px, 361px); -webkit-transform: translate(268px, 361px); -ms-transform: translate(268px, 361px); "></circle>
      <circle fill="#00D4FF" cx="355.8" cy="600.7" r="11.9" style="transform: translate(-421px, 365px); -webkit-transform: translate(-421px, 365px); -ms-transform: translate(-421px, 365px); "></circle>
      <circle fill="#03C2FF" cx="382.6" cy="600.7" r="11.9" style="transform: translate(-319px, 406px); -webkit-transform: translate(-319px, 406px); -ms-transform: translate(-319px, 406px); "></circle>
      <circle fill="#0CCDC5" cx="409.4" cy="600.7" r="11.9" style="transform: translate(-303px, 398px); -webkit-transform: translate(-303px, 398px); -ms-transform: translate(-303px, 398px); "></circle>
      <circle fill="#62CAF8" cx="436.2" cy="600.7" r="11.9" style="transform: translate(-219px, 329px); -webkit-transform: translate(-219px, 329px); -ms-transform: translate(-219px, 329px); "></circle>
      <circle fill="#00C2FF" cx="354.6" cy="627.8" r="11.9" style="transform: translate(-360px, 457px); -webkit-transform: translate(-360px, 457px); -ms-transform: translate(-360px, 457px); "></circle>
      <circle fill="#03C2FF" cx="381.2" cy="627.8" r="11.9" style="transform: translate(-351px, 400px); -webkit-transform: translate(-351px, 400px); -ms-transform: translate(-351px, 400px); "></circle>
      <circle fill="#D6D6FF" cx="407.8" cy="627.8" r="11.9" style="transform: translate(-320px, 410px); -webkit-transform: translate(-320px, 410px); -ms-transform: translate(-320px, 410px); "></circle>
      <circle fill="#00CEFF" cx="354.6" cy="654.8" r="11.9" style="transform: translate(-425px, 457px); -webkit-transform: translate(-425px, 457px); -ms-transform: translate(-425px, 457px); "></circle>
      <circle fill="#32D6FF" cx="381.2" cy="654.8" r="11.9" style="transform: translate(-305px, 435px); -webkit-transform: translate(-305px, 435px); -ms-transform: translate(-305px, 435px); "></circle>
      <circle fill="#00C4FF" cx="354.6" cy="681.9" r="11.9" style="transform: translate(-429px, 504px); -webkit-transform: translate(-429px, 504px); -ms-transform: translate(-429px, 504px); "></circle>
      <circle fill="#D4D8FF" cx="381.2" cy="681.9" r="11.9" style="transform: translate(-313px, 501px); -webkit-transform: translate(-313px, 501px); -ms-transform: translate(-313px, 501px); "></circle>
      <circle fill="#CFD7FF" cx="354.6" cy="708.9" r="11.9" style="transform: translate(-353px, 545px); -webkit-transform: translate(-353px, 545px); -ms-transform: translate(-353px, 545px); "></circle>
    </svg> 
	<%= form_for([@user,:studio,@campaign]) do |f|%>
		<!-- Page title -->
		<div class="row clicable" >
			<!-- Success select -->
			<div class="col-lg-3 clicable">
			</div>
			<div class="col-lg-6 text-center clicable">
				<div class="text-giant text-thin pt-80 power" ><%= t 'views.campaign.what_are_you_creating' %></div>
				<div class="text-large text-thin pt-80 text-grey-200" ><%= t 'views.campaign.I_am_creating' %><%= f.text_field :title, class:"form-control input-title mt-40 mb-20 form-transparent clicable",style:"border-bottom:4px dotted #eaeaea !important;", placeholder:t('views.utilities.editor.title'),maxlength:"50", id:"project-title"%></div>
				<div class="pt-20">
					<%= f.select(:category, [[t('views.utilities.menu.art'),'Art'], [t('views.utilities.menu.music'),'Music'],[t('views.utilities.menu.games'),'Games'],[t('views.utilities.menu.writing'),'Writing'],[t('views.utilities.menu.videos'),'Videos'],[t('views.utilities.menu.math'),'Math'],[t('views.utilities.menu.science'),'Research: Science'],[t('views.utilities.menu.humanity'),'Research: Humanity'],[t('views.utilities.menu.engineering'),'Engineering']], {prompt: t('views.utilities.editor.select_a_category')}, { :class => 'simple-select mb-20 clicable', :id => 'category-selection' }) %>
				</div>
				<div class="pull-right mt-40" id="start-project">
					<%= f.submit t('views.utilities.editor.start'), class: "text-thin btn bg-rainbow-600 btn-xlg pl-40 pr-40", style:"font-size:20px;" %>
				</div>
			</div>
			<div class="col-lg-3">
			</div>
		</div>
	<% end %>
</div>
<!--~~~~~~~~~~~~~~~~~ Page Specific Javascript ~~~~~~~~~~~~~~~~~-->
<!-- Page Specific Javascript -->
<script>
    //Block
    $('#start-project').block({message: null,overlayCSS: {
    backgroundColor: '#fff',
    opacity: 0.4,
    cursor: 'not-allowed'
    },});
    //Select
    $('#category-selection').on('change', function() {
    	if (this.value && $('#project-title').val()) {
    		$('#start-project').unblock();
    	} else {
    		$('#start-project').block({message: null,overlayCSS: {
    		backgroundColor: '#fff',
    		opacity: 0.4,
    		cursor: 'not-allowed'
    		},});
    	}
    });
    $('#project-title').donetyping(function(){
    	if (this.value && $('#category-selection').val()) {
    		$('#start-project').unblock();
    	} else {
    		$('#start-project').block({message: null,overlayCSS: {
    		backgroundColor: '#fff',
    		opacity: 0.4,
    		cursor: 'not-allowed'
    		},});
    	}
      if ($( ".dotmap" ).hasClass( "animate" )) {
       $( ".dotmap" ).removeClass( "animate" );
      } else {
       $('.dotmap').addClass('animate');
      }
    });

$('.dotmap, .clicable').on('click', function () {
  if ($( ".dotmap" ).hasClass( "animate" )) {
   $( ".dotmap" ).removeClass( "animate" );
  } else {
   $('.dotmap').addClass('animate');
  }
});
        initiate_profile_editor();
</script>