<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.preferred_name) %>

<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<!-- Content Area -->

<div class="content" >
    <!-- Starfield Animation -->
      <%= render 'studio/campaigns/new_campaign_background' %>
	<%= form_for([@user,:studio,@campaign]) do |f|%>
		<!-- Page title -->
		<div class="row clicable" >
			<!-- Success select -->
			<div class="col-lg-3 clicable">
			</div>
			<div class="col-lg-6 text-center clicable">
				<div class="text-giant text-thin pt-80 power" ><%= t 'views.campaign.what_are_you_creating' %></div>
				<div class="text-large text-thin pt-80 text-grey-200" >
                    <div class="row">
                        <div class="col-md-6 text-right no-padding-right">
                            <div class="input-group-btn dropdown cursor-pointer">
                                <div class="text-large" data-toggle="dropdown" aria-expanded="false" id="funding-type-just-want-to-help-text">
                                    <%= t 'views.campaign.i_am_an' %><span style="border-bottom:4px dotted #eaeaea;"><%= t 'views.campaign.individual' %></span>
                                </div>
                                <ul class="dropdown-menu dropdown-menu-right text-grey" style="z-index:1000;">
                                    <li class="disabled">
                                        <a id="per-creation-just-want-to-help">
                                           <%= t 'views.campaign.team' %>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-left no-padding-left">
                            <%= t 'views.campaign.I_am_creating' %>
                        </div>
                    </div>
                    <%= f.text_field :title, class:"form-control input-title mt-40 mb-20 form-transparent clicable",style:"border-bottom:4px dotted #eaeaea !important;", placeholder:t('views.utilities.editor.title'),maxlength:"50", id:"project-title"%></div>
				<div class="pt-20">
					<%= f.select(:category, [[t('views.utilities.menu.art'),'Art'], [t('views.utilities.menu.music'),'Music'],[t('views.utilities.menu.games'),'Games'],[t('views.utilities.menu.writing'),'Writing'],[t('views.utilities.menu.videos'),'Videos'],[t('views.utilities.menu.math'),'Math'],[t('views.utilities.menu.science'),'Science'],[t('views.utilities.menu.humanity'),'Humanity'],[t('views.utilities.menu.engineering'),'Engineering']], {disabled: ['Math','Science','Humanity','Engineering'], prompt: t('views.utilities.editor.select_a_category')}, { :class => 'simple-select mb-20 clicable', :id => 'category-selection' }) %>
				</div>
				<div class="pull-right mt-40" id="start-project">
					<%= f.submit t('views.utilities.editor.start'), class: "text-thin btn bg-rainbow-600 btn-xlg pl-40 pr-40", id:'application-submit', style:"font-size:20px;" %>
				</div>
			</div>
			<div class="col-lg-3">
			</div>
		</div>
	<% end %>
</div>
<!--~~~~~~~~~~~~~~~~~ Page Specific Javascript ~~~~~~~~~~~~~~~~~-->
<!-- Page Specific Javascript -->
<script>
      //fancySelect
      $('.fancyselect').fancySelect();      
    //Block
    $('#start-project').block({message: null,overlayCSS: {
    backgroundColor: '#fff',
    opacity: 0.4,
    cursor: 'not-allowed'
    },});
    //Select
    $('#category-selection').on('change', function() {
    	if (this.value && $('#project-title').val()) {
    		$('#start-project').unblock();
    	} else {
    		$('#start-project').block({message: null,overlayCSS: {
    		backgroundColor: '#fff',
    		opacity: 0.4,
    		cursor: 'not-allowed'
    		},});
    	}
    });
    $('#project-title').donetyping(function(){
    	if (this.value && $('#category-selection').val()) {
    		$('#start-project').unblock();
    	} else {
    		$('#start-project').block({message: null,overlayCSS: {
    		backgroundColor: '#fff',
    		opacity: 0.4,
    		cursor: 'not-allowed'
    		},});
    	}
      if ($( ".dotmap" ).hasClass( "animate" )) {
       $( ".dotmap" ).removeClass( "animate" );
      } else {
       $('.dotmap').addClass('animate');
      }
    });

      $('.dotmap, .clicable').on('click', function () {
        if ($( ".dotmap" ).hasClass( "animate" )) {
         $( ".dotmap" ).removeClass( "animate" );
        } else {
         $('.dotmap').addClass('animate');
        }
      });
        initiate_profile_editor();
      // Special bg
      $('body').addClass('bg-white');  
      $('#application-submit').on('click', function(){
          $('.content').block({
              message: '<i class="icon-spinner2 spinner text-blue"></i>',
              overlayCSS: {
                backgroundColor: '#fff',
                  opacity: 0.4,
                  cursor: 'wait'
              },
              css: {
                  border: 0,
                  padding: 0,
                  backgroundColor: 'transparent'
              }
          }); 
      });   
</script>