<% if @campaign.status == "Pending" %>
	//scroll to top
	$("html").velocity("scroll", {});
	$('#application-form-holder').velocity("slideUp", { duration: 1000 });
	//Start jummping around
	$('#campaign-user-image').addClass("animated infinite bounce");
	$('#application-text').html('<p><%= t "views.campaign.congratulations_line1" %></p><p><%= t "views.campaign.congratulations_line2" %></p><p><%= link_to profile_url_path(@campaign.user.username) do %><span class="btn btn-blue btn-xlg"><i class="icon-enter mr-10"></i><%= t "views.utilities.editor.back" %></span><% end %></p>');
<% else %>
	$('#error-messages-content').remove();
	$('#error-messages').append("<%= j render(:partial => 'studio/campaigns/error_messages', :locals => {:campaign => @campaign}) %>");
<% end %>