<!-- Uploaded Video-->
<% if @uploaded_video %>
	<% if @video.encoded_state == "finished" %>

		<!-- Display Video if Success x-->
		<div class="video-display">		

		<!-- if current user has the right to delete video -->
		<% if @video.project == nil %>
			<% if @video.majorpost.user == current_user %>
				<!-- artwork delete button-->
				<div class="btn-edit-right3" id="delete-video">
					<%= link_to 'Delete',project_video_delete_path(@project.creator,@project,@video),method: :delete,class:"btn-delete no_ajaxify"%>
				</div>
			<% end %>
		<% else %>
			<% if @project.creator == current_user %>
				<!-- artwork delete button-->
				<div class="btn-edit-right3" id="delete-video">
					<%= link_to 'Delete',project_video_delete_path(@project.creator,@project,@video),method: :delete,class:"btn-delete no_ajaxify"%>
				</div>
			<% end %>
		<% end %><!-- end if @artwork.project == nil-->

			<div style="position:auto;z-index: 100;">
    			<%= videojs_rails sources: { webm: @video.output_url }, height:"444.375", width:"790", poster:@video.thumbnail(:original) %>
    		</div>
 		</div>
 	<% else %>
 		<!-- Display Encoding & Delete if still encoding-->
 		<div id="majorpost-video-encoding">
 				Video of this project is being encoded, it may take 10-25 minutes before it is ready. 
 				<div id="cancel-encoding">
 					<!-- Show delete button only for the owner-->
 					<% if @project.creator == current_user %>
 					<%= link_to 'x',project_video_delete_path(@project.creator,@project,@video),:method => :delete, class:"tipsy-tipsy no_ajaxify",title:"Delete video." %>
 					<% end %>
 				</div>
 		</div>
	<% end %>
	
<% else %>

<!-- Embedded Video-->
	<div class="video-display">	
		<% if @video.youtube_vimeo == true %>
			<iframe width="790" height="444.375" src="http://www.youtube.com/embed/<%= @video.external %>" frameborder="0"></iframe>
		<% else %>
			<iframe width="790" height="444.375" src="//player.vimeo.com/video/<%= @video.external %>" frameborder="0"></iframe>
		<% end %>
	</div>
<% end %>
