<!-- If it is vimeo -->
<% if activity.trackable.post_type == "video" then %>
		<% if activity.trackable.caption == "youtube.com" %>
			<!-- Youtube Video -->
			<script>
				$(document).ready(function() {
					//Uploaded video click to play
					$("#<%= activity.id%>video-small").click(
						function () {
							$("#<%= activity.id%>holder").hide();
							$("#<%= activity.id%>video-expanded").show();
							callPlayer("<%= activity.id%>video","playVideo");
					});	
				});	
			</script>
		<% else %>
			<% if activity.trackable.caption == "vimeo.com"%>
				<!-- Vimeo Video -->
				<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
				<script>
					$(document).ready(function() {
			 			var iframe = $('#<%= activity.id%>video')[0];
		    			var player = $f(iframe);

						//Uploaded video click to play
						$("#<%= activity.id%>video-small").click(
						function () {
							$("#<%= activity.id%>holder").hide();
							$("#<%= activity.id%>video-expanded").show();
							player.api("play");
						});				
					});	
				</script>
			<% end %>	
		<% end %>	
<% end %>

<script>
	$(document).ready(function() {
	$('#<%= activity.id %>activity').hover(function() {
  		$("#<%= activity.id %>delete").toggle();
  		$("#<%= activity.id %>admin").toggle();
	});
	});
</script>

<div class="lightbox" id="<%= activity.id %>activity">
	<!-- Content Wrapper-->
	<div class="create-content-wrapper">
		<div class="textbox3">
			<!-- Delete Updates -->
			<% if current_user != nil then %>
				<% if activity.owner_id == current_user.id || current_user.admin == true %>
					<div style="float:right;display:none;font-size:1.2em;color:#cccccc;" id="<%= activity.id %>delete"><%= link_to facebookupdate_delete_path(activity.trackable.id), class:"no_ajaxify tipsy-tipsy", title:"Hide",style:"color:#ccc;",:method => :get,:confirm => "Are you sure to hide this update?" do %><i class="fa fa-trash-o"></i><% end %></div>	
				<% end %>
			<% end %>	

			<!-- Admin Actions -->
			<% if current_user.admin == true %>
				<div style="float:right;display:none;font-size:1.2em;color:#cccccc;" id="<%= activity.id %>admin">
					<% if activity.test == true then  %>
						<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname => "untest"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"List" do %><i class="fa fa-eye"></i><% end %>
					<% end %>
					<% if activity.test == false then %>
						<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname => "test"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Unist" do %><i class="fa fa-eye-slash"></i><% end %>
					<% end %>
					<% if activity.featured == false then %>
						<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname => "featured"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Feature" do %><i class="fa fa-heart-o"></i><% end %>
					<% end %>
					<% if activity.featured_home == false then %>
						<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname =>"featuredhome"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Homepage" do %><i class="fa fa-heart"></i><% end %>
					<% end %>
					<% if activity.featured == true then %>
						<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id, :actionname =>"unfeature"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Unfeature" do %><i class="fa fa-ban"></i><% end %>
					<% end %>
					<% if activity.trackable.realm == nil then %>
						<div style="position:absolute;margin-top:30px;">
							<%= link_to "1", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "1"), class:"no_ajaxify tipsy-tipsy", title:"Art", style:"color:#ccc;"%>
							<%= link_to "2", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "2"), class:"no_ajaxify tipsy-tipsy", title:"Music", style:"color:#ccc;"%>
							<%= link_to "3", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "3"), class:"no_ajaxify tipsy-tipsy", title:"Games", style:"color:#ccc;"%>
							<%= link_to "4", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "4"), class:"no_ajaxify tipsy-tipsy", title:"Writing", style:"color:#ccc;"%>
							<%= link_to "5", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "5"), class:"no_ajaxify tipsy-tipsy", title:"Videos", style:"color:#ccc;"%>
							<%= link_to "6", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "6"), class:"no_ajaxify tipsy-tipsy", title:"Math", style:"color:#ccc;"%>
							<%= link_to "7", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "7"), class:"no_ajaxify tipsy-tipsy", title:"Science", style:"color:#ccc;"%>
							<%= link_to "8", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "8"), class:"no_ajaxify tipsy-tipsy", title:"Humanity", style:"color:#ccc;"%>
							<%= link_to "9", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "9"), class:"no_ajaxify tipsy-tipsy", title:"Engineering", style:"color:#ccc;"%>
						</div>
					<% end %>	
				</div>
			<% end %>

			<!-- Facebook Page Profile Photo -->
			<%= link_to activity.trackable.link,target:"_blank", class:"no_ajaxify" do %>
				<% if activity.trackable.facebookpage.facebookprofile != nil then %>
					<div class="majorpost-usericon" style="background-image:url(<%= activity.trackable.facebookpage.facebookprofile.url(:small64) %>);"></div>
				<% else %>
					<div class="majorpost-usericon" style="background-image:url(<%= activity.trackable.user.profilephoto.url(:small64) %>);"></div>
				<% end %>	
			<% end %>

			<!-- user give button -->
			<% if user_subscription_check(activity.trackable.user) %>
				<% if user_signed_in? %>
					<% unless activity.trackable.user == current_user %>
						<% unless activity.trackable.user.subscribed_by?(current_user) %>
							<% unless current_user.subscribed_by?(activity.trackable.user) %>
								<div class="give-button-holder">
									<%= render "shared/mini_sub", :subscribed_id => activity.trackable.user.id, :activity_id => activity.id  %>
								</div>
							<% end %>
						<% end %>
					<% end %>
				<% else %>
					<div class="give-button-holder">
						<%= render "shared/mini_sub", :subscribed_id => activity.trackable.user.id, :activity_id => activity.id  %>
					</div>				
				<% end %>
			<% end %>		

			<!-- Facebook Page Name -->
			<div class="majorpost-title">
				<li><% if activity.trackable.name != nil then %> 
						<%= link_to activity.trackable.name, activity.trackable.link,target:"_blank", class:"no_ajaxify" %>
					<% else %>
						<%= link_to activity.trackable.facebook_link,target:"_blank", class:"no_ajaxify" do %><%= activity.trackable.post_type.titleize %><% end %>
					<% end %></li>
					at <%= link_to activity.trackable.facebookpage.name, activity.trackable.facebookpage.link,target:"_blank", class:"no_ajaxify" %>
				 in <% if activity.trackable.realm == nil then %><span class="realm-color"><%= activity.trackable.from_category %></span><% else %><%= link_to realm_selector_path(activity.trackable.realm),class:"no_ajaxify" do %><span class="realm-color"><%= project_realm(activity.trackable.realm)%></span><% end %><% end %>
			</div>

			<!-- Update Time -->
			<div id="majorpost-time">
				Posted <%= time_ago_in_words(activity.trackable.created_at) %> ago.
			</div>

			<!-- With Video -->
			<div id="majorpost-excerpt">
				<% if activity.trackable.post_type == "video" %>
					
					<!-- Expanded Video -->
					<div id="<%= activity.id%>video-expanded" class="video-display-portable" style="display:none;">
						<% if activity.trackable.caption == "youtube.com" %>
							<!-- Youtube Video -->
							<div id="<%= activity.id%>video">
								<iframe width="628" height="353" src="https://www.youtube.com/embed/<%= activity.trackable.youtube_video %>?enablejsapi=1" frameborder="0"></iframe>
							</div>
						<% else %>
							<% if activity.trackable.caption == "vimeo.com"%>
							<!-- Vimeo Video -->
								<iframe width="628" height="353" src="//player.vimeo.com/video/<%= activity.trackable.vimeo_video %>?api=1&player_id=<%= activity.id%>video" id="<%= activity.id%>video" frameborder="0"></iframe>
							<% end %>
						<% end %>
					</div>	

					<!-- video holder -->
					<div id="<%= activity.id%>holder">
						<div class="majorpost-video-one" id="<%= activity.id%>majorpost-video-one">
							<% if activity.trackable.caption == "youtube.com" %>
								<!-- Youtube Thumbnail -->
								<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(http://img.youtube.com/vi/<%= activity.trackable.youtube_video %>/mqdefault.jpg);">
									<div class="majorpost-video-small">
									</div>
								</div>
							<% else %>
								<% if activity.trackable.caption == "vimeo.com"%>
									<!-- Vimeo Thumbnail -->
									<div class="majorpost-video-small-holder" id="<%= activity.id%>video-small" style="background-image:url(<%= vimeo_thumbnail(activity.trackable.vimeo_video)%>)" id="<%= activity.trackable.vimeo_video %>" >
										<div class="majorpost-video-small">
										</div>
									</div>
								<% end %>
							<% end %>
						</div><!-- end.majorpost-video-one -->	
						<!-- excerpt holder-->
						<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= activity.trackable.html_display.truncate(300).html_safe %>
						</div>
					</div><!-- end#video-holder-->

				<% else %>
					<!-- With Image -->
					<% if activity.trackable.facebookimage? then %>
						<!-- Image -->
						<%= link_to activity.trackable.link,target:"_blank", class:"no_ajaxify" do %>
							
							<div class="majorpost-postimages-square" style="background-image:url(<%= activity.trackable.facebookimage.url(:original)%>);">
								
							</div>	
						<% end %>
						<!-- excerpt holder-->
						<div class="majorpost-excerpt-wrapper" id="<%= activity.id%>excerpt-wrapper" style="width:478px;height:106px;overflow:hidden;">
							<%= activity.trackable.html_display.truncate(300).html_safe %>
						</div>			
					<% else %>		
					<!-- Without Image -->
						<div>
							<%= activity.trackable.html_display.truncate(300).html_safe %>
						</div>									
					<% end %>
				<% end %><!-- end.post_type =='video"-->
			</div><!-- end#majorpost-excerpt-->	

		</div><!-- end .textbox3-->	
	</div><!-- end.create-content-wrapper-->
</div><!-- end.lightbox-->