<%= form_for(shipping_address, url: user_studio_shipping_addresses_path(user.id),remote: true,:html =>{:id => 'add-shipping-address-form'}, name:"add-shipping-address-form") do |f| %>
	<fieldset>
		<legend class="text-semibold">
			<i class="ti-home position-left"></i>
			<%= t 'views.creator_studio.rewards.my_mailing_address' %>
			<!--<a class="control-arrow mb-20" data-toggle="collapse" data-target="#demo1">
				<i class="icon-circle-down2"></i>
			</a>-->
		</legend>
		<div class="collapse in" id="demo1">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<!-- Name -->
					<div class="form-group">
						<div class="row mb-20">
							<label class="col-md-3 control-label"><%= t 'views.creator_studio.how_i_get_paid.receiver_name' %>:</label>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6">
										<%= f.text_field :name, class:"form-control", placeholder:t('views.creator_studio.how_i_get_paid.receiver_name_placeholder') %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Country -->
					<div class="form-group">
						<div class="row mb-20">
							<label class="col-md-3 control-label"><%= t 'views.creator_studio.how_i_pay.country' %>:</label>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-8">
										<%= f.country_select(:country, { include_blank: t('views.creator_studio.how_i_get_paid.country'),selected: shipping_address.country, except: ["AN"] }, { class: 'simple-select-search required', id: 'verification-country-select' }) %>
									</div>
									<div class="col-md-4">
										<%= f.text_field :city, class:"form-control", placeholder:t('views.creator_studio.how_i_get_paid.city_placeholder') %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Address -->
					<div class="form-group">
						<div class="row mb-20">
							<label class="col-md-3 control-label"><%= t 'views.creator_studio.how_i_get_paid.address_line1' %>:</label>
							<div class="col-md-9">
								<%= f.text_field :line1, class:"form-control", placeholder:t('views.creator_studio.how_i_get_paid.address_line1_placeholder') %>
							</div>
						</div>
					</div>
					<!-- Postal code -->
					<div class="form-group">
						<div class="row mb-20">
							<label class="col-md-3 control-label"><%= t 'views.creator_studio.how_i_get_paid.postal_code' %>:</label>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-3">
										<%= f.text_field :postal_code, class:"form-control", placeholder:t('views.creator_studio.how_i_get_paid.postal_code') %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="text-right">
		<%= f.submit I18n.t('views.utilities.editor.submit_btn'), class: "btn btn-blue", id:"mailing-address-submit" %>
	</div>
<% end %>
<script type="text/javascript">
	//Validate
    var validator = $("#add-shipping-address-form").validate({
        ignore: 'input[type=hidden], .select2-input', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
	    submitHandler: function(){
	        $('#add-shipping-address-panel-body').block({
	            message: '<i class="icon-spinner2 spinner text-blue"></i>',
	            overlayCSS: {
	            	backgroundColor: '#fff',
	                opacity: 0.4,
	                cursor: 'wait'
	            },
	            css: {
	                border: 0,
	                padding: 0,
	                backgroundColor: 'transparent'
	            }
	        }); 
	        $('#add-shipping-address-form').trigger('submit.rails');
	    },        
        highlight: function(element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function(element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function(error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container') ) {
                if(element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo( element.parent().parent().parent().parent() );
                }
                 else {
                    error.appendTo( element.parent().parent().parent().parent().parent() );
                }
            }

            // Unstyled checkboxes, radios
            else if (element.parents('div').hasClass('checkbox') || element.parents('div').hasClass('radio')) {
                error.appendTo( element.parent().parent().parent() );
            }

            // Input with icons
            else if (element.parents('div').hasClass('has-feedback')) {
                error.appendTo( element.parent() );
            }

            // Inline checkboxes, radios
            else if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                error.appendTo( element.parent().parent() );
            }

            // Input group, styled file input
            else if (element.parent().hasClass('uploader') || element.parents().hasClass('input-group')) {
                error.appendTo( element.parent().parent() );
            }
            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        rules: {
            'shipping_address[name]': "required",
            'shipping_address[country]': 'required',
            'shipping_address[city]': 'required',
            'shipping_address[line1]': 'required',
            'shipping_address[postal_code]': 'required',       
        }
    });	
    jQuery.extend(jQuery.validator.messages, {
        required: '<%= t 'views.form.validate.required' %>',
    });	
</script>