<body class="one-page" style="min-width:100%;">
<!-- Sign In -->
<div class="preloader white" style="background: url(/assets/backgrounds/starmap.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	   -o-background-size: cover;
	  background-size: cover;"><div class="loader2" style="position:absolute;left:50%;top:50%;margin:-30px 0 0 -30px;"></div></div>
	<div class="user-links">
		<%= link_to 'Skip Tutorial',after_intro_tutorial_path(current_user), class:"no_ajaxify" %>
	</div>		
<div class="main">
  <section
	class="section call-action-section"
	data-background-image="/assets/backgrounds/starmap.jpg"
	data-shadow="rgba(0,0,0,0.02)"
	data-nav-color="rgba(255,255,255,0.4)"
	data-nav-color-text="rgba(0,0,0,0.5)"
	data-color="#768088"
	data-title-color="#ffffff"
	data-title="Home"
	data-anchor="home">
	<div class="section-content">
	  <div class="section-wrap" >
		<div class="container" >
		  <div class="row" >
			<div class="col-sm-12 col-md-12 info text-center">
			  <h1 class="section-title font-selector" data-appear-animation="bounceInUp" data-appear-animation-delay="100"><strong>Welcome, <%= @user.first_name %>!</strong><br>You have discovered Ratafire</h1>
			  <a href="#why" class="btn btn-lg btn-info font-selector" data-appear-animation="bounceInUp" data-appear-animation-delay="300">Start Tutorial</a>
			</div><!-- .info -->
		  </div>
		</div>
	  </div>
	</div><!-- .section-content -->
  </section><!-- .section -->

  <section
	class="section call-action-section"
	data-background-color="#cccccc"
	data-nav-color="rgba(0,0,0,0.5)"
	data-nav-color-text="rgba(255,255,255,0.8)"
	data-color="#666666"
	data-title-color="#666666"
	data-title="why"
	data-anchor="why">
	<div class="section-content not-scroll">
	  <div class="container section-wrap">
		<div class="row promo-box inverse text-center">
		  <div class="col-sm-12 col-md-8 col-md-offset-2">
			<div class="features-text" data-appear-animation="fadeInDown" data-appear-animation-delay="600">
			  <h1 class="section-title font-selector">Why We Created Ratafire?</h1>
			  <p class="descriptions color-grey">We believe that artists and researchers should work on what they love and be properly supported by those who understand their talent.</p>
			</div><!-- .features-text -->
			
			<img src="/assets/macbook.png"
				 data-big="/assets/macbook@2x.png"
				 class="zoom-img replace-2x"
				 width="750"
				 height="447"
				 alt=""
				 data-appear-animation="bounceInUpBig">
		  </div>
		</div><!-- .promo-box -->
	  </div>
	</div><!-- .section-content -->
  </section><!-- .section -->

  <section
	class="section"
	data-background="transparent"
	data-background-image="/assets/backgrounds/milky_way.jpg"
	data-nav-color="rgba(255,255,255,0.4)"
	data-nav-color-text="rgba(0,0,0,0.5)"
	data-color="#ffffff"
	data-title-color="rgba(256,256,256,0.8)"
	data-title="Explore"
	data-anchor="explore">
	<div class="section-content">
	  <div class="container section-wrap">
		<h1 class="section-title font-selector text-center" data-appear-animation="fadeInDown" data-appear-animation-delay="700">Explore Ratafire</h1>
		
		<div class="row carousel carousel-white bottom-navigation" data-options='{"itemsCustom": [[0, 1],[768, 2],[992, 3]], "navigation": true}'>
		  <div class="col-sm-6 col-md-4">
			<div class="grid-post bg-white" data-appear-animation="zoomIn" data-appear-animation-delay="100">
			  <div class="image">
				<img src="/assets/gridbox_1.png" class="replace-2x" alt="" width="350" height="350">
			  </div>
			  
			  <h3 class="title font-selector color-lightblue">Follow Tags</h3>
			  <div class="description" style="margin:20px;">Follow tags you interested in.</div>
			  <a href="https://www.ratafire.com/tags/-/-/classical%20music" target="_blank" class="btn btn-sm btn-info">Try it Now</a>
			</div>
		  </div>
		  
		  <div class="col-sm-6 col-md-4">
			<div class="grid-post bg-white" data-appear-animation="zoomIn" data-appear-animation-delay="200">
			  <div class="image">
				<img src="/assets/gridbox_2.png" class="replace-2x" alt="" width="350" height="220">
			  </div>
			  
			  <h3 class="title color-lightblue font-selector">Watch Work Collections</h3>
			  <div class="description" style="margin:20px;">Receive updates from work collections.</div>
			  <a ≈ class="btn btn-sm btn-info no_ajaxify">Try it Now</a>
			</div>
		  </div>
		  
		  <div class="col-sm-6 col-md-4">
			<div class="grid-post bg-white" data-appear-animation="zoomIn" data-appear-animation-delay="300">
			  <div class="image">
				<img src="/assets/gridbox_3.jpg" class="replace-2x" alt="" width="350" height="250">
			  </div>
			  
			  <h3 class="title color-lightblue font-selector">Accept Patrons</h3>
			  <div class="description" style="margin:20px;">Allow monthly payment for your work collections.</div>
			  <a href="http://localhost:3000/<%= current_user.username %>/r/settings/payment" class="btn btn-sm btn-info">Try it Now</a>
			</div>
		  </div>

		  <div class="col-sm-6 col-md-4">
			<div class="grid-post bg-white" data-appear-animation="zoomIn" data-appear-animation-delay="300">
			  <div class="image">
				<img src="/assets/gridbox_null.jpg" class="replace-2x" alt="" width="350" height="250">
			  </div>
			  
			  <h3 class="title color-lightblue font-selector">Solve Challenges</h3>
			  <div class="description" style="margin:20px;">Work for the next breakthrough.</div>
			  <a href="#explore" class="btn btn-sm btn-info">Coming Soon</a>
			</div>
		  </div>

		</div>
	  </div>
	</div><!-- .section-content -->
  </section><!-- .section -->

<!-- FAQ -->
<section
	class="section"
	data-background="#ffffff"	
	data-nav-color="rgba(0,0,0,0.5)"
	data-nav-color-text="rgba(255,255,255,0.8)"
	data-title-color="#666666"
	data-color="#2297ce"
	data-title="FAQ"
	data-anchor="faq">
	<div class="section-content">
	  <div class="container section-wrap" >
		<h1 class="section-title text-center font-selector" data-appear-animation="fadeInDown" data-appear-animation-delay="700">FAQ</h1>
		
		<div class="row panel-group fourth-style" id="accordion">
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="100">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				  Can non-patrons view work collections?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a>
			  </h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse">
			  <div class="panel-body">
				Yes. Being a patron does not grant the patrons exclusive access to content, but patrons will see your updates on their main feed.
			  </div>
			</div>
		  </div>
		  
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="200">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				  What is Ratafire’s licensing policy?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></a>
			  </h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>We believe that both creative or research works should be more open, and we think that the creators and researchers should be recognized and rewarded. Also, a more open environment can improve the quality of the work. We also believe that it is better for the public to see how the creators and researchers use the patronage payments they gain from Ratafire.</p>

				<p>Therefore, when you use Ratafire to share your work collections, you are required to license the content you choose to post, except for software components, if any, under the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>

				<p>This means others can view and adapt your content, with your name properly attributed, but cannot use your content for commercial reasons without your permission.</p>
			  </div>
			</div>
		  </div>
		  
		  <div class="clearfix"></div>
		  
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="300">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				  Can I still sell my works after I post them on Ratafire?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"></a>
			  </h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
			  <div class="panel-body">
				Yes. You have full commercial right to your content. You can further grant commercial licenses of your Content for a fee outside of Ratafire.
			  </div>
			</div>
		  </div>
		  
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="400">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
				  Is Ratafire Cloud Patronage free to use?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"></a>
			  </h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>Yes.</p>

				<p>Ratafire does not take transaction fees. Currently there are two payment methods on Ratafire, Stripe and PayPal. Stripe takes a 2.9%+$0.30 transaction fee and PayPal's fees varies because Ratafire is partnered with PayPal. Ratafire also groups the payments and transfers to minimize payment transaction fees. In the future, we seek to implement zero transaction fee payment methods such as Venmo to truly eliminate payment transaction fees.</p>

				<p>Using Ratafire as your personal patronage system is easier and as "free" as to implement a PayPal donation button on your website.</p>
			  </div>
			</div>
		  </div>
		  
		  <div class="clearfix"></div>
		  
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="500">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
				  Why have a monthly subscription model?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"></a>
			  </h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
			  <div class="panel-body">
				We believe that creators or researchers should be able to work on projects for the long term. Allowing ideas to mature over the long term can make a difference in the quality of the work.
			  </div>
			</div>
		  </div>
		  
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="600">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
				  What features do patrons receive?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"></a>
			  </h4>
			</div>
			<div id="collapseSix" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>If you are a patron of a user, you will show up in the user’s Patrons list, with the patronage length and amount. This list is public so your patronage is not anonymous. In your Home tab, you will see the updates from users you are a patron of, including the notifications of their new drafts. In this way, you will witness the creative process.</p>

				<p>By becoming a patron, you can gain early access to major posts in work collections that have the early access feature turned on. The maximum early access is 6 days. As a patron, you will be able to send private messages to whom you subscribe to, provided that they allow messaging. Moreover, you may be eligible for patron only collectibles.</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section><!-- .section -->

  <!-- Start -->
  <section
	class="section centered-without-title"
	data-background="transparent"
	data-background-image="/assets/backgrounds/starmap.jpg"
	data-nav-color="rgba(255,255,255,0.4)"
	data-nav-color-text="rgba(0,0,0,0.5)"
	data-color="#000000"
	data-title-color="#999999"
	data-title="Start"
	data-anchor="start">
	<div class="section-content">
	  <div class="container section-wrap">
		<div class="text-center">
		<%= link_to after_intro_tutorial_path(current_user), class:"no_ajaxify", style:"border:0px;" do %>
		  <div class="btn btn-default btn-download" data-appear-animation="zoomIn" data-appear-animation-delay="100">
			<span class="clearfix font-selector color-grey">Start Using Ratafire</span>
		  </div>
		<% end %>  
		</div>
	  </div>
	</div><!-- .section-content -->

  </section><!-- .section -->

 
</div><!-- .main -->
<!-- Javascript-->
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "promo/bootstrap.min.js" %>
<%= javascript_include_tag "promo/bootstrap-select.min.js" %>
<%= javascript_include_tag "promo/bootstrap-datepicker.min.js" %>
<%= javascript_include_tag "promo/jquery.appear.js" %>
<%= javascript_include_tag "promo/jquery.easings.min.js" %>
<%= javascript_include_tag "promo/jquery.carouFredSel-6.2.1-packed.js" %>
<%= javascript_include_tag "promo/jquery.touchwipe.min.js" %>
<%= javascript_include_tag "promo/jquery.themepunch.tools.min.js" %>   
<%= javascript_include_tag "promo/jquery.themepunch.revolution.min.js" %>
<%= javascript_include_tag "promo/jquery.mCustomScrollbar.concat.min.js" %>
<%= javascript_include_tag "promo/jquery.mlens-1.5.min.js" %>
<%= javascript_include_tag "promo/jquery.jqplot.min.js" %>
<%= javascript_include_tag "promo/jqplot.donutRenderer.min.js" %>
<%= javascript_include_tag "promo/raphael-min.js" %>
<%= javascript_include_tag "promo/morris.min.js" %>
<%= javascript_include_tag "promo/easy-circle-skill.js" %>
<%= javascript_include_tag "promo/owl.carousel.min.js" %>
<%= javascript_include_tag "promo/isotope.pkgd.min.js" %>
<%= javascript_include_tag "promo/TimeCircles.js" %>
<%= javascript_include_tag "promo/jquery.fullPage.min.js" %>
<script src="http://cdn.getshar.es/lib/0.8.0.min.js"></script>
<%= javascript_include_tag "promo/included-plagins.js" %>
<%= javascript_include_tag "promo/main.js" %>

</body>
