<body class="one-page" style="min-width:100%;">
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<div class="preloader white"><span class="loader"><span class="loader-inner"></span></span></div>

<div class="main">
  <section
	class="section call-action-section"
	data-background-image="/assets/backgrounds/starlake.jpg"
	data-shadow="rgba(0,0,0,0.02)"
	data-nav-color="rgba(255,255,255,0.4)"
	data-nav-color-text="rgba(0,0,0,0.5)"
	data-color="#768088"
	data-title-color="#ffffff"
	data-title="Home"
	data-anchor="home">
	<div class="section-content">
	  <div class="section-wrap" >
		<div class="container" >
		  <div class="row" >
			<div class="col-sm-12 col-md-12 info text-center">
			  <h1 class="section-title font-selector" data-appear-animation="bounceInUp" data-appear-animation-delay="100"><strong>Welcome, <%= @user.first_name %>!</strong><br>You have discovered Ratafire</h1>
			  <a href="#why" class="btn btn-lg btn-info font-selector" data-appear-animation="bounceInUp" data-appear-animation-delay="300">Start Tutorial</a>
			</div><!-- .info -->
		  </div>
		</div>
	  </div>
	</div><!-- .section-content -->
  </section><!-- .section -->

  <section
	class="section call-action-section"
	data-background-color="#cccccc"
	data-shadow="rgba(0,0,0,0.02)"
	data-nav-color="rgba(0,0,0,0.5)"
	data-nav-color-text="rgba(255,255,255,0.8)"
	data-color="#666666"
	data-title-color="#666666"
	data-title="why"
	data-anchor="why">
	<div class="section-content not-scroll">
	  <div class="container section-wrap">
		<div class="row promo-box inverse text-center">
		  <div class="col-sm-12 col-md-8 col-md-offset-2">
			<div class="features-text" data-appear-animation="fadeInDown" data-appear-animation-delay="600">
			  <h1 class="section-title font-selector">Why We Created Ratafire?</h1>
			  <p class="descriptions color-grey">We believe that artists and researchers should work on what they love and be properly supported by those who understand their talent.</p>
			</div><!-- .features-text -->
			
			<img src="/assets/macbook.png"
				 data-big="/assets/macbook@2x.png"
				 class="zoom-img replace-2x"
				 width="750"
				 height="447"
				 alt=""
				 data-appear-animation="bounceInUpBig">
		  </div>
		</div><!-- .promo-box -->
	  </div>
	</div><!-- .section-content -->
  </section><!-- .section -->
  
  <section
	class="section align-without-title services-section"
	data-background-image="/assets/backgrounds/sky.jpg"
	data-shadow="rgba(0,0,0,0.03)"
	data-nav-color="rgba(255,255,255,0.4)"
	data-nav-color-text="rgba(0,0,0,0.5)"
	data-title-color="#ffffff"
	data-title="subscription"
	data-anchor="subscription">
	<div class="section-content ">
	  <div class="container section-wrap">
		<h1 class="section-title text-center font-selector" data-appear-animation="fadeInDown" data-appear-animation-delay="900">Start Receiving Monthly Subscription</h1>
		  
		<div class="services-wrap inverse no-appear">
		  <div class="wrap-container">
			<div class="column column-one">
			  <div class="circle-wrap" data-appear-animation="zoomIn" data-appear-animation-delay="600">
				<canvas class="circle-skill" data-color="#f2f2f2" data-percent="75" data-title="A Discussion" width="150" height="150"></canvas>
				<div class="description">
				  <h3 class="title color-blue">Lead a Discussion</h3>
				  <div class="text">
					<p>You then must start at least one discussion thread and curate it. Monthly subscription on Ratafire isn't only about your personal projects.</p>
					<p>The discussions you participated count towards your contribution to this community. Read our <a><i class="fa fa-comments-o"></i> Community Guidelines </a> to learn more.</p>			
				  </div>
				</div>
			  </div>
			</div><!-- .column-one -->
			
			<div class="column column-two">
			  <div class="circle-wrap" data-appear-animation="zoomIn" data-appear-animation-delay="400">
				<canvas class="circle-skill" data-color="#f2f2f2" data-percent="60" data-title="A Project" width="150" height="150"></canvas>
				<div class="description">
				  <h3 class="title color-blue">An On-going Project</h3>
				  <div class="text font-selector">
					<p>You must create at least one on-going project and make the project digitally available. You can also collaborate with others on the same project.</p>
					<p>You should update your projects frequently, and improve their quality relentlessly. Visit our <a href="https://www.facebook.com/ratafire" target="_blank" ><i class="fa fa-facebook-square"></i> Facebook Page</a> for our weekly featured projects.</p>
				  </div>
				</div>
			  </div>
			  
			  <div class="circle-wrap" data-appear-animation="zoomIn" data-appear-animation-delay="500">
				<canvas class="circle-skill" data-color="#f2f2f2" data-percent="65" data-title="Application" width="150" height="150"></canvas>
				<div class="description">
				  <h3 class="title color-blue">Apply to Turn on Subscription</h3>
				  <div class="text">
					<p>You can then apply to turn on subscription. We will review your application and inform you of the result within 1 business day.</p>
					<p>To apply, you will need to write your "To Subscribers" page and connect your account to Amazon Payments.</p>					
				  </div>
				</div>
			  </div>
			</div><!-- .column-two -->
			
			<div class="column column-three column-center">
			  <div class="circle-wrap main-circle" data-appear-animation="zoomIn" data-appear-animation-delay="100">
				<div class="circle-content">
				  <h3 class="title color-grey">Click on each requirement to reveal its details</h3>
				</div>
				
				<div class="opened-content">
				  <a href="#" class="close">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
					  <path fill="inherit" d="M23.3,23.3c-0.6,0.6-1.5,0.6-2.1,0L0.7,2.8c-0.6-0.6-0.6-1.5,0-2.1c0.6-0.6,1.5-0.6,2.1,0
					  l20.5,20.5C23.9,21.8,23.9,22.7,23.3,23.3L23.3,23.3z M23.3,2.8L2.8,23.3c-0.6,0.6-1.5,0.6-2.1,0c-0.6-0.6-0.6-1.5,0-2.1L21.2,0.7
					  c0.6-0.6,1.5-0.6,2.1,0C23.9,1.3,23.9,2.2,23.3,2.8L23.3,2.8z"/>
					</svg>
				  </a>
				</div><!-- .opened-content -->
			  </div><!-- .main-circle -->
			</div><!-- .column-three -->
			
			<div class="column column-four">
			  <div class="circle-wrap" data-appear-animation="zoomIn" data-appear-animation-delay="700">
				<canvas class="circle-skill" data-color="#f2f2f2" data-percent="90" data-title="All or Nothing" width="150" height="150"></canvas>
				<div class="description">
				  <h3 class="title color-blue">All or Nothing</h3>
				  <div class="text">
					<p>If you sucessfully complete the 10 supporters in 30 days challenge, you can now start to receive monthly subscription fees via Ratafire.</p>
					<p>You can also keep your first 10 supporters/subscribers should you succeed. However, if you fail, you will lose them. You can always apply again.</p>					
				  </div>
				</div>
			  </div>
			  
			  <div class="circle-wrap" data-appear-animation="zoomIn" data-appear-animation-delay="800">
				<canvas class="circle-skill" data-color="#f2f2f2" data-percent="60" data-title="10 Supporters" width="150" height="150"></canvas>
				<div class="description">
				  <h3 class="title color-blue">Find first 10 Supporters in 30 Days</h3>
				  <div class="text">
					<p>Once your application is approved, before you can receive monthly subscription fees normally, you must find the 10 supporters/subscribers in 30 days.</p>
					<p>Tell your friends about your profile on Ratafire. Invite them to join your discussions, and they may become one of your subscribers!</p>					
				  </div>
				</div>
			  </div>
			</div><!-- .column-four -->
			
			<div class="column column-five">
			  <div class="circle-wrap" data-appear-animation="zoomIn" data-appear-animation-delay="900">
				<canvas class="circle-skill" data-color="#f2f2f2" data-percent="80" data-title="In 30 Days" width="150" height="150"></canvas>
				<div class="description">
				  <h3 class="title color-blue">In 30 Days</h3>
				  <div class="text">
					<p>You must find your first 10 supporters/subscribers in 30 days. We believe that this time constraint can help you focus on finding subscribers and improving your projects.</p>
					<p>You can find a countdown timer on your subscribers page. Others can also see your progress in this challenge.</p>					
				  </div>
				</div>
			  </div>
			</div><!-- .column-five -->
		  </div><!-- .wrap-container -->
		</div><!-- .services-wrap -->
	  </div>
	</div><!-- .section-content -->
  </section><!-- .section -->
  
  <section
	class="section pricing-section"
	data-background="#f2f2f2"
	data-nav-color="rgba(255,255,255,0.4)"
	data-nav-color-text="rgba(0,0,0,0.5)"
	data-title-color="#999999"
	data-title="Pricing"
	data-anchor="pricing">
	<div class="section-content">
	  <div class="container section-wrap">
		<h1 class="section-title text-center font-selector" data-appear-animation="zoomIn" data-appear-animation-delay="800">Our Pricing</h1>
		
		<div class="pricings-carousel">
		  <div class="row carousel carousel-white inverse bottom-navigation" data-options='{"itemsCustom": [[0, 1],[768, 2],[992, 3],[1230, 4]], "navigation": true}'>
			<div class="col-sm-6 col-md-4 col-lg-3">
			  <div class="pricing color-lightblue" data-appear-animation="zoomIn" data-appear-animation-delay="100">
				<div class="icon">
				  <i class="fa fa-user"></i>
				</div>
				
				<h3 class="title color-lightblue">Supporter</h3>
				
				<ul class="options">
				  <li>Artist Receives</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$2</div>
				  <div class="price-label">per month</div>
				</div>

				<ul class="options">
				  <li>You Pay</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$2.33</div>
				  <div class="price-label">per month</div>
				</div>
				
			  </div><!-- .pricing -->
			</div>

			<div class="col-sm-6 col-md-4 col-lg-3">
			  <div class="pricing color-lightblue" data-appear-animation="zoomIn" data-appear-animation-delay="100">
				<div class="icon">
				  <i class="fa fa-coffee"></i>
				</div>
				
				<h3 class="title color-lightblue">A Lava Cake</h3>
				
				<ul class="options">
				  <li>Artist Receives</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$12</div>
				  <div class="price-label">per month</div>
				</div>

				<ul class="options">
				  <li>You Pay</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$13.67</div>
				  <div class="price-label">per month</div>
				</div>
				
			  </div><!-- .pricing -->
			</div>			

			<div class="col-sm-6 col-md-4 col-lg-3">
			  <div class="pricing color-lightblue" data-appear-animation="zoomIn" data-appear-animation-delay="100">
				<div class="icon">
				  <i class="fa fa-leaf"></i>
				</div>
				
				<h3 class="title color-lightblue">A Meal With Fish</h3>
				
				<ul class="options">
				  <li>Artist Receives</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$17</div>
				  <div class="price-label">per month</div>
				</div>

				<ul class="options">
				  <li>You Pay</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$19.24</div>
				  <div class="price-label">per month</div>
				</div>
				
			  </div><!-- .pricing -->
			</div>			
			
			<div class="col-sm-6 col-md-4 col-lg-3">
			  <div class="pricing color-lightblue" data-appear-animation="zoomIn" data-appear-animation-delay="250">
				<div class="icon">
				  <i class="fa fa-book"></i>
				</div>
				
				<h3 class="title color-lightblue">A Book</h3>
				
				<ul class="options">
				  <li>Artist Receives</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$24</div>
				  <div class="price-label">per month</div>
				</div>

				<ul class="options">
				  <li>You Pay</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$27.03</div>
				  <div class="price-label">per month</div>
				</div>
				
			  </div><!-- .pricing -->
			</div>
			
			<div class="col-sm-6 col-md-4 col-lg-3">
			  <div class="pricing color-lightblue" data-appear-animation="zoomIn" data-appear-animation-delay="400">
				<div class="icon">
				  <i class="fa fa-rocket"></i>
				</div>
				
				<h3 class="title color-lightblue">A Surprise</h3>
				
				<ul class="options">
				  <li>Artist Receives</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$50</div>
				  <div class="price-label">per month</div>
				</div>

				<ul class="options">
				  <li>You Pay</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$55.98</div>
				  <div class="price-label">per month</div>
				</div>
				
			  </div><!-- .pricing -->
			</div>
			
			<div class="col-sm-6 col-md-4 col-lg-3">
			  <div class="pricing color-lightblue" data-appear-animation="zoomIn" data-appear-animation-delay="550">
				<div class="icon">
				  <i class="fa fa-magic"></i>
				</div>
				
				<h3 class="title color-lightblue">1024 Pine Nuts</h3>
				
				<ul class="options">
				  <li>Artist Receives</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$100</div>
				  <div class="price-label">per month</div>
				</div>

				<ul class="options">
				  <li>You Pay</li>		  
				</ul>

				<div class="price-box">
				  <div class="price">$111.65</div>
				  <div class="price-label">per month</div>
				</div>
				
			  </div><!-- .pricing -->
			</div>
		  </div>
		</div>
	  </div>
	</div><!-- .section-content -->
  </section><!-- .section -->

<section
	class="section video-section"
	data-background-image="/assets/backgrounds/universe.jpg"
	data-nav-color="rgba(255,255,255,0.4)"
	data-nav-color-text="rgba(0,0,0,0.5)"
	data-color="#ffffff"
	data-title-color="#ffffff"
	data-title="Video"
	data-anchor="video">
	<div class="section-content">
	  <div class="container section-wrap">
		<div class="row">
		  <div class="col-sm-12 col-md-8 col-md-offset-2">

			<h1 class="section-title text-center font-selector" data-appear-animation="fadeInDown" data-appear-animation-delay="100">Watch our Intro Video</h1>
			
			<p class="description text-center" data-appear-animation="fadeInDown" data-appear-animation-delay="300">Ratafire Intro Video: Sara and John</p>
			
			<div class="video-box" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
			  <iframe src="//player.vimeo.com/video/110195763" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		  </div>
		</div>
	  </div>
	</div><!-- .section-content -->
  </section><!-- .section -->

<!-- FAQ -->
<section
	class="section"
	data-background="#ffffff"	
	data-nav-color="rgba(255,255,255,0.4)"
	data-nav-color-text="rgba(0,0,0,0.5)"
	data-title-color="#666666"
	data-color="#2297ce"
	data-title="FAQ"
	data-anchor="faq">
	<div class="section-content">
	  <div class="container section-wrap" >
		<h1 class="section-title text-center font-selector" data-appear-animation="fadeInDown" data-appear-animation-delay="700">FAQ</h1>
		
		<div class="row panel-group fourth-style" id="accordion">
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="100">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				  Can non-subscribers see all projects?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a>
			  </h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse">
			  <div class="panel-body">
				Yes. Subscription does not grant the subscribers exclusive access to content, but subscribers will see your updates on their main feed.
			  </div>
			</div>
		  </div>
		  
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="200">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				  What is Ratafire’s licensing policy and why this license?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></a>
			  </h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>We believe that both creative or research works should be more open, and we think that the creators and researchers should be recognized and rewarded. Also, a more open environment can improve the quality of the work. We also believe that it is better for the public to see how the creators and researchers use the subscriptions they gain from Ratafire.</p>

				<p>Therefore, when you use Ratafire to share your projects, you are required to license the content you choose to post, except for software components, if any, under the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>

				<p>This means others can view and adapt your content, with your name properly attributed, but cannot use your content for commercial reasons without your permission.</p>
			  </div>
			</div>
		  </div>
		  
		  <div class="clearfix"></div>
		  
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="300">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				  Can I still sell my works after I post them on Ratafire?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"></a>
			  </h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
			  <div class="panel-body">
				Yes. You have full commercial right to your content. You can further grant commercial licenses of your Content for a fee outside of Ratafire.
			  </div>
			</div>
		  </div>
		  
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="400">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
				  Can I make my content fully open?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"></a>
			  </h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
			  <div class="panel-body">
				Yes. On top of the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International License</a>, you can add any additional licensing model you wish for the content you post.
			  </div>
			</div>
		  </div>
		  
		  <div class="clearfix"></div>
		  
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="500">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
				  Why have a monthly subscription model?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"></a>
			  </h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
			  <div class="panel-body">
				We believe that creators or researchers should be able to work on projects for the long term. Allowing ideas to mature over the long term can make a difference in the quality of the work.
			  </div>
			</div>
		  </div>
		  
		  <div class="panel panel-default col-sm-6" data-appear-animation="zoomIn" data-appear-animation-delay="600">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
				  What features do subscribers receive?
				</a>
				
				<a class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"></a>
			  </h4>
			</div>
			<div id="collapseSix" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>If you subscribe to a user, you will show up in the user’s Subscribers list, with the subscription length and amount. This list is public so your subscription is not anonymous.In your Home tab, you will see the updates from users you subscribe to, including the notifications of their new drafts. In this way, you will witness the creative process.</p>

				<p>By subscribing, you can gain early access to major posts in projects that have the early access feature turned on. The maximum early access is 6 days. As a subscriber, you will be able to send private messages to whom you subscribe to, provided that they allow messaging.</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section><!-- .section -->

  <!-- Start -->
  <section
	class="section centered-without-title"
	data-background="transparent"
	data-background-image="/assets/backgrounds/starmap.jpg"
	data-nav-color="rgba(255,255,255,0.4)"
	data-nav-color-text="rgba(0,0,0,0.5)"
	data-color="#000000"
	data-title-color="#999999"
	data-title="Start"
	data-anchor="start">
	<div class="section-content">
	  <div class="container section-wrap">
		<div class="text-center">
		<%= link_to after_intro_tutorial_path(@user), class:"no_ajaxify", style:"border:0px;" do %>
		  <div class="btn btn-default btn-download" data-appear-animation="zoomIn" data-appear-animation-delay="100">
			<span class="clearfix font-selector color-grey">Start Using Ratafire</span>
		  </div>
		<% end %>  
		</div>
	  </div>
	</div><!-- .section-content -->

  </section><!-- .section -->

 
</div><!-- .main -->
<!-- Javascript-->
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "promo/bootstrap.min.js" %>
<%= javascript_include_tag "promo/bootstrap-select.min.js" %>
<%= javascript_include_tag "promo/bootstrap-datepicker.min.js" %>
<%= javascript_include_tag "promo/jquery.appear.js" %>
<%= javascript_include_tag "promo/jquery.easings.min.js" %>
<%= javascript_include_tag "promo/jquery.carouFredSel-6.2.1-packed.js" %>
<%= javascript_include_tag "promo/jquery.touchwipe.min.js" %>
<%= javascript_include_tag "promo/jquery.themepunch.tools.min.js" %>   
<%= javascript_include_tag "promo/jquery.themepunch.revolution.min.js" %>
<%= javascript_include_tag "promo/jquery.mCustomScrollbar.concat.min.js" %>
<%= javascript_include_tag "promo/jquery.mlens-1.5.min.js" %>
<%= javascript_include_tag "promo/jquery.jqplot.min.js" %>
<%= javascript_include_tag "promo/jqplot.donutRenderer.min.js" %>
<%= javascript_include_tag "promo/raphael-min.js" %>
<%= javascript_include_tag "promo/morris.min.js" %>
<%= javascript_include_tag "promo/easy-circle-skill.js" %>
<%= javascript_include_tag "promo/owl.carousel.min.js" %>
<%= javascript_include_tag "promo/isotope.pkgd.min.js" %>
<%= javascript_include_tag "promo/TimeCircles.js" %>
<%= javascript_include_tag "promo/jquery.fullPage.min.js" %>
<script src="http://cdn.getshar.es/lib/0.8.0.min.js"></script>
<%= javascript_include_tag "promo/included-plagins.js" %>
<%= javascript_include_tag "promo/main.js" %>

</body>
