<div class="row p-20 m-5">
	<div class="col-md-3">
		<span class="bg-grey-100 pl-5 pr-5"><%= transaction.stripe_id %></span>
	</div>
	<div class="col-md-3">
		<%= transaction.created_at.strftime('%Y/%m/%d')%>
	</div>
	<div class="col-md-3">
		<%= number_to_currency(transaction.total, unit: currency_signs(transaction.currency)) %>
	</div>
	<div class="col-md-2">
		<% if transaction.transaction_type == 'shipping' %>
			<%= t 'views.payment.backs.shipping_fee' %>
		<% else %>
			<%= t 'views.payment.backs.ratafire_payment' %>
		<% end %>
	</div>
	<div class="col-md-1">
		<% if transaction.transaction_subsets.count > 0 %>
			<%= link_to single_receipt_user_studio_wallets_path(transaction.subscriber.username,transaction.uuid) do %>
				<span class="btn btn-default btn-xs height-30"><%= t 'views.campaign.view' %></span>
			<% end %>
		<% end %>
	</div>
</div>