<div class="row m-5">
	<table class="table datatable-basic responsive no-wrap table-hover no-border text-grey" id="reward_receiver" data-source="<%= receiver_datatable_user_studio_rewards_path(user.id, reward.id, format: "json") %>">
		<thead>
			<tr>
				<th style="width:10%;"><%= t 'views.creator_studio.upcoming.name' %></th>
				<th style="width:30%;"></th>
				<th style="width:40%;"><%= t 'views.creator_studio.rewards.status' %></th>
				<th style="width:20%;"><%= t 'views.creator_studio.upcoming.action' %></th>
			</tr>
		</thead>
	</table>
</div>
<script type="text/javascript">
    $.extend( $.fn.dataTable.defaults, {
        "bFilter": false,
        "bLengthChange": false,
        autoWidth: false,
        columnDefs: [{ 
            orderable: false,
            width: '100px'
        }],
        dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
        },
        drawCallback: function () {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
        },
        preDrawCallback: function() {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
        }
    });
    $('#reward_receiver').DataTable({
        responsive: true,
        sPaginationType: "full_numbers",
        "language": {
            "url": "/translation/dataTable/<%= I18n.locale %>.json"
        },
        bProcessing: true,
        bServerSide: true,
        sAjaxSource: $('#reward_receiver').data('source')
    });	
    // Enable Select2 select for the length option
    $(window).on('load page:render turbolinks:render', function() { 
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: Infinity,
            width: 'auto'
        });    
    });  
</script>