<div>
	<% if user.creator == true %>❤<% end %> <%= user.fullname %>, <%= user.username %>, <%= link_to user.website, user.website, class:"no_ajaxify", target:"_blank"%>, <%= user.realm %>, <%= user.created_at%>, [<%= link_to "Approve", beta_approve_path(user), class:"no_ajaxify"%>], [<%= link_to "Ignore", beta_ignore_path(user),class:"no_ajaxify" %>]
</div>