<table id="realm_balance" class="tg">
  <thead>
    <tr>
      <th class="tg-tdpq" width="200">Realm</th>
      <th class="tg-tdpq" width="200">Approved Creators</th>
      <th class="tg-tdpq" width="200">Approved</th>
      <th class="tg-tdpq" width="200">Applied Creators</th>
      <th class="tg-tdpq" width="200">Applied</th>
    </tr>
    <tr>
      <td class="tg-akd2" >Art</td>
      <td class="tg-akd2"><%= @beta_art.count %></td>
      <td class="tg-akd2"><%= @beta_art_a.count %></td>
      <td class="tg-akd2"><%= @beta_art_cp.count %></td>
      <td class="tg-akd2"><%= @beta_art_p.count %></td>
    </tr>
    <tr>
      <td class="tg-akd2">Music</td>
      <td class="tg-akd2"><%= @beta_music.count %></td>
      <td class="tg-akd2"><%= @beta_music_a.count %></td>
      <td class="tg-akd2"><%= @beta_music_cp.count %></td>
      <td class="tg-akd2"><%= @beta_music_p.count %></td>
    </tr>
    <tr>
      <td class="tg-akd2">Games</td>
      <td class="tg-akd2"><%= @beta_games.count %></td>
      <td class="tg-akd2"><%= @beta_games_a.count %></td>
      <td class="tg-akd2"><%= @beta_games_cp.count %></td>
      <td class="tg-akd2"><%= @beta_games_p.count %></td>
    </tr>
    <tr>
      <td class="tg-akd2">Writing</td>
      <td class="tg-akd2"><%= @beta_writing.count %></td>
      <td class="tg-akd2"><%= @beta_writing_a.count %></td>
      <td class="tg-akd2"><%= @beta_writing_cp.count %></td>
      <td class="tg-akd2"><%= @beta_writing_p.count %></td>
    </tr>    
    <tr>
      <td class="tg-akd2">Videos</td>
      <td class="tg-akd2"><%= @beta_videos.count %></td>
      <td class="tg-akd2"><%= @beta_videos_a.count %></td>
      <td class="tg-akd2"><%= @beta_videos_cp.count %></td>
      <td class="tg-akd2"><%= @beta_videos_p.count %></td>
    </tr> 
    <tr>
      <td class="tg-akd2">Math</td>
      <td class="tg-akd2"><%= @beta_math.count %></td>
      <td class="tg-akd2"><%= @beta_math_a.count %></td>
      <td class="tg-akd2"><%= @beta_math_cp.count %></td>
      <td class="tg-akd2"><%= @beta_math_p.count %></td>
    </tr> 
    <tr>
      <td class="tg-akd2">Science</td>
      <td class="tg-akd2"><%= @beta_science.count %></td>
      <td class="tg-akd2"><%= @beta_science_a.count %></td>
      <td class="tg-akd2"><%= @beta_science_cp.count %></td>
      <td class="tg-akd2"><%= @beta_science_p.count %></td>
    </tr>  
    <tr>
      <td class="tg-akd2">Humanity</td>
      <td class="tg-akd2"><%= @beta_humanity.count %></td>
      <td class="tg-akd2"><%= @beta_humanity_a.count %></td>
      <td class="tg-akd2"><%= @beta_humanity_cp.count %></td>
      <td class="tg-akd2"><%= @beta_humanity_p.count %></td>
    </tr>   
    <tr>
      <td class="tg-akd2">Engineering</td>
      <td class="tg-akd2"><%= @beta_engineering.count %></td>
      <td class="tg-akd2"><%= @beta_engineering_a.count %></td>
      <td class="tg-akd2"><%= @beta_engineering_cp.count %></td>
      <td class="tg-akd2"><%= @beta_engineering_p.count %></td>
    </tr>                   
  </thead>
  <tbody>
  </tbody>
</table>