<!-- Script to view Project button -->
<script>
	$(document).ready(function() {
	//Project-header-case	
	$('#project-header-case').hover(function() {
  		$("#edit-project-header").toggle();

	});

	//icon-delete
	$('#icon-upload-box').hover(function() {
  		$("#delete-icon").toggle();
	});

});
</script>

<div class="project-header-wrapper" id="project-header-case">

	<!-- Flag for completion -->
	<% if @project.flag == true && project_edit(@project) %>
		<%= render 'projects/flag' %>
	<% end %>		

	<!-- if current user has the right to edit -->
	<% if @project.creator == current_user %>

		<!-- artwork delete button-->
		<div class="btn-edit-right" id="edit-project-header">
			<%= link_to 'View Project',user_project_path(@project.creator,@project),class:"btn-delete no_ajaxify"%>
		</div>

	<% end %><!-- end if @artwork.project == nil-->	

	<% if project_edit(@project) && @project.abandoned != true %>
		
		<!-- project icon-->
		<div id="project-icon">
			<!-- Edit Icon-->		
			<% if @project.icon == nil %>

		   		<div id="icon-upload-box" style="background-image:url(/assets/projecticon_pageview.jpg); height: 126px; width:126px; border-radius:6px;">
		   		<!-- When there is no icon -->

		   			<div id="project-icon-upload" class="artwork-button fileinput-button">
										<!-- fields for icon -->
										<%= s3_uploader_form callback_url: create_project_icon_path(current_user,@project),
  											id: "s3_uploader_icon",
											callback_param: "icon[direct_upload_url]",
											expiration: 24.hours.from_now.utc.iso8601,
											max_file_size: 2048.megabytes,:remote => true do %>
											<%= file_field_tag :file, multiple: false, class:"artwork-choose" %>		
										<% end %>	

		   			</div><!-- end fileupload buttom-->
		   			<div id="icon-progress-case">
		   			</div>
		   		</div><!-- end#icon-upload-box-->
		   
		   		<script id="template-upload-icon" type="text/x-tmpl">
		   			<div class="upload">
		   				<div class="bar-icon" style="width: 0%">
		   				</div>
		   			</div>
		   		</script>

		  		<div id="icon-upload-data"></div>
			<% else %>
		 		<div id="icon-upload-box" style="background-image: url(<%= @project.icon.image.url(:pageview) %>); height: 126px; width:126px; border-radius:6px;">
		 			<!-- artwork delete button-->
					<div id="delete-icon" style="margin:7px 5px 0 0;float:right;display:none;">
						<%= link_to 'Delete',icon_delete_path(@project.creator,@project,@project.icon),method: :delete,class:"btn-delete no_ajaxify"%>
					</div>
	 			</div>
			<% end %>	 	
		</div><!-- end:.project-icon -->	
	<% else %>    
		<% if @icon != nil %>	
			<%= link_to user_project_path(@project.creator,@project), class:"no_ajaxify" do %>
				<div class="project-icon-holder" style="background-image:url(<%= @icon.image.url(:pageview) %>);">
				</div>
			<% end %>
		<% else %>	
			<%= link_to user_project_path(@project.creator,@project), class:"no_ajaxify" do %>
				<div class="project-icon-holder" style="background-image:url(/assets/projecticon_pageview.jpg)">
				</div>
			<% end %>
		<% end %>
	<% end %>
					
	<div id="project-title">
						<!-- Project Name -->
						<h1 >
							<!-- Completed?-->
							<% if @project.complete == true %>
								<li class="tipsy-tipsy", title="Completed!">[C]</li>
							<% end %>
							<!-- Completion Flag? -->
							<% if @project.flag == true %>
								<li class="tipsy-tipsy", title="Completed?">[C?]</li>
							<% end %>		
							<% if @project.complete == true %>	
								<%= @project.title %>
							<% else %>				
								<%= best_in_place [@project.creator, @project], :title, :path => project_update_path(@project.creator,@project), :classes =>"best_title" %><span class="btn btn-edit" id="best_title-edit" style="display:none;"></span>
							<% end %>
						</h1>
						<ul>
							<h5><%= link_to realm_selector_path(@project.realm),class:"no_ajaxify" do %><%= project_realm(@project.realm)%><% end %> :: <%= best_in_place [@project.creator, @project], :tagline, :path => project_update_path(@project.creator,@project),:classes =>"best_tagline" %> <span class="btn btn-edit" id="best_tagline-edit" style="margin:-2px 0 0 0; display:none;"></span></h5>
						</ul>
	</div>

	<div id="project-goals">
		<%= goals_percentage(@majorpost_count, @project.goal)%><%= progress_bar(goals_count(@majorpost_count, @project.goal), :color => 'pink', :rounded => true) %>
	</div>



</div>