<!-- Script to show Edit button -->
<script>
	$(document).ready(function() {
	$('#<%= project.id %>project').hover(function() {
  		$("#<%= project.id %>").toggle();
	});
	});
</script>

<div class="lightbox4" id="<%= project.id %>project">
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~ Project Creator ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<% if project_edit(project) %>
<div class="btn-edit-right" id="<%= project.id %>">
		<% if project_delete(project) %>
		<div class="btn-edit-right5"><%= link_to 'Throw Away',throw_draft_path(project.creator,project),method: :delete,class:"btn-delete no_ajaxify", id:project.id, title:"Edit" %></div>
		<% end %>
		<%= link_to 'Edit',edit_user_project_path(project.creator,project),class:"btn-delete no_ajaxify" %>
</div>
<!-- Project Icon -->
<div class="project-show-icon">
		<div class="project-icon-small">
			<% if project.published == false %>
				<% if project.icon != nil %>
					<%= link_to edit_user_project_path(project.creator,project), class:"no_ajaxify" do %>
						<div class="user-icon-small-holder" style="background-image:url(<%= project.icon.image.url(:small) %>);"></div>
					<% end %>	
				<% else %>
					<%= link_to edit_user_project_path(project.creator,project), class:"no_ajaxify" do %>
						<div class="user-icon-small-holder" style="background-image:url(/assets/projecticon_small.jpg);"></div>
					<% end %>	
				<% end %>
			<% else %>
				<% if project.icon != nil %>
					<%= link_to user_project_path(project.creator,project), class:"no_ajaxify" do %>
						<div class="user-icon-small-holder" style="background-image:url(<%= project.icon.image.url(:small) %>);"></div>
					<% end %>	
				<% else %>
					<%= link_to user_project_path(project.creator,project), class:"no_ajaxify" do %>
						<div class="user-icon-small-holder" style="background-image:url(/assets/projecticon_small.jpg);"></div>
					<% end %>	
				<% end %>
			<% end %>
		</div>
</div>
<div class="project-show-content">
<!-- Project Title -->
	<div class="project-show-title"><!-- Cutter --><ol style="margin-top: -8px;"></ol>
		<h2>
			<% if project.published == false %>
				<div class="lightbox4-draft">
					<%= link_to project.title, edit_user_project_path(project.creator,project), class:"no_ajaxify" %>
					<span>(Draft)</span>					
				</div>
			<% else %>
					<% if project.creator != @user %>
						<span class="realm-color">Joined</span> 
					<% end %>
					<%= link_to project.title, user_project_path(project.creator,project), class:"no_ajaxify" %>
			<% end %>
		</h2>

		<ol style="margin-top: -18px;"></ol>
		<ol><%= project.tagline %> </ol>
		<span><% if project.tags.any? %><% if project.tags.count >1 %>Tags: <% else %>Tag: <% end %><% end %> 
				<%= raw project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(', ') %></span>
		<ol style="color:#999;">Created <%= time_ago_in_words(project.created_at) %> ago<% if project.realm != nil %> in <%= link_to realm_selector_path(project.realm),class:"no_ajaxify" do %><span class="realm-color"><%= project_realm(project.realm)%></span><% end %><else>.<% end %></ol>
	</div>
</div>	
<% else %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~ Non Project Creator ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div class="project-show-icon">
		<div class="project-icon-small">
		<div class="project-icon-small-wrapper" >
			<div id="project-icon-mask">
			<% if project.published == false %>	
				<% if project.icon != nil %>
					<%= link_to edit_user_project_path(project.creator,project), class:"no_ajaxify" do %>
						<div class="user-icon-small-holder" style="background-image:url(<%= project.icon.image.url(:small) %>);"></div>
					<% end %>	
				<% else %>
					<%= link_to edit_user_project_path(project.creator,project), class:"no_ajaxify" do %>
						<div class="user-icon-small-holder" style="background-image:url(/assets/projecticon_small.jpg);"></div>
					<% end %>	
				<% end %>
			<% else %>
				<% if project.icon != nil %>
					<%= link_to user_project_path(project.creator,project), class:"no_ajaxify" do %>
						<div class="user-icon-small-holder" style="background-image:url(<%= project.icon.image.url(:small) %>);"></div>
					<% end %>	
				<% else %>
					<%= link_to user_project_path(project.creator,project), class:"no_ajaxify" do %>
						<div class="user-icon-small-holder" style="background-image:url(/assets/projecticon_small.jpg);"></div>
					<% end %>	
				<% end %>
			<% end %>
			</div>
		</div>
		</div><!-- end project.iconsmall-->
	</div><!-- end project.showicon-->
<div class="project-show-content">
	<div class="project-show-title">
		<!-- Cutter --><ol style="margin-top: -8px;"></ol>
		<h2>
			<% if project.published == false %>
				<div class="lightbox4-draft">
					<!-- only creator can edit the draft-->
					<%= project.title %>
					<span>(Draft)</span>
				</div>
			<% else %>
					<% if project.creator != @user %>
						<span class="realm-color">Joined</span> 
					<% end %>
					<%= link_to project.title, user_project_path(project.creator,project), class:"no_ajaxify" %>
			<% end %>
		</h2>
		<ol style="margin-top: -18px;"></ol>
		<ol><%= project.tagline %> </ol>
		<span><% if project.tags.any? %><% if project.tags.count >1 %>Tags: <% else %>Tag: <% end %><% end %> 
				<%= raw project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(', ') %></span>
		<ol style="color:#999;">Project created <%= time_ago_in_words(project.created_at) %> ago <% if project.realm != nil %> in <%= link_to realm_selector_path(project.realm),class:"no_ajaxify" do %><span class="realm-color"><%= project_realm(project.realm)%></span><% end %><else>.<% end %></ol>		
	</div>	
</div>	
<% end %>		
<!-- Project Misc -->
</div>


