<!-- If it is vimeo -->
<% if @project.video != nil then %>
	<% if @project.video.external != "" && @project.video.external != nil %>
		<% if @project.video.youtube_vimeo == true %>
			<!-- Youtube Video -->
			<script>
				$(document).ready(function() {
					//Uploaded video click to play
					$("#<%= @project.id%>video-small").click(
						function () {
							$("#<%= @project.id%>holder").hide();
							$("#<%= @project.id%>video-expanded").show();
							callPlayer("<%= @project.id%>video","playVideo");
					});	
				});	
			</script>
		<% else %>
			<!-- Vimeo Video -->
			<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
			<script>
				$(document).ready(function() {
		 			var iframe = $('#<%= @project.id%>video')[0];
	    			var player = $f(iframe);

					//Uploaded video click to play
					$("#<%= @project.id%>video-small").click(
					function () {
						$("#<%= @project.id%>holder").hide();
						$("#<%= @project.id%>video-expanded").show();
						player.api("play");
					});				
				});	
			</script>
		<% end %>
	<% else %>
		<!-- Internal Video -->
			<script>
				$(document).ready(function() {
					//Uploaded video click to play
					$("#<%= @project.id%>video-small").click(
						function () {
							$("#<%= @project.id%>holder").hide();
							$("#<%= @project.id%>video-expanded").show();
							var myPlayer = videojs("#<%= @project.id%>video");
							myPlayer.play();
					});	
				});	
			</script>
	<% end %>	
<% end %>

<div class="lightbox-project-portable">

<div class="create-content-wrapper">	
		<!-- Delete
		<div class="toolbox4">
		</div>-->
	<div class="textbox3">

			<div id="majorpost-comments" class="tipsy-tipsy" title="Comments">
				<%= @project.project_comments.count %>
			</div>
			<div class="create-social-comments tipsy-tipsy" title="Comments"></div>	
			<div id="majorpost-comments" class="tipsy-tipsy" title="Recommenders">
				<%= @project.likers.count %>
			</div>				
			<%= link_to project_recommanders_path(@project.creator, @project), class:"no_ajaxify" do %>
				<div class="create-social-rec tipsy-tipsy" title="Recommenders"></div>
			<% end %>		
			<div id="majorpost-comments" class="tipsy-tipsy" title="Watchers">
				<%= @project.watchers.count %>
			</div>							
			<%= link_to project_watchers_path(@project.creator, @project), class:"no_ajaxify" do %>
				<div class="create-social-watch tipsy-tipsy" title="Watchers"></div>
			<% end %>	
		
		<!-- user icon holder-->
		<%= link_to @project.creator, class:"no_ajaxify" do %>
			<% if @project.icon != nil then %>
				<div class="majorpost-usericon" style="background-image:url(<%= @project.icon.image.url(:pageview) %>);background-size: cover;"></div>
			<% else %>
				<div class="majorpost-usericon" style="background-image:url(/assets/projecticon_pageview.jpg) %>);background-size: cover;"></div>
			<% end %>
		<% end %>		

		<!-- Title -->
<!-- Project Title for Project User -->
		<div class="majorpost-title">
		<li><%= link_to @project.title, user_project_path(@project.creator,@project), class:"no_ajaxify" %></li> posted<% if @project.realm != nil then %> in <%= link_to realm_selector_path(@project.realm),class:"no_ajaxify" do %><span class="realm-color"><%= project_realm(@project.realm)%></span><% end %> <% else %>.<% end %>
		</div>	

		<div id="majorpost-comments">
		</div>
		<div id="majorpost-time">
			<%= rating_for @project, "content",:star => 5, :readonly => true %> (<%= @project.content_rates.count %>) Created by <%= link_to @project.creator.first_name,user_path(@project.creator),class:"no_ajaxify" %>, <%= time_ago_in_words(@project.created_at) %> ago. <% if @project.project_comments.count >0 then%>Reviewed by <%= link_to @project.project_comments.last.user.first_name,user_path(@project.project_comments.last.user),class:"no_ajaxify" %>, <%= time_ago_in_words(@project.commented_at)%> ago.<% end %>
		</div>
		<!-- When it is not a draft-->
		<% if @project.published == true %>
		<div id="majorpost-excerpt">
			<!-- When there are artwork and video -->
			<% if video_true_or_artwork_true(@project.id) %>
				<!-- With Video but without artwork, without audio -->
				<% if video_true_and_artwork_false(@project.id) %>
					<!-- Expanded Video -->
					<div id="<%= @project.id%>video-expanded" class="video-display-portable" style="display:none;">
						<% if @project.video.external != "" && @project.video.external != nil %>
							<% if @project.video.youtube_vimeo == true %>
								<!-- Youtube Video -->
								<div id="<%= @project.id%>video">
									<iframe width="628" height="353" src="https://www.youtube.com/embed/<%= @project.video.external %>?enablejsapi=1" frameborder="0"></iframe>
								</div>
							<% else %>
								<!-- Vimeo Video -->
								<iframe width="628" height="353" src="//player.vimeo.com/video/<%= @project.video.external %>?api=1&player_id=<%= @project.id%>video" id="<%= @project.id%>video" frameborder="0"></iframe>
							<% end %>
						<% else %>
							<!-- Internal Video -->
							<%= videojs_rails sources: { webm: @project.video.output_url, mp4: @project.video.output_url_mp4 }, height:"353", width:"628", poster:@project.video.thumbnail(:original),id:"#{@project.id}video" %>
						<% end %>	
					</div>		
					<div id="<%= @project.id%>holder">					
						<div class="majorpost-video-one" id="<%= @project.id%>majorpost-video-one">
							
									<% if @project.video.external != "" && @project.video.external != nil %>	
										<% if @project.video.youtube_vimeo == true %>
											<!-- Youtube Thumbnail-->
											<div class="majorpost-video-small-holder" id="<%= @project.id%>video-small" style="background-image:url(http://img.youtube.com/vi/<%= @project.video.external %>/mqdefault.jpg);">
										<% else %>
											<!-- Vimeo Thumbnail-->
											<div class="majorpost-video-small-holder vimeo" style="background-image:url(<%= vimeo_thumbnail(@project.video.external)%>)" id="<%= @project.video.external %>" >
										<% end %>
									<% else %>
										<!-- Internal Thumbnail-->
										<% if @project.video.encoded_state == "finished" %>
											<div class="majorpost-video-small-holder" id="<%= @project.id%>video-small" style="background-image:url(<%= @project.video.thumbnail.url(:thumb)%>);">
										<% else %>
											<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
										<% end %>
									<% end %>
											<div class="majorpost-video-small">
											</div>
										</div>
							
						</div><!-- end.majorpost-video-one -->	
						<div class="majorpost-excerpt-wrapper" id="<%= @project.id%>excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(@project.excerpt, :length => 300) %>
						</div>
					</div><!-- end#@project-holder-->	
					<!-- Tags -->
					<div id="majorpost-tags">
						<% if @project.tags.any? %>
						<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>	
				<% end %><!-- end of with video but without artwork, without audio-->
				<!-- With Artwork without Video, without audio -->
				<% if video_false_and_artwork_true(@project.id) %>
					<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
						<div class="majorpost-postimages-one">
							<img src="<%= @project.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
						</div>
						<div class="majorpost-thumbnail-bar">Artwork</div>
					<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(@project.excerpt, :length => 300) %>
						</div>
					<!-- Tags-->
					<div id="majorpost-tags">
						<% if @project.tags.any? %>
						<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>
				<% end %>	
				<!-- With Artwork and with Video, without audio -->
				<% if video_true_and_artwork_true(@project.id) %>	
					<!-- Expanded Video -->
					<div id="<%= @project.id%>video-expanded" class="video-display-portable2" style="display:none;">
						<%= videojs_rails sources: { webm: @project.video.output_url, mp4: @project.video.output_url_mp4 }, height:"342", width:"608", poster:@project.video.thumbnail(:original),id:"#{@project.id}video" %>
					</div>	
					<div id="<%= @project.id%>holder">								
						<div class="majorpost-video-one">
								
										<!-- Internal Thumbnail-->
										<% if Video.find(@project.video_id).encoded_state == "finished" %>
											<div class="majorpost-video-small-holder" id="<%= @project.id%>video-small" style="background-image:url(<%= Video.find(@project.video_id).thumbnail.url(:thumb)%>);">
										<% else %>
											<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
										<% end %>
											<div class="majorpost-video-small">
											</div>
										</div>
								
						</div>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= @project.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
							</div>
							<div class="majorpost-thumbnail-bar2">Artwork</div>
						<% end %>
						<div class="majorpost-excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
								<%= sanitize truncate(@project.excerpt, :length => 180) %>
							</div>
					</div><!-- end#@project-holder-->		
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if @project.tags.any? %>
							<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>						
				<% end %>	
				<!-- With Audio, wihtout video, without artwork -->	
				<% if video_false_and_artwork_false_and_audio_true(@project.id) %>	
					<div class="majorpost-video-one">
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
								<!-- Internal Thumbnail-->
								<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= @project.audio.default_image%>.jpg);">
									<div class="majorpost-video-small">
									</div>

								</div>	
								<div class="majorpost-thumbnail-bar-audio">Audio Track</div>
						<% end %>
					</div><!-- end.majorpost-video-one -->	
					<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
						<%= sanitize truncate(@project.excerpt, :length => 300) %>
					</div>
					<!-- Tags -->
					<div id="majorpost-tags">
						<% if @project.tags.any? %>
						<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>					
				<% end %>	
				<!-- With video, without artwork, with audio -->
				<% if video_true_and_artwork_false_and_audio_true(@project.id) %>		
					<!-- Expanded Video -->
					<div id="<%= @project.id%>video-expanded" class="video-display-portable2" style="display:none;">
						<%= videojs_rails sources: { webm: @project.video.output_url, mp4: @project.video.output_url_mp4 }, height:"342", width:"608", poster:@project.video.thumbnail(:original),id:"#{@project.id}video" %>
					</div>	
					<div id="<%= @project.id%>holder">							
						<div class="majorpost-video-one">
								
										<!-- Internal Thumbnail-->
										<% if Video.find(@project.video_id).encoded_state == "finished" %>
											<div class="majorpost-video-small-holder" id="<%= @project.id%>video-small" style="background-image:url(<%= Video.find(@project.video_id).thumbnail.url(:thumb)%>);">
										<% else %>
											<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
										<% end %>
											<div class="majorpost-video-small">
											</div>
										</div>
								
						</div>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
									<!-- Internal Thumbnail-->
									<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= @project.audio.default_image%>.jpg);">
										<div class="majorpost-video-small">
										</div>
									</div>	
									<div class="majorpost-thumbnail-bar-audio2">Audio Track</div>
						<% end %>
						<div class="majorpost-excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
								<%= sanitize truncate(@project.excerpt, :length => 180) %>
							</div>
					</div><!-- end#@project-holder-->		
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if @project.tags.any? %>
							<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>						
				<% end %>					
				<!-- Without video, with artwork, with audio -->	
				<% if video_false_and_artwork_true_and_audio_true(@project.id) %>				
					<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
						<div class="majorpost-postimages-one">
							<img src="<%= @project.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
						</div>
						<div class="majorpost-thumbnail-bar">Artwork</div>
					<% end %>	
					<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
								<!-- Internal Thumbnail-->
								<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= @project.audio.default_image%>.jpg);">
									<div class="majorpost-video-small">
									</div>
								</div>	
								<div class="majorpost-thumbnail-bar-audio2">Audio Track</div>
					<% end %>
					<div class="majorpost-excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
							<%= sanitize truncate(@project.excerpt, :length => 180) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if @project.tags.any? %>
							<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>					
				<% end %>	
				<!-- With video, with artwork, with audio -->
				<% if video_true_and_artwork_true_and_audio_true(@project.id) %>	
					<!-- Expanded Video -->
					<div id="<%= @project.id%>video-expanded" class="video-display-portable2" style="display:none;">
						<%= videojs_rails sources: { webm: @project.video.output_url, mp4: @project.video.output_url_mp4 }, height:"342", width:"608", poster:@project.video.thumbnail(:original),id:"#{@project.id}video" %>
					</div>	
					<div id="<%= @project.id%>holder">								
						<div class="majorpost-video-one">
								<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
										<!-- Internal Thumbnail-->
										<% if Video.find(@project.video_id).encoded_state == "finished" %>
											<div class="majorpost-video-small-holder" id="<%= @project.id%>video-small" style="background-image:url(<%= Video.find(@project.video_id).thumbnail.url(:thumb)%>);">
										<% else %>
											<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
										<% end %>
											<div class="majorpost-video-small">
											</div>
										</div>
								<% end %>
						</div>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= @project.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
							</div>
							<div class="majorpost-thumbnail-bar2">Artwork</div>
						<% end %>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
									<!-- Internal Thumbnail-->
									<div class="majorpost-postimages-one" style="background-image:url(/assets/audio_bg_default<%= @project.audio.default_image%>.jpg);">
										<div class="majorpost-video-small">
										</div>
									</div>	
									<div class="majorpost-thumbnail-bar-audio3">Audio Track</div>
						<% end %>
					</div><!-- end#@project-holder-->	
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if @project.tags.any? %>
							<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>					
				<% end %>
				<!-- With PDF -->
				<% if pdf_true(@project.id) %>
					<div class="majorpost-video-one">
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
								<!-- Internal Thumbnail-->
								<div class="majorpost-postimages-one" style="background-image:url(<%= @project.pdf.pdf.url(:thumb)%>);background-size: 100%;">
			

								</div>	
								<div class="majorpost-thumbnail-bar-audio">PDF file</div>
						<% end %>
					</div><!-- end.majorpost-video-one -->	
					<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
						<%= sanitize truncate(@project.excerpt, :length => 300) %>
					</div>
					<!-- Tags -->
					<div id="majorpost-tags">
						<% if @project.tags.any? %>
						<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>							
				<% end %>																
			<% else %>
				<!-- If there are images-->
				<% if @project.projectimages.count > 0 %>
					<!-- one projectimage -->
					<% if @project.projectimages.count == 1 %>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(@project.excerpt, :length => 300) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if @project.tags.any? %>
							<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>
					<% end %>
					<!-- two projectimages three projectimages -->
					<% if @project.projectimages.count == 2 %>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
							<%= sanitize truncate(@project.excerpt, :length => 180) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if @project.tags.any? %>
							<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>						
					<% end %>
					<!-- three projectimages -->
					<% if @project.projectimages.count == 3 || @project.projectimages.count == 4 || @project.projectimages.count == 5 %>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages[2].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if @project.tags.any? %>
							<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>						
					<% end %>					
					<!-- six projectimages -->
					<% if @project.projectimages.count >= 6 %>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages[2].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages[3].thumbnail%>" style="border-radius:5px;">
							</div>	
						<% end %>	
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages[4].thumbnail%>" style="border-radius:5px;">
							</div>	
						<% end %>		
						<%= link_to user_project_path(@project.creator,@project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= @project.projectimages[5].thumbnail%>" style="border-radius:5px;">
							</div>	
						<% end %>																		
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if @project.tags.any? %>
							<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>												
					<% end %>
				<% else %>
					<!-- Normal Post-->
					<div>
						<%= sanitize truncate(@project.excerpt, :length => 200) %>
					</div>
					<!-- Tags-->
					<div id="majorpost-tags">
					<% if @project.tags.any? %>
						<%= raw @project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>	
				<% end %>
			<% end %><!-- end of when there are artwork and video -->
		</div><!-- end:#majorpost-excerpt -->
		<% end %><!-- end: when it is not a draft -->
	</div><!-- end .textbox3-->
</div><!-- create-content-wrapper-->	


</div>