<% if user_subscription_check(@project.creator) && @project.users.count == 1 then %>
	<!-- To Subscribers Title -->
	<div class="inspiration-bg">
		<div class="textbox-mini">
			<div class="post-about-title">
				<li style="font-size: 1.4em;">Support the Creator of this Work Collection</li>
			</div>
		</div>
	</div>
	<!-- To Subscribers Content -->
	<div class="lightbox2 post-content-c" style="margin-top:0px;">
		<div class="textbox-mini" >
			<div class="project-to-subscribers-holder">
				<span id="post-usericon" style="float:left;margin:18px 15px 0px 0;">
					<%= link_to @project.creator, class:"no_ajaxify no_decoration" do %>
						<div class="user-icon-holder" style="background-image:url(<%= @project.creator.profilephoto.url(:small64) %>);"></div>
					<% end %>
				</span>
				<span style="font-size:1.4em;float:left;margin-top:11px;font-family:'Open Sans';"><%= link_to @project.creator.fullname, @project.creator, class:"no_ajaxify", style:"color:#888;"%></span>
		<div class="goals" style="width:100%;margin-top:15px;font-family:'Open Sans';">
			<ol id="green"><span class="tipsy-tipsy" title="<%= goals_percentage(@project.creator.subscription_amount.to_i, @project.creator.goals_monthly)%>"></span> <%= goals_percentage(@project.creator.subscription_amount.to_i, @project.creator.goals_monthly)%> of <span style="background-color:#72aa35;color:#ffffff;border-radius:5px;padding: 1px 5px 1px 5px;">$<%= render :text => @project.creator.goals_monthly%></span> per month</ol>
			<ol><%= progress_bar(goals_count(@project.creator.subscription_amount.to_i, @project.creator.goals_monthly), :color => 'green', :rounded => true) %></ol>
		</div>					
		<!-- Those who have subscribed to the user -->
		<div style="margin-bottom:10px;font-family:'Open Sans';">If the subscription amount goal is reached, <%= link_to @project.creator.fullname,@project.creator,class:"no_ajaxify" %> will be able to continue this work collection.</div>
		<div>
			<%= render 'subscriptions/faces'%>
		</div>	
		<% if user_signed_in? then %>
			<% unless @project.creator == current_user %>
				<% unless @project.creator.subscribed_by?(current_user) %>
					<% unless current_user.subscribed_by?(@project.creator) %>
						<div style="margin: 15px -2px 0 580px;">	
							<%= render 'users/portable_subscribe_button_small', :user => @project.creator%>	
						</div>	
					<% end %>	
				<% end %>	
			<% end %>	
		<% else %>
			<div style="margin: 15px -2px 0 580px;">	
				<%= render 'users/portable_subscribe_button_small', :user => @project.creator%>	
			</div>			
		<% end %><!-- end.if current_user != @project.creator-->				
	</div><!-- end .project-to-subscribers-holder-->			
			


		</div><!-- end.textbox-mini-->
	</div><!-- end.lightbox2-->	
<% end %>