<div class="textbox-mini">
							<div class="toolbox">
									<% if @liked_project then %>
										<!-- like -->
										<%= link_to like_project_path(@project.id,current_user.id),class:"no_ajaxify",remote: true do %><div class="btn btn-like" id="<%= @project.id%>project-like" style="display:none;">
										</div><% end %>
										<!-- unlike -->
										<%= link_to unlike_project_path(@project.id,current_user.id),class:"no_ajaxify",remote: true do %><div class="btn btn-unlike" id="<%= @project.id%>project-unlike">
										</div><% end %>	
									<% else %>
										<!-- like -->
										<%= link_to like_project_path(@project.id,current_user.id),class:"no_ajaxify",remote: true do %><div class="btn btn-like" id="<%= @project.id%>project-like">
										</div><% end %>
										<!-- unlike -->
										<%= link_to unlike_project_path(@project.id,current_user.id),class:"no_ajaxify ",remote: true do %><div class="btn btn-unlike" id="<%= @project.id%>project-unlike" style="display:none;">
										</div><% end %>										
									<% end %>	
								</li>  <span id="<%= @project.id %>liked-count"><%= @project.liked_projects.count %></span> /
								<li><%= link_to "Inspire", '#' , class:"no_ajaxify"%></li> /
								<li><%= link_to "Share", '#', class:"tipsy-tipsy no_ajaxify", title:"comming soon." %></li>
							</div><!-- end.toolbox-->
							</div><!-- end.textbox-mini-->