<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @project.title) %>

	<!-- External Link -->
	<%= render 'shared/externallink'%><!-- script -->	

	<!-- Project Progress Bar Hover -->
	<%= render 'shared/progress_bar_hover'%><!-- script -->

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Projects ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for(:second_header) do %>
    	<%= render 'projects/project_header' %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_project_contributor' %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->


	<!-- Main Content -->
	<div class="main-content-project">
					<!-- Post Content -->
					<div class="post-content">
							<!-- Contributors Title -->
							<div class="post-about-bg">
								<div class="textbox-mini">
									<div class="post-about-title">
										<% if @project.users.count == 1%>
											<li style="font-size: 1.4em;">Contributor</li>
										<% else %>
											<li style="font-size: 1.4em;">Contributors</li>
										<% end %>
										<li class="counter">[<%= @contributors.count %>]</li>
									</div>
								</div>
							</div>
						<% if signed_in? %>	
							<!-- Accept Invitation -->
							<% if invited?(current_user) then%>
								<%= render 'projects/accept_invitation' %>
							<% end %>
							<!-- Show Invited List -->
							<% if @project.inviteds.count != 0 %>
								<% if @project.creator == current_user || invited?(current_user) then %>
									<%= render 'projects/invited_list' %>
								<% end %>
							<% end %>
						<% end %>
							<!-- Add Contributors -->
							<% if project_edit(@project) %>
								<%= render 'projects/add_contributors'%>
							<% end %>
							<!-- Contributors -->
							<div>
								<%= render @contributors %>
							</div>
							<!-- Pagination -->
							<div id="Profile-page-load-more" style="border:0;">
								<div class="textbox-mini">
									<%= will_paginate @contributors, :param_name => 'page', class:"rata_pagination" %>	
								</div>
							</div>	
							<!-- Cutter --><ol style="height: 40px;"></ol>
						</div><!-- end of post-content -->
					<!-- Footer -->
					<%= render 'layouts/footer' %>
	</div><!-- end of main-content -->
