<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @project.title) %>

	<!-- External Link -->
	<%= render 'shared/externallink'%><!-- script -->	

	<!-- Project Progress Bar Hover -->
	<%= render 'shared/progress_bar_hover'%><!-- script -->

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Projects ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for(:second_header) do %>
    	<%= render 'projects/project_header' %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_project_majorpost' %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-- Main Content -->
	<div class="main-content-project">
					<!-- Post Content -->
					<div class="post-content">
							<!-- Contributors Title -->
							<div class="post-about-bg">
							<div class="textbox-mini">
								<div class="post-about-title">
									<li style="font-size: 1.4em;">Major Posts</li>
									<li class="counter">[<%= @majorpost_count %>/<%= @project.goal%>]</li>
								</div>
							</div>
							</div>
							<!-- Contributors -->
							<div>
								<%= render partial: "majorposts/majorpost_project", collection: @majorpost, :as => :majorpost %>
							</div>
							<!-- Pagination -->
							<div id="Profile-page-load-more" style="border:0;">
								<div class="textbox-mini">
									<%= will_paginate @majorpost, :param_name => 'page', class:"rata_pagination" %>	
								</div>
							</div>	
							<!-- Cutter --><ol style="height: 40px;"></ol>
					</div><!-- end of post-content -->

					<!-- License -->
					<%= render 'shared/license'%>

					<!-- Footer -->
					<%= render 'layouts/footer' %>
	</div><!-- end of main-content -->