<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @project.title) %>

	<!-- External Link -->
	<%= render 'shared/externallink'%><!-- script -->	

	<!-- Project Progress Bar Hover -->
	<%= render 'shared/progress_bar_hover'%><!-- script -->

	<!-- Javascript for on and off button -->
	<%= render 'subscriptions/on_off_js' %>	


<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Projects ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for(:second_header) do %>
    	<%= render 'projects/project_header_edit' %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_project_settings' %>
	<% end %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-- Main Content -->
	<div class="main-content-project">
		<div class="post-content" style="background-color:#fff;">

			<!-- Settings Title -->
			<div class="post-about-bg">
				<div class="textbox-mini">
					<div class="post-about-title">
						<li style="font-size: 1.4em;">Settings</li>
					</div>
				</div>
			</div>

			<!-- Settings Content -->
			<div class="lightbox2" style="border-color: #bbbbbb;"  id="about-case">
				<div class="textbox-mini" type="blue">

<% if @project.complete == false && @project.abandoned != true %>

					<%= form_for [@project.creator, @project], :url => project_update_path(@project.creator,@project),:validate => true, :html => {:class => 'no_ajaxify',:id => "project-form" } do |f|%>

					<!-- Project Goal-->
					<h2>Goal</h2>
						<!-- Goal -->
						<div class="source-code-placer" style="margin-left:21px;">
							<ul><%= f.text_field :goal, style:"width:695px; margin-left:0px;", class:"inputbox completion-input" %></ul> 
							<% if @project.majorposts.count < 6 %><!-- Major Posts < 5 -->
								<ul style="color:#ccc;margin-top:10px;">Default: 5 major posts, minimum: <%= @majorpost_count+1 %> major posts</ul>
							<% else %>
								<ul style="color:#ccc;margin-top:10px;">Minimum: <%= @majorpost_count+1 %> major posts</ul>
							<% end %>
						</div>

					<!-- Permanent Link-->	
					<h2>Permanent Link</h2>
						<div class="source-code-placer" style="margin-left:21px;">
							<ul><%= f.text_field :perlink, style:"width:695px; margin-left:0px;", class:"inputbox completion-input" %></ul>
							<ul style="color:#ccc;margin-top:10px;">https://www.ratafire.com/<%= @project.creator.username %>/<%= @project.perlink %></ul>
						</div>

					<!-- Source Code-->	
					<h2>Source Code</h2>
						<div class="source-code-placer" style="margin-left:21px;">
							<%= f.text_field :source_code, placeholder:"Enter project source code url if any", class:"completion-input inputbox",style:"width:695px; margin-left:0px;" %>
						</div>
							
						<div style="text-align:right;margin-right:17px;margin-top:40px;">
							<%= link_to "Abandon Project",you_shall_not_pass_path(@project.creator,@project),class:"no_ajaxify btn btn-medium3 btn-medium-white",:method => :get,:confirm => "Are you sure to abandon this project? <p>Review the following changes: </p> <p>1. This project will be marked as abandoned.</p> <p>2. No one can edit this project unless you reopen it.</p>", style:"margin-right:5px;"%>
							<%= f.submit "Save Changes", class: "btn-submit btn-submit-medium btn btn-medium btn-medium-green project-settings-save"%>
						</div>

					<% end %><!-- end form-->	

				</div><!-- end of textbox-mini-->

			<% if subscription_status_universial(@project.creator)%>
			<div class="lightbox7">
				<div class="textbox-mini" type="blue" style="padding-bottom: 20px;">
					<h2>Early Access</h2>		
					<!-- Early Access -->
					<div class="source-code-placer" style="margin-left:21px;">

						<% if @project.early_access %><ul style="color:#999" id="on">Early Access for Future Major Posts
							<!-- Now/Past -->
							<div class="subscription-switch-holder" id="off-holder" style="display:none;">
								<%= link_to project_early_access_turnon_path(@project.creator,@project), remote: true, class:"no_ajaxify" do %><span class="btn-delete-light-solid turn-on-subscription" style="position:relative;z-index:1;padding-right:10px;color:#999 !important;" >
									On
								</span><% end %>	
								<span class="btn-delete-solid" style="position:relative;z-index:2;">
									Off
								</span>
							</div>			
											
							<div class="subscription-switch-holder" id="on-holder" >
								<span class="btn-delete-solid" style="position:relative;z-index:2;" >
									On
								</span>	
								<%= link_to project_early_access_turnoff_path(@project.creator,@project), remote: true, class:"no_ajaxify" do %><span class="btn-delete-light-solid turn-off-subscription" style="position:relative;z-index:1;color:#999 !important;padding-left:10px;" >
									Off
								</span><% end %>
							</div><!-- end Now/Past -->	

						</ul><% else %><ul style="color:#999" id="off">Early Access for Future Major Posts											
							<!-- Now/Past -->
							<div class="subscription-switch-holder" id="off-holder">
								<%= link_to project_early_access_turnon_path(@project.creator,@project), remote: true do %><span class="btn-delete-light-solid turn-on-subscription" style="position:relative;z-index:1;padding-right:10px;color:#999 !important;" >
									On
								</span><% end %>	
								<span class="btn-delete-solid" style="position:relative;z-index:2;">
									Off
								</span>
							</div>			

							<div class="subscription-switch-holder" id="on-holder" style="display:none;">
								<span class="btn-delete-solid" style="position:relative;z-index:2;" >
									On
								</span>	
								<%= link_to project_early_access_turnoff_path(@project.creator,@project), remote: true do %><span class="btn-delete-light-solid turn-off-subscription" style="position:relative;z-index:1;color:#999 !important;padding-left:10px;" >
									Off
								</span><% end %>
							</div><!-- end Now/Past -->												
						</ul><% end %>
						<!-- Discription -->
						<div class="btn-completion-bg">If "Early Access" is turned on, when a future post in this project is published, the post will be marked as early access only for 6 days. During the early access period, only subscribers can view the post. After the early access period, all users can access the post. Review our <%= link_to "Pricing", pricing_path, class:"no_ajaxify"%> page for details of the early access days each level of subscription provides. For further reading, check out the article <%= link_to "What is early access?", what_is_early_access_path, class:"no_ajaxify"%>.
						</div>					
					</div><!-- end of textbox-mini-->	
				</div><!-- end of lightbox2-->			
				<% end %>				

					<!-- Inspired By Title -->
					<div class="inspiration-bg">
						<div class="textbox-mini">
							<div class="post-about-title" type="blue">
								<li style="font-size: 1.4em;">Project Completion</li>
							</div>
						</div>
					</div>
					<div class='btn-completion'>
						<div class="textbox-mini" style="padding-top:10px;">
							<div class="btn-completion-bg">
							You have traveled far! Once you click the button below, this project will be marked as completed, a copy of the project at its completion time will be archived permanently. You cannot edit project title, goal, and permanent link after a project's completion. Check everything twice before clicking the completion button!
							</div>
							<div  style="text-align:right;margin-right:17px;margin-top:40px;">
								<%= link_to "Complete",you_completed_me_path(@project.creator,@project),class:"btn btn-medium btn-medium-blue no_ajaxify btn-completion-submit-special",:method => :get,:confirm => "Are you sure to complete this project? It cannot be undone. <p>Review the following changes to your project after its completion: </p> <p>1. This project will be marked as completed.</p> <p>2. A copy of the project at its completion time will be archived permanently.</p> <p>3. You cannot edit project title, goal, and permanent link.</p>"%>
							</div>


<% else %>
		<%= form_for [@project.creator, @project], :url => project_update_path(@project.creator,@project),:validate => true, :html => {:class => 'no_ajaxify',:id => "project-form" } do |f|%>
							<h2 style="color:#2297ce;">Source Code</h2>
						<div class="source-code-placer" style="margin-left:21px;">
							<%= f.text_field :source_code, placeholder:"Enter project source code url if any", class:"goals-input inputbox",style:"width:695px; margin-left:0px;" %>
						</div>
							
						<div style="text-align:right;margin-right:17px;margin-top:40px;">
							<%= f.submit "Save Changes", class: "btn-submit btn-submit-medium btn btn-medium btn-medium-green" %>
						</div>
						<ol style="margin-top:40px;"></ol>
		<% end %>
<% end %>							
						</div><!-- end of textbox-mini-->
					</div><!-- end.btn-completion-->	

			</div><!-- end of settings content -->

		</div>
		<%= render 'layouts/footer' %>
	</div><!-- end of main-content -->