<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-- Page Title -->
	<% provide(:title, "Help") %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Helps ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="help-content">
	<!-- Help Header -->
	<div class="help-header">
		<%= link_to "Help Index",help_path %> - <%= link_to "How do I check transactions?", how_do_I_check_transactions_path %>
		<hr class="style-two">
	</div>		

	<!-- Help Title -->
	<h2>How do I check transactions?</h2>

	<div class="help-content-holder">
		<p>To check transactions, go to your <code>Settings</code> page by clicking the <code>Gear Wheel</code> on the header bar, then select <code>Transactions</code>.</p>

		<div class="help-show-image" id="refund" style="background-image:url(/assets/help_image_18.jpg);height:262px;">
		</div>	

		<p>You can view the details of each transaction by clicking <code>Details</code>. In the <code>Details</code> panel, you can also choose to <code>Refund</code> the transaction.</p>

	</div>	
	
	<!-- Help Texts: Projects-->
	<div class="link-text-holder">
		<ol>Subscription</ol>
		<hr class="style-two">
		<%= render 'helps/subscription_questions'%>
	</div>	

	<!-- Humans -->		
	<div class="link-text-holder">
		<ol>Talk to a Human or a Squirrel!</ol>
		<hr class="style-two">
		<%= render 'helps/talk_to_humans'%>
	</div>	
		
</div><!-- end.static-content-->

				<!-- Footer -->
				<%= render 'layouts/footer' %>