<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-- Page Title -->
	<% provide(:title, "Help") %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Helps ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="help-content">
	<!-- Help Header -->
	<div class="help-header">
		<%= link_to "Help Index",help_path %> - <%= link_to "How do I upload an artwork?", how_do_I_upload_an_artwork_path %>
		<hr class="style-two">
	</div>		

	<!-- Help Title -->
	<h2>How do I upload an artwork?</h2>

	<div class="help-content-holder">
		<p>Once you upload an artwork's original file, other users can download it. To upload an artwork, click the <code>Upload Artwork</code> button in your editor.</p> 

		<div class="help-show-image" style="background-image:url(/assets/help_image_12.jpg);height:300px;">
		</div>	

		<p>After your artwork is uploaded, it will show on the top of your project or major post.</p>

		<div class="help-show-image" style="background-image:url(/assets/help_image_13.jpg);height:127px;">
		</div>

		

	</div>	
	
	<!-- Help Texts: Projects-->
	<div class="link-text-holder">
		<ol>Projects</ol>
		<hr class="style-two">
		<%= render 'helps/project_questions'%>
	</div>	

	<!-- Humans -->		
	<div class="link-text-holder">
		<ol>Talk to a Human or a Squirrel!</ol>
		<hr class="style-two">
		<%= render 'helps/talk_to_humans'%>
	</div>	
		
</div><!-- end.static-content-->

				<!-- Footer -->
				<%= render 'layouts/footer' %>