<%= link_to user_user_content_likes_path(current_user.id, user.id), remote: true, data: { confirm: t('views.utilities.btn.are_you_sure_to')+t('views.utilities.btn.unfriend')+'?'},method: :delete, id:user.uid+'-user-liked' do %>
	<span class="btn btn-xs" id="<%= user.uid %>-user-like-hover">
		<span id="<%= user.uid %>-user-like-holder-inner" class="text-uppercase">
			<i class="huaxia huaxia-haoyouqingqiu inline-block animated rubberBand"></i>
		</span>
	</span>
<% end %>
<script type="text/javascript">
	$('#<%= user.uid%>-user-like-hover').hover(
       function () {
          $('#<%= user.uid%>-user-like-holder-inner').html('<%= t 'views.utilities.btn.unfriend' %>');
       }, 
		
       function () {
          $('#<%= user.uid%>-user-like-holder-inner').html('<i class="huaxia huaxia-haoyouqingqiu inline-block animated rubberBand"></i>');
       }
	)
</script>