<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, sanitize(@user.preferred_name)) %>

<div class='row'>
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <h6 class="panel-title text-thin"><i class="huaxia huaxia-ny4 mr-10"></i><%= t 'views.creator_studio.community.ratafire_buttons.ratafire_buttons'%></h6>
                <div class="heading-elements">
                </div>
            </div>
            <div class="panel-body">
                <textarea row="15" cols="5" class="form-control no-resize mb-20" id="ratafire-button-input" style="height:200px;" placeholder="You can put a Ratafire button on your personal site to ask your fans to fund your creation. Click a button to get the code."></textarea>
                <div class="btn bg-rainbow-600 btn-float btn-float-lg btn-rounded" style="padding: 10px 10px 10px 10px;" id="ratafire-button-round" ><img src="/assets/ratafire_buttons/ratafire.png" height="25px;"></div>
                <div class="btn bg-rainbow-600 pull-right" id="ratafire-button-back"><img src="/assets/ratafire_buttons/ratafire.png" height="16px;" style="margin: -3px 5px 0 0;"><%= t 'views.creator_studio.community.ratafire_buttons.back_this_creator'%></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $( "#ratafire-button-round" ).click(function() {
        $('#ratafire-button-input').val("\<a style=\"padding: 10px 10px 10px 10px;border-radius:100px;white-space:normal;position:relative;background: url(https://ratafire.com/assets/editor/rainbow-blur4.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;color:#ffffff;border-color: transparent;display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle;touch-action:manipulation;cursor: pointer;border: 1px solid transparent;font-size:13px;line-height:1.5384616;user-select:none;box-sizing: border-box;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);\" href=\"https://ratafire.com/<%= @user.username %>\"><img src=\"https://ratafire.com/assets/ratafire_buttons/ratafire.png\" height=\"25px;\"></a>");
    });
    $( "#ratafire-button-back" ).click(function() {
        $('#ratafire-button-input').val("\<a style=\"border-radius: 2px;position: relative;background: url(https://ratafire.com/assets/editor/rainbow-blur4.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;color:#ffffff;border-color: transparent;display: inline-block;font-weight: normal;text-align: center;vertical-align: middle;touch-action:manipulation;cursor:pointer;border:1px solid transparent;white-space: nowrap;padding: 7px 12px;font-size: 13px;line-height: 1.5384616;user-select:none;box-sizing: border-box;\" href=\"https://ratafire.com/<%= @user.username %>\"><img src=\"https://ratafire.com/assets/ratafire_buttons/ratafire.png\" height=\"16px;\" style=\"margin: -3px 5px 0 0;\"><%= t 'views.creator_studio.community.ratafire_buttons.back_this_creator'%></a>");
    });
</script>

