<!--~~~~~~~~~~~~~~~~~~~~~~~~ Javascript ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- Javascript for open and close message window -->
<script type="text/javascript">
$(document).ready(function() {
	$('#<%= user.username%>').click(function(){
		$("#compose-holder").show();
		$("#message-receiver").val("<%= user.id %>");
		$("#message-receiber-name").html("<%= user.fullname %>");
	});
});	
</script>


<div class="subscription-box">
	<!-- Remove Button -->
	<% if @user == current_user %>
		<!-- If the user is not blocked -->
		<% if message_not_blocked?(user.id)%>
		<div class="btn-edit-right13">
			<span class="btn-delete-light" id="<%= user.username %>">Message</span>	
		<% else %>
		<div class="btn-edit-right17">	
		<% end %>
			<%= link_to 'Remove',remove_subscriber_path(@user.id,user.id), method: :delete,class:"btn-delete-light no_ajaxify",:confirm => "Are you sure to stop "+user.fullname+" from being a patron of you?"%>
		</div>
	<% end %>	
	<!-- photo -->
	<%= link_to user, class:"no_ajaxify" do %>
		<div class="subscription-photo" style="background-image:url(<%=user.profilephoto.url(:small64)%>);"></div>
	<% end %>	
	<!-- Content-->
	<div class="subscription-content">
		<ul class="subscription-username"><%= link_to user.fullname, user, class:"no_ajaxify"%></ul>
		<span><%= user.tagline %></span>
		<!-- Progress Bar-->
		<div class="subscription-progress-holder">
			<ul><%= progress_bar(goals_count(user.subscribers.count,user.goals_subscribers), :color => 'blue2', :rounded => true) %></ul>
			<ul><%= progress_bar(goals_count(user.subscription_amount.to_i, user.goals_monthly), :color => 'green2', :rounded => true) %></ul>
			<ul><%= progress_bar(goals_count(user.projects.where(:complete => true ).count, user.goals_project), :color => 'purple2', :rounded => true) %></ul>
		</div>
		<!-- User Bio-->
		<div class="subscription-user-bio"><%= user.bio %></div>
		<!-- Subscription Data-->
		<div class="subscription-data">
			<% if user.subscription_project_find(user.id,@user.id).project_facebook == nil then %>
				<span class="sub-color tipsy-tipsy" style="margin-right:3px;"title="Patron of <%= @user.fullname %> since <%= user.subscription_project_find(user.id,@user.id).title %>">
					<%= link_to user_project_path(user.subscription_project_find(user.id,@user.id).creator,user.subscription_project_find(user.id,@user.id)),class:"no_ajaxify" do %>
						Since <%= truncate(user.subscription_project_find(user.id,@user.id).title, :length => 80) %>
					<% end %>
				</span>  
			<% else %>
				<span class="sub-color tipsy-tipsy" style="margin-right:3px;" title="Patron of <%= @user.fullname %> since <%= user.subscription_project_find(user.id,@user.id).name %>">
					<%= link_to user.subscription_project_find(user.id,@user.id).link,class:"no_ajaxify", target:"_blank" do %>
						For <%= truncate(user.subscription_project_find(user.id,@user.id).name, :length => 80) %>
					<% end %>
				</span>  			
			<% end %>
			 <span class="sub-color tipsy-tipsy" title="Patrons / Goal"><%= render :text => user.subscribers.count %> / <%= render :text => user.goals_subscribers%></span> <span class="sub-color tipsy-tipsy" title="Monthly Amount / Goal"><%= render :text => goals_count(user.subscription_amount.to_i, user.goals_monthly) %>% of <%= render :text => user.goals_monthly%></span> <span class="sub-color tipsy-tipsy" title="Work Collection Completions / Goal"><%= user.projects.where(:complete => true ).count %> / <%= render :text => user.goals_project%></span></div>
		<!-- Time-->
		<div class="subscription-data">
			<span class="sub-color tipsy-tipsy" title="Duration"><%= time_ago_in_words(find_subscription_time(user.id,@user.id))%><!-- Only show when creators turn it on -->, <%= find_subscription_amount(user.id,@user.id).to_s%>/m</span>
		</div>	
	</div><!-- end.subscription-content-->

</div>	