<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @user.fullname) %>

	<!-- Javascript for on and off button -->
	<%= render 'subscriptions/on_off_js' %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_settings' %>
	<% end %>
		
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

<!-- Main Content -->
<div class="main-content">
	<div class="standard-content" >
		<div class="textbox">		
			<h1>Payment Settings</h1>
			<h5>Edit your payment settings. Review our <%= link_to "Pricing", pricing_path, class:"no_ajaxify"%> page before you proceed.</h5>
			<!-- Cutter --><ol style="margin-top: -20px;"></ol>
		</div><!-- end of textbox-->
		

		<!-- Subscription Status -->
		<div class="lightbox2-bordered">
			<div class="textbox-mini">
				<h2>How I Pay</h2>
				<!-- If the user does not have a card -->
				<% if @user.cards.first == nil then %>
					<%= render 'subscriptions/add_a_card'%>
				<% else %>
					<%= render 'subscriptions/added_card'%>
				<% end %>	
				<!-- If the user does not have paypal -->
				<% if @user.billing_agreement == nil then %>
					<div style="margin-top:5px;"><%= link_to 'Add PayPal',create_billing_agreement_path(@user.id), class:"no_ajaxify btn btn-medium3 btn-medium-blue"%></div>
				<% else %>
					<%= render 'subscriptions/added_paypal'%>
				<% end %>
			</div><!-- end.textbox-mini-->
		</div><!-- end.lightbox2-bordered-->				

		<!-- Subscription Status -->
		<% if @user.subscription_status_initial == nil then %>
			<% if @user.subscription_application[0] != nil && @user.subscription_application[0].step == 7 then %>
				<%= render 'subscriptions/under_review'%>
			<% else %>
				<%= render 'subscriptions/hint_to_setup'%>
			<% end %>	
		<% else %>
			<div class="lightbox2-bordered">
				<div class="textbox-mini">
					<h2>How I Get Paid</h2>
					<%= render 'subscriptions/get_paid_by_paypal'%>
				</div><!-- end.textbox-mini-->
					<% if @user.accept_venmo == nil then %>
						<% if 2== 3%><%= render 'subscription_applications/add_venmo_settings', user: @user%><% end %>
					<% else %>
						<%= render 'subscriptions/added_venmo'%>
					<% end %>
			</div><!-- end.lightbox2-bordered-->		
		<% end %>

	<!-- Cutter --><ol style="margin-top: 70px;"></ol>
	</div><!-- Footer -->
	<%= render 'layouts/footer' %>
</div><!-- end of main-content-->					