<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @user.fullname) %>

	<!-- Javascript for on and off button -->
	<%= render 'subscriptions/on_off_js' %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_settings' %>
	<% end %>
		
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

			<!-- Main Content -->
			<div class="main-content">
				<div class="standard-content" >
						<div class="textbox">
						
							<h1>Subscription</h1>
							<h5>Edit your subscription settings. Review our <%= link_to "Pricing", pricing_path, class:"no_ajaxify"%> page before you proceed.</h5>
							<!-- Cutter --><ol style="margin-top: -20px;"></ol>

						</div><!-- end of textbox-->

						<!-- Subscription Status -->
						<div class="lightbox2-bordered">
							<div class="textbox-mini">

							<!-- In application helper-->
							<% if subscription_status then %>
								<!-- Photo -->
								<h2>Status: <span class="subscription-status-true">On</span></h2>

								<div class="textbox2">									
										<div class="subscription-status-true">You are currently accepting new subscriptions.</div>
							<% else %>
								<!-- Photo -->
								<h2>Status: <span>Off</span></h2>

								<div class="textbox2">								
										<div class="subscription-status-false">You are not currently accepting new subscriptions.
										</div>	
							<% end %><!-- end.if user.subscription_status == true -->
									<div class="subscription-requirements">
										<ol>Requirements</ol>
										<!-- Subscription Switch -->
										<% if @user.subscription_switch %><ul class="subscription-status-true" id="on">Turn on subscription
										<!-- Now/Past -->
											<div class="subscription-switch-holder" id="off-holder" style="display:none;">
												<%= link_to subscription_turnon_path(@user), remote: true, class:"no_ajaxify" do %><span class="btn-delete-light-solid turn-on-subscription" style="position:relative;z-index:1;padding-right:10px;color:#999 !important;" >
													On
												</span><% end %>	
												<span class="btn-delete-solid" style="position:relative;z-index:2;">
													Off
												</span>
											</div>			
											<div class="subscription-switch-holder" id="on-holder" >
												<span class="btn-delete-solid" style="position:relative;z-index:2;" >
													On
												</span>	
												<%= link_to subscription_turnoff_path(@user), remote: true, class:"no_ajaxify" do %><span class="btn-delete-light-solid turn-off-subscription" style="position:relative;z-index:1;color:#999 !important;padding-left:10px;" >
													Off
												</span><% end %>
											</div><!-- end Now/Past -->	
									</ul><% else %><ul class="subscription-status-false" id="off">Turn on subscription							
										<!-- Now/Past -->
											<div class="subscription-switch-holder" id="off-holder">
												<%= link_to subscription_turnon_path(@user), remote: true do %><span class="btn-delete-light-solid turn-on-subscription" style="position:relative;z-index:1;padding-right:10px;color:#999 !important;" >
													On
												</span><% end %>	
												<span class="btn-delete-solid" style="position:relative;z-index:2;">
													Off
												</span>
											</div>			
											<div class="subscription-switch-holder" id="on-holder" style="display:none;">
												<span class="btn-delete-solid" style="position:relative;z-index:2;" >
													On
												</span>	
												<%= link_to subscription_turnoff_path(@user), remote: true do %><span class="btn-delete-light-solid turn-off-subscription" style="position:relative;z-index:1;color:#999 !important;padding-left:10px;" >
													Off
												</span><% end %>
											</div><!-- end Now/Past -->												
										</ul><% end %>					
										<!-- Ongoing Project -->
										<% if @project %><ul class="subscription-status-true">An ongoing project</ul><% else %><ul class="subscription-status-false">An ongoing project</ul><% end %>
										<!-- To Subscribers -->
										<% if @user.why && @user.why != "" %><ul class="subscription-status-true">A note to subscribers</ul><% else %><ul class="subscription-status-false">A note to subscribers</ul><% end %>
										<!-- Plan -->
										<% if @user.plan && @user.plan != "" %><ul class="subscription-status-true">An intended update frequency or plan</ul><% else %><ul class="subscription-status-false">An intended update frequency or plan</ul><% end %>
										<!-- Not reach Subscription Goal -->
										<% if @user.subscription_amount < @user.goals_monthly then %><ul class="subscription-status-true">Have not reached subscription amount goal</ul><% else %><ul class="subscription-status-false">You have reached your subscription amount goal</ul><% end %>
										<!-- Amazon Payments -->
										<% if @user.amazon_authorized %><ul class="subscription-status-true">Connected to Amazon Payments</ul><% else %><ul class="subscription-status-false">Connected to Amazon Payments</ul><% end %>
										<!-- GitHub or Facebook -->
										<% if @user.facebook != nil || @user.github != nil %><ul class="subscription-status-true">Connected to GitHub or Facebook</ul><% else %><ul class="subscription-status-false">Connected to GitHub or Facebook</ul><% end %>
									</div><!-- end.subscription-requirements-->										
								</div><!-- end.textbox2-->	

							</div><!-- end.textbox-mini-->
						</div><!-- end.lightbox2-bordered-->
							
						<!-- Subscription Status -->
						<div class="lightbox2-bordered">
							<div class="textbox-mini">

								<!-- Photo -->
								<h2>Why</h2>

								<%= form_for(@user,:validate => true,:html => {:class => "no_ajaxify"}) do |f| %>
									<div class="user-why-edit">
										<h4>To subscribers</h4>
											<div class="user-why-passage">
												<ol style="font-size: 0.9em;margin-bottom: 10px;">Write down why you need subscribers and how the monthly support will help your project come to completion (200 - 1000 characters).</ol>
												<%= f.text_area :why, class: "subscription-why-input noResize" %>
											</div>	
										<h4>I am currently working on</h4>
											<!-- display project-->
											<div class="user-why-passage" style="padding: 15px 0 5px 20px;">
												<%=  render "projects/project_one"%>
											</div>
										<h4>If I reach my subscription amount goal</h4>
										<div class="user-why-passage">
											<div class="goals" style="width:100%;">
												<ol id="green"><span class="tipsy-tipsy" title="<%= goals_percentage(@user.subscription_amount.to_i, @user.goals_monthly)%>">Monthly Subscription Amount</span> <%= render :text => @user.subscription_amount.to_s %>/<%= render :text => @user.goals_monthly%></ol>
												<ol><%= progress_bar(goals_count(@user.subscription_amount.to_i, @user.goals_monthly), :color => 'green', :rounded => true) %></ol>
											</div>	
										</div>	
										<h4>My intended update frequency or plans will be</h4>
											<div class="user-why-passage">
												<ol style="font-size: 0.9em;margin-bottom: 10px;">Write an intended update frequency or plan for your current project. Example: One post per week (10 - 500 characters).</ol>
												<%= f.text_area :plan, class: "subscription-plan-input noResize" %>
											</div>		

									</div><!-- end.user-why-edit-->	

									<ol style="float:right; margin-right: 40px;">
							
										<div>
											<%= f.submit "Save Changes", class: "btn-submit btn-submit-medium btn btn-medium btn-medium-green" %>
										</div>
									</ol>

								<% end %><!--end form_for @user -->
								<!-- Cutter --><ol style="margin-top: 70px;"></ol>
							</div><!-- end.textbox-mini-->
						</div><!-- end.lightbox2-bordered-->	

						<!-- Amazon Payments -->
						<div class="lightbox2-bordered">
							<div class="textbox-mini">
								<h2>Amazon Payments</h2>

								<!-- Amazon Payments Not Connected -->
								<% if @user.amazon_authorized != true then %>
      							<div class="lightbox3">
									<div class="inputlabel-social">
										<%= image_tag("amazon.png", class:"tipsy-tipsy", title:"Amazon") %>
									</div>
      								<div class="input-placer socialmedia-placer">
      									<ul><%= link_to "Connect your account to Amazon Payments",connect_to_amazon_payments_path(@user), id:"amazon-connect", class:"no_ajaxify"%></ul>
      									<ul>You must have a verified Amazon Payments business account to accept subscription. Review our <%= link_to "Pricing", pricing_path, class:"no_ajaxify"%> page before you proceed.</ul>
      									<ul>Since you are using Ratafire as an individual, not as a business, when you create an Amazon Payments business account, select your business type as "Individual", and use your own name and address. As for the website required by Amazon, we suggest that you use your own blog or site. If you do not have a website, you can put Ratafire as the website.</ul>
      								</div>
      							</div><!-- end.lightbox3-->
      							<% end %><!-- end.user.amazon_authorized != true -->

      							<!-- Amazon Payments Not Verified -->
      							<% if @user.amazon_authorized != true && @user.amazon_recipient != nil then %>
      							<% unless @user.amazon_recipient.Status == nil %>
      							<div class="lightbox3">
									<div class="inputlabel-social">
										<%= image_tag("amazon.png", class:"tipsy-tipsy", title:"Amazon") %>
									</div>
      								<div class="input-placer socialmedia-placer">
      									<ul><%= link_to "After verifying your Amazon Payments business account, click this link to reconnect",reconnect_recipient_path(@user), id:"amazon-connect", class:"no_ajaxify"%></ul>
      									<ul>Your Amazon Payments account is not verified.</ul>
      									<ul>Your recipient token: <input onclick="this.select();" class="inputbox" type="recipient" value= <%= @user.amazon_recipient.tokenID %>></ul>
      									<ul>If you need to contact Amazon regarding transaction issues, contact them with the recipient token above.</ul>
      									<ul><%= link_to "Disconnect your account from Amazon Payments",cancel_recipient_path(@user), id:"amazon-connect", class:"no_ajaxify", style:"color:#999;", :method => :get, :confirm => "Are you sure to disconnect? Disconnect from Amazon Payments will result in losing all your current subscribers."%></ul>
      								</div>
      							</div><!-- end.lightbox3--> 
      							<% end %>
      							<% end %>

      							<!-- Amazon Payments Verified -->  
      							<% if @user.amazon_authorized == true then %>   							
      							<div class="lightbox3">
									<div class="inputlabel-social">
										<%= image_tag("amazon.png", class:"tipsy-tipsy", title:"Amazon") %>
									</div>
      								<div class="input-placer socialmedia-placer">
      									<ul><%= link_to "Disconnect your account from Amazon Payments",cancel_recipient_path(@user), id:"amazon-connect", class:"no_ajaxify",style:"color:#999;", :method => :get, :confirm => "Are you sure to disconnect? Disconnect from Amazon Payments will result in losing all your current subscribers."%></ul>
      									<ul>You are connected to Amazon Payments!</ul>
      									<ul>Your recipient token: <input onclick="this.select();" class="inputbox" type="recipient" value= <%= @user.amazon_recipient.tokenID %>></ul>
      									<ul>If you need to contact Amazon regarding transaction issues, contact them with the recipient token above.</ul>
      								</div>
      							</div><!-- end.lightbox3--> 
      							<% end %><!-- end.user.amazon_authorized == true -->

							</div><!-- end.textbox-mini-->
						</div><!-- end.lightbox2-bordered-->										


						<!-- Amazon Payments -->
						<div class="lightbox2-bordered">
							<div class="textbox-mini">
								<h2>GitHub or Facebook</h2>

								<!-- Amazon Payments Not Connected -->
      							<div class="lightbox3">
      								<!-- GitHub-->
									<div class="inputlabel-social">
										<%= image_tag("github.png", class:"tipsy-tipsy", title:"GitHub") %>
									</div>
      								<div class="input-placer socialmedia-placer">
      									<% if @user.github == nil %>
      									<ul><%= link_to "Connect your account to GitHub",user_omniauth_authorize_path(:github),class:"no_ajaxify" %></ul>
      									<ul>Welcome, GitHuber! You must have a connected GitHub or Facebook account to accept subscription.</ul>
      									<% else %>
      									<ul><%= link_to "Disconnect your account from GitHub",disconnect_path(@user,:github),class:"no_ajaxify",style:"color:#999;" %></ul>
      									<ul>Welcome, GitHuber! </ul>
      									<% end %>
      								</div>      								
      								<!-- Facebook -->
									<div class="inputlabel-social">
										<%= image_tag("facebook.png", class:"tipsy-tipsy", title:"Facebook") %>
									</div>
      								<div class="input-placer socialmedia-placer">
      									<% if @user.facebook == nil %>
      									<ul><%= link_to "Connect your account to Facebook",user_omniauth_authorize_path(:facebook),class:"no_ajaxify" %></ul>
      									<ul>You must have a connected GitHub or Facebook account to accept subscription.</ul>
      									<% else %>
      									<ul><%= link_to "Disconnect your account from Facebook",disconnect_path(@user,:facebook),class:"no_ajaxify",style:"color:#999;" %></ul>
										<ul>You are connected to Facebook.</ul>
      									<% end %>
      									
      								</div>
      							</div><!-- end.lightbox3-->


							</div><!-- end.textbox-mini-->
						</div><!-- end.lightbox2-bordered-->	

						<!-- Cutter --><ol style="margin-top: 70px;"></ol>
						</div><!-- Footer -->
				<%= render 'layouts/footer' %>

			</div><!-- end of main-content-->