<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @user.fullname) %>

	<!-- Best in Place -->
	<%= render 'shared/best_in_place'%>	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_profile' %>
	<% end %>
		
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Main Content -->
	<div class="main-content">

		<!-- Full Name-->
		<%= render 'shared/fullname'%>

		<!-- Cutter --><ol style="margin-top: -5px;"></ol>

		<!-- Tabs Nav -->
		<%= render 'shared/tabs_nav_subscription_2' %>

		<!-- Content of Profile -->
		<div class="profile-content">

			<!-- Now/Past -->
			<% if @user.past_subscribed.count != 0 then %>
				<div class="now-past-holder2">
					<%= link_to subscribing_past_path(@user) do %><span class="btn-delete-light-solid" style="position:relative;z-index:1;padding-right:10px;">
						Past
					</span><% end %>	
					<span class="btn-delete-solid" style="position:relative;z-index:2;">
						Now
					</span>
				</div>	
			<% end %><!--end.if user.past_subscribers.count != 0 -->	

			<!-- First Block -->

			<div id="current-subscribers">
				<% if @user.subscribed.count == 0 %>
					<div class="lightbox2" style="text-align: center; border-bottom: 1px solid transparent;margin-top: -21px;">
						<h5><%= @user.fullname %> has not subscribed to anyone.<span style="color:#fff;"> (っ◔◡◔)っ ♥ </span></h5>
						<!-- Cutter --><ol style="margin-top: 40px;"></ol>
					</div>
				<% else %>
					<%= render partial: "subscriptions/current_subscribing", collection: @subscribing, :as => :user %>
				<% end %>				
			</div><!-- end:.current-subscribers-->



			<!-- Pagination -->
			<div id="Profile-page-load-more">
				<% if @user.subscribed.count >32 %><!-- check if pagination exist-->
					<div class="textbox-mini">
						<span><%= will_paginate @subscribed, :param_name => 'subscribing', class:"rata_pagination no_ajaxify" %></span>					
					</div>
				<% else%>
				<!-- Cutter --><ol style="margin-top: 40px;"></ol>
				<% end %>
			</div><!--end:profile-pageload-more -->

		</div><!-- end:.profile-content -->	
									<!-- Footer -->
				<%= render 'layouts/footer' %>
	</div><!-- end:.main-content-->	