<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @user.fullname) %>

	<!-- Best in Place -->
	<%= render 'shared/best_in_place'%>	

	<!-- Open and Close -->
	<%= render 'shared/profile_open_close'%><!-- script -->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for(:side_bar) do %>
		<%= render 'layouts/sidebar_profile' %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>	
		<%= tag :meta, property: "og:url", content: request.scheme+"://"+request.host+"/"+@user.username+"/r/r/subscription" %>
		<%= tag :meta, property: "og:title", content: "Ratafire - "+@user.fullname %>
		<%= tag :meta, property: "og:image", content: @user.profilephoto.url(:small) %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:description", content: @user.why %>
	<% end %>	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Main Content -->
	<div class="main-content">
		<%= render 'users/social_media'%>
		<!-- Full Name-->
		<%= render 'shared/fullname'%>

		<!-- Cutter --><ol style="margin-top: -5px;"></ol>

		<!-- Tabs Nav -->
		<%= render 'shared/tabs_nav_payments' %>



			<!-- Subscription Info -->
			<%= render 'subscriptions/subscription_info'%>



	</div><!-- end:.profile-content -->	
		<%= render 'layouts/footer' %>
	</div><!-- end:.main-content-->			