<!-- Script to show Edit button 
<script>
	$(document).ready(function() {
	$('#<%= project.id %>project').hover(function() {
  		$("#<%= project.id %>").toggle();
	});
	});
</script>-->

<div class="lightbox" id="<%= project.id %>activity">
		<!-- Delete
		<div class="toolbox4">
		</div>-->
	<div class="textbox3">
		<!-- user icon holder-->
		<%= link_to project.creator, class:"no_ajaxify" do %>
			<div class="majorpost-usericon" style="background-image:url(<%= project.creator.profilephoto.url(:small64) %>);"></div>
		<% end %>		
		<!-- Title -->
<!-- Project Title for Project User -->
<% if project.creator == current_user %>
	<!-- published -->
	<% if project.published == true %>
		<div class="majorpost-title">
		<li><%= link_to project.title, user_project_path(project.creator,project), class:"no_ajaxify" %></li> new project <%= time_ago_in_words(project.created_at) %> ago in <%= link_to realm_selector_path(project.realm),class:"no_ajaxify" do %><span class="realm-color"><%= project_realm(project.realm)%></span><% end %>
		</div>
	<% else %>
	<!-- not published -->
		<div class="majorpost-title">
		<li><%= link_to project.title, edit_user_project_path(project.creator,project), class:"no_ajaxify" %></li> <span>(Draft)</span> new project <%= time_ago_in_words(project.created_at) %> ago in <%= link_to realm_selector_path(project.realm),class:"no_ajaxify" do %><span class="realm-color"><%= project_realm(project.realm)%></span><% end %>
		</div>	
	<% end %>	
<% else %>
<!-- Project title for normal people -->
	<!-- published -->
	<% if project.published == true %>
		<div class="majorpost-title">
		<li><%= link_to project.title, user_project_path(project.creator,project), class:"no_ajaxify" %></li> new project <%= time_ago_in_words(project.created_at) %> ago.
		</div>	
	<% else %>
		<div class="majorpost-title">
		<li><%= project.title %></li> <span>(Draft)</span> new project <%= time_ago_in_words(project.created_at) %> ago.
		</div>		
	<% end %>
<% end %>		
<!-- end of project title -->
		<div id="majorpost-comments">
		</div>
		<div id="majorpost-time">
			Created by <%= project.creator.fullname %>, <%= time_ago_in_words(project.created_at) %> ago.
		</div>
		<!-- When it is not a draft-->
		<div id="majorpost-excerpt">
			<!-- When there are artwork and video -->
			<% if project.video_id != "" || project.artwork != nil %>
				<!-- With Video but without artwork -->
				<% if project.video_id != "" && project.artwork == nil %>
					<div class="majorpost-video-one">
						<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>
								<!-- Internal Thumbnail-->
								<% if Video.find(project.video_id).encoded_state == "finished" %>
									<div class="majorpost-video-small-holder" style="background-image:url(<%= Video.find(project.video_id).thumbnail.url(:thumb)%>);">
								<% else %>
									<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">		
								<% end %>	
								<div class="majorpost-video-small">
								</div>
							</div>	
						<% end %>
					</div><!-- end.majorpost-video-one -->	
					<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
						<%= sanitize truncate(project.excerpt, :length => 300) %>
					</div>
					<!-- Tags -->
					<div id="majorpost-tags">
						<% if project.tags.any? %>
						<%= raw project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>	
				<% end %><!-- end of with video but without artwork-->
				<!-- With Artwork without Video -->
				<% if project.video_id != "" && project.artwork != nil %>
					<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>
						<div class="majorpost-postimages-one">
							<img src="<%= project.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
						</div>
						<div class="majorpost-thumbnail-bar">Artwork</div>
					<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(project.excerpt, :length => 300) %>
						</div>
					<!-- Tags-->
					<div id="majorpost-tags">
						<% if project.tags.any? %>
						<%= raw project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>
				<% end %>	
				<!-- With Artwork and with Video -->
				<% if project.video_id != "" && project.artwork != nil %>				
					<div class="majorpost-video-one">
							<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>
									<!-- Internal Thumbnail-->
									<% if Video.find(project.video_id).encoded_state == "finished" %>
										<div class="majorpost-video-small-holder" style="background-image:url(<%= Video.find(project.video_id).thumbnail.url(:thumb)%>);">
									<% else %>
										<div style="background-color:#f9f9f9;border: 1px dashed #cccccc; height:96px; width:171px; border-radius:6px;">
									<% end %>
										<div class="majorpost-video-small">
										</div>
									</div>
							<% end %>
					</div>
					<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>
						<div class="majorpost-postimages-one">
							<img src="<%= project.artwork.image.url(:thumbnail)%>" style="border-radius:5px;">
						</div>
						<div class="majorpost-thumbnail-bar2">Artwork</div>
					<% end %>
					<div class="majorpost-excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
							<%= sanitize truncate(project.excerpt, :length => 180) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if project.tags.any? %>
							<%= raw project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>						
				<% end %>							
			<% else %>
				<!-- If there are images-->
				<% if project.projectimages.count > 0 %>
					<!-- one projectimage -->
					<% if project.projectimages.count == 1 %>
						<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= project.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(project.excerpt, :length => 300) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if project.tags.any? %>
							<%= raw project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>
					<% end %>
					<!-- two projectimages three projectimages -->
					<% if project.projectimages.count == 2 || project.projectimages.count == 3 %>
						<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= project.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= project.projectimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
							<%= sanitize truncate(project.excerpt, :length => 180) %>
						</div>
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if project.tags.any? %>
							<%= raw project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>						
					<% end %>
					<!-- four projectimages -->
					<% if project.projectimages.count >= 3 %>
						<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= project.projectimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= project.projectimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= project.projectimages[2].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<%= link_to user_project_path(project.creator,project),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= project.projectimages[3].thumbnail%>" style="border-radius:5px;">
							</div>	
						<% end %>	
						<!-- Tags-->
						<div id="majorpost-tags">
						<% if project.tags.any? %>
							<%= raw project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
						</div>												
					<% end %>
				<% else %>
					<!-- Normal Post-->
					<div>
						<%= sanitize truncate(project.excerpt, :length => 200) %>
					</div>
					<!-- Tags-->
					<div id="majorpost-tags">
					<% if project.tags.any? %>
						<%= raw project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>	
				<% end %>
			<% end %><!-- end of when there are artwork and video -->
								<!-- Normal Post-->
					<div>
						<%= sanitize truncate(project.excerpt, :length => 200) %>
					</div>
					<!-- Tags-->
					<div id="majorpost-tags">
					<% if project.tags.any? %>
						<%= raw project.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(' ') %><% end %>
					</div>	
		</div><!-- end:#majorpost-excerpt -->
	</div>
</div>