<div class="subscription-box" style="margin-bottom:21px;">	
	<!-- photo -->
	<%= link_to user, class:"no_ajaxify" do %>
		<div class="subscription-photo" style="background-image:url(<%=user.profilephoto.url(:small64)%>);"></div>
	<% end %>	
	<!-- Content-->
	<div class="subscription-content">
		<ul class="subscription-username"><%= link_to user.fullname, user, class:"no_ajaxify"%></ul>
		<span><%= user.tagline %></span>
		<!-- Progress Bar-->
		<div class="subscription-progress-holder">
			<ul><%= progress_bar(goals_count(user.subscribers.count,user.goals_subscribers), :color => 'blue2', :rounded => true) %></ul>
			<ul><%= progress_bar(goals_count(user.subscription_amount.to_i, user.goals_monthly), :color => 'green2', :rounded => true) %></ul>
			<ul><%= progress_bar(goals_count(user.projects.where(:complete => true ).count, user.goals_project), :color => 'purple2', :rounded => true) %></ul>
		</div>
		<!-- User Bio-->	
		<div class="subscription-user-bio"><%= user.bio %></div>
		<!-- Subscription Data-->
		<div class="subscription-data"><span class="sub-color tipsy-tipsy" title="Patrons / Goal"><%= render :text => user.subscribers.count %> / <%= render :text => user.goals_subscribers%></span> <span class="sub-color tipsy-tipsy" title="Monthly Amount / Goal"><%= render :text => user.subscription_amount.to_s %> / <%= render :text => user.goals_monthly%></span> <span class="sub-color tipsy-tipsy" title="Work Collection Completions / Goal"><%= user.projects.where(:complete => true ).count %> / <%= render :text => user.goals_project%></span></div>
	</div>	


</div>	