<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title) %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Additional Background Slot ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for(:additional_background) do %>
		<%= render 'updates/title_background'%>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Right Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar_right) do %>
    	<%= render 'layouts/sidebar_update_all'%>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<!-- Main Content -->
	<div class="main-content-update">

		<!-- Title -->
		<div class="update-title">
			<h1>Ratafire</h1>
			<ul style="margin-top: -8px;">
				<h5>Create what you love</h5>
			</ul>	
		</div>	

		<!-- post-content-->
		<div class="post-content-update">

			<!-- Activities -->
			<% if @activities.any? %>
				<%= render_activities(@activities) %>
			<% else %>
				<div class="blank-update-box" style="height:428px;">
					<h5>There are no updates in all updates.</h5>
				</div>						
			<% end %>

			<!-- Pagination -->
			<div id="profile-paginate">
				<div class="textbox-mini">
					<span><%= will_paginate @activities, :param_name => 'page', class:"rata_pagination" %></span>	
				</div>	
			</div>	

			<!-- Cutter --><ol style="height: 80px;"></ol>

		</div><!-- end.post-content-->	

		<!-- Footer -->
		<%= render 'layouts/footer' %>
	</div><!-- end.main-content-->		