<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Fundable") %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:title", content: "Ratafire" %>
		<%= tag :meta, property: "og:description", content: "We help artists and researchers afford the time for creative freedom. Ratafire the first free to use on-going fundraising site. We are making crowdfunding free and social." %>
		<a style="display:none;"href="https://plus.google.com/108376636120204861351" rel="publisher">Google+</a>

		<meta name="title" content="Ratafire" />
		<meta name="description" content="We help artists and researchers afford the time for creative freedom. Ratafire the first free to use on-going fundraising site. We are making crowdfunding free and social." />
		<link rel="image_src" href="http://www.ratafire.com/assets/logoicon_medium_flat.png" />
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Additional Background Slot ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for(:additional_background) do %>
		<%= render 'updates/title_background'%>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Right Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<!-- Main Content -->
	<div class="main-content-update">

		<!-- Title -->
		<div class="update-title">
			<h1>Fundable Individuals</h1>
			<ul style="margin-top: -8px;">
				<h5>Discover the best in art and research.</h5>
			</ul>	
		</div>

		<%= render partial: 'updates/fundable_user', collection: @users, :as => :user %>

		<!-- Pagination -->
		<div id="profile-paginate">
			<div class="textbox-mini">
				<span><%= will_paginate @users, :param_name => 'fundable', class:"rata_pagination" %></span>	
			</div>	
		</div>	

		<!-- Footer -->
		<div style="width:930px;">
			<%= render 'layouts/footer' %>
		</div>

	<div><!-- end .main-content-update-->	
