<!-- Login Form -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => 'signup-form signup-form--login signup-framed text-thin'}) do |f| %>
    <!-- Form Indications -->
    <div class="text-center">
        <img alt=t('views.utilities.menu.ratafire') src="/assets/logo/ratafire_light_blue_<%= I18n.locale %>.png" style="height:40px;" />
    </div>
    <div class="text-center text-grey-transparent mt-20 mb-20" style="font-size:18px;"><%= t 'views.home.welcome_home' %></div>
    <!-- Email -->
    <%= f.email_field :email,placeholder:t('views.profile.settings.profile_settings.your_email'), class:"signup-input signup-input--top" %>
    <!-- Password -->
    <%= f.password_field :password,placeholder:t('views.profile.settings.account_settings.password'), autocomplete: "off", class:"signup-input"%>
    <!-- Submit -->
    <%= f.submit t('views.utilities.btn.log_in'), class:"signup-input signup-input--submit text-uppercase", style:"border-radius: 0 0 0.5rem 0.5rem !important;"%>
    <!-- Social Signup -->
    <% if I18n.locale == :en %>
        <%= link_to user_omniauth_authorize_path(:facebook, :login => "true"), class:"btn btn-block btn-social btn-facebook mt-20 text-thin", id:"login-facebook-btn", style:"border-radius: 0.5rem;" do %>
            <span class="fa fa-facebook"></span>
            <%= t 'views.utilities.devise.log_in_with_facebook' %>
        <% end %>
    <% end %>    
    <!-- Switch Form -->
    <% if controller_name == 'home' %>
        <label for="toggle--signup" id="homepage-signup" class="signup-text signup-text--small signup-text--centered text-uppercase"><%= t 'views.home.new_sign_up' %></label>
    <% end %>
<% end %><!-- end form_for resource -->
