<!-- Signup Form -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:class => 'signup-form signup-form--signup signup-framed'}) do |f| %>
    <!-- Form Indications -->
    <h1 style="margin-left:7rem;margin-bottom:5px;">Ratafire</h1>
    <h4 style="margin-left:2.23rem;">Join 259 Creators and Fans</h4>
    <!-- Email -->
    <%= f.email_field :email,placeholder:"Your Email", class:"signup-input signup-input--top" %>
    <!-- Password -->
    <%= f.password_field :password,placeholder:"Password", autocomplete: "off", class:"signup-input"%>
    <!-- Username -->
    <%= f.text_field :username, placeholder:"Username", class:"signup-input" %>
    <!-- Submit -->
    <%= f.submit "Sign up", class:"signup-input signup-input--submit", style:"border-radius: 0 0 0.5rem 0.5rem !important;"%>
    <!-- Switch Form -->
    <label for="toggle--login" class="signup-text signup-text--small signup-text--centered">Not new? <b>Log in</b></label>
<% end %><!-- end form_for resource -->