<div id="editor-options-holder">
    <div class="panel-body">
        <!-- Text Post -->
        <%= link_to new_user_editor_editor_text_path(user.id), method: :get, remote: :true do %>
            <div class="col-xs-2 col-md-2 no-padding">
                <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                    <i class="fa fa-font text-pink-300"></i><span class="text-thin text-grey-200">Text</span>
                </div>
            </div>
        <% end %> 
        <!-- Image Post -->
        <%= link_to new_user_editor_editor_image_path(user.id), method: :get, remote: :true do %>
            <div class="col-xs-2 col-md-2 no-padding">
                <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                    <i class="fa fa-camera-retro text-brown-300"></i><span class="text-thin text-grey-200">Image</span>
                </div>
            </div>
        <% end %>
        <!-- Link Post -->
        <%= link_to new_user_editor_editor_link_path(user.id), method: :get, remote: :true do %>
            <div class="col-xs-2 col-md-2 no-padding">
                <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                    <i class="fa fa-link text-green-400"></i><span class="text-thin text-grey-200">Link</span>
                </div>
            </div>  
        <% end %>  
        <!-- Audio Post -->
        <%= link_to new_user_editor_editor_audio_path(user.id), method: :get, remote: :true do %>
            <div class="col-xs-2 col-md-2 no-padding">
                <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                    <i class="fa fa-headphones text-info-400"></i><span class="text-thin text-grey-200">Audio</span>
                </div>
            </div>
        <% end %>        
        <!-- Video Post -->
        <%= link_to new_user_editor_editor_video_path(user.id), method: :get, remote: :true do %>
            <div class="col-xs-2 col-md-2 no-padding">
                <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                    <i class="fa fa-youtube-play text-purple-400"></i><span class="text-thin text-grey-200">Video</span>
                </div>
            </div>
        <% end %>             
        <!-- Story Post -->
        <div class="col-xs-2 col-md-2 no-padding" data-popup="tooltip" title="Coming soon" data-placement="top">
            <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                <i class="fa fa-book text-slate-300"></i><span class="text-thin text-grey-200">Book</span>
            </div>
        </div>         
    </div>       
</div>