<div id="editor-text-holder" class="animated fadeIn editor-link-holder">
		<div class="linkPost" id="link_preview">
		</div>
		<!-- form for link -->
		<div id="link-upload-form">
			<div class="mt-20 mr-20 ml-20">
				<%= form_for [:content, link], :html =>{:id => 'link-form'},name:"link-form",:remote => true do |f| %>	
					<%= f.hidden_field :majorpost_uuid, :value => majorpost.uuid %>
					<%= f.text_field :url,id:"link-url-input", placeholder:'Paste or type a link',class:"form-control input-title form-transparent" %>
				<% end %>
			</div>
		</div>
		<!-- form for text content -->
		<%= form_for [:content, majorpost], :html =>{:id => 'link-editor-form'},name:"link-editor-form",:remote => true do |f| %>	
			<div class="panel-body pb-5" id="editor-image-panel-body">
				<%= f.hidden_field :uuid, :value => majorpost.uuid %>
				<%= f.hidden_field :post_type, :value => 'link' %>
				<!-- Content -->
				<div class="majorpost_content_hidden_holder">
					<%= f.text_area :content, type:"hidden",class:"medium-editor-textarea editable-textarea form-transparent", data:{placeholder: "Link description..."},id:"majorpost_content_textarea" %>
				</div>
				<div id="editor-text-word-count"></div>											
			</div><!-- end .panel-body-->
			<div class="pl-20 pr-20 pb-10 majorpost_content_hidden_holder">
				<!-- Tags -->
				<%= f.text_field :tag_list, type:"hidden", placeholder:"#tags",class:"editor-tags text-grey-200 text-thin select-xs" %>
			</div>	
			<div class="panel-footer pt-10 pb-10">
				<div class="pull-left">
					<%= link_to remove_user_editor_editor_link_path(user.id, majorpost.uuid), method: :get, remote: :true do %>
						<div class="btn bg-slate-300 btn-xs">
							Cancel
						</div>	
					<% end %>
				</div>		
				<div class="pull-right">
					<div class="checkbox checkbox-switchery switchery-xs pull-left mr-10" data-popup="tooltip" title="Get paid for this creation" data-placement="top">
						<label>
							<%= f.check_box :paid_update, checked: false,class:"switchery"%>
						</label>
					</div>
					<div class='pull-left' id="editor-submition-block">
						<%= f.submit "Post Update", class: "btn btn-blue btn-xs", id:"editor-submition" %>
					</div>
				</div>
			</div>	
		<% end %><!-- end #image-editor-form-->	
</div>