<% if AchievementRelationship.find_by_user_id_and_achievement_id(user.id, achievement.id)%>
	<div class="panel">
		<div class="panel-body">
			<div class="media stack-media-on-mobile" id="<%= achievement.id %>-achievement-media-holder">
				<!-- Achievement image -->
				<div class="media-left">
					<div class="thumb">
						<img src="<%= achievement.image %>" class="img-responsive img-rounded media-preview" alt="">
					</div>
				</div>

				<div class="media-body">
					<!-- Name -->
					<h2 class="media-heading">
						<% if I18n.locale == :zh %>
							<%= achievement.name_zh %>
						<% else %>
							<%= achievement.name %>
						<% end %>
					</h2>
					<!-- Achievement description -->
					<% if I18n.locale == :zh %>
						<%= achievement.description_zh %>
					<% else %>
						<%= achievement.description %>
					<% end %>
				</div>

				<!-- Achievement points -->

				<div class="media-right">
					<div class="btn-default btn bg-rainbow-600">
						<div class="text-large">
							<%= achievement.achievement_points %>
						</div>
						<div class="">
							<%= AchievementRelationship.find_by_user_id_and_achievement_id(user.id, achievement.id).created_at.strftime("%m/%d/%y")  %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% else %>
	<div class="panel" id="<%= achievement.id %>-achievement-media-holder">
		<div class="panel-body disabled">	
			<div class="media stack-media-on-mobile" id="<%= achievement.id %>-achievement-holder">
				
				<!-- Achievement image -->
				<div class="media-left">
					<div class="thumb">
						<img src="<%= achievement.image %>" class="img-responsive img-rounded media-preview" alt="">
					</div>
				</div>

				<div class="media-body">
					<!-- Name -->
					<h2 class="media-heading">
						<% if I18n.locale == :zh %>
							<%= achievement.name_zh %>
						<% else %>
							<%= achievement.name %>
						<% end %>
					</h2>
					<!-- Achievement description -->
					<% if I18n.locale == :zh %>
						<%= achievement.description_zh %>
					<% else %>
						<%= achievement.description %>
					<% end %>
				</div>

				<!-- Achievement points -->

				<div class="media-right">
					<div class="btn-default btn bg-rainbow-600">
						<div class="text-large">
							<%= achievement.achievement_points %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('#<%= achievement.id %>-achievement-media-holder').block({ 
			message: null,
		    overlayCSS:  { 
		        backgroundColor: '#fff', 
		        opacity:         0.6, 
		        cursor:          'auto' 
		    }, 
		}); 
	</script>
<% end %>
