<div class="sidebar-detached">
	<div class="sidebar sidebar-default no-padding-right" style="width:100%;display:block;">
		<div class="sidebar-content" style="border-color:transparent;box-shadow:none;">
			<div class="sidebar-category">
				<div class="category-content no-padding">
					<ul class="navigation navigation-alt navigation-accordion">
						<li class="divider" style="height: 1px;display: block;background-color: #e5e5e5;margin-top: 5px;margin-bottom: 5px;"></li>
						<!-- Achievements -->
						<li id="achievements-show-sidebar-achievement-active">
							<%= link_to user_studio_achievements_path(user.username),class:"achievements-show-link" do %>
								<i class="ti-cup"></i><%= t 'views.utilities.menu.achievements' %>
							<% end %>
						</li>
						<!-- General -->
						<li id="achievements-general-sidebar-achievement-active">
							<%= link_to general_user_studio_achievements_path(user.username),class:"achievements-general-link" do %>
								<i class="ti-medall"></i><%= t 'views.admin.achievements.general' %>
							<% end %>
						</li>
						<!-- Exploration -->
						<li id="achievements-exploration-sidebar-achievement-active">
							<%= link_to exploration_user_studio_achievements_path(user.username),class:"achievements-exploration-link" do %>
								<i class="ti-flag-alt-2"></i><%= t 'views.admin.achievements.exploration' %>
							<% end %>
						</li>
						<!-- Content -->
						<li id="achievements-content-sidebar-achievement-active">
							<%= link_to content_user_studio_achievements_path(user.username),class:"achievements-content-link achievements-content_engineering-link" do %>
								<i class="ti-comment-alt"></i><%= t 'views.admin.achievements.content' %>
							<% end %>
							<ul>
								<li id="achievements-content-sidebar-achievement-subactive">
									<%= link_to content_user_studio_achievements_path(user.username),class:"achievements-content-link", id:"achievements-content_engineering-link" do %>
										<%= t 'views.admin.achievements.all' %>
									<% end %>
								</li>
								<li id="achievements-content_engineering-sidebar-achievement-subactive">
									<%= link_to content_engineering_user_studio_achievements_path(user.username),class:"achievements-content_engineering-link", id:"achievements-content_engineering-link" do %>
										<%= t 'views.admin.achievements.engineering' %>
									<% end %>
								</li>
							</ul>
						</li>
						<!-- Social -->
						<li id="achievements-social-sidebar-achievement-active">
							<%= link_to social_user_studio_achievements_path(user.username),class:"achievements-social-link" do %>
								<i class="ti-user"></i><%= t 'views.admin.achievements.social' %>
							<% end %>
						</li>
						<!-- Funding -->
						<li id="achievements-funding-sidebar-achievement-active">
							<%= link_to funding_user_studio_achievements_path(user.username),class:"achievements-funding-link" do %>
								<i class="huaxia huaxia-shui1"></i><%= t 'views.admin.achievements.funding' %>
							<% end %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	//Add active to specific tabs
	$('#<%= controller_name %>-<%= action_name %>-sidebar-achievement-active').addClass('active');
	$('#<%= controller_name %>-<%= action_name %>-sidebar-achievement-subactive').addClass('active');
</script>