<!-- Decide Which Page to Show-->
<% if @default == "true"%>
	<script>
	$(document).ready(function(){
		$("#payments-case").hide();
		$("#payments-amazon-case").show();
	});	
	</script>
<% end %>	
<!-- First payments-case -->
<div id="payments-case">
	<!-- Price Calculation Box -->
	<div class="price-holder">
		<div class="price-box">
			<!-- User Icon -->
			<%= link_to @user, class:"no_ajaxify" do %>
				<div class="majorpost-usericon" style="background-image:url(<%= @user.profilephoto.url(:small64) %>);"></div>
			<% end %>	
			<div class="price-mask">
				<!-- User Name -->
				<div class="price-name-holder">
					<div style="font-size:2em;"><%= link_to @user.fullname,@user,class:"no_ajaxify" %></div>
				</div>	
				<!-- Creator Price-->
				<div class='creator-price-holder'>
					<span>↳ Receives at least <span class="price-size" id="jquery-creator-receive">$9.16/m</span></span>
				</div>	
				<!-- Amazon Payments-->
				<div class='creator-price-holder'>
					<span>PayPal/Stripe fee estimation <span class="price-size" style="color:#999;" id="jquery-amazon">$0.84/m</span></span>
				</div>		
				<!-- Ratafire Fee-->
				<div class='creator-price-holder'>
					<span>Ratafire does not take transaction fee</span>
				</div>
			</div><!-- end:.price-mask-->	
				<!-- Total Amount-->	
				<div class="price-line-holder">
					<div class="plus-sign">
						<span>+</span>
					</div>	
					<div class='creator-price-holder'>
						<span class="price-size" id="jquery-total">Total $10.00/m</span>
					</div>	
				</div><!-- end:.price-line-holder-->		
		</div><!-- end:.price-box-->	
	</div><!-- end:.price-holder-->		
	<!-- What it is like box-->
	<div class="price-is-like-box">
		<span id="priceof">This amount is roughly the price of</span>
		<div class="price-is-like-item" id="jquery-like">A Lava Cake</div>
		<div class="price-is-like-item" style="display:none;"id="supporter-number"><span id="user-support">Supporter</span></div>
		<!-- Supporter -->
		<div class="supporter-difference" id="difference">
			<ul><%= link_to "What are the differences between subscribers and supporters?", "#{request.scheme}://#{request.host}/faq#faq-2347915", class:"no_ajaxify", target:"_blank", style:"color:#999;"%></ul>
		</div>
		<!-- Subscribers -->
		<div class="supporter-difference" id="subscriber-features" style="display:block;">
			<ul><%= link_to "Review Ratafire's Payment Policy", pricing_path, class:"no_ajaxify", target:"_blank", style:"color:#999;"%></ul>			
			<ul><%= link_to "What features will I receive as a subscriber?", "#{request.scheme}://#{request.host}/faq#faq-3863418", class:"no_ajaxify", target:"_blank", style:"color:#999;"%></ul>
		</div>	
	</div><!-- end:.price-is-like-box-->
	<div class="slide-to-select">
		<span><span id="selector">Subscription Amount Selector</span> <span style="font-size:.5em;">↴</span></span>
	</div>	
	<div class="price-slider">
		<div id="price-slider-special"><div class="price-slider-inner"></div></div>
	</div>
	<!-- Next Step Button-->
	<div style="margin: 0 40px 40px 0; text-align:right;">
		<div class="btn btn-medium2 btn-medium-blue no_ajaxify" id="next_step_checkout">
			Next Step
		</div>	
	</div>	
</div><!-- end#payments-case-->
<!-- Payments Amazon Case-->
<div id="payments-amazon-case">
	<div class="checkout-holder">
		<h2 style="color:#999;">Checkout your Subscription</h2>
		<ol><span id="checkout">Subscribe to </span><%= @user.fullname %> with the monthly amount of <span class="price-size" id="jquery-total-value">$<%=@amount%>.00</span> <span id="edit">Edit Amount</span></ol>
		<h2 style="color:#999;">You will be subscribed to <%= @user.fullname %> since</h2>
		<%=  render "projects/project_one_exp"%>
		<div id="collectible-holder">
			<h2 style="color:#999;">You are eligible for the following and future collectibles</h2>
			<%= render "projects/collectible_exp"%>
		</div>	
	</div>
	<!-- Next Step Button-->
	<% if current_user.cards.first == nil then %>
		<% if current_user.billing_agreement == nil then %>
			<%= render 'subscriptions/add_card_subscribe'%>
		<% else %>
			<%= render 'subscriptions/with_paypal_subscribe'%>
		<% end %>
	<% else %>
		<%= render 'subscriptions/with_card_subscribe'%>
	<% end %>
</div><!-- end#payments-amazon-case-->	
<!-- Payments Form-->
<%= render 'payments/pricing_js'%>