<!-- First payments-case -->
<div id="payments-case">
	<!-- Price Calculation Box -->
	<div class="price-holder">
		<div class="price-box">
			<!-- User Icon -->
			<%= link_to @user, class:"no_ajaxify" do %>
				<div class="majorpost-usericon" style="background-image:url(<%= @user.profilephoto.url(:small64) %>);"></div>
			<% end %>	
			<div class="price-mask">
				<!-- User Name -->
				<div class="price-name-holder">
					<div style="font-size:2em;">Sandro Russo</div>
				</div>	
				<!-- Creator Price-->
				<div class='creator-price-holder'>
					<span>↳ Receives at least <span class="price-size" id="jquery-creator-receive">$12.00/m</span></span>
				</div>	
				<!-- Amazon Payments-->
				<div class='creator-price-holder'>
					<span>Amazon Payments Fee at most <span class="price-size" style="color:#999;" id="jquery-amazon">$0.80/m</span></span>
				</div>		
				<!-- Ratafire Fee-->
				<div class='creator-price-holder'>
					<span>Ratafire Fee <span id="ratafire-fee-percent">3%, about </span><span class="price-size" style="color:#999;" id="jquery-ratafire">$0.36/m</span></span>
				</div>
			</div><!-- end:.price-mask-->	
				<!-- Total Amount-->	
				<div class="price-line-holder">
					<div class="plus-sign">
						<span>+</span>
					</div>	
					<div class='creator-price-holder'>
						<span class="price-size" id="jquery-total">Total $13.16/m</span>
					</div>	
				</div><!-- end:.price-line-holder-->		
		</div><!-- end:.price-box-->	
	</div><!-- end:.price-holder-->		
	<!-- What it is like box-->
	<div class="price-is-like-box">
		<span id="priceof">This amount is roughly the price of</span>
		<div class="price-is-like-item" id="jquery-like">A Lava Cake</div>
		<div class="price-is-like-item" style="display:none;"id="supporter-number"><%= @current_user.supporter_slot.to_s %> <span id="user-support">Users</span></div>
		<div class="supporter-difference" id="difference">
			<ul><%= link_to "What are the differences between subscribers and supporters?", "#{request.scheme}://#{request.host}/faq#faq-2347915", class:"no_ajaxify", target:"_blank", style:"color:#999;"%></ul>
			<ul><%= link_to "How do I get more supporter slots?", "#{request.scheme}://#{request.host}/faq#faq-2348935", class:"no_ajaxify", target:"_blank", style:"color:#999;"%></ul>
		</div>
	</div><!-- end:.price-is-like-box-->
	<div class="slide-to-select">
		<span><span id="selector">Subscription Amount Selector</span> <span style="font-size:.5em;">↴</span></span>
	</div>	
	<div class="price-slider">
		<div id="price-slider-special"><div class="price-slider-inner"></div></div>
	</div>
	<!-- Next Step Button-->
	<div style="margin: 0 40px 40px 0; text-align:right;">
		<div class="btn btn-medium2 btn-medium-blue no_ajaxify" id="next_step_checkout">
			Next Step
		</div>	
		<div class="btn btn-medium2 btn-medium-white no_ajaxify" style="display:none;cursor:auto;"id="next_step_no">
			Next Step
		</div>	
	</div>	
</div><!-- end#payments-case-->
<!-- Payments Amazon Case-->
<div id="payments-amazon-case">
	<div class="checkout-holder">
		<h2>Check out with Amazon Payments</h2>
		<ol><span id="checkout">Subscribe to </span><%= @user.fullname %> with the monthly amount of <span class="price-size" id="jquery-total-value">$13.16</span> <span id="edit">Edit</span></ol>
		<ul><%= image_tag("Amazon-Payments-Logo_lores.gif") %></ul>
	</div>
	<!-- Next Step Button-->
	<div style="margin: 0 40px 40px 0; text-align:right;">
		<div class="btn btn-medium2 btn-medium-blue no_ajaxify" id="next_step_checkout_amazon">
			To Amazon
		</div>	
	</div>	
</div><!-- end#payments-amazon-case-->	
<!-- Payments Form-->
<%= render 'payments/amount_form'%>
<% if @current_user.supporter_slot >= 1 %>
	<%= render 'payments/pricing_js'%>
<% else %>
	<%= render 'payments/pricing_js_nosupport'%>
<% end %>