<div class="textbox-mini">
							<div class="toolbox">
								<li><% if @majorpost.comments.count > 1 then %>Comments<% else %>Comment<% end %> </li>
								<%= @majorpost.comments.count %> /
								<li>
									<% if @liked then %>
										<!-- like -->
										<%= link_to like_majorpost_path(@majorpost.id,current_user.id),class:"no_ajaxify",remote: true do %><div class="btn btn-like" id="<%= @majorpost.id%>majorpost-like" style="display:none;">
										</div><% end %>
										<!-- unlike -->
										<%= link_to unlike_majorpost_path(@majorpost.id,current_user.id),class:"no_ajaxify",remote: true do %><div class="btn btn-unlike" id="<%= @majorpost.id%>majorpost-unlike">
										</div><% end %>	
									<% else %>
										<!-- like -->
										<%= link_to like_majorpost_path(@majorpost.id,current_user.id),class:"no_ajaxify",remote: true do %><div class="btn btn-like" id="<%= @majorpost.id%>majorpost-like">
										</div><% end %>
										<!-- unlike -->
										<%= link_to unlike_majorpost_path(@majorpost.id,current_user.id),class:"no_ajaxify ",remote: true do %><div class="btn btn-unlike" id="<%= @majorpost.id%>majorpost-unlike" style="display:none;">
										</div><% end %>										
									<% end %>	
								</li>  <span id="<%= @majorpost.id %>liked-count"><%= @majorpost.liked_majorposts.count %></span> /
								<li><%= link_to "Inspire", '#' , class:"no_ajaxify"%></li> /
								<li><%= link_to "Share", '#', class:"tipsy-tipsy no_ajaxify", title:"comming soon." %></li>
							</div><!-- end.toolbox-->
							</div><!-- end.textbox-mini-->