<!-- Facebook SDK-->
<div class="textbox-mini">
							<div class="toolbox">
								<li><% if @majorpost.comments.count > 1 then %>Comments<% else %>Comment<% end %> </li>
								<%= @majorpost.comments.count %> /
								<li>
								<% if user_signed_in? then %>
									<% if @liked then %>
										<!-- like -->
										<%= link_to like_majorpost_path(@majorpost.id,current_user.id),class:"no_ajaxify",remote: true do %><div class="btn btn-like" id="<%= @majorpost.id%>majorpost-like" style="display:none;">
										</div><% end %>
										<!-- unlike -->
										<%= link_to unlike_majorpost_path(@majorpost.id,current_user.id),class:"no_ajaxify",remote: true do %><div class="btn btn-unlike" id="<%= @majorpost.id%>majorpost-unlike">
										</div><% end %>	
									<% else %>
										<!-- like -->
										<%= link_to like_majorpost_path(@majorpost.id,current_user.id),class:"no_ajaxify",remote: true do %><div class="btn btn-like" id="<%= @majorpost.id%>majorpost-like">
										</div><% end %>
										<!-- unlike -->
										<%= link_to unlike_majorpost_path(@majorpost.id,current_user.id),class:"no_ajaxify ",remote: true do %><div class="btn btn-unlike" id="<%= @majorpost.id%>majorpost-unlike" style="display:none;">
										</div><% end %>										
									<% end %>	
								</li>
								<% end %> <!-- end.if user_signed_in? -->
								  <span id="<%= @majorpost.id %>liked-count"><%= @majorpost.liked_majorposts.count %></span> /
								<li>									
									<!-- Twitter -->
									<div class="btn btn-twitter">
										<a href="https://twitter.com/share" class="twitter-share-button" data-count="none"></a>
										<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
									</div><!-- end.btn-twitter-->
									<!-- Facebook -->
									<div class="btn btn-facebook">
										<div class="fb-share-button" data-href="#{request.scheme}://#{request.host}<%=user_project_majorpost_path(@project.creator, @project, @majorpost)%>" data-type="icon">
										</div>
									</div><!-- end.btn-facebook-->	</li>
							</div><!-- end.toolbox-->
							</div><!-- end.textbox-mini-->