<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @user.fullname) %>


<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_settings' %>
	<% end %>
		
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

<!-- Main Content -->
<div class="main-content">
	<div class="standard-content" >
		<div class="textbox">		
			<h1>Ratafire Secrets</h1>
			<h5>Redeem your promo codes and other secret passwords...</h5>
			<!-- Cutter --><ol style="margin-top: -20px;"></ol>
		</div><!-- end of textbox-->
		

		<!-- Enter Secret cood -->
		<div class="lightbox2-bordered">
			<div class="textbox-mini">
				<%= image_tag("secret_logo.png", height: '130')%>
				<%= form_for [@secret],:url => enter_secret_path(current_user.id), :html => {:class => 'no_ajaxify'} do |f| %>
					<%= f.text_field :namecode,class: "inputbox goals-input", style:"width:130px;height:31px;",placeholder:"ENTER A SECRET" %>
					<%= f.submit "Redeem", class: "btn-submit btn-submit-small btn btn-small2 btn-small-blue" %>
				<% end %>
			</div><!-- end.textbox-mini-->
		</div>

		<% if current_user.secrets.any? %>
			<!-- Learned Secrets -->
			<div class="lightbox2-bordered">
				<div class="textbox-mini">
					<h2>Learned Secrets</h2>
					<%= render partial: "secrets/a_secret", collection: @secrets, :as => :secret %>
				</div><!-- end.textbox-mini-->
			</div><!-- end.lightbox2-bordered-->				
		<% end %>

	<!-- Cutter --><ol style="margin-top: 10px;"></ol>
	</div><!-- Footer -->
	<%= render 'layouts/footer' %>
</div><!-- end of main-content-->		