<li class="navigation-header" id="sidebar-category-header"><span><%= t 'views.utilities.menu.world_map' %></span> <i class="icon-menu" title="Main pages"></i></li>
<li class="media animated pulse" id="sidebar-followed-tags-holder">
	<!-- Art -->
	<%= link_to art_category_path do %>
		<div class="media-left pr-15 pl-8">
			<img src="/assets/default/categories/art_thumbnail256.jpg" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
		</div>
		<div class="media-body">
			<div class="media-heading text-semibold">
				<%= t 'views.utilities.menu.art' %>
			</div>
		</div>
	<% end %>
	<!-- Music -->
	<%= link_to music_category_path do %>
		<div class="media-left pr-15 pl-8">
			<img src="/assets/default/categories/music_thumbnail256.jpg" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
		</div>
		<div class="media-body">
			<div class="media-heading text-semibold">
				<%= t 'views.utilities.menu.music' %>
			</div>
		</div>
	<% end %>
	<!-- Games -->
	<%= link_to games_category_path do %>
		<div class="media-left pr-15 pl-8">
			<img src="/assets/default/categories/games_thumbnail256.jpg" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
		</div>
		<div class="media-body">
			<div class="media-heading text-semibold">
				<%= t 'views.utilities.menu.games' %>
			</div>
		</div>
	<% end %>
	<!-- Writing -->
	<%= link_to writing_category_path do %>
		<div class="media-left pr-15 pl-8">
			<img src="/assets/default/categories/writing_thumbnail256.jpg" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
		</div>
		<div class="media-body">
			<div class="media-heading text-semibold">
				<%= t 'views.utilities.menu.writing' %>
			</div>
		</div>
	<% end %>
	<!-- Videos -->	
	<%= link_to videos_category_path do %>
		<div class="media-left pr-15 pl-8">
			<img src="/assets/default/categories/videos_thumbnail256.jpg" class="profile-thumb-holder cover-profilephoto-holder img-xxs ml-5- mt-5-" alt="">
		</div>
		<div class="media-body">
			<div class="media-heading text-semibold">
				<%= t 'views.utilities.menu.videos' %>
			</div>
		</div>
	<% end %>
</li>