<li class="navigation-header"><span><%= t 'views.utilities.menu.explore' %></span> <i class="icon-menu" title="Main pages"></i></li>
	<li>
		<%= link_to explore_categories_path do %>
			<i class="huaxia huaxia-2b"></i> <span><%= t 'views.utilities.menu.categories' %></span>
		<% end %>
	</li>
	<li>
		<%= link_to back_creators_path do %>
			<i class="huaxia huaxia-ny4"></i> <span><%= t 'views.utilities.menu.back_creators' %></span>
		<% end %>
	</li>
	<li>
		<%= link_to explore_explore_surprise_me_path(1) do %>
			<i class="huaxia huaxia-aiswangluopinpaishu"></i> <span><%= t 'views.utilities.menu.surprise_me' %></span>
		<% end %>
	</li>
	<!--
	<li><a href="index.html"><i class="huaxia huaxia-apppai"></i> <span><%= t 'views.utilities.menu.back_creators' %></span></a></li>
	-->
<!-- /Explore -->