<div class="sidebar sidebar-main sidebar-fixed" id="sidebar-content" data-turbolinks-permanent>
	<div class="sidebar-content">
		<!-- Main navigation -->
		<div class="sidebar-category sidebar-category-visible">
			<!-- Sidebar content with padding -->
			<div class="category-content sidebar-hide-toggle">
				<div class="text-center mt-20 row">
					<img src="/assets/logo/ratafire_light_blue_<%= I18n.locale %>" style="height:27px;" class="animated_hover" data-action="rubberBand"></img>
				</div>	
				<!-- Search 
				<div class="input-group">
					<input type="text" class="form-control bg-darkglass" style="border:none;" >
					<span class="input-group-btn">
						<button class="btn btn-blue"><i class="ti-search"></i></button>
					</span>
				</div>-->					
			</div><!-- end .category-content -->	
			<!-- Sidebar content no padding-->
			<div class="category-content no-padding">
				<ul class="navigation navigation-main navigation-accordion">
					<!-- Explore -->
					<li class="navigation-header"><span><%= t 'views.utilities.menu.explore' %></span> <i class="icon-menu" title="Main pages"></i></li>
						<li>
							<%= link_to explore_categories_path do %>
								<i class="huaxia huaxia-2b"></i> <span><%= t 'views.utilities.menu.explore' %></span>
							<% end %>
						</li>
						<li><a href="index.html"><i class="huaxia huaxia-apppai"></i> <span><%= t 'views.utilities.menu.back_creators' %></span></a></li>
					<!-- /Explore -->
					<!-- Updates -->
					<% if @followed.count > 0 %>
						<li class="navigation-header"><span><%= t 'views.utilities.menu.followed' %></span> <i class="icon-menu" title="Main pages"></i></li>
							<li class="media" id="sidebar-followed-updates-holder">
								<%= render partial: 'profile/components/followed_updates', collection: @followed, :as => :user %>
								<% if @followed.count > 3 %>
									<%= link_to followed_pagination_user_content_likes_path(current_user), style:"padding: 2px 20px;min-height:0;", class:"sidebar-followed-updates-pagination", remote: true do %>
										<div class="text-center"><i class="ti-angle-down"></i></div>
									<% end %>
								<% end %>
							</li>
					<% end %>
					<!-- Followed Tags -->
					<% if current_user.tags.count > 0 %>
						<li class="navigation-header"><span><%= t 'views.utilities.menu.followed_tags' %></span> <i class="icon-menu" title="Main pages"></i></li>
							<li class="media" id="sidebar-followed-tags-holder">
								<%= render partial: 'profile/components/followed_tags', collection: current_user.tags[0..2], :as => :tag %>
								<% if current_user.tags.count > 3 %>
									<%= link_to followed_pagination_path, style:"padding: 2px 20px;min-height:0;", class:"sidebar-followed-tags-pagination", remote: true do %>
										<div class="text-center"><i class="ti-angle-down"></i></div>
									<% end %>
								<% end %>
							</li>
					<% end %>
				</ul>
			</div><!-- end .category-content-->			
		</div>
		<!-- /main navigation -->
		<!-- Collapsing Sidebar Content -->
		<div class="sidebar-hide-toggle">
			<!-- Footer-->
			<%= render 'utilities/footer/sidebar_footer' %>	
		</div><!-- end .sidebar-hide-toggle -->	
	</div>
</div>