<div class="sidebar sidebar-main sidebar-fixed" id="sidebar-content">
	<div class="sidebar-content">
		<!-- Main navigation -->
		<div class="sidebar-category sidebar-category-visible">
			<!-- Sidebar content with padding -->
			<div class="category-content sidebar-hide-toggle">
				<%= link_to root_path do %>
					<div class="text-center mt-20 row">
						<img src="/assets/logo/ratafire_light_blue_<%= I18n.locale %>" style="height:27px;" class="animated_hover" data-action="rubberBand"></img>
					</div>		
				<% end %>		
			</div><!-- end .category-content -->	
			<!-- Sidebar content no padding-->
			<div class="category-content no-padding">
				<ul class="navigation navigation-main navigation-accordion">
					<!-- Explore -->
					<%= render 'utilities/sidebar/explore' %>
					<!-- Collapsing Sidebar Content -->

						<!-- Followed Tags -->
						<%= render 'utilities/sidebar/followed_tags' %>
						<!-- Followed Tags -->
						<li class="navigation-header"><span><%= t 'views.utilities.menu.followed_tags' %></span> <i class="icon-menu" title="Main pages"></i></li>
						<div class="pl-20 pr-20">
							<div class="panel-flat bg-darkglass">
								<div class="panel-body">
									<div class="mb-10">
										<%= t 'views.utilities.menu.followed_tags_help' %>
									</div>
									<a class="btn btn-blue btn-xs open-popup-link signup-open-popup" href="#login-popup">
										<%= t 'views.utilities.menu.learn_more' %>
									</a>
								</div>	
							</div>	
						</div><!-- end find out more-->						

				</ul>
			</div><!-- end .category-content-->						
		</div>
		<!-- /main navigation -->
		<!-- Collapsing Sidebar Content -->
		<div class="sidebar-hide-toggle">
			<!-- Footer-->
			<%= render 'utilities/footer/sidebar_footer' %>	
		</div><!-- end .sidebar-hide-toggle -->	
	</div>
</div>
<script type="text/javascript">
	$('#sidebar-content').height($( window ).height());	
</script>