<div class="sidebar sidebar-main sidebar-fixed" id="sidebar-content" data-turbolinks-permanent>
	<div class="sidebar-content">
		<!-- Main navigation -->
		<div class="sidebar-category sidebar-category-visible">
			<!-- Sidebar content with padding -->
			<div class="category-content sidebar-hide-toggle">
				<%= link_to root_path do %>
					<div class="text-center mt-20 row">
						<img src="/assets/logo/ratafire_light_blue_<%= I18n.locale %>" style="height:27px;" class="animated_hover" data-action="rubberBand"></img>
					</div>	
				<% end %>
				<!-- Search 
				<div class="input-group">
					<input type="text" class="form-control bg-darkglass" style="border:none;" >
					<span class="input-group-btn">
						<button class="btn btn-blue"><i class="ti-search"></i></button>
					</span>
				</div>-->					
			</div><!-- end .category-content -->	
			<!-- Sidebar content no padding-->
			<div class="category-content no-padding">
				<ul class="navigation navigation-main navigation-accordion">
					<!-- Show Category bar -->
					<% if @showcategory == true %>
						<%= render 'utilities/sidebar/categories' %>
					<% end %>
					<!-- Explore -->
					<%= render 'utilities/sidebar/explore', locals: {user: @user} %>
					<!-- Followed Users -->
					<%= render 'utilities/sidebar/followed_users' %>
					<!-- Followed Tags -->
					<%= render 'utilities/sidebar/followed_tags' %>
					<!-- Select your traits -->
					<% if @user.traits.count < 3 %>
						<%= render 'utilities/sidebar/select_your_traits' %>
					<% end %>
				</ul>
			</div><!-- end .category-content-->			
		</div>
		<!-- /main navigation -->
		<!-- Collapsing Sidebar Content -->
		<div class="sidebar-hide-toggle">
			<!-- Footer-->
			<%= render 'utilities/footer/sidebar_footer' %>	
		</div><!-- end .sidebar-hide-toggle -->	
	</div>
</div>