<div class="sidebar sidebar-main sidebar-fixed" id="sidebar-content">
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <!-- Sidebar content with padding -->
            <div class="category-content sidebar-hide-toggle no-padding-bottom">
                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="category-content">
                        <div class="media">
                            <a class="media-left"><img src="<%= current_user.profilephoto.image.url(:thumbnail64)%>" class="border-radius-6" alt=""></a>
                            <div class="media-body">
                                <span class="media-heading text-semibold"><% if I18n.locale == :zh %><%= current_user.lastname %><%= current_user.firstname%><% else %><%= current_user.firstname %> <%= current_user.lastname%><% end %></span>
                                <div class="text-size-mini text-muted"><%= current_user.job_title %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->   
            </div><!-- end .category-content -->    
            <!-- Sidebar content no padding-->
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <!-- Main -->
                    <li class="navigation-header"><span><%= t 'views.admin.menu.main' %></span> <i class="icon-menu" title="<%= t 'views.admin.menu.main' %>"></i></li>
                    <li id="dashboards-dashboard-sidebaractive"><%= link_to dashboard_user_admin_dashboard_path(current_user.id) do %><i class="icon-newspaper"></i> <span><%= t 'views.admin.menu.dashboard' %></span><% end %></li>
                    <li id="users-show-sidebaractive"><%= link_to admin_users_path do %><i class="icon-users"></i> <span><%= t 'views.admin.menu.users' %></span><% end %></li>                    
                    <!-- Content -->
                    <li class="navigation-header"><span><%= t 'views.admin.menu.content' %></span> <i class="icon-menu" title="<%= t 'views.admin.menu.content' %>"></i></li>
                    <!-- Projects -->
                    <li>
                        <a>
                            <i class="icon-cloud"></i> 
                            <span><%= t 'views.admin.menu.projects' %></span>
                            <% if Campaign.where(:status => "Pending").count > 0 %>
                                <span class="badge bg-warning"><%= Campaign.where(:status => "Pending").count %></span>
                            <% end %>
                        </a>
                        <ul>
                            <li id="campaigns-show-sidebaractive"><%= link_to user_admin_campaigns_path(current_user.id) do %><span><%= t 'views.admin.content.projects.pending_projects' %></span><% end %></li>
                        </ul>
                    </li>
                    <!-- Tags -->
                    <li>
                        <a>
                            <i class="icon-tag"></i> 
                            <span><%= t 'views.admin.content.tags.tags' %></span>
                        </a>
                        <ul>
                            <li id="tags-show-sidebaractive"><%= link_to user_admin_tags_path(current_user.id) do %><%= t 'views.admin.content.tags.manage_tags' %><% end %></li>
                        </ul>
                    </li>
                    <% if current_user.id == 1 %>
                        <!-- Social -->
                        <li class="navigation-header"><span><%= t 'views.admin.menu.social' %></span> <i class="icon-menu" title="<%= t 'views.admin.menu.social' %>"></i></li>
                        <!-- Email -->
                        <li>
                            <a>
                                <i class="icon-envelop"></i> 
                                <span><%= t 'views.admin.social.emails' %></span>
                            </a>
                            <ul>
                                <li id="emails-show-sidebaractive"><%= link_to admin_emails_path(current_user.id) do %><%= t 'views.admin.social.send_email' %><% end %></li>
                            </ul>
                        </li>
                    <% end %>
                    <!-- Competitor -->
                    <% if current_user.id == 1 %>
                        <li class="navigation-header"><span><%= t 'views.admin.menu.competitor' %></span> <i class="icon-menu" title="<%= t 'views.admin.menu.competitor' %>"></i></li>
                        <li>
                            <a><i class="huaxia huaxia-lishi"></i> <span><%= t 'views.admin.menu.history' %></span></a>
                            <ul>
                                <li id="historical_quotes-show-sidebaractive"><%= link_to user_admin_historical_quotes_path(current_user.id) do %><span><%= t 'views.admin.culture.historical_quotes.historical_quotes' %></span><% end %></li>
                            </ul>
                        </li>
                    <!-- Development -->
                        <li class="navigation-header"><span><%= t 'views.admin.menu.development' %></span> <i class="icon-menu" title="<%= t 'views.admin.menu.development' %>"></i></li>
                        <li>
                            <%= link_to resque_path, target: '_blank' do %>
                                <i class="huaxia huaxia-tanghulu"></i> <span><%= t 'views.admin.development.delayed_jobs' %></span>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div><!-- end .category-content-->         
        </div>
        <!-- /main navigation -->
        <!-- Collapsing Sidebar Content -->
        <div class="sidebar-hide-toggle">
            <!-- Footer-->
            <%= render 'utilities/footer/sidebar_footer' %> 
        </div><!-- end .sidebar-hide-toggle --> 
    </div>
</div>
<script type="text/javascript">
    //Add active to specific sidebar selection
    $('#<%= controller_name %>-<%= action_name %>-sidebaractive').addClass('active');
</script>