	<!-- /page header -->
<div class="sidebar sidebar-main sidebar-default">
	<div class="sidebar-content">

		<!-- Main navigation -->
		<div class="sidebar-category sidebar-category-visible">
			<div class="category-title h6">
				<span class="text-grey text-thin"><%= t 'views.creator_studio.menu.creator_studio'%></span>
			</div>

			<div class="category-content sidebar-user">
				<div class="media">
					<a href="#" class="media-left"><img src="<%= @user.profilephoto.image.url(:thumbnail64)%>" class="profile-thumb-holder cover-profilephoto-holder img-sm" alt=""></a>
					<div class="media-body">
						<%= link_to profile_url_path(@user.username) do %>
							<span class="media-heading text-semibold"><%= @user.preferred_name %></span>
							<div class="text-size-mini text-muted">
								<%= @user.tagline %>
							</div>
						<% end %>
					</div>

					<div class="media-right media-middle">
						<ul class="icons-list">
							<li>
								<%= link_to profile_settings_user_profile_settings_path(@user.username) do %>
									<i class="icon-cog"></i>
								<% end %>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="category-content no-padding">
				<ul class="navigation navigation-main navigation-accordion">
					<!-- Main 
					<li id="creator_studios-dashboard-sidebaractive">
						<%= link_to dashboard_user_studio_creator_studio_path(current_user.username) do %>
							<i class="icon-newspaper"></i> <span><%= t 'views.creator_studio.menu.dashboard'%></span>
						<% end %>
					</li>-->
					<li id="creator_studios-campaigns-sidebaractive">
						<%= link_to campaigns_user_studio_creator_studio_path(current_user.username) do %>
							<i class="ti-light-bulb"></i> <span><%= t 'views.creator_studio.menu.projects'%></span>
						<% end %>
						<ul>
							<li>
								<%= link_to new_user_studio_campaigns_path(current_user.username), :data => {turbolinks: "false"} do %>
									<%= t 'views.creator_studio.projects.new_project'%>
								<% end %>
							</li>
							<li id="creator_studios-campaigns-sidebarsubactive">
								<%= link_to campaigns_user_studio_creator_studio_path(current_user.username), id:'creator_studios-campaigns-link-to' do %>
									<%= t 'views.creator_studio.projects.all_projects'%>
								<% end %>
							</li>
						</ul>
					</li>
					<li id="creator_studios-current_goal-sidebaractive">
						<a>
							<i class="ti-announcement"></i> <span><%= t 'views.creator_studio.menu.current_goal'%></span>
						</a>
						<ul>
							<% if current_user.active_campaign %>
								<li>
									<%= link_to new_user_studio_rewards_path(current_user.username), :data => {turbolinks: "false"} do %>
										<%= t 'views.creator_studio.current_goal.new_current_goal'%>
									<% end %>
								</li>
							<% end %>
							<li id="creator_studios-current_goal-sidebarsubactive">
								<%= link_to current_goal_user_studio_creator_studio_path(current_user.username), :data => {turbolinks: "false"} do %>
									<%= t 'views.creator_studio.current_goal.all_current_goals'%>
								<% end %>
							</li>
						</ul>
					</li>
					<li id="creator_studios-character_progression-sidebaractive">
						<%= link_to rewards_user_studio_creator_studio_path(current_user.username) do %>
							<i class="ti-infinite"></i> 
							<span><%= t 'views.creator_studio.menu.character_progression'%></span>
						<% end %>
						<ul>
							<li id="traits-show-sidebarsubactive">
								<%= link_to user_studio_traits_path(current_user.username) do %>
									<%= t 'views.creator_studio.community.traits'%>
								<% end %>
							</li>
							<li id="achievements-show-sidebarsubactive" class="achievements-general-sidebarsubactive achievements-exploration-sidebarsubactive achievements-social-sidebarsubactive">
								<%= link_to user_studio_achievements_path(current_user.username) do %>
									<%= t 'views.utilities.menu.achievements'%>
								<% end %>
							</li>							
						</ul>
					</li>					
					<li id="creator_studios-rewards-sidebaractive">
						<%= link_to rewards_user_studio_creator_studio_path(current_user.username) do %>
							<i class="ti-bag"></i> 
							<span><%= t 'views.creator_studio.menu.inventory'%></span>
							<% if current_user.shipping_orders.any? %>
								<span class="badge bg-warning">
									<%= current_user.shipping_orders.count %>
								</span>
							<% end %>
						<% end %>
						<ul>
							<% if current_user.active_campaign %>
								<li id="rewards-new-sidebarsubactive">
									<%= link_to new_user_studio_rewards_path(current_user.username), :data => {turbolinks: "false"} do %>
										<%= t 'views.creator_studio.rewards.new_reward'%>
									<% end %>
								</li>
							<% end %>
							<% if current_user.rewards.count > 0 %>
								<li id="creator_studios-rewards-sidebarsubactive">
									<%= link_to rewards_user_studio_creator_studio_path(current_user.username) do %>
										<%= t 'views.creator_studio.rewards.all_rewards'%>
									<% end %>
								</li>
							<% end %>
							<% if current_user.reward_receivers.count > 0 %>
							<li class="navigation-divider"></li>
								<li id="rewards-my_rewards-sidebarsubactive">
									<%= link_to my_rewards_user_studio_rewards_path(current_user.username) do %>
										<%= t 'views.creator_studio.menu.my_rewards'%>
										<% if current_user.shipping_orders.any? %>
											<span class="badge bg-warning">
												<%= current_user.shipping_orders.count %>
											</span>
										<% end %>
									<% end %>
								</li>
							<% end %>
							<li id="shipping_addresses-my_mailing_address-sidebarsubactive">
								<%= link_to my_mailing_address_user_studio_shipping_addresses_path(current_user.username) do %>
									<%= t 'views.creator_studio.rewards.my_mailing_address'%>
								<% end %>
							</li>
						</ul>
					</li>
					<li id="creator_studios-notifications-sidebaractive">
						<%= link_to notifications_user_studio_creator_studio_path(current_user.username) do %>
							<i class="ti-comments"></i> <span><%= t 'views.creator_studio.menu.community'%></span>
						<% end %>
						<ul>
							<% if current_user.likeds.count > 0 || current_user.likers.count > 0 || current_user.subscription_records.count > 0 || current_user.reverse_subscription_records.count > 0 %>
								<!-- Following -->
								<% if current_user.likeds.count > 0 %>
									<li id="community-followed-sidebarsubactive">
										<%= link_to followed_user_studio_community_path(current_user.username) do %>
											<%= t 'views.utilities.menu.following'%>
										<% end %>
									</li>
								<% end %>	
								<!-- Followed -->
								<% if current_user.likers.count > 0 %>
									<li id="community-followers-sidebarsubactive">
										<%= link_to followers_user_studio_community_path(current_user.username) do %>
											<%= t 'views.utilities.menu.followers'%>
										<% end %>
									</li>
								<% end %>
								<!-- Backed -->
								<% if current_user.reverse_subscription_records.count > 0 %>
									<li id="community-backed-sidebarsubactive">
										<%= link_to backed_user_studio_community_path(current_user.username) do %>
											<%= t 'views.utilities.menu.backed'%>
										<% end %>
									</li>
								<% end %>
								<!-- Backers -->
								<% if current_user.subscription_records.count > 0 %>
									<li id="community-backers-sidebarsubactive">
										<%= link_to backers_user_studio_community_path(current_user.username) do %>
											<%= t 'views.utilities.menu.backers'%>
										<% end %>
									</li>
								<% end %>
								<li class="navigation-divider"></li>				
							<% end %>
							<!-- Recruit a Friend -->
							<li id="recruits-show-sidebarsubactive">
								<%= link_to user_studio_recruits_path(current_user.username) do %>
									<%= t 'views.creator_studio.community.recruit_a_friend.recruit_a_friend'%>
								<% end %>
							</li>
							<li class="navigation-divider"></li>
							<li id="creator_studios-notifications-sidebarsubactive">
								<%= link_to notifications_user_studio_creator_studio_path(current_user.username) do %>
									<%= t 'views.creator_studio.community.notifications'%>
								<% end %>
							</li>
							<% if current_user.active_campaign %>
								<li id="community-ratafire_buttons-sidebarsubactive">
									<%= link_to ratafire_buttons_user_studio_community_path(current_user.username) do %>
										<%= t 'views.creator_studio.community.ratafire_buttons.ratafire_buttons'%>
									<% end %>
								</li>
							<% end %>
						</ul>
					</li>
					<li>
						<a href="#">
							<i class="ti-shield"></i> 
							<span>
								<%= t 'views.creator_studio.menu.bank'%>
							</span>
							<% if current_user.order && current_user.try(:order).try(:status) != 'Started' %>
								<span class="badge bg-warning">
									1
								</span>
							<% end %>
						</a>
						<ul>
							<!-- Upcoming -->
							<% if current_user.order && current_user.try(:order).try(:status) != 'Started' %>
								<li id="wallets-upcoming-sidebaractive">
									<%= link_to upcoming_user_studio_wallets_path(current_user.username) do %>
										<%= t 'views.creator_studio.menu.upcoming'%>
										<span class="badge bg-warning">
											1
										</span>
									<% end %>
								</li>
							<% end %>
							<!-- Receipts -->
							<% if current_user.transactions.any? %>
								<li id="wallets-receipts-sidebaractive">
									<%= link_to receipts_user_studio_wallets_path(current_user.username) do %>
										<%= t 'views.creator_studio.menu.receipts'%>
									<% end %>
								</li>
							<% end %>
							<!-- PayPal -->
							<li id="wallets-paypal-sidebaractive">
								<%= link_to paypal_user_studio_wallets_path(current_user.username) do %>
									<%= t 'views.creator_studio.menu.paypal'%>
								<% end %>
							</li>
							<!-- Trnasfers -->
<!-- 							<% if current_user.billing_artist %>
								<li id="wallets-transfers-sidebaractive">
									<%= link_to transfers_user_studio_wallets_path(current_user.username) do %>
										<%= t 'views.creator_studio.transfer.transfers'%>
									<% end %>
								</li>
								<li class="navigation-divider"></li>
							<% end %> -->
							<!-- Disputes -->
<!-- 							<% if current_user.disputes.any? %>
								<li id="wallets-disputes-sidebaractive">
									<%= link_to disputes_user_studio_wallets_path(current_user.username) do %>
										<%= t 'views.creator_studio.dispute.disputes' %>
									<% end %>
								</li>
							<% end %> -->
							<!-- Payment Methods -->
<!-- 							<li id="wallets-how_i_pay-sidebaractive">
								<%= link_to how_i_pay_user_studio_wallets_path(current_user.username) do %>
									<%= t 'views.creator_studio.menu.how_i_pay'%>
								<% end %>
							</li>
							<li id="wallets-how_i_get_paid-sidebaractive" >
								<%= link_to how_i_get_paid_user_studio_wallets_path(current_user.username) do %>
									<%= t 'views.creator_studio.menu.how_i_get_paid'%>
								<% end %>
							</li>		 -->				
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- /main navigation -->
	</div>
</div>
<script type="text/javascript">
	//Add active to specific tabs
	$('#<%= controller_name %>-<%= action_name %>-sidebaractive').addClass('active');
	$('#<%= controller_name %>-<%= action_name %>-sidebarsubactive').addClass('active');
	//Add active to specific tabs
	$('.<%= controller_name %>-<%= action_name %>-sidebaractive').addClass('active');
	$('.<%= controller_name %>-<%= action_name %>-sidebarsubactive').addClass('active');	
</script>