<script>
	$(document).ready(function() {
	$('#<%= activity.id %>activity').hover(function() {
  		$("#<%= activity.id %>admin").toggle();
	});
	});
</script>

<div class="create-content-wrapper" >

	<div class="lightbox" style="min-height:100px;" id="<%= activity.id %>activity">

			<!-- Admin Actions -->
			<% if current_user != nil then %>
				<% if current_user.admin == true %>
					<div style="float:right;display:none;font-size:1.2em;color:#cccccc;" id="<%= activity.id %>admin">
						<% if activity.trackable.test == true then  %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname => "untest"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"List" do %><i class="fa fa-eye"></i><% end %>
						<% end %>
						<% if activity.trackable.test == false then %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname => "test"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Unlist" do %><i class="fa fa-eye-slash"></i><% end %>
						<% end %>
						<% if activity.featured == false then %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname => "featured"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Feature" do %><i class="fa fa-heart-o"></i><% end %>
						<% end %>
						<% if activity.featured_home == false then %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id,:actionname =>"featuredhome"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Homepage" do %><i class="fa fa-heart"></i><% end %>
						<% end %>
						<% if activity.featured == true then %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id, :actionname =>"unfeature"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Unfeature" do %><i class="fa fa-ban"></i><% end %>
						<% end %>
						<% if activity.featured_home == true then %>
							<%= link_to admin_actions_path(activity.trackable_type,activity.trackable.id, :actionname =>"unfeaturehome"), class:"no_ajaxify tipsy-tipsy", style:"color:#ccc;",title:"Unfeature Home" do %><i class="fa fa-thumbs-o-down"></i><% end %>
						<% end %>							
						<% if activity.trackable.realm == nil then %>
							<div style="position:absolute;margin-top:30px;">
								<%= link_to "1", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "1"), class:"no_ajaxify tipsy-tipsy", title:"Art", style:"color:#ccc;"%>
								<%= link_to "2", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "2"), class:"no_ajaxify tipsy-tipsy", title:"Music", style:"color:#ccc;"%>
								<%= link_to "3", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "3"), class:"no_ajaxify tipsy-tipsy", title:"Games", style:"color:#ccc;"%>
								<%= link_to "4", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "4"), class:"no_ajaxify tipsy-tipsy", title:"Writing", style:"color:#ccc;"%>
								<%= link_to "5", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "5"), class:"no_ajaxify tipsy-tipsy", title:"Videos", style:"color:#ccc;"%>
								<%= link_to "6", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "6"), class:"no_ajaxify tipsy-tipsy", title:"Math", style:"color:#ccc;"%>
								<%= link_to "7", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "7"), class:"no_ajaxify tipsy-tipsy", title:"Science", style:"color:#ccc;"%>
								<%= link_to "8", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "8"), class:"no_ajaxify tipsy-tipsy", title:"Humanity", style:"color:#ccc;"%>
								<%= link_to "9", admin_add_realm_path(activity.trackable_type,activity.trackable.id, "9"), class:"no_ajaxify tipsy-tipsy", title:"Engineering", style:"color:#ccc;"%>
							</div>
						<% end %>	
					</div>
				<% end %>
			<% end %>			

			<div id="majorpost-comments" class="tipsy-tipsy" title="Threads" style="margin:20px 45px 0 0;">
				<%= activity.trackable.discussion_threads.count %>
			</div>	
			<div class="create-social-comments tipsy-tipsy" title="Threads" style="margin:20px 5px 0 0;"></div>
	

	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~ Non Project Creator ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div class="project-show-icon">
			<div class="project-icon-small">
				<div class="project-icon-small-wrapper" >
					<div id="project-icon-mask">
						<div class="user-icon-small-holder" style="background-image:url(<%= activity.trackable.creator.profilephoto.url(:tiny)%>);"></div>
					</div>
				</div><!-- end project.iconsmall-->
			</div>
		</div><!-- end project.showicon-->
		<div class="project-show-content">
			<div class="project-show-title">
				<h2>
				<% if activity.trackable.published == false %>
					<div class="lightbox4-draft">
						<!-- only creator can edit the draft-->
						<% if activity.trackable.title == "Enter a Title for this Discussion"%>
							<span style="color: #dddddd;"><i class="fa fa-comments"></i></span><%= activity.trackable.creator.first_name %> is creating a new discussion
						<% else %>
							<span style="color: #dddddd;"><i class="fa fa-comments"></i></span><%= activity.trackable.title %>
						<% end %>	
						<span>(Draft)</span>
					</div>
				<% else %>
					<span style="color: #dddddd;"><i class="fa fa-comments"></i></span><%= link_to activity.trackable.title, show_discussion_path(activity.trackable), class:"no_ajaxify" %>
				<% end %>
				</h2>
				<ol style="margin-top: -18px;"></ol>
				<span style="color:#dddddd;"><% if activity.trackable.tags.any? %><i class="fa fa-tags"></i><% end %> 
				<%= raw activity.trackable.tag_list.first(4).map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(', ') %></span>
				<ol style="color:#999;"><%= activity.trackable.creator.fullname %> created this discussion <%= time_ago_in_words(activity.trackable.created_at) %> ago <% if activity.trackable.realm != nil %> in <%= link_to realm_selector_path(activity.trackable.realm),class:"no_ajaxify" do %><span class="realm-color"><%= project_realm(activity.trackable.realm)%></span><% end %> <% if activity.trackable.sub_realm != nil then %> <span class="realm-color"><%= activity.trackable.sub_realm %></span><% end %><else>.<% end %></ol>		
			</div>	
		</div>			
<!-- Project Misc -->
	</div>
</div>
