<div class="panel panel-default panel-default">
	<div class="panel-heading p-20 text-grey text-thin">
		<h4 class="panel-title">Password</h4>
		<span>Update your login password...</span>
	</div>
	<div class="panel-body">
		<div class="error-messages"></div>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :remote => true) do |f| %>
			<!-- Edit email-->
			<fieldset>
				<legend class="text-semibold">
					<i class="ti-lock position-left"></i>
					Update Password
					<!--<a class="control-arrow" data-toggle="collapse" data-target="#demo1">
						<i class="icon-circle-down2"></i>
					</a>-->
				</legend>
				<div class="collapse in" id="demo1">
					<!-- Current Password -->
					<div class="form-group">
						<label class="col-lg-3 control-label">Current password:</label>
						<div class="col-lg-9">
							<%= f.password_field :current_password, autocomplete: "off", class:"form-control mb-20", placeholder:"We need your current password to confirm your changes"%>
						</div>
					</div>
					<!-- New Password -->
					<div class="form-group">
						<label class="col-lg-3 control-label">New password:</label>
						<div class="col-lg-9">
							<%= f.password_field :password, autocomplete: "off",class:"form-control mb-20", placeholder:"Your new password"%>
						</div>
					</div>
					<!-- Confirm New Password -->
					<div class="form-group">
						<label class="col-lg-3 control-label">Re-enter new password:</label>
						<div class="col-lg-9">
							<%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control mb-20", placeholder:"Re-enter your new password"%>
						</div>
					</div>
				</div>
			</fieldset>

			<div class="text-right">
				<%= f.submit "Update password", class: "btn btn-blue" %>
			</div>
		<% end %>
	</div>
</div>