<div class="panel panel-default panel-default">
	<div class="panel-heading p-20 text-grey text-thin">
		<h4 class="panel-title"><%= t 'views.profile.settings.profile_settings.profile_settings' %></h4>
		<span><%= t 'views.profile.settings.profile_settings.profile_settings_tagline' %></span>
	</div>
	<div class="panel-body">
		<div class="error-messages"></div>
		<div class="error-messages"></div>
		<%= form_for(user, :remote => true) do |f| %>
			<!-- Turing Test-->
			<fieldset>
				<legend class="text-semibold">
					<i class="ti-user position-left"></i>
					<%= t 'views.profile.settings.profile_settings.turing_test' %>
					<!--<a class="control-arrow" data-toggle="collapse" data-target="#demo1">
						<i class="icon-circle-down2"></i>
					</a>-->
				</legend>

				<div class="collapse in" id="demo1">
					<% if I18n.locale == :zh %>
						<!-- Last Name-->
						<div class="form-group">
							<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.last_name' %>:</label>
							<div class="col-lg-9">
								<%= f.text_field :lastname, class:"form-control mb-20", placeholder:t('views.profile.settings.profile_settings.last_name_placeholder')%>
							</div>
						</div>
						<!-- First Name-->
						<div class="form-group">
							<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.first_name' %>:</label>
							<div class="col-lg-9">
								<%= f.text_field :firstname, class:"form-control mb-20", placeholder:t('views.profile.settings.profile_settings.first_name_placeholder')%>
							</div>
						</div>
					<% else %>
						<!-- First Name-->
						<div class="form-group">
							<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.first_name' %>:</label>
							<div class="col-lg-9">
								<%= f.text_field :firstname, class:"form-control mb-20", placeholder:t('views.profile.settings.profile_settings.first_name_placeholder')%>
							</div>
						</div>
						<!-- Last Name-->
						<div class="form-group">
							<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.last_name' %>:</label>
							<div class="col-lg-9">
								<%= f.text_field :lastname, class:"form-control mb-20", placeholder:t('views.profile.settings.profile_settings.last_name_placeholder')%>
							</div>
						</div>
					<% end %>
					<!-- Preferred Name -->
					<% if I18n.locale == :zh %>
						<div class="form-group">
							<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.display_name' %>:</label>
							<div class="col-lg-9">
								<%= f.text_field :preferred_name, class:"form-control mb-20", placeholder:t('views.profile.settings.profile_settings.display_name_placeholder') %>
							</div>
						</div>	
					<% else %>
						<div class="form-group">
							<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.display_name' %>:</label>
							<div class="col-lg-9">
								<%= f.select(:preferred_name, [[user.firstname], [user.fullname]], {}, { :selected => params[:locale],:class => 'simple-select mb-20' }) %>
							</div>
						</div>	
					<% end %>
					<!-- Username -->	
					<div class="form-group">
						<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.username' %>:</label>
						<div class="col-lg-9">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default mb-20" type="button" style="border-right:none;">https://ratafire.com/</button>
								</span>
									<%= f.text_field :username, class:"form-control mb-20", placeholder:t('views.profile.settings.profile_settings.username_placeholder')%>
							</div>					
						</div>
					</div>	
				</div>
			</fieldset>

			<!-- Basic Info -->
			<fieldset>
				<legend class="text-semibold">
					<i class="ti-info-alt position-left"></i>
					<%= t 'views.profile.settings.profile_settings.basic_info' %>
					<!--<a class="control-arrow" data-toggle="collapse" data-target="#demo1">
						<i class="icon-circle-down2"></i>
					</a>-->
				</legend>

				<div class="collapse in" id="demo1">
					<!-- Tagline -->
					<div class="form-group">
						<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.tagline' %>:</label>
						<div class="col-lg-9">
							<div class="pull-right mr-5 mb-30- text-grey-100"><span id="e" class="display-none"></span></div>
							<% if I18n.locale == :zh %>
								<%= f.text_field :tagline, class:"form-control mb-20", placeholder:t('views.profile.settings.profile_settings.tagline_placeholder'),maxlength:"8", id:"tagline", onKeyUp:"tagline_text_count()"%>
							<% else %>
								<%= f.text_field :tagline, class:"form-control mb-20", placeholder:t('views.profile.settings.profile_settings.tagline_placeholder'),maxlength:"42", id:"tagline", onKeyUp:"tagline_text_count()"%>
							<% end %>
						</div>
					</div>
					<!-- Website -->
					<div class="form-group">
						<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.website' %>:</label>
						<div class="col-lg-9">
							<%= f.text_field :website, class:"form-control mb-20", placeholder:t('views.profile.settings.profile_settings.website_placeholder')%>
						</div>
					</div>
					<!-- Country -->
					<div class="form-group">
						<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.country' %>:</label>
						<div class="col-lg-9">
							<%= f.country_select(:country, { }, { class: 'simple-select-search mb-20' }) %>
						</div>
					</div>
					<!-- City -->
					<div class="form-group">
						<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.city' %>:</label>
						<div class="col-lg-9">
							<%= f.text_field :city, class:"form-control mb-20", placeholder:t('views.profile.settings.profile_settings.city_placeholder')%>
						</div>
					</div>
					<!-- Short bio -->	
					<div class="form-group">
						<label class="col-lg-3 control-label"><%= t 'views.profile.settings.profile_settings.short_bio' %>:</label>
						<div class="col-lg-9">
							<div class="pull-right mr-5 mb-30- text-grey-100"><span id="h" class="display-none"></span></div>
							<% if I18n.locale == :zh %>
								<%= f.text_area :bio, class:"form-control mb-20 no-resize",maxlength:"116",onKeyUp:"bio_textarea_count()", id:"bio", placeholder:t('views.profile.settings.profile_settings.short_bio_placeholder')%>
							<% else %>
								<%= f.text_area :bio, class:"form-control mb-20 no-resize",maxlength:"214",onKeyUp:"bio_textarea_count()", id:"bio", placeholder:t('views.profile.settings.profile_settings.short_bio_placeholder')%>
							<% end %>
						</div>
					</div>	
				</div>
			</fieldset>

			<div class="text-right">
				<%= f.submit I18n.t('views.utilities.btn.save_changes'), class: "btn btn-blue" %>
			</div>
		<% end %>
	</div>
</div>
<!-- Page specific js-->
<script type="text/javascript">
	//Bio Textarea count
	function bio_textarea_count()
	{	<% if I18n.locale == :zh %>
			var max =116;
		<% else %>
			var max =214;
		<% end %>
		var text =document.getElementById("bio").value.length;
		$('#h').show();
		h.innerHTML=max-text;
		if(text > 0)
		{
			btn=document.getElementById("btn");
			btn.style.cursor="pointer";
			btn.style.opacity=1;
			btn.disabled=false;
		}
	}
	//Tagline count
	function tagline_text_count()
	{	<% if I18n.locale == :zh %>
			var max =8;
		<% else %>
			var max =42;
		<% end %>
		var text =document.getElementById("tagline").value.length;
		$('#e').show();
		e.innerHTML=max-text;
		if(text > 0)
		{
			btn=document.getElementById("btn");
			btn.style.cursor="pointer";
			btn.style.opacity=1;
			btn.disabled=false;
		}
	}	
</script>