<!-- Twitter -->
<div class="panel panel-default panel-default">
	<div class="panel-heading p-20 text-grey text-thin" id="twitter-heading">
		<h4 class="panel-title"><%= t 'views.profile.settings.social_media_settings.twitter' %></h4>
		<span><%= t 'views.profile.settings.social_media_settings.twitter_tagline' %></span>
<% unless user.twitter %>
	<!-- Without Twitter -->
		<div class="heading-elements">
			<%= link_to user_omniauth_authorize_path(:twitter), class:"btn btn-block btn-social btn-twitter mb-10" do %>
			    <span class="fa fa-twitter fa-twitter-square"></span> <%= t 'views.profile.settings.social_media_settings.connect_with' %><%= t 'views.profile.settings.social_media_settings.twitter' %>
			<% end %>
		</div>
	</div><!-- end panel-heading-->
	<div class="panel-body">
		<%= t 'views.profile.settings.social_media_settings.twitter_description' %> <span class="label label-default"><%= t 'views.utilities.tooltip.coming_soon' %></span>
	</div>
<% else %>
	<!-- With Twitter -->
		<div class="heading-elements" id="twitter-disconnect">
			<%= link_to user_disconnect_path(user,:twitter),remote: true, class:"btn btn-block btn-social btn-default mb-10" do %>
			    <span class="fa fa-twitter fa-twitter-square"></span><%= t 'views.profile.settings.social_media_settings.disconnect' %>
			<% end %>
		</div>
	</div><!-- end panel-heading-->
	<!-- Tweet Updates -->
	<div class="table-responsive" id="twitter-table">
		<table class="table" data-popup="tooltip" title='<%= t 'views.utilities.tooltip.coming_soon' %>' data-placement="left">
			<tbody>
				<tr class="border-double active">
					<td colspan="2">
						<span class="text-semibold"><%= t 'views.profile.settings.social_media_settings.twitter_profile' %></span>
					</td>
					<td class="col-md-1 col-sm-1 text-center">
						<span class="text-semibold"><%= t 'views.profile.settings.social_media_settings.refresh' %></span>
					</td>
					<td class="col-md-2 col-sm-2 text-center">
						<span class="text-semibold"><%= t 'views.profile.settings.social_media_settings.tweet_your_updates' %></span>
					</td>
				</tr>
				<tr>
					<td class="col-md-1 col-sm-1">
						<%= link_to user.twitter.link, target:"_blank" do %>
							<img src="<%= user.twitter.image %>" class="profile-thumb-holder cover-profilephoto-holder">
						<% end %>
					</td>
					<td class="col-md-8 col-sm-8">
						<%= link_to user.twitter.name, user.twitter.link, target:"_blank", class:"text-grey"%>
					</td>
					<td class="text-center"><i class="fa fa-refresh"></i></td>
					<td class="text-center">
						<input type="checkbox" class="js-switch" disabled="disabled"/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>	
	<!-- Hidden Twitter Body -->
	<div class="panel-body" id="twitter-body" style="display:none;">
		<%= t 'views.profile.settings.social_media_settings.twitter_description' %> <span class="label label-default"><%= t 'views.utilities.tooltip.coming_soon' %></span>
	</div>
<% end %>
</div>