<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, sanitize(@user.preferred_name)) %>
<!-- Sidebar -->
<% content_for :sidebar do %>
	<% if user_signed_in? %>
		<!-- Signed-in Users-->
		<%= render 'utilities/sidebar/sidebar_profile_signed_in_users'%>
	<% else %>
		<!-- Not signed-in Users-->	
    	<%= render 'utilities/sidebar/sidebar_profile_not_signed_in_users'%>
    <% end %>
<% end %>
<!-- Page Specific JS -->
<%= javascript_include_tag 'page_specific/settings', 'data-turbolinks-track' => "reload"  %>
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<!-- Content Area -->
<div class="content">
	<!-- Page title -->
	<%= render partial: "profile/settings/page_header_content", locals: {user: @user} %>
	<!-- Tabs -->
	<div class="tabbable pl-20 pr-20">
		<!-- Nav tabs-->
		<%= render partial: "profile/settings/tabs", locals: {user: @user} %>

		<!-- Tab content -->
		<div class="tab-content" id="identity-verification-holder-outer">
			<!-- Account Settings -->
				<!-- Password -->
				<div id="identity-verification-holder">
					<% unless @user.identity_verification %>
						<%= render partial: "profile/settings/form_identity_simplified", locals: {user: @user} %>
					<% else %>
						<% if @user.try(:identity_verification).try(:status) == 'Approved' %>
							<!-- Approved -->
							<%= render partial: "profile/settings/form_identity_approved", locals: {user: @user, identity_verification: @user.identity_verification } %>
						<% else %>
							<!-- Pending -->
							<%= render partial: "profile/settings/form_identity_pending", locals: {user: @user, identity_verification: @user.identity_verification } %>
						<% end %>
					<% end %>
				</div>
			<!-- Social Media Connections -->			
		</div><!-- end .tab-content-->

	</div><!-- end .tabbable-->
</div><!-- end .content-->