

        
            <div class="signup-page bg2">
                
                <div class="signup-page-wrapper">

                    <a href="#" class="signup-logo" style="margin-top:80px;"></a>

                    <p>
                        Cloud patronage, elegantly
                    </p>

                    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => { :class => 'no_ajaxify', :id => "mobile-signup-form"}) do |f| %>

                        <div class="field">
                            <%= f.text_field :fullname, class: "signup-email upper-radius", placeholder: "First and Last Name", :live => true %>
                        </div>
                                   
                        <div class="field">
                            <%= f.text_field :username , class: "signup-email no-radius",  placeholder: "Pick a username"%>
                        </div>

                        <div class="field">
                            <%= f.email_field :email, autofocus: true, class: "signup-email no-radius", placeholder: "signup-email" %>
                        </div>

                        <div class="field">
                            <%= f.password_field :password, autocomplete: "off", class: "signup-email lower-radius", placeholder: "password" %>
                        </div>

                        <div class="one-half margin-top-20">
                            <%= f.submit("Sign Up", class: "button button-green full-button btn-submit", id:"email-signup") %>
                        </div>

                        <div class="one-half last-column margin-top-20">
                            <%= link_to "Sign in", mobile_sign_in_path, class:"button button-blue full-button no_ajaxify" %>
                        </div>                        
                        
                    <% end %>

                </div><!-- end .signup-page-wrapper-->

            </div><!-- end .signup-page-->
   




























