<div class="all-elements">

    <div class="snap-drawers">
 
        <!-- Page Content-->
        <div id="content" class="snap-content">
        
            <div class="signup-page bg2">

                <div class="signup-page-overlay"></div>

                <div class="signup-page-wrapper">

                    <a href="#" class="signup-logo"></a>

                    <p>
                        Create an account bellow, it's really easy! 
                    </p>

                    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => { :class => 'no_ajaxify'}) do |f| %>

                        <div class="field">
                            <%= f.text_field :fullname, class: "signup-email upper-radius", placeholder: "First and Last Name", :live => true %>
                        </div>
                                   
                        <div class="field">
                            <%= f.text_field :username , class: "signup-email",  placeholder: "Pick a username"%>
                        </div>

                        <div class="field">
                            <%= f.email_field :email, autofocus: true, class: "signup-email", placeholder: "signup-email" %>
                        </div>

                        <div class="field">
                            <%= f.password_field :password, autocomplete: "off", class: "signup-email lower-radius", placeholder: "password" %>
                        </div>

                        <div class="one-half margin-top-20">
                            <%= f.submit "Sign up", class: "button button-green full-button" %>
                        </div>
                        
                    <% end %>

                </div><!-- end .signup-page-wrapper-->

            </div><!-- end .signup-page-->
   
        </div><!-- end #content-->

    </div><!-- end .snap-drawers-->

</div><!-- end .all-elements-->

























