<div class="all-elements">
    <div class="snap-drawers">
        <!-- Left Sidebar -->
        <div class="snap-drawer snap-drawer-left">
            <div class="sidebar-header">
                <a href="#"><i class="fa fa-phone"></i></a>
                <a href="#"><i class="fa fa-comment"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-times"></i></a>                
            </div>
            
            <div class="sidebar-logo">
                <a href="index.html"></a>
            </div>
            
            <div class="sidebar-divider">
                Navigation
            </div>
            
            <ul class="sidebar-navigation">
                <li><a href="index.html"><i class="fa fa-home"></i>Home<i class="fa fa-circle"></i></a></li>
                <li class="has-submenu">
                    <a class="deploy-submenu" href="#"><i class="fa fa-cog"></i>Features<i class="fa fa-plus"></i></a>
                    <ul class="submenu">
                        <li><a href="features-type.html"><i class="fa fa-angle-right"></i>Type<i class="fa fa-circle"></i></a></li>
                        <li><a href="features-jquery.html"><i class="fa fa-angle-right"></i>jQuery<i class="fa fa-circle"></i></a></li>
                        <li><a href="features-others.html"><i class="fa fa-angle-right"></i>Others<i class="fa fa-circle"></i></a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a class="deploy-submenu" href="#"><i class="fa fa-picture-o"></i>Portfolios<i class="fa fa-plus"></i></a>
                    <ul class="submenu">
                        <li><a href="portfolio-adaptive.html"><i class="fa fa-angle-right"></i>Adaptive<i class="fa fa-circle"></i></a></li>
                        <li><a href="portfolio-one.html"><i class="fa fa-angle-right"></i>One Column<i class="fa fa-circle"></i></a></li>
                        <li><a href="portfolio-two.html"><i class="fa fa-angle-right"></i>Two Columns<i class="fa fa-circle"></i></a></li>
                    </ul>
                </li>                 
                <li class="has-submenu">
                    <a class="deploy-submenu" href="#"><i class="fa fa-camera"></i>Gallery<i class="fa fa-plus"></i></a>
                    <ul class="submenu">
                        <li><a href="gallery-square.html"><i class="fa fa-angle-right"></i>Square Thumbs<i class="fa fa-circle"></i></a></li>
                        <li><a href="gallery-round.html"><i class="fa fa-angle-right"></i>Round Thumbs<i class="fa fa-circle"></i></a></li>
                        <li><a href="gallery-wide.html"><i class="fa fa-angle-right"></i>Wide Thumbs<i class="fa fa-circle"></i></a></li>
                    </ul>
                </li>                 
                <li class="has-submenu">
                    <a class="deploy-submenu" href="#"><i class="fa fa-file"></i>Pages<i class="fa fa-plus"></i></a>
                    <ul class="submenu">
                        <li><a href="page-error.html"><i class="fa fa-angle-right"></i>404 Page<i class="fa fa-circle"></i></a></li>
                        <li><a href="page-soon.html"><i class="fa fa-angle-right"></i>Soon Page<i class="fa fa-circle"></i></a></li>
                        <li><a href="page-updates.html"><i class="fa fa-angle-right"></i>Updates Page<i class="fa fa-circle"></i></a></li>
                        <li><a href="page-timeline.html"><i class="fa fa-angle-right"></i>Timeline Page<i class="fa fa-circle"></i></a></li>
                        <li><a href="index2.html"><i class="fa fa-angle-right"></i>Home Fullscreen<i class="fa fa-circle"></i></a></li>
                    </ul>
                </li>                
                <li class="has-submenu">
                    <a class="deploy-submenu active-submenu" href="#"><i class="fa fa-mobile"></i>App Specific<i class="fa fa-plus"></i></a>
                    <ul class="submenu active-submenu-items">
                        <li><a href="pageapp-login.html"><i class="fa fa-angle-right"></i>Login<i class="fa fa-circle"></i></a></li>
                        <li><a class="active-menu" href="pageapp-sigin.html"><i class="fa fa-angle-right"></i>Signup<i class="fa fa-circle"></i></a></li>
                        <li><a href="pageapp-coverpage.html"><i class="fa fa-angle-right"></i>Coverpage<i class="fa fa-circle"></i></a></li>
                        <li><a href="pageapp-userlist.html"><i class="fa fa-angle-right"></i>User List<i class="fa fa-circle"></i></a></li>
                        <li><a href="pageapp-calendar.html"><i class="fa fa-angle-right"></i>Calendar<i class="fa fa-circle"></i></a></li>
                        <li><a href="pageapp-activity.html"><i class="fa fa-angle-right"></i>Activity Feed<i class="fa fa-circle"></i></a></li>
                        <li><a href="pageapp-bubbles.html"><i class="fa fa-angle-right"></i>Chat Bubbles<i class="fa fa-circle"></i></a></li>
                        <li><a href="pageapp-shareboxes.html"><i class="fa fa-angle-right"></i>Share Boxes<i class="fa fa-circle"></i></a></li>
                        <li><a href="pageapp-toggles.html"><i class="fa fa-angle-right"></i>Content Toggles<i class="fa fa-circle"></i></a></li>
                    </ul>
                </li>
                <li><a href="page-video.html"><i class="fa fa-youtube-play"></i>Videos<i class="fa fa-circle"></i></a></li>
                <li><a href="page-blog.html"><i class="fa fa-pencil"></i>Blog<i class="fa fa-circle"></i></a></li>
                <li><a href="contact.html"><i class="fa fa-envelope"></i>Contact<i class="fa fa-circle"></i></a></li>
            </ul>
            
            <div class="sidebar-divider">
                get social with us
            </div>
            
            <ul class="sidebar-navigation">
                <li><a href="#"><i class="fa fa-facebook"></i>Facebook<i class="fa fa-caret-right"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i>Twitter<i class="fa fa-caret-right"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i>Google Plus<i class="fa fa-caret-right"></i></a></li>
            </ul>
            
            <div class="sidebar-divider">
                page updates and news
            </div>
            
            <a href="#" class="sidebar-update red-update">
                <i class="fa fa-times"></i>
                <strong>Warning</strong>
                <em>Released a right sidebar item</em>
            </a>            
            
            <a href="#" class="sidebar-update green-update">
                <i class="fa fa-check"></i>
                <strong>All great!</strong>
                <em>Released a right sidebar item</em>
            </a>
            
            <a href="#" class="sidebar-update blue-update">
                <i class="fa fa-info"></i>
                <strong>Information</strong>
                <em>Released a right sidebar item</em>
            </a>            
                        
            <a href="#" class="sidebar-update yellow-update full-bottom">
                <i class="fa fa-warning"></i>
                <strong>Atention</strong>
                <em>Released a right sidebar item</em>
            </a>
            
            <div class="sidebar-divider">
                Copyright 2015. All rights reserved.
            </div>
        </div>
    </div>
    
    <!-- Page Content-->
    <div id="content" class="snap-content">
        <div class="header">
            <a href="index.html" class="header-logo"></a>
            <a href="#" class="open-menu"><i class="fa fa-navicon"></i></a>
        </div>
        
        <div class="signup-page bg2">
            <div class="signup-page-overlay"></div>
            <div class="signup-page-wrapper">
                <a href="#" class="signup-logo"></a>
                <p>
                    Create an account bellow, it's really easy! 
                </p>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
								  <%= devise_error_messages! %>


                                  <div class="field">
                                  <%= f.text_field :fullname, class: "signup-email", placeholder: "First and Last Name", :live => true %>
                                  </div>
                                   
                                <div class="field">
                                  <%= f.text_field :username , class: "signup-email",  placeholder: "Pick a username"%>
                              </div>

								  <div class="field">
								    <%= f.label :email %><br />
								    <%= f.email_field :email, autofocus: true, class: "signup-email", placeholder: "signup-email" %>
								  </div>

								  <div class="field">
								    <% if @validatable %>
								    <em>(<%= @minimum_password_length %> characters minimum)</em>
								    <% end %><br />
								    <%= f.password_field :password, autocomplete: "off", class: "signup-email", placeholder: "password" %>
								  </div>

								  <div class="one-half">
								    <%= f.submit "Sign up", class: "button button-green full-button" %>
								  </div>
								  <div class="one-half last-column">
                    <%= link_to "log in",  new_user_session_path , class: "button button-blue full-button"%>
                </div>
								 
								<% end %>
                <!-- <input type="text" class="signup-email" value="Email">
                <input type="text" class="signup-password" value="Password"> -->
                <div class="one-half">
                    
                </div>                
                <div class="one-half last-column">
                    <%= link_to "log in",  new_user_session_path , class: "button button-blue full-button"%>
                </div>
                <div class="clear"></div>
                <div class="or-button">
                    <em></em>
                    <strong>or</strong>
                    <em></em>
                </div>
                
                <div class="signup-socials">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i>Signup with Facebook</a>
                    <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i>Signup with Twitter</a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i>Signup with Google Plus</a> -->
                </div>
                
            </div>            
        </div>
   
    </div>
</div>





















