<!-- Post Content -->
<div class="post-content" id="content-case">
	<div class="textbox2">
		
		<!-- Fullscreen mode -->	
		<%= link_to "", get_archive_chapter_path(@majorpost.user,@project,@archive), class:"no_ajaxify  btn-fullscreen tipsy-tipsy", remote: true, title:"Chapter View" %>

		<script>
		$('.btn-fullscreen').click(function(){
			$('.fullscreen_mode').show();
			$('.hide-when-fullscreen').hide();

			var myFlag = false;
			if($(window).scrollTop() > 200 && myFlag == false){
				$("html, body").animate({ scrollTop: 0 }, 600);
				myFlag = true;
			}

		});

		</script>

		<!-- Post User Icon -->
		<span id="post-usericon">
			<%= link_to @archive.user, class:"no_ajaxify" do %>
			<div class="user-icon-holder" style="background-image:url(<%= @archive.user.profilephoto.url(:small64) %>);"></div>
			<% end %>
		</span>

		<!-- Post Title -->
		<div id="post-title">
			<h2><%= link_to @archive.title, user_project_archive_path(@majorpost.user,@project,@majorpost), class:"no_ajaxify" %></h2>
			<ul></ul>
			<ol><%= link_to @archive.user.fullname , @archive.user, class:"no_ajaxify" %> <span>[</span><%= @archive.user.username %><span>]</span><% unless @archive.user.tagline.blank?%><span>,</span> <%= @archive.user.tagline%><% end %></ol>
			<ol style="margin-top:0px;"><%= time_ago_in_words(@archive.created_time) %> ago.<span class="has-archive"> This is an archive, <%= link_to 'view original', user_project_majorpost_path(@project.creator, @project,@archive.majorpost), class:"no_ajaxify"%>.</span></ol>
		</div>

		<!-- Post Content -->
		<div class="post-content-c">
			<!-- Cutter --><ol style="margin-top: 15px;"></ol>
			<%= sanitize @archive.content, tags: %w(p img a pre blockquote h1 h2 h3 h4 h5 ul li) %>
		</div>	

	</div><!-- end:.textbox2-->	

	<!-- Inspired by-->
	<% render 'majorposts/inspired_by'%>

	<!-- Inspiring -->
	<% render 'majorposts/inspiring'%>

	<!-- Tags -->
	<% unless @majorpost.tags.blank? %>
	<div class="post-tags">
		<%= raw @majorpost.tag_list.map { |t| link_to t, tag_path(t), class:"no_ajaxify" }.join(', ') %>
	</div>
	<% end %>
</div><!-- end:.post-content -->