<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, @project.title) %>

	<!-- External Link -->
	<%= render 'shared/externallink'%><!-- script -->	

	<!-- Project Progress Bar Hover -->
	<%= render 'shared/progress_bar_hover'%><!-- script -->

    <!-- Radius Image-->
	<%= render 'shared/radius_image' %><!-- script -->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Extra Javascript ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<!-- Include extra javascript -->
	<% content_for(:extra_javascript) do %>
		<%= javascript_include_tag "rainbow/rainbow" %>
		<%= mathjax_tag %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Fullscreen ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Fullscreen -->
	<%= render 'archives/fullscreen.html.erb'%>	
	

<div class="hide-when-fullscreen">
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Projects ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for(:second_header) do %>
    	<%= render 'projects/project_header' %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_project' %>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Main Content -->
	<div class="main-content-project">

					<!-- Video and Artwork -->
					<%= render 'archives/video_artwork'%>

					<!-- Majorpost-->
					<%= render 'archives/archive_view'%>

					<!-- License -->
					<%= render 'shared/license'%>

					<!-- Footer -->
					<%= render 'layouts/footer' %>
	</div><!-- end of main-content -->
</div><!-- end:hide when fullscreen-->