<ul class="media-list dropdown-content-body <% unless notification.is_read %>bg-grey-100<% end %>">
	<li class="media">
		<div class="media-left">
			<img src="/assets/logo/logoicon_water_large_flat.jpg" class="profile-thumb-holder cover-profilephoto-holder img-sm" alt="">
		</div>

		<div class="media-body">
			<%= link_to current_goal_user_studio_creator_studio_path(current_user.username), class:"media-heading" do %>
				<span class="text-semibold"><%= t 'ratafire'%></span>
				<span class="media-annotation pull-right"><%= time_ago_in_words(notification.created_at) %><%= t 'views.utilities.menu.ago'%></span>
			<% end %>
			<span class="text-grey">
				<span><%= t 'views.creator_studio.menu.current_goal'%>: <%= Transfer.find(notification.trackable_id).goal_title %><%= t 'views.creator_studio.rewards.is_due' %></span>
			</span>
		</div>
	</li>
</ul>