<% if ShippingOrder.find(notification.trackable_id) %>
	<ul class="media-list dropdown-content-body <% unless notification.is_read %>bg-grey-100<% end %>">
		<li class="media">
			<div class="media-left">
				<img src="/assets/logo/logoicon_water_large_flat.jpg" class="profile-thumb-holder cover-profilephoto-holder img-sm" alt="">
			</div>

			<div class="media-body">
				<%= link_to confirm_shipping_payment_user_studio_rewards_path(current_user.id,notification.trackable_id), class:"media-heading" do %>
					<span class="text-semibold"><%= t 'ratafire' %></span>
					<span class="media-annotation pull-right"><%= time_ago_in_words(notification.created_at) %><%= t 'views.utilities.menu.ago'%></span>
				<% end %>
				<span class="text-grey">
					<%= t 'mailer.payment.shipping_order.confirm_shipping_payment_for'%><%= ShippingOrder.find(notification.trackable_id).reward.title %><% unless ShippingOrder.find(notification.trackable_id).transacted %><%= link_to confirm_shipping_payment_user_studio_rewards_path(current_user.id,notification.trackable_id) do %><span class="btn btn-blue btn-xs height-30 pl-20 pr-20 ml-5"><%= t 'mailer.payment.subscription.order.go' %></span><% end %><% end %>
				</span>
			</div>
		</li>
	</ul>
<% end %>