				<!-- Original Image -->
				<div id="image-case" style="margin-top:0px;">	

					<!-- If there is no artwork, show the upload -->
					<% if @majorpost.artwork_id != "" && @majorpost.artwork_id != nil %>
						<% if @artwork.processed == false %>
							<script type="text/javascript">

        						$(document).ready(function() {

              						//hide artwork upload and show artwork
              						$("#no-artwork-case").hide();
              						$('#has-artwork-case').show();
                    
        						});
							</script>
							<!-- Display Encoding & Delete if still encoding-->

							<div id="has-artwork-case">
								<div id="comment-input2" style="height:151px;margin: 0px 0 10px 0;background-image:url(/assets/background1.jpg);">
									<!-- artwork delete button-->
									<div class="btn-edit-right" id="delete-artwork">
										<%= link_to 'Delete',artwork_delete_path(@project.creator,@project,@artwork),method: :delete,class:"btn-delete no_ajaxify"%>
									</div>
								</div>
								<!-- Artwork Upload Title -->
								<div class="artwork-eidtor-control-bar" >	
									Upload Succeed! Your artwork is now being processed. It may take 0-5 minutes before it is ready.
								</div>
							</div><!-- end:#has-artwork-case -->							
						<% else %>
								<script type="text/javascript">

        							$(document).ready(function() {

         			     				//hide artwork upload and show artwork
        			      				$("#no-artwork-case").hide();
        			      				$('#has-artwork-case').show();
                    
        							});
								</script>

								<div id="has-artwork-case">
									<div id="comment-input2" style="height:151px;margin: 0px 0 10px 0;background-image:url(<%= @artwork.image.url(:preview)%>);">
										<!-- artwork delete button-->
										<div class="btn-edit-right" id="delete-artwork">
											<%= link_to 'Delete',artwork_delete_path(@project.creator,@project,@artwork),method: :delete,class:"btn-delete no_ajaxify"%>
										</div>
									</div>
									<!-- Artwork Upload Title -->
									<div class="artwork-eidtor-control-bar" >	
										Has Artwork Original File: <%= @artwork.image_file_name %>
									</div>
								</div><!-- end:#has-artwork-case -->
						<% end %><!-- if @artwork.processed-->		
					<% end %><!-- if artwork is not nil -->

					<div id="no-artwork-case">
					<div id="comment-input2" style="margin: 0px 0 10px 0;">
						<!-- Video Upload Title -->
						<div class="majorpost-user-inspirer-tite">	
							<li>Artwork File</li>
						</div>

							<!-- Upload-->
							<div class="majorpost-user-inspirer-indicator">Upload</div>
							<div class="video-upload-box-holder">
								<!-- Artwork Upload-box -->
								<div id="artwork-upload-box">
									<div class="video-upload-words artwork-button fileinput-button" id="artwork-drop">
										<span>Click to choose an artwork file</span>
										
										<ul>Maximum size: 512MB. Accepts JPG, PNG, BMP, PSD.</li></ul>
										<!-- fields for artwork -->
										<%= s3_uploader_form callback_url: create_majorpost_artwork_path(current_user,@project,@majorpost),
  											id: "s3_uploader_artwork",
											callback_param: "artwork[direct_upload_url]",
											expiration: 24.hours.from_now.utc.iso8601,
											max_file_size: 512.megabytes,:remote => true do %>
											<%= file_field_tag :file, multiple: false, class:"artwork-choose" %>		
										<% end %>
									</div><!-- end.video-upload-words-->
								</div><!-- end.artwork-upload-box-->

								<!-- Artwork Progress-box -->
								<div id="artwork-progress-case"></div><!-- end.artwork-progress-box-->
									<script id="template-upload-artwork" type="text/x-tmpl">
										<div id="artwork-progress-box" class="upload">
											<div class="video-progress">
												<div id="progress-bar-artwork" class='bar-artwork' style="width: 0%">
													<div class="video-progress-words">
														<ul>Uploading artwork...</ul>
													</div>
													<div class="video-progress-cancel tipsy-tipsy" id="cancel-video" title="Cancel Upload">
													</div>
												</div>
											</div>
										</div>
									</script>

								<!-- Video Progress-box-->
								<div id="artworkdata"></div>
							</div>
					</div>
				</div><!--end:#no-artwork-case -->

			</div><!-- end of image-case-->
