				<!-- Video -->
				<div id="video-case">

					<!-- If there is no video, show the upload -->
					<% if @majorpost.video_id != "" && @majorpost.video_id != nil %>

					<script type="text/javascript">

        				$(document).ready(function() {

              				//hide artwork upload and show artwork
              				$("#video-upload-case").hide();
              				$('#has-video-case').show();
                    
        				});
					</script>

					<div id="has-video-case" style="margin-bottom:-6px;">
						<%= render 'projects/project_videoplayer_edit' %>

					</div><!-- end:#has-video-case -->

					<% end %><!-- if video is not nil -->



				<div id="video-upload-case">
					<div id="comment-input2" style="margin: 0px 0 8px 0;height:195px;">

						<!-- Video Upload Title -->
						<div class="majorpost-user-inspirer-tite">	
							<li>Major Post Video</li>
						</div>

							<!-- Upload-->
							<div class="majorpost-user-inspirer-indicator">Upload</div>
							<div class="video-upload-box-holder">
								<!-- Video Upload-box -->

								<div id="video-upload-box">
									<div class="video-upload-words artwork-button fileinput-button" id="video-drop">
										<span>Click to choose a video file</span>
										<ul>Maximum size: 2GB. Recommanded resolution: 1080p.</li></ul>
										<!-- fields for video -->
										<%= s3_uploader_form callback_url: create_majorpost_video_path(current_user,@project,@majorpost),
  											id: "s3_uploader_video",
											callback_param: "video[direct_upload_url]",
											expiration: 24.hours.from_now.utc.iso8601,
											max_file_size: 2048.megabytes,:remote => true do %>
											<%= file_field_tag :file, multiple: false, class:"artwork-choose" %>		
										<% end %>		
									</div><!-- end.video-upload-words-->
								</div><!-- end#video-upload-box-->

								<!-- Video Progress-box-->
								<div id="video-progress-case"></div><!-- end. Video Progress-box-->
									<script id="template-upload-video" type="text/x-tmpl">
										<div id="video-progress-box">
											<div class="video-progress">
												<div id="progress-bar-artwork" class='bar-video' style="width: 0%">
													<div class="video-progress-words">
														<ul>Uploading video...</ul>
													</div>
												</div>
											</div>
										</div>
									</script>

								<!-- Video Progress-box-->
								<div id="videodata"></div>

				  			<!-- External-Video-fields-->
  							<div id="external-video-field">
  								
								<!-- Cutter --><ol style="margin-top:-1px;"></ol>
								<!-- External-Video-input-->
								<div class="majorpost-user-inspirer-holder">
									<div class="btn btn-mini btn-mini-green" style="position:absolute;margin:3px 0 0 597px;">Embed</div>
									<%= form_tag add_external_video_path, id:"majorpost_video_upload_form",class:"no_ajaxify" do %>
										<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
										<%= hidden_field_tag :project_id, @project.id %>
										<%= hidden_field_tag :majorpost_id, @majorpost.id %>
										<%= hidden_field_tag :user_id, current_user.id %>
										<%= hidden_field_tag :content_temp, nil,id:"content_temp_video" %>
										<%= hidden_field_tag :tags_temp,nil,id:"tags_temp_video" %>										
										<%= text_field_tag "external", nil,class:"user", type:"user-external",style:"width:570px;", placeholder:"Enter youtube or vimeo link, leave it blank if you upload your video.", id:"external-video", onchange:"externalOnchange()" %>
									<% end %>	
								</div><!-- end of external video input-->
							</div>

							
						</div><!-- end videoupload box holder-->
						<div class="majorpost-external-inspirer-indicator">External</div>

					</div><!-- end comment input-->
				</div><!-- end:#video-upload-case -->
			</div><!-- end of video-case -->