<!-- Script to show Edit button 
<script>
	$(document).ready(function() {
	$('#<%= activity.id %>activity').hover(function() {
  		$("#<%= activity.id %>").toggle();
	});
	});
</script>-->

<div class="lightbox" id="<%= activity.id %>activity">
		<!-- Delete
		<div class="toolbox4">
		</div>-->
	<div class="textbox3">
				<!-- user icon holder-->
		<%= link_to activity.trackable.user, class:"no_ajaxify" do %>
			<div class="majorpost-usericon" style="background-image:url(<%= activity.trackable.user.profilephoto.url(:small64) %>);"></div>
		<% end %>
		<% if activity.trackable %>
		<!-- Title -->
		<div class="majorpost-title">
		<%= link_to activity.owner.fullname, activity.owner, class:"no_ajaxify" %> commented on <li><%= link_to activity.trackable.majorpost.title, user_project_majorpost_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost), class:"no_ajaxify" %></li> <%= time_ago_in_words(activity.trackable.created_at) %> ago.
		</div>
		<div id="majorpost-comments">
			
		</div>
		<div id="majorpost-time">
		</div>
		<div id="majorpost-excerpt">
			<!-- If there are images -->
				<!-- If there are images-->
				<% if activity.trackable.commentimages.count > 0 %>
					<!-- one postimage -->
					<% if activity.trackable.commentimages.count == 1 %>
						<%= link_to user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.commentimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:403px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 300) %>
						</div>
						<div id="majorpost-tags">
							<%= link_to "Read All >>", user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable), class:"no_ajaxify" %>
						</div>									
					<% end %>
					<!-- two postimages three postimages -->
					<% if activity.trackable.commentimages.count == 2 || activity.trackable.commentimages.count == 3 %>
						<%= link_to user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.commentimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.commentimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<div class="majorpost-excerpt-wrapper" style="width:226px;height:106px;overflow:hidden;">
							<%= sanitize truncate(activity.trackable.excerpt, :length => 180) %>
						</div>	
						<div id="majorpost-tags">
							<%= link_to "Read All >>", user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable), class:"no_ajaxify" %>
						</div>													
					<% end %>
					<!-- four postimages -->
					<% if activity.trackable.commentimages.count >= 3 %>
						<%= link_to user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.commentimages.first.thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.commentimages[1].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>
						<%= link_to user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable),class:"no_ajaxify" do %>	
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.commentimages[2].thumbnail%>" style="border-radius:5px;">
							</div>
						<% end %>	
						<%= link_to user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable),class:"no_ajaxify" do %>
							<div class="majorpost-postimages-one">
								<img src="<%= activity.trackable.commentimages[3].thumbnail%>" style="border-radius:5px;">
							</div>	
						<% end %>	
						<div id="majorpost-tags">
							<%= link_to "Read All >>", user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable), class:"no_ajaxify" %>
						</div>										
					<% end %>
				<% else %>
					<!-- Normal Post-->
					<div>
						<%= sanitize truncate(activity.trackable.excerpt, :length => 200) %>
					</div>
					<div id="majorpost-tags">
						<%= link_to "Read All", user_project_majorpost_comment_path(activity.trackable.project.creator,activity.trackable.project,activity.trackable.majorpost,activity.trackable), class:"no_ajaxify" %>
					</div>					
				<% end %>
		</div>

		<% else %>
		The comment was removed.

		<% end %>
	</div>
</div>