<!DOCTYPE HTML>
<meta name="viewport" content="user-scalable=0, initial-scale=1, width=device-width">   
<!-- CSS -->
<head>



    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag  "slidebox/animate" %>
    <%= stylesheet_link_tag  "slidebox/font-awesome" %>
    <%= stylesheet_link_tag  "slidebox/framework" %>
    <%= stylesheet_link_tag  "slidebox/owl.theme" %>
    <%= stylesheet_link_tag  "slidebox/style" %>
    <%= stylesheet_link_tag  "slidebox/swipebox" %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "slidebox/jquery.js" %>
    <%= javascript_include_tag "slidebox/jqueryui.js" %>
    <%= javascript_include_tag "slidebox/framework.plugins.js" %>
    <%= javascript_include_tag "slidebox/custom.js" %>
    <%= javascript_include_tag "jquery_ujs.js"%>
</head>
<body>
    <div class="all-elements">
        <div class="snap-drawers">  

            <!-- Left Sidebar -->
            <div class="snap-drawer snap-drawer-left">
                <% if user_signed_in? %>
                <div class="sidebar-logo">
                  <div class="mobile-name">
                    <ul><%= current_user.fullname %></ul>
                    <ul class="user-tagline"><%= current_user.tagline %></ul>
                </div>
                <div class="majorpost-usericon" style="background-image:url(<%= current_user.profilephoto.url(:small64) %>);"></div>
            </div>
            <% else %>
            <div class="majorpost-usericon" style="background-image:url(/assets/usericon_small64.png);"></div>    
            <% end %> 
            
            <div class="sidebar-divider">
                Navigation
            </div>
            
            <ul class="sidebar-navigation">
                <li><a href="#" class="active-menu"><i class="fa fa-globe"></i>Explore<i class="fa fa-circle"></i></a></li>
                <li class="has-submenu">
                    <a class="deploy-submenu" href="#"><i class="fa fa-compass"></i>My Ratafire<i class="fa fa-plus"></i></a>
                    <ul class="submenu">
                        <li><%= link_to "FAQ", faq_path, class:"fa fa-angle fa fa-circle no_ajaxify" %></li>
                        <li><%= link_to "About Ratafire", mobile_about_path, class:"fa fa-angle fa fa-circle no_ajaxify" %></li>
                        <li><a href="features-type.html"><i class="fa fa-angle-right"></i>Subscribing<i class="fa fa-circle"></i></a></li>
                        <li><a href="features-jquery.html"><i class="fa fa-angle-right"></i>Followed Tags<i class="fa fa-circle"></i></a></li>
                        <li><a href="features-others.html"><i class="fa fa-angle-right"></i>Recs<i class="fa fa-circle"></i></a></li>
                    </ul>
                </li>                          
            </ul>
            
            <div class="sidebar-divider">
                subscription
            </div>
            
            <ul class="sidebar-navigation">
                <li><a href="#" class="active-menu"><i class="fa fa-comments"></i>Subscribers<i class="fa fa-circle"></i></a></li>
                <li><a href="#" class="active-menu"><i class="fa fa-comments-o"></i>Subscribing<i class="fa fa-circle"></i></a></li>
            </ul>
            
            <div class="sidebar-divider">
                Functional
            </div>

            <ul class="sidebar-navigation">
                <li><%= link_to destroy_user_session_path, :method => 'delete', class: 'no_ajaxify active-menu' do %><i class="fa fa-sign-out"></i>Sign Out<i class="fa fa-circle"></i></a><% end %></li>
            </ul>    
        </div>
    </div><!-- end .snap-drawers-->
    <!-- Page Content-->
    <div id="content" class="snap-content grey-bg">
        <div class="header">
            <a href="index.html" class="header-logo"></a>
            <a href="#" class="open-menu"><i class="fa fa-cog"></i></a>
        </div>
        <div class="header-clear"></div>
        <div class="content">
          <%= yield %>
      </div><!-- end .content-->  
  </div><!-- end #content-->
</div><!-- end .all-elements-->   


</body>