<!doctype html>
<html>
<!-- CSS -->
<head>
	<title><%= full_title(yield(:title)) %></title>
<%= stylesheet_link_tag  "promo/animate.min" %>
<%= stylesheet_link_tag  "promo/bootstrap-select.min" %>
<%= stylesheet_link_tag  "promo/bootstrap" %>
<%= stylesheet_link_tag  "promo/datepicker" %>
<%= stylesheet_link_tag  "font-awesome" %>
<%= stylesheet_link_tag  "promo/jquery.fullPage" %>
<%= stylesheet_link_tag  "promo/jquery.jqplot" %>
<%= stylesheet_link_tag  "promo/jquery.mCustomScrollbar.min" %>
<%= stylesheet_link_tag  "promo/morris" %>
<%= stylesheet_link_tag  "promo/owl.carousel" %>
<%= stylesheet_link_tag  "promo/revolution/settings" %>
<%= stylesheet_link_tag  "promo/style" %>
<%= stylesheet_link_tag  "promo/theme-styles" %>
<%= csrf_meta_tags %>

</head>
<%= yield %>
</html>