<!DOCTYPE HTML>
<meta name="viewport" content="user-scalable=0, initial-scale=1, width=device-width">	
<!-- CSS -->
<head>



    <title><%= full_title(yield(:title)) %></title>
<%= stylesheet_link_tag  "slidebox/animate" %>
<%= stylesheet_link_tag  "slidebox/font-awesome" %>
<%= stylesheet_link_tag  "slidebox/framework" %>
<%= stylesheet_link_tag  "slidebox/owl.theme" %>
<%= stylesheet_link_tag  "slidebox/style" %>
<%= stylesheet_link_tag  "slidebox/swipebox" %>
<%= csrf_meta_tags %>

<%= javascript_include_tag "slidebox/jquery.js" %>
<%= javascript_include_tag "slidebox/jqueryui.js" %>
<%= javascript_include_tag "slidebox/framework.plugins.js" %>
<%= javascript_include_tag "slidebox/custom.js" %>
</head>
<body>
<div class="all-elements">
       <!-- Page Content-->

		<%= yield %>

</div><!-- end .all-elements-->		


</body>


