<!DOCTYPE html>




	<head>

  		<title><%= full_title(yield(:title)) %></title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= csrf_meta_tags %>
  		<%= javascript_include_tag "application" %>
  		<%= render 'layouts/shim' %>

	</head>
	
	<!-- background -->	
	<div class="background-special-grey">	
	</div>	


	<div class="mobile-wrapper">
		<%= yield %>
	</div><!-- end. mobile-wrapper-->


