<!-- Image Post -->
<div id="<%= majorpost.id %>_update_holder">
	<% if majorpost.artwork.count > 0 %>
		<div class="imagePost">
			<div class="photoset-grid-lightbox" data-layout="<%= image_grid(majorpost.artwork.count)%>" style="visibility: hidden;">
			  	<% majorpost.artwork.each do |artwork| %>
			  		<img src="<%= artwork.image.url(:preview800) %>" data-highres="<%= artwork.image.url(:original) %>">
			  	<% end %>
			</div>				
		</div>			
	<% end %><!-- end image post -->
	<!-- Title for Text Post Only  -->
	<% if ['text', 'audio','video'].include?(majorpost.post_type) %>
		<div class="panel-title text-light mt-10 ml-20 mr-20" style="font-size:25px;margin-bottom:-15px;"><%= majorpost.title %></div>
	<% end %>
	<!-- Content -->
	<div class="panel-body pb-20">
		<!-- Content -->	
			<!-- Audio info -->
		<% if majorpost.post_type == 'audio' && majorpost.audio %>
			<% if majorpost.audio.composer != ""%><div class="pb-5"><span class="label label-blue">Composer</span> <%= majorpost.audio.composer %></div><% end %>
			<% if majorpost.audio.artist != "" %><div class="pb-5"><span class="label label-blue">Artist</span> <%= majorpost.audio.artist %></div><% end %>
			<% if majorpost.audio.genre != "" %><div class="pb-5"><span class="label label-blue">Genre</span> <%= majorpost.audio.genre %></div><% end %>
		<% end %>				
		<div class="panel-content">
			<!-- normal content -->
			<%= raw(majorpost.content) %>
		</div><!-- end .panel-content-->	
		<!-- Tags -->
		<div class="mt-10 text-thin text-grey-200"><%= majorpost.created_at.strftime('%F') %> <% if majorpost.tags.any? %><%= raw majorpost.tag_list.map { |t| link_to '#'+t, tag_path(t), class:"text-grey-200" }.join('  ') %></div><% end %>
	</div><!-- end .panel-body -->
</div>