//Remove block ui
$('.outer-space').unblock();
$('#above-blockui').removeClass('above-blockui');
//Remove text editor
$('#editor-text-holder').remove();
$('#editor-options-holder').velocity('fadeIn');
//Add new post
$("#post-pagination").prepend("<div class='post-pagination'><%= j render_activities(@activity) %></div>");
initiate_plugins('<%= j @popoverclass %>_video_class');
refreshUsercard('<%= j @popoverclass %>');
$('.dropdown-toggle').dropdown();
//Levelup
<% if @level_xp %>
	var xp = noty({
		layout: 'center',
	    template: '<div class="text-center"><div class="btn bg-rainbow-600 noty_text text-medium text-thin"></div></div>',	
		text: 'XP <%= number_with_delimiter(@level_xp.majorpost)%>',
		addClass: 'noty-xp',
		timeout: 800,
		animation: {
			open: 'animated zoomInUp',
			close: 'animated fadeOutUp',
			easing: 'swing',
			speed: 500
		}
	});
<% end %>
<% if @levelup %>
	var levelup = noty({
		layout: 'center',
	    template: '<div class="text-center"><div class="btn bg-rainbow-600 noty_text text-giant text-thin pl-20 pr-20 pt-10 pb-10"></div></div>',	
		text: '<%= t "views.game.level" %> <%= @majorpost.user.level %>',
		addClass: 'noty-xp',
		timeout: 2000,
		animation: {
			open: 'animated zoomInUp',
			close: 'animated fadeOutUp',
			easing: 'swing',
			speed: 500
		}
	});
	$('html').append(
		"<div id=\"fullscreen-starfield\"><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div><div class=\"stars\"></div></div>"	
	);
	$('#fullscreen-starfield').delay(4000).fadeOut(300, function(){
	   $(this).remove();
	});
<% end %>
$('#<%= @user.id %>-level-cover').html('<%= @user.level %>');
$('#<%= @user.id %>-xp-bar').html('<%= j render(:partial => "profile/components/xp_bar", :locals => {:user => @user}) %>');
$('#<%= @user.id %>-about').mouseenter(function(){
	$('#<%= @user.id %>-xp-bar').removeClass('progress-xxs');
});
$('#<%= @user.id %>-about').mouseleave(function(){
	$('#<%= @user.id %>-xp-bar').addClass('progress-xxs');
});	