<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, sanitize(@user.preferred_name)) %>
<!-- Sidebar -->
<% content_for :sidebar do %>
	<% if user_signed_in? %>
		<!-- Signed-in Users-->
		<%= render 'utilities/sidebar/sidebar_profile_signed_in_users'%>
	<% else %>
		<!-- Not signed-in Users-->	
    	<%= render 'utilities/sidebar/sidebar_profile_not_signed_in_users'%>
    <% end %>
<% end %>
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
	<!-- Cover area -->
	<%= render partial:'profile/components/cover', locals: {user: @user} %>
	<!-- Toolbar -->
	<%= render partial:'profile/components/toolbar', locals: {user: @user}%>
	<!-- Content Area -->
	<div class="content" >
		<!-- Updates -->
		<div class="row" id="updates-area">
			<!-- Updates -->
			<div class="col-xs-12 col-md-8" id="updates-main-area">
				<div class="tabbable">
					<div class="tab-content">
						<!-- Updates -->
						<div class="tab-pane fade in active" id="updates">
							<!-- Campaign Read all -->
							<div id="user-profile-project-read-all">
							</div>
							<!-- Posts -->
							<div>
									<%= render partial:'content/majorposts/majorpost', locals: {majorpost: @majorpost} %>
							</div><!-- end #post-pagination-->
							<!-- Comment Input -->
							<% if user_signed_in? %>
								<div id="majorpost-comment-editor-holder">
									<%= render partial:'utilities/editor/comment_editor', locals: {majorpost: @majorpost, comment: @comment} %>
								</div>
							<% end %>
							<!-- Latest likers -->
							<div class="mt-20 col-offset-64">
								<div class="col-fixed-64">
								</div>
								<div id="post-pagination">
									<div class="post-pagination">
										<%= render partial:'profile/components/majorpost_likers', collection: @majorpost_likers, :as => :majorpost_liker %>
									</div>
								</div><!-- end #post-pagination-->		
							</div>
						</div>	
					</div><!-- end .tab-content-->	
				</div><!-- end .tabbable-->				
			</div>
			<!-- Side Area -->
			<div class="col-xs-6 col-md-4 pr-40 pt-20" id="side-area">
				<!-- Backers -->
				<% if @contacts %>
					<%= render partial:'profile/components/contacts', locals: {contacts: @contacts}%>	
				<% end %>
				<!-- About -->
				<%= render partial:'profile/components/about', locals: {user: @user}%>
				<!-- Rewards -->
				<% if @user.active_reward %>
					<%= render partial:'profile/components/rewards', locals: {user: @user}%>
				<% end %>
				<!-- Goal -->
				<% if @user.active_reward %>
					<div id="sticker" class="mt-40">
						<!-- Current Goal -->
						<%= render partial:'profile/components/current_goal', locals: {user: @user}%>			
						<!-- Donation Button -->
						<%= render partial:'profile/components/donation_button', locals: {user: @user}%>
					</div><!-- end #sticker -->	
				<% end %>
			</div>	
	</div>