<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title) %>
<!-- Sidebar -->
<% content_for :sidebar do %>
    <%= render 'utilities/sidebar/sidebar_admin'%>
<% end %>
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<div class="content">
    <div class="row">
        <!-- .col -->
        <div class="col col-md-12 col-lg-12">
            <div class="wrapper">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h6 class="panel-title text-thin"><%= t 'views.admin.content.tags.tags' %></h6>
                    </div>
                    <table id="tags" class="table datatable-basic responsive no-wrap" data-source="<%= index_admin_users_path(format: "json") %>">
                        <thead>
                          <tr>
                            <th  style="width:3%"><%= t 'views.admin.culture.historical_quotes.id' %></th>
                            <th  style="width:3%"></th>
                            <th  style="width:15%"><%= t 'views.admin.users.fullname' %></th>
                            <th  style="width:20%"><%= t 'views.profile.settings.profile_settings.your_email' %></th>
                            <th  style="width:20%"><%= t 'views.profile.settings.profile_settings.tagline' %></th>
                            <th  style="width:3%"><%= t 'views.admin.menu.posts' %></th>
                            <th  style="width:3%"><%= t 'views.admin.users.creator' %></th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div><!-- end.wrapper-->
        <!-- /.col -->            
        </div>
    </div>
</div>    
<script type="text/javascript">

    // Setting datatable defaults
    $.extend( $.fn.dataTable.defaults, {
        autoWidth: false,
        columnDefs: [{ 
            orderable: false,
            width: '100px'
        }],
        dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
        },
        drawCallback: function () {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
        },
        preDrawCallback: function() {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
        }
    });
    $('#tags').DataTable({
        responsive: true,
        sPaginationType: "full_numbers",
        "language": {
            "url": "/translation/dataTable/<%= I18n.locale %>.json"
        },
        bProcessing: true,
        bServerSide: true,
        sAjaxSource: $('#tags').data('source')
    });
    $(window).on('load page:render', function() { 
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: Infinity,
            width: 'auto'
        });    
    });
</script>