<div class="lightbox" id="<%= activity.id %>activity">
	<div class="textbox3">
		<!-- Subscriber icon holder -->
		<%= link_to activity.trackable.user, class:"no_ajaxify" do %>
			<div class="majorpost-usericon" style="background-image:url(<%= activity.trackable.user.profilephoto.url(:small64) %>);">
			</div>	
		<% end %>
		<!-- Subscriber Holder -->
		<div class="subscriber-activity-holder">
			<h2><%= link_to activity.trackable.user.first_name,activity.trackable.user, class:"no_ajaxify" %></h2>
			<ul>recommended</ul>
			<%= image_tag("/assets/create_social_rec.png")%>
		</div><!-- end.subscriber-activity-holder-->	
		<!-- Subscribed icon holder -->
		<%= link_to user_project_path(activity.trackable.project.creator,activity.trackable.project), class:"no_ajaxify" do %>
			<% if activity.trackable.project.icon != nil then %>
				<div class="subscribed-icon-holder" style="background-image:url(<%= activity.trackable.project.icon.image.url(:pageview) %>);background-size: 100%;">
				</div>				
			<% else %>
				<div class="subscribed-icon-holder" style="background-image:url(/assets/projecticon_pageview.jpg);background-size: 100%;">
				</div>				
			<% end %>	
		<% end %>	
		<!-- Subscribed Holder -->
		<div class="subscribed-activity-holder">
			<h2><%= link_to activity.trackable.project.title,user_project_path(activity.trackable.project.creator,activity.trackable.project), class:"no_ajaxify" %></h2>
			<ul>created by <span><%= link_to activity.trackable.project.creator.first_name,activity.trackable.project.creator,class:"no_ajaxify" %></span></ul>
			<ol><%= time_ago_in_words(activity.trackable.created_at) %> ago.</ol>
		</div>
	</div><!-- end.textbox3-->
</div><!-- end.lightbox -->	