<section id="homepage-sign-up" class="cover image-bg fullscreen">
    <!-- Starfield Animation -->
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>   
    <!-- Starfield Background -->
    <div class="background-image-holder">
        <%= image_tag('static_pages/starfield_small3.jpg')%>
    </div> 
    <!-- Signup Form Section -->
    <input style="display:none;" type="radio" checked id="toggle--signup" name="toggle" class="ghost" />
    <input style="display:none;" type="radio" id="toggle--login" name="toggle" class="signup-ghost" />
    <!-- Signup Form -->
    <%= render 'utilities/sessions/signup'%>
    <!-- Login Form -->
    <%= render 'utilities/sessions/login'%>  
    <!-- Legal -->
    <%= render 'users/background'%>
    <!-- Legal -->
    <%= render partial:'utilities/sessions/sessions_footer', locals: {switcher_type: 'up'}%>
</section>  