<section class="cover vid-bg fullscreen overlay pt-xs-120">
    <!-- Adjust video height and width -->
    <script>
        var w = $(window).width(), h = $(window).height()  
        $('#video-block video').css({height: ''+h+'',width: ''+w+''})
        $(window).resize(function(){
        var w = $(window).width(), h = $(window).height()  
        $('#video-block video').css({height: ''+h+'',width: ''+w+''})
        })  
    </script>
   
    <!-- Embed Video as Background-->
    <div style="width:initial;" class="overlay-texture">
        <video autoplay loop id="video-background" muted poster="/assets/homepage/park_pool.jpg">
            <source src="//s3.amazonaws.com/Ratafire_production_videos/park_space.mp4" type="video/mp4">
            <source src="//s3.amazonaws.com/Ratafire_production_videos/park_space.webm" type="video/webm">
        </video>
    </div>

    <div class="container v-align-transform">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1><%= t 'views.utilities.menu.back_the_next_top' %><% unless I18n.locale == :zh %>&nbsp<% end %>
                    <div class="slidingVertical">
                          <span class="text-thin"><%= t 'views.utilities.menu.artist' %></span>
                          <span class="text-thin"><%= t 'views.utilities.menu.musician' %></span>
                          <span class="text-thin"><%= t 'views.utilities.menu.game_designer' %></span>
                          <span class="text-thin"><%= t 'views.utilities.menu.writer' %></span>
                          <span class="text-thin"><%= t 'views.utilities.menu.film_maker' %></span>
                          <span class="text-thin"><%= t 'views.utilities.menu.mathematician' %></span>
                          <span class="text-thin"><%= t 'views.utilities.menu.scientist' %></span>
                          <span class="text-thin"><%= t 'views.utilities.menu.scholar' %></span>
                          <span class="text-thin"><%= t 'views.utilities.menu.engineer' %></span>
                    </div>       
                </h1>
                <p class="lead mb40 mb-xs-24 text-thin">
                    <%= t 'views.home.home_description' %>
                </p>
                <!-- Search -->
                <p class="">
                    <span class="input-group pt-7">
                        <input type="text" class="signup-input">
                        <span class="input-group-btn height-30 box-shadow">
                            <span class="btn btn-blue-transparent no-border-radius" type="button" style="width:66px;height:50px;padding-top:7px;">
                                <i class="fa fa-2x fa-search"></i>
                            </span>
                        </span>
                    </span>
                </p>
                <!--
                <%= link_to '#homepage-sign-up' do %>
                    <div class="btn btn-lg btn-join-us">
                    </div>  
                <% end %>-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>