<!-- Footer -->
<footer>
	<ul>
		<li> <%= link_to "About", about_path, class:"no_ajaxify"%> </li>
		<li> <%= link_to "Press", press_path, class:"no_ajaxify"%> </li>
		<li> <%= link_to "Privacy Policy", privacy_path, class:"no_ajaxify"%> </li>
		<li> <%= link_to "Terms of Use", terms_path, class:"no_ajaxify"%> </li>
		<li> <%= link_to "FAQ", faq_path, class:"no_ajaxify"%> </li>
	</ul>
</footer>