<!-- Navbar -->
<header class="navbar">



	<div class="navbar-inner">

		<div class="">

			<!-- Logo Button -->
			<span>
				<%= link_to '', root_path, class:"btn btn-logo no_ajaxify" %>
			</span>

			<!-- Searchbox -->
			<div class="searchbox-holder-top">
				<% if browser.tablet? %>
					<%= form_tag search_path, method: :get, :class => 'no_ajaxify' do %>
						<div class="searchbox-holder">
							<%= text_field_tag :search, params[:search], class:"inputbox searchbox", type:"searchbox", placeholder:"Search..."%>
						</div>
					<% end %>				
				<% else %>
					<%= form_tag search_path, method: :get, :class => 'no_ajaxify' do %>
						<div class="searchbox-holder">
							<%= text_field_tag :search, params[:search], class:"inputbox searchbox", type:"searchbox", placeholder:"Search..."%>
							<%= submit_tag "", name: nil, class:"btn btn-search", style:"width: 13px !important; position:absolute;"%>
						</div>
					<% end %>
				<% end %>
			</div>	
			<!-- when not signed in-->
			<% if user_signed_in? %>
			<!-- Settings Button -->
			<div id="settingsbox" class="settingsbox" >
					<div class="btn btn-settings settings-trigger no_ajaxify" id="settings-trigger"></div>

					<div id="settingsmenu" class="settingsbox">
						<div class="settingsinner">
							<ol>
								<%= link_to 'Edit Profile', edit_user_path(current_user), class: 'no_ajaxify settings-btn-settings'%>
							</ol>
						</div>	
						<% unless @edit == true %>
							<div class="settingsinner_mid">
								<ol>
									<%= link_to 'Facebook Sync', edit_facebook_sync_path(current_user), class: 'no_ajaxify settings-btn-settings'%>
								</ol>
							</div>		
						<% end %>			
						<% if current_user.subscription_status_initial != nil %>			
							<% if current_user.subscription_application[0] != nil then %>
								<% if current_user.subscription_application[0].step != 7 %>
									<div class="settingsinner_mid">
										<ol>
											<%= link_to 'Subscription Setup', goals_subscription_path(current_user), class: 'no_ajaxify settings-btn-settings'%>
										</ol>
									</div>		
								<% end %>							
							<% end %>
						<% end %>					
						<div class="settingsinner_mid">
							<ol>
								<%= link_to 'Messages', messaging_inbox_path(current_user), class: 'no_ajaxify settings-btn-settings'%>
							</ol>
						</div>	
						<div class="settingsinner_mid">
							<ol>
								<%= link_to 'Payment Settings', payment_settings_path(current_user), class: 'no_ajaxify settings-btn-settings'%>
							</ol>
						</div>																
						<div class="settingsinner-last">
							<ol>
								<%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: 'no_ajaxify settings-btn-signout' %>
							</ol>
						</div>
					</div>
			<!-- end of settingsbox-->
			</div>

			<!-- Functional Buttons -->
			<div class="functional-buttons">
				<%= link_to "Explore", featured_path, class:"no_ajaxify home"%>
				<%= link_to "Fundable", fundable_path, class:"no_ajaxify home"%>
				<%= link_to "Challenges", challenges_path, class:"no_ajaxify home"%>
				<%= link_to "Blog", "https://medium.com/@Ratafire", class:"no_ajaxify home", target:"_blank"%>
				<%= link_to "My Ratafire",interesting_homepage_path(current_user), class:"no_ajaxify home"%>
				<%if current_user.admin? %><%= link_to "Admin",admin_path, class:"no_ajaxify home"%><% end %>				
			</div>	

			<!-- User Name -->
			<div id="namebox" >
			<!-- User Face -->
				
			<!-- Message Notification -->
			<% if current_user.receipts.inbox.not_trash.not_deleted.is_unread.count != 0 %>
				<%= link_to messaging_inbox_path(current_user), class: 'no_ajaxify settings-btn-settings' do %>					
				<div class="message-notification">
					<ul><%= current_user.receipts.inbox.not_trash.not_deleted.is_unread.count %></ul>
				</div>
				<% end %>
			<% end %>
			
				<div style="float:right;">
					<%= link_to current_user.first_name, current_user, class:'no_ajaxify' %>
				</div>
				<%= link_to current_user, class:'no_ajaxify' do %>
					<div class="name-image" style="background-image:url(<%= current_user.profilephoto.url(:tiny)%>);">	
					</div>
				<% end %>
			</div>	


			<!-- when signed in-->
			<% else %>

				<!-- Functional Buttons -->
				<div class="functional-buttons">
					<%= link_to "Home", root_path, class:"no_ajaxify home"%>
					<%= link_to "Explore", featured_path, class:"no_ajaxify home"%>
					<%= link_to "Fundable", fundable_path, class:"no_ajaxify home"%>
					<%= link_to "Challenges", challenges_path, class:"no_ajaxify home"%>
					<%= link_to "Blog", "https://medium.com/@Ratafire", class:"no_ajaxify home", target:"_blank"%>
				</div>				

				<!-- Settings Button -->
				<div id="namebox" >
					<%= link_to "Sign In", user_omniauth_authorize_path(:facebook, sign_in: "true"), class:"no_ajaxify home", style:"margin-right:15px;"%>
				</div>	

				<div id="settingsbox" >	
					 <%= link_to '', user_omniauth_authorize_path(:facebook, sign_in: "true"),class:"btn btn-settings no_ajaxify", id: "Sign_In", title:"Sign In"%>
			<!-- end of settingsbox-->
			</div>

			<% end %><!-- end of if signed_in? -->
		</div>
	</div>
</header>