<!-- Navbar -->
<header class="navbar">



	<div class="navbar-inner">

		<div class="container">

			<!-- Logo Button -->
			<span>
				<%= link_to '', root_path, class:"btn btn-logo no_ajaxify" %>
			</span>

			<!-- Searchbox -->
			<%= form_tag search_path, method: :get, :class => 'no_ajaxify' do %>
				<div class="searchbox-holder">
					<%= text_field_tag :search, params[:search], class:"inputbox searchbox", type:"searchbox", placeholder:"Search..."%>
					<%= submit_tag "", name: nil, class:"btn btn-search"%>
				</div>
			<% end %>
			<!-- when not signed in-->
			<% if user_signed_in? %>
			<!-- Settings Button -->
			<div id="settingsbox" >
					<div class="btn btn-settings settings-trigger no_ajaxify"></div>

					<div id="settingsmenu">
						<div class="settingsinner">
							<ol>
								<%= link_to 'Settings', edit_user_path(current_user), class: 'no_ajaxify settings-btn-settings'%>
							</ol>
						</div>	
						<div class="settingsinner_mid">
							<ol>
								<%= link_to 'Subscription', subscription_settings_path(current_user), class: 'no_ajaxify settings-btn-settings'%>
							</ol>
						</div>					
						<div class="settingsinner-last">
							<ol>
								<%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: 'no_ajaxify settings-btn-signout' %>
							</ol>
						</div>
					</div>


			<!-- end of settingsbox-->
			</div>

			<!-- User Name -->
			<div id="namebox" >
				<%= link_to "Blog", blog_path, class:"no_ajaxify home"%>
				<%if current_user.admin? %><%= link_to "Admin",beta_admin_path, class:"no_ajaxify home"%><% end %>
				<%= link_to "Home",interesting_homepage_path(current_user), class:"no_ajaxify home"%>
				<%= link_to "Realms", all_path, class:"no_ajaxify home"%>
				<%= link_to current_user.first_name, current_user, class:'no_ajaxify' %>
			</div>	

			<!-- when signed in-->
			<% else %>

				<!-- Settings Button -->
				<div id="namebox" >
					<%= link_to "Blog", blog_path, class:"no_ajaxify home"%>
					<%= link_to "Realms", all_path, class:"no_ajaxify home2"%>
				</div>	
				<div id="settingsbox" >	
					 <%= link_to '', new_user_session_path,class:"btn btn-settings no_ajaxify", id: "Sign_In", title:"Sign In"%>
			<!-- end of settingsbox-->
			</div>

			<% end %><!-- end of if signed_in? -->
		</div>
	</div>
</header>