<!-- background -->	
<div class="background-special-grey">	
</div>	
<!-- Settings Sidebar -->
<div class="sidebar" type="standard">
	<ul>
		<ol><%= link_to "Users", admin_users_path, class:"no_ajaxify"%>
		<ol><%= link_to "Resque", "/resque",class:"no_ajaxify" %></ol>
		<ol><%= link_to "Test", admin_test_path,class:"no_ajaxify" %></ol>
		<ol><%= link_to "Content", admin_content_path,class:"no_ajaxify" %></ol>
		<ol><%= link_to "Homepage", admin_homepage_featured_path, class:"no_ajaxify"%></ol>
		<ol><%= link_to "Facebook Updates", admin_facebookupdate_path, class:"no_ajaxify"%></ol>
		<ol><%= link_to "Discussion", admin_discussion_path, class:"no_ajaxify"%> <span class="btn-delete"><%= Discussion.where(:deleted => false, :review_status => "Pending", :published => true).count%></span></ol>
		<ol><%= link_to "Subscription", admin_subscription_path, class:"no_ajaxify"%> <span class="btn-delete"><%= SubscriptionApplication.where(:step => 7, :status => nil).count%></span></ol>
		<ol><%= link_to "Patron Videos", admin_patron_video_path, class:"no_ajaxify"%> <span class="btn-delete"><%= PatronVideo.where(:deleted => nil, :status => "Pending").count%></span></ol>
	</ul>
</div>