<!-- Sidebar for Update-->
<% if signed_in? %>
<div class="sidebar" type="update">
	<%= link_to subscribing_update_path(current_user) do %><ol id="update-subscribing">Subscribing</ol><% end %>
	<%= link_to followed_tags_path(current_user) do %><ol id="update-saved-tags">Followed Tags</ol><% end %>
	<%= link_to liked_path(current_user) do %><ol id="update-liked">Liked</ol><% end %>
</div>
<% end %>	
<div class="sidebar" type="update">
		<%= link_to all_path, class:"no_ajaxify" do %><ol id="update-subscribing">Realms</ol><% end %>
		<%= link_to featured_path do %><ol id="update-saved-tags">Staff Picks</ol><% end %>
		<%= link_to all_path do %><ol id="update-liked">All</ol><% end %>
</div>	
<!-- Script for changing tags -->
<%= render 'layouts/sidebar_update_js'%>