<!-- background -->	
<div class="background-special-grey">	
</div>	

<!-- Profile Sidebar -->
<div class="sidebar" type="profile">

	<!-- User Icon -->
	<div>
		<% if @user.profilephoto.url(:medium) != "/assets/usericon_medium.png" %>
			<%= image_tag(@user.profilephoto.url(:medium), class: "image-wrap-profile sidebar-profile-shade2") %>
		<% else %>
			<% if current_user?(@user)%>
				<div id="after-profilephoto-upload"></div>
				<div class="image-wrap-profile sidebar-profile-shade" style="background-image:url(<%= @user.profilephoto.url(:medium)%>);height:171px;width:128px;">

					<div id="icon-progress-case">
		   			</div>
			

					<div id="edit-profile-photo" class="artwork-button fileinput-button">
						<!-- fields for profilephoto -->
						<%= s3_uploader_form callback_url: create_profilephoto_path(current_user.id),
  							id: "s3_uploader_icon",
							callback_param: "profilephoto[direct_upload_url]",
							expiration: 24.hours.from_now.utc.iso8601,
							max_file_size: 2048.megabytes,:remote => true do %>
							<%= file_field_tag :file, multiple: false, class:"profile-choose" %>		
						<% end %>
					</div>


				</div><!-- end image-wrap-profile-->

		   		<script id="template-upload-icon" type="text/x-tmpl">
		   			<div class="upload">
		   				<div class="bar-icon" style="width: 0%;height:171px;">
		   				</div>
		   			</div>
		   		</script>	

		   	<% else %>
		   		<%= image_tag(@user.profilephoto.url(:medium), class: "image-wrap-profile sidebar-profile-shade") %>
		   	<% end %>			

		<% end %>
	</div>

<% if user_signed_in?%>
	<% if @user == current_user %>
		<!-- Create New Button -->
		<div style="margin-top: 10px;" id="sidebar-profile-create-button">
			
			<div class="btn-sidebar-profile-create" id="sidebar-profile-slide-down">
				<ol class="btn-sidebar-profile-active btn-sidebar-profile-project" id="sidebar-profile-create-project">Project</ol>
				<ol class="btn-sidebar-profile-discussion tipsy-tipsy" id="sidebar-profile-create-discussion" title="Coming Soon!">Discussion</ol>
			</div>
			<%= link_to "CREATE", new_project_path(@user), method: :post,class: "btn btn-medium btn-medium-white no_ajaxify", id:"sidebar-profile-create-button-main"%>
		</div>		
	<% else %>		
		<% if @user.subscribed_by?(current_user)%>
			<!-- Subscribing-->
			<%= link_to unsubscribe_path(current_user.id,@user.id), method: :delete,class:"no_ajaxify",:confirm => "Are you sure to unsubscribe from "+@user.fullname+"? If unsubscribed, you cannot resubscribe to "+@user.fullname+" in one month." do %>
				<div style="margin-top: 10px;" class="btn btn-medium btn-medium-blue btn-change-text">
					<span class="before">Subscribing</span>
					<span class="hover">Unsubscribe</span>
				</div>
			<% end %><!-- end.link_to 
			-->	
		<% else %>	
			<% if current_user.subscribed_by?(@user)%>
				<!-- Subscribes you-->
				<%= link_to remove_subscriber_path(current_user.id,@user.id), method: :delete,class:"no_ajaxify",:confirm => "Are you sure to stop "+@user.fullname+" from subscribing you? If removed, "+@user.fullname+" cannot resubscribe to you in one month." do%>
					<div style="margin-top: 10px;" class="btn btn-medium btn-medium-green btn-change-text">
						<span class="before">Subscribing You</span>
						<span class="hover">Remove</span>
					</div>	
				<% end %>

			<% else %>
					<!-- Supporting -->
					<% if @user.supported_by?(current_user)%>
						<%= link_to unsupport_path(current_user.id,@user.id), method: :delete,class:"no_ajaxify",:confirm => "Are you sure to unsupport "+@user.fullname+"? If unsupported, you cannot resubscribe to "+@user.fullname+" in one month." do %>
							<div style="margin-top: 10px;" class="btn btn-medium btn-medium-blue btn-change-text">
								<span class="before">Supporting</span>
								<span class="hover">Unsupport</span>
							</div>
						<% end %><!-- end.link_to -->						
					<% else %>
						<!-- Subscribes you-->
						<% if current_user.supported_by?(@user)%>
							<!-- Subscribes you-->
							<%= link_to remove_supporter_path(current_user.id,@user.id), method: :delete,class:"no_ajaxify",:confirm => "Are you sure to stop "+@user.fullname+" from supporting you? If removed, "+@user.fullname+" cannot resubscribe to you in one month." do%>
								<div style="margin-top: 10px;" class="btn btn-medium btn-medium-green btn-change-text">
									<span class="before">Supporting You</span>
									<span class="hover">Remove</span>
								</div>	
							<% end %>
						<% else %>
							<!-- Subscribe Button -->
							<div style="margin-top: 10px;">
								<%= link_to "SUBSCRIBE", why_path(@user), class: "btn btn-medium btn-medium-green"%>
							</div>											
						<% end %>
					<% end %>
			<% end %><!-- end.current_user.subscribed_by?-->
		<% end %><!-- end.if @user.subscribed_by?(current_user)-->	
	<% end %><!-- end.if if @user == current_user-->
				
<% else %>
	<!-- Subscribe Button -->
	<div style="margin-top: 10px;">
		<%= link_to "SUBSCRIBE", why_path(@user), class: "btn btn-medium btn-medium-green"%>
	</div>	
<% end %><!-- end.if user_signed_in?-->	
	<!-- Subscribed -->
	<%= link_to subscribers_path(@user), class:"subscription no_ajaxify" do %>
	<div id="sidebar-subscribed">
			<% if @user.subscribers.count >1 %>Subscribers<%else%>Subscriber<% end %><h6><%= @user.subscribers.count %></h6>
	</div>
	<% end %>	

	<div style="margin-top: -35px;">
		<hr class="style-two">
	</div>

	<!-- Subscribing -->
	<%= link_to subscribing_path(@user), class:"subscription no_ajaxify" do %>
	<div id="sidebar-subscribing" style="margin-top: -8px;">
		Subscribing<h6><%= @user.subscribed.count %></h6></a>
	</div>
	<% end %>

	<div style="margin-top: -35px;">
		<hr class="style-two">
	</div>

	<!-- Supporters -->
	<div id="sidebar-supporters">
		<%= link_to supporters_path(@user) do %>
			<div class="supporter-count">
				<%= @user.supporters.count %> <% if @user.supporters.count >1 %>Supporters<%else%>Supporter<% end %>
			</div>
		<% end %>		
	</div>		

	<div id="sidebar-personal" style="margin-top: -37px;">
		
		<!-- Personal Link -->
		<% if @user.website.blank? %>
			<!--<div class="btn btn-personallink tipsy-tipsy" title="Website">
			</div>
			<div id="Sidebar-personal-link">
				...
			</div>-->
		<% else %>
			<div>
				<%= link_to '', @user_website, class:"btn btn-personallink tipsy-tipsy no_ajaxify", title:"Website", target: "_blank"%>
			</div>
			<div id="Sidebar-personal-link">
				<%= link_to truncate(@user.website, :length => 20), @user_website,class:"no_ajaxify", target: "_blank" %>
			</div>
		<% end %>		

		<!-- Social Media -->
		<div style="margin: 5px 0 0 18px;">
			<li><!-- Facebook-->
				<% if @user.facebook == nil %>
					<!--<div class="btn btn-socialmedia btn-socialmedia-facebook-non tipsy-tipsy" title="Facebook"></div>-->
				<% else %>
				<%= link_to "", @user.facebook.link, class:"btn btn-socialmedia btn-socialmedia-facebook tipsy-tipsy no_ajaxify", title:"Facebook", target: "_blank"%>
				<% end %>
			</li>

			<li><!-- Twitter-->
				<% if @user.twitter == nil %>
					<!--<div class="btn btn-socialmedia btn-socialmedia-twitter-non tipsy-tipsy" title="Twitter"></div>-->
				<% else %>
				<%= link_to "", @user.twitter.link, class:"btn btn-socialmedia btn-socialmedia-twitter tipsy-tipsy no_ajaxify", title:"Twitter", target: "_blank"%>
				<% end %>
			</li>

			<li><!-- github-->
				<% if @user.github == nil %>
					<!--<div class="btn btn-socialmedia btn-socialmedia-github-non tipsy-tipsy" title="Github"></div>-->
				<% else %>
				<%= link_to "", @user.github.link, class:"btn btn-socialmedia btn-socialmedia-github tipsy-tipsy no_ajaxify", title:"GitHub", target: "_blank"%>
				<% end %>
			</li>

			<li><!-- deviantart-->
				<% if @user.deviantart == nil %>
					<!--<div class="btn btn-socialmedia btn-socialmedia-deviantart-non tipsy-tipsy" title="Deviantart"></div>-->
				<% else %>
				<%= link_to "", @user.deviantart.link, class:"btn btn-socialmedia btn-socialmedia-deviantart tipsy-tipsy no_ajaxify", title:"Deviantart", target: "_blank"%>
				<% end %>
			</li>

			<li><!-- vimeo-->
				<% if @user.vimeo == nil %>
					<!--<div class="btn btn-socialmedia btn-socialmedia-vimeo-non tipsy-tipsy" title="Vimeo"></div>-->
				<% else %>
				<%= link_to "", @user.vimeo.link, class:"btn btn-socialmedia btn-socialmedia-vimeo tipsy-tipsy no_ajaxify", title:"Vimeo", target: "_blank"%>
				<% end %>
			</li>

		</div>


	</div>


</div>