		<!-- Social Media -->
		<div style="margin: 5px 0 0 18px;position:absolute;z-index:1;">
			<li><!-- Facebook-->
				<% if @user.facebook == nil %>
					<!--<div class="btn btn-socialmedia btn-socialmedia-facebook-non tipsy-tipsy" title="Facebook"></div>-->
				<% else %>
				<%= link_to "", @user.facebook.link, class:"btn btn-socialmedia btn-socialmedia-facebook tipsy-tipsy no_ajaxify", title:"Facebook", target: "_blank"%>
				<% end %>
			</li>

			<li><!-- Twitter-->
				<% if @user.twitter == nil %>
					<!--<div class="btn btn-socialmedia btn-socialmedia-twitter-non tipsy-tipsy" title="Twitter"></div>-->
				<% else %>
				<%= link_to "", @user.twitter.link, class:"btn btn-socialmedia btn-socialmedia-twitter tipsy-tipsy no_ajaxify", title:"Twitter", target: "_blank"%>
				<% end %>
			</li>

			<li><!-- github-->
				<% if @user.github == nil %>
					<!--<div class="btn btn-socialmedia btn-socialmedia-github-non tipsy-tipsy" title="Github"></div>-->
				<% else %>
				<%= link_to "", @user.github.link, class:"btn btn-socialmedia btn-socialmedia-github tipsy-tipsy no_ajaxify", title:"GitHub", target: "_blank"%>
				<% end %>
			</li>

			<li><!-- deviantart-->
				<% if @user.deviantart == nil %>
					<!--<div class="btn btn-socialmedia btn-socialmedia-deviantart-non tipsy-tipsy" title="Deviantart"></div>-->
				<% else %>
				<%= link_to "", @user.deviantart.link, class:"btn btn-socialmedia btn-socialmedia-deviantart tipsy-tipsy no_ajaxify", title:"Deviantart", target: "_blank"%>
				<% end %>
			</li>

			<li><!-- vimeo-->
				<% if @user.vimeo == nil %>
					<!--<div class="btn btn-socialmedia btn-socialmedia-vimeo-non tipsy-tipsy" title="Vimeo"></div>-->
				<% else %>
				<%= link_to "", @user.vimeo.link, class:"btn btn-socialmedia btn-socialmedia-vimeo tipsy-tipsy no_ajaxify", title:"Vimeo", target: "_blank"%>
				<% end %>
			</li>

		</div>