<!-- background -->	
<div class="background-special-grey">	
</div>	

<!-- Profile Sidebar -->
<div class="sidebar" type="profile">

	<!-- User Icon -->
	<div id="sidebar-user-icon-holder" style="cursor:pointer;">
		<% if @user.profilephoto.url(:medium) != "/assets/usericon_medium.png" %>
			<!-- Subscription Video -->
			<%if @user.video != nil then %>
				<% if @user.video.encoded_state == "finished" then %>
					<%= render 'layouts/sidebar_profile_subscription_video'%>
				<% end %>
			<% end %>	

			<%= image_tag(@user.profilephoto.url(:medium), class: "image-wrap-profile sidebar-profile-shade2", id:"sidebar-profile-image") %>
		<% else %>
			<% if current_user?(@user)%>
				<div id="after-profilephoto-upload"></div>

				<div class="image-wrap-profile sidebar-profile-shade" style="background-image:url(<%= @user.profilephoto.url(:medium)%>);height:171px;width:128px;">

					<div id="icon-progress-case">
		   			</div>
			

					<div id="edit-profile-photo" class="artwork-button fileinput-button">
						<!-- fields for profilephoto -->
						<%= s3_uploader_form callback_url: create_profilephoto_settings_path(current_user.id),
  							id: "s3_uploader_icon",
							callback_param: "profilephoto[direct_upload_url]",
							expiration: 24.hours.from_now.utc.iso8601,
							max_file_size: 2048.megabytes,:remote => true do %>
							<%= file_field_tag :file, multiple: false, class:"profile-choose" %>		
						<% end %>
					</div>

				</div><!-- end image-wrap-profile-->

		   		<script id="template-upload-icon" type="text/x-tmpl">
		   			<div class="upload">
		   				<div class="bar-icon" style="width: 0%;height:171px;">
		   				</div>
		   			</div>
		   		</script>	

		   	<% else %>
		   		<%= image_tag(@user.profilephoto.url(:medium), class: "image-wrap-profile sidebar-profile-shade") %>
		   	<% end %>			

		<% end %>
	</div>

	<!-- button -->
	<%= render 'layouts/sidebar_profile_button'%>

	<!-- Counter -->
	<%= render 'layouts/sidebar_profile_counter'%>

	<!-- Personal Links -->
	<%= render 'layouts/sidebar_profile_personal_links'%>


</div>