<div style="margin-top: 59px;">

<!-- Project Sidebar -->
<div class="sidebar" type="project">

	<!-- Create Button -->
	<div style="margin-top: -27px;">
		<% if project_edit_everyone(@project) %>
			<%= link_to "COMPOSE", new_majorpost_path(@project.creator,@project), method: :post, class: "btn btn-medium btn-medium-white btn-new-post no_ajaxify"%>
		<% end %>

	</div>

	<ul>
		<!--<ol><%= link_to "About", project_about_path(@project.creator,@project) %></ol>-->
		<% if @project.users.count == 1 %>
		<ol><%= link_to "Contributor", project_contributors_path(@project.creator,@project) %></ol>
		<% else%>
		<ol><%= link_to "Contributors", project_contributors_path(@project.creator,@project) %></ol>
		<% end %>
		<% unless @project.majorposts.count == 0 %>
			<% if @project.majorposts.count > 1 %>
			<ol><%= link_to "Major Posts", project_mplist_path(@project.creator,@project) %></ol>
			<% else %>
			<ol><%= link_to "Major Post", project_mplist_path(@project.creator,@project) %></ol>
			<% end %>
		<% end %>
		<% if @project.complete == true && @project.archives != nil %>
			<ol><%= link_to "Archive", project_archives_path(@project.creator, @project) %></ol>
		<% end %>
	</ul>
</div>