<!-- Sidebar for Update-->
<div class="sidebar" type="update">
	<%= link_to subscribing_update_path(current_user) do %><ol id="update-subscribing">Supporting</ol><% end %>
	<%= link_to followed_tags_path(current_user) do %><ol class="archive-sidebar-active" id="update-saved-tags">Followed Tags</ol><% end %>
	<%= link_to watched_path(current_user) do %>
		<div class="update-watched"></div>
		<ol id="update-watched">Watching</ol>
	<% end %>	
	<%= link_to liked_path(current_user) do %>
		<div class="update-recommanded"></div>
		<ol id="update-liked">Recs</ol>
	<% end %>
</div>	

<!-- Script for changing tags -->
<%= render 'layouts/sidebar_update_js'%>