<!-- background -->	
<div class="background-special-grey">	
</div>	
<!-- Settings Sidebar -->
<div class="sidebar" type="standard">
	<ul>
		<ol><%= link_to "Users", admin_users_path, class:"no_ajaxify"%>
		<ol><%= link_to "Resque", "/resque",class:"no_ajaxify" %></ol>
		<ol><%= link_to "Test", admin_test_path,class:"no_ajaxify" %></ol>
		<ol><%= link_to "Content", admin_content_path,class:"no_ajaxify" %></ol>
		<ol><%= link_to "Blog", admin_blog_path, class:"no_ajaxify"%></ol>
	</ul>
</div>