<!-- Sidebar for Update-->
<div class="update-realm-image art" >
</div>
<div class="update-realm-image music" >
</div>
<div class="update-realm-image games" >
</div>
<div class="update-realm-image writing" >
</div>
<div class="update-realm-image videos" >
</div>
<div class="update-realm-image math" >
</div>
<div class="update-realm-image science" >
</div>	
<div class="update-realm-image humanity" >
</div>
<div class="update-realm-image engineering" >
</div>

<div class="sidebar" type="home" >
	<%= link_to art_path,class:"no_ajaxify" do %><ol id="update-art">Art</ol><% end %>
	<%= link_to music_path,class:"no_ajaxify" do %><ol id="update-music">Music</ol><% end %>
	<%= link_to games_path,class:"no_ajaxify" do %><ol id="update-games">Games</ol><% end %>
	<%= link_to writing_path,class:"no_ajaxify" do %><ol id="update-writing">Writing</ol><% end %>
	<%= link_to videos_path,class:"no_ajaxify" do %><ol id="update-videos">Films & Videos</ol><% end %>
	<%= link_to math_path,class:"no_ajaxify" do %><ol id="update-math">Math</ol><% end %>
	<%= link_to science_path,class:"no_ajaxify" do %><ol id="update-science">Research: Science</ol><% end %>
	<%= link_to humanity_path,class:"no_ajaxify" do %><ol id="update-humanity">Research: Humanity</ol><% end %>
	<%= link_to engineering_path,class:"no_ajaxify" do %><ol id="update-engineering">Engineering</ol><% end %>
</div>	

<div class="update-home">
	<%= link_to featured_path,class:"no_ajaxify" do %><ol id="update-staffpicks"  class="archive-sidebar-active">Staff Picks</ol><% end %>
	<%= link_to all_path,class:"no_ajaxify" do %><ol id="update-all">All</ol><% end %>
</div>
<!-- Script for changing tags -->
<%= render 'layouts/sidebar_update_realms_js'%>