<!doctype html>
<html>
<!-- CSS -->
<head>
	<title><%= full_title(yield(:title)) %></title>
<%= stylesheet_link_tag  "promo/animate.min" %>
<%= stylesheet_link_tag  "promo/bootstrap-select.min" %>
<%= stylesheet_link_tag  "promo/bootstrap" %>
<%= stylesheet_link_tag  "promo/datepicker" %>
<%= stylesheet_link_tag  "font-awesome" %>
<%= stylesheet_link_tag  "promo/jquery.fullPage" %>
<%= stylesheet_link_tag  "promo/jquery.jqplot" %>
<%= stylesheet_link_tag  "promo/jquery.mCustomScrollbar.min" %>
<%= stylesheet_link_tag  "promo/morris" %>
<%= stylesheet_link_tag  "promo/owl.carousel" %>
<%= stylesheet_link_tag  "promo/revolution/settings" %>
<%= stylesheet_link_tag  "promo/style" %>
<%= stylesheet_link_tag  "promo/theme-styles" %>
<%= csrf_meta_tags %>
<!-- Javascript-->
<%= javascript_include_tag "promo/bootstrap-datepicker.min" %>
<%= javascript_include_tag "promo/bootstrap-select.min" %>
<%= javascript_include_tag "promo/bootstrap.min" %>
<%= javascript_include_tag "promo/easy-circle-skill" %>
<%= javascript_include_tag "promo/included-plagins" %>
<%= javascript_include_tag "promo/isotope.pkgd.min" %>
<%= javascript_include_tag "promo/jqplot.donutRenderer.min" %>
<%= javascript_include_tag "promo/jquery.appear" %>
<%= javascript_include_tag "promo/jquery.carouFredSel-6.2.1-packed" %>
<%= javascript_include_tag "promo/jquery.easings.min" %>
<%= javascript_include_tag "promo/jquery.fullPage.min" %>
<%= javascript_include_tag "promo/jquery.jqplot.min" %>
<%= javascript_include_tag "promo/jquery.mCustomScrollbar.concat.min" %>
<%= javascript_include_tag "promo/jquery.min" %>
<%= javascript_include_tag "promo/jquery.mlens-1.5.min" %>
<%= javascript_include_tag "promo/jquery.themepunch.revolution.min" %>
<%= javascript_include_tag "promo/jquery.themepunch.tools.min" %>
<%= javascript_include_tag "promo/jquery.touchwipe.min" %>
<%= javascript_include_tag "promo/main" %>
<%= javascript_include_tag "promo/morris.min" %>
<%= javascript_include_tag "promo/owl.carousel.min" %>
<%= javascript_include_tag "promo/raphael-min" %>
<%= javascript_include_tag "promo/TimeCircles" %>
</head>
<%= yield %>
</html>