<!DOCTYPE html>

<html>

	<head>

  		<title><%= full_title(yield(:title)) %></title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= csrf_meta_tags %>
  		<%= javascript_include_tag "application" %>
  		<%= render 'layouts/shim' %>

	</head>

	<body>		

		<div>
		<!-- Navbar -->
		<%= render 'layouts/header' %>
		</div>
		
		<!-- Settings Dropdown -->
		<%= render 'shared/settings_dropdown' %>

		<div class="outer-center">

		<!-- Flash -->
			<% flash.each do |key, value| %>
        	<div class="alert fade in"><%= value %></div>
        	<% end %>
    	</div>

		<script type="text/javascript">

			/*--- Tipsy ---*/
			$(document).ready(function() {
  				$('#Sign_In').tipsy({fade:true,gravity:'ne'});
			});

			$(document).ready(function() {
  				$('.tipsy-tipsy').tipsy({fade:true});
			});

		</script>

		<!-- Page Contents -->
		<div>
		<!-- Radius Image-->
		<%= render 'shared/radius_image' %>

		<!-- External Link -->
		<%= render 'shared/externallink'%>

		<!-- Back to Top -->
		<%= render 'shared/back_to_top'%>

				<div class="wrapper">
			<!-- Project Header -->
			<%= render 'comments/comment_header'%>

			<div style="margin-top: 59px;">
				<!-- Sidebar -->
				<%= render 'layouts/sidebar_comment'%>

				<!-- Main Content -->
				<div class="main-content">

						<%= yield %>

					<!-- Back to Top -->
					<div id="back-top">
						<a href="#top"><span></span></a>
					</div>
					<!-- Footer -->
					<%= render 'layouts/footer' %>

			</div><!-- end of main-content -->

		</div><!-- end of wrapper-->
			
		</div>

	</body>

</html>