<!DOCTYPE html>
<html>

	<head>

  		<title><%= full_title(yield(:title)) %></title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= csrf_meta_tags %>
  		<%= javascript_include_tag "application" %>
  		<%= render 'layouts/shim' %>
  		<%= render 'layouts/header_movable' %>
	</head>

		<div id="additional-background">
			<%= yield(:additional_background)%>
		</div>	

	<body>
		<%= yield %>
	</body>
</html>