<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<!-- Stylesheet -->
		<%= stylesheet_link_tag 'template_foundry', media: 'all', 'data-turbolinks-track' => true %>
		<!-- Javascript -->
		<%= javascript_include_tag 'template_foundry', 'data-turbolinks-track' => true %>
		<%= analytics_init if GoogleAnalytics.valid_tracker? %>
		<%= csrf_meta_tags %>
		<!-- Webfonts-->
		<%= render 'utilities/fonts/webfonts'%>
		<!-- Page Meta -->
		<%= display_meta_tags %>
	</head>
	<body>
		<!-- Header -->
        	<!-- Not signed-in Users-->
            <!-- Signed-in Users-->
		<!-- Page Content -->
		<div class="main-container">
			<%= yield %>
		</div>	

	</body>
</html>