<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<!-- Stylesheet -->
		<%= stylesheet_link_tag 'template_limitless' %>
		<%= stylesheet_link_tag 'template_limitless_layouts/layout3', 'data-turbolinks-track' => "reload" %>
		<%= javascript_include_tag 'template_limitless' %>
		<%= javascript_include_tag 'page_specific/creator_studio', 'data-turbolinks-track' => "reload"  %>
		<%= csrf_meta_tags %>		
		<!-- Webfonts-->
		<%= render 'utilities/fonts/webfonts'%>
		<!-- Page Meta -->
		<%= render 'utilities/page_meta/facebook_open_graph_creator_studio'%>
	</head>
	<!-- Page Structure -->
	<body class="navbar-top">
		
		<div class="outer-space ">
			<!-- Main navbar -->
			<div id="main-navbar">
	        	<!-- Signed-in Users-->
	        	<%= render 'utilities/header/main_navbar_signed_in_users'%>
		    </div>

			<!-- Page container -->
			<div class="page-container" >
	            <div class="page-content">
	            	<!-- Main sidebar -->
	            	<!-- Signed-in Users-->	
	            	<%= render 'utilities/sidebar/sidebar_creator_studio'%>
					<!-- Main content -->
					<div class="content-wrapper">
						<!-- Content area -->
						<%= yield %>
					</div><!-- end .content-wrapper -->
				</div><!-- end .page-content-->	
			</div><!-- end .page-container -->
			<!-- Footer -->
			<%= render 'utilities/footer/light_footer'%>
		</div>

	</body>

</html>