<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<!-- Stylesheet -->
		<%= stylesheet_link_tag 'template_limitless' %>
		<%= stylesheet_link_tag 'template_limitless_layouts/layout3', 'data-turbolinks-track' => "reload" %>
		<%= javascript_include_tag 'template_limitless' %>
		<%= javascript_include_tag 'page_specific/creator_studio', 'data-turbolinks-track' => "reload"  %>
		<%= csrf_meta_tags %>		
		<!-- Webfonts-->
		<%= render 'utilities/fonts/webfonts'%>
		<!-- Page Meta -->
		<%= display_meta_tags %>
	</head>
	<!-- Page Structure -->
	<body class="navbar-top">
		<canvas id="c" style="position:absolute;top:0;left:0;width:100%;"></canvas>
		<div class="outer-space">
		<%= render 'shared/flash_messages', flash: flash %>
			<!-- Main navbar -->
			<div id="main-navbar">
	        	<!-- Signed-in Users-->
	        	<%= render 'utilities/header/main_navbar_signed_in_users'%>
		    </div>

			<!-- Page container -->
			<div class="page-container">
	            <div class="page-content">
	            	<!-- Main sidebar -->
	            	<!-- Signed-in Users-->	
	            	<%= render 'utilities/sidebar/sidebar_creator_studio'%>
					<!-- Main content -->
					<div class="content-wrapper">
						<!-- Content area -->
						<%= yield %>
						<script type="text/javascript">
						    $(document).on('ready', function(){
						        document_ready_plugins();
						    });
						</script>
					</div><!-- end .content-wrapper -->
				</div><!-- end .page-content-->	
			</div><!-- end .page-container -->
			<!-- Footer -->
			<%= render 'utilities/footer/light_footer'%>
		</div>

	</body>

</html>
<script type="text/javascript">
$(function() {
	var canvas = document.querySelector('canvas'),
      ctx = canvas.getContext('2d'),
      color = 'rgba(256,256,256,1)';

   var w = window.innerWidth;
   var h = window.innerHeight;
   canvas.width = w;
	canvas.height = h;
	ctx.fillStyle = color;
	ctx.lineWidth = .1;
	ctx.strokeStyle = color;

	var mousePosition = {
		x: 10 * w / 100,
		y: 10 * h / 100
	};

	var dots = {
    num: 100,
    distance: 200,
    d_radius: 200,
    velocity: -.9,
    array: []
	};

	function Dot(){
		this.x = Math.random() * w;
		this.y = Math.random() * h;

		this.vx = dots.velocity + Math.random();
		this.vy = dots.velocity + Math.random();

		this.radius = Math.random() * 2;
	}

	Dot.prototype = {
		create: function(){
			ctx.beginPath();
			ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
			ctx.fill();
		},

		animate: function() {
			for(i = 0; i < dots.num; i++){

				var dot = dots.array[i];

				if(dot.y < 0 || dot.y > h){
					dot.vx = dot.vx;
					dot.vy = - dot.vy;
				}
				else if(dot.x < 0 || dot.x > w){
					dot.vx = - dot.vx;
					dot.vy = dot.vy;
				}
				dot.x += dot.vx;
				dot.y += dot.vy;
			}
		},

		line: function() {
			for(i = 0; i < dots.num; i++){
				for(j = 0; j < dots.num; j++){
					i_dot = dots.array[i];
					j_dot = dots.array[j];

					if((i_dot.x - j_dot.x) < dots.distance && (i_dot.y - j_dot.y) < dots.distance && (i_dot.x - j_dot.x) > - dots.distance && (i_dot.y - j_dot.y) > - dots.distance){
						if((i_dot.x - mousePosition.x) < dots.d_radius && (i_dot.y - mousePosition.y) < dots.d_radius && (i_dot.x - mousePosition.x) > - dots.d_radius && (i_dot.y - mousePosition.y) > - dots.d_radius){
							ctx.beginPath();
							ctx.moveTo(i_dot.x, i_dot.y);
                   ctx.bezierCurveTo(i_dot.x, (h / 2), (w / 2), i_dot.y, j_dot.x, j_dot.y);
							ctx.stroke();
							ctx.closePath();
						}
					}
				}
			}
		}
	};

	function createDots(){
		ctx.clearRect(0, 0, w, h);
		for(i = 0; i < dots.num; i++){
			dots.array.push(new Dot());
			dot = dots.array[i];

			dot.create();
		}

		dot.line();
		dot.animate();
	}

	$('canvas').on('mousemove mouseleave', function(e){
		if(e.type == 'mousemove'){
			mousePosition.x = e.pageX;
			mousePosition.y = e.pageY;
		}
		if(e.type == 'mouseleave'){
			mousePosition.x = w / 2;
			mousePosition.y = h / 2;
		}
	});
  
  $('canvas').on('click', function(){
		dots.num += 10;
	});
  
	setInterval(createDots, 1000/30);
  
  $(window).on('resize', function() {
    canvas.width = w;
    canvas.height = h;
    ctx.fillStyle = color;
    ctx.lineWidth = .1;
    ctx.strokeStyle = color;
  });
});
</script>